[2020-03-10 10:54] mppf commented on #11492
PR #15041 implements a simpler rule for deinit points that enables this program to behave as originally expected.

[2020-03-10 10:54] #11492 closed

[2020-03-10 10:55] mppf commented on #11534
PR #15041 implements a simpler rule for deinit points that enables this program to behave as originally expected.

[2020-03-10 10:55] #11534 closed

[2020-03-10 10:55] mppf commented on #13704
PR #15041 implements a simpler rule for deinit points that enables this program to behave as originally expected.

[2020-03-10 10:55] #13704 closed

[2020-03-10 11:07] mppf commented on #7706
I like `here` being the default value. One could write e.g.

[code]

and have A[here.id] point to the relevant locale. Of course that might not be super useful on its own, but imagine that the locale is stored in a record.

Also, `string` used to store a `locale` (now it does lower level stuff) and there it needs the default to be `here`.

[2020-03-10 11:12] mppf commented on #15094
I think the compiler/type system needs to know the difference between array-over-const-domain and array-over-modifiable-domain. However disallowing reshape for now on an array of non-nilables seems acceptable, if annoying.

[2020-03-10 12:57] ben-albrecht commented on #15152
Agreed. I think this can be accomplished by passing contents of `authors` field to `chpldoc --author="<authors>"`

[2020-03-10 13:11] ankingcodes commented on #13832
@ben-albrecht Could you provide some set of commands to reproduce this ?

[2020-03-10 13:32] Rapiz1 commented on #15152
@ben-albrecht I'm working on this and believe that I can open a PR soon.

[2020-03-10 14:10] Rapiz1 commented on #15152
Well, an issue about `runCommand` in `MasonUtils.chpl` will hold back this feature, which can't deal with space in quoted string properly because it simply split strings into arguments by space. This will break everything when there are spaces in names of authors like `rapiz1 <contact@rapiz.me>`, even the argument is quoted.
I wanted to fix `runCommand` by the way but found that it's more difficul

[2020-03-10 14:23] ben-albrecht commented on #15152
Yeah, this is a situation where a shell-lexing module would be helpful (https://github.com/chapel-lang/chapel/issues/11489).

As a hacky work-around, you could replace the space delimiter (e.g. `|`) in the authors field to another character before the split, then replace them back to spaces after the split.

[2020-03-10 15:38] gbtitus commented on #15103
I can't do that, but for (a) I can point out a case of the opposite.  In C a type-specifier (the syntactic element that names the type in a declaration) can be not only a keyword such as `int` or keyword phrase such as `struct <tag>`, but also a user identifier that has been previously defined as a typedef name.  This poses a problem for parsers which have to figure out whether they're looking at

[2020-03-10 16:48] e-kayrakli commented on #14930
My two cents: I agree with Michael's comment above. The `string` case worth considering, but I am a bit skeptical about that.

I think having nilable class support is valuable. Having support for integers maybe open to abuse and can lead to reduced readability in some (many?) cases. But personally I am fine if the compiler doesn't do the policing there.

[2020-03-10 17:44] e-kayrakli commented on #7706
We currently have an example of that in `record channel` and `record file` where we have the field `var home: locale = here`. Which can also be written as `var home = here`. I guess what I am trying to say is that the record implementer can have that behavior quite easily and probably in a more expressive way. OTOH a record can have a `locale` field that doesn't need to be `here`, in which case it

[2020-03-10 17:48] e-kayrakli commented on #13526
I am currently leaning towards adding a warning on the relevant method's documentation stating that `nilLocale` is a temporary workaround and possibly link this issue.

[2020-03-10 18:21] ben-albrecht commented on #6329
@egeOzpinar - AFAIK, yes.

[2020-03-10 18:23] egeOzpinar commented on #6329
@ben-albrecht  Okay then I'll start as soon as possible. Thank you.

[2020-03-10 18:47] Aniket21mathur opened #15159 "The array reindex function fails for domain with negative stride"
### Summary of Problem
The reindex function seems to be broken when an array with domain like {2..8 by -2} is given as an input.  The expected output of the below code was `2 4 6 8` but we are getting `0 0 0 0` or `0 32 0 0` sometimes.

### Steps to Reproduce

**Source Code:**

[code]

### Configuration Information

- Output of `chpl --version`: chpl version 1.21.0 pre-release (2c9530a7a6)
- Outpu

[2020-03-10 18:58] bradcray commented on #15159
Hi @Aniket21mathur —

Thanks for filing this.  We have some known issues with arrays with negative stride, such as #13174.  Is this an issue that is holding you up in some way, or something you stumbled across and filed to make sure it wasn't lost?

Thanks!

[2020-03-10 19:03] Aniket21mathur commented on #15159
@bradcray I am trying to implement a parallel merge shuffle in #15140 and I am using reindex to handle cases with strided arrays, so the shuffle does not work for negative strides.

Thanks :smile:

[2020-03-10 19:08] bradcray commented on #15159
OK, thanks for the context.  I would not get hung up on the case of arrays with negative strides for now if it's not holding up the rest of your work.  Independently of this issue, I'd already been thinking of them potentially giving a "this may not work out well..." warning given the other issue(s) that have been reported with them (we haven't been able to allocate time to improve them because ot

[2020-03-10 19:51] ben-albrecht opened #15162 "Support arbitrary flags to Chapel launcher commands"
Today there is not a good way to pass a flag to the backend launcher through the Chapel launcher interface. As a result, users must rely on flags that the launcher wraps or environment variables. It would be nice to have a mechanism for passing flags to the backend launcher, e.g.

[code]

[2020-03-10 19:53] ben-albrecht commented on #15162
This issue originated from a question by @reuster986 about passing `--constraint haswell` to the Chapel launcher (for slurm backend).

[2020-03-10 19:55] bradcray commented on #15162
I thought we had something similar to this...  Is it maybe the case that it can be done through environment variables, but not flags?  Or for some launchers but not others?

[2020-03-10 19:58] bradcray commented on #15116
Is this issue expected to have an impact on users?  Only if they use arrays of barriers or in general?  Does it represent a backslide from the previous release?  Should we be prioritizing addressing it?

[2020-03-10 19:58] ronawho commented on #15162
For many options you can set the underlying slurm env var (e.g. `SLURM_CONSTRAINT`), but we don't support a way to pass arbitrary flags to the system launcher.)

[2020-03-10 20:55] mppf commented on #14874
I'm currently expecting that the compiler will elide the copy marked HERE below:

[code]

so the "last mention" includes some very basic idea of control flow.

[2020-03-10 21:06] rajshekhar7 opened #15163 "Unnecessary return statements in MasonTest"
https://github.com/chapel-lang/chapel/blob/f5b0f309ae954e5dd74ab36c715039c0dfe18c6f/tools/mason/MasonTest.chpl#L298

In this function, `if` and `else if` statements return the same list which is also returned at the end of the function.

[2020-03-10 21:10] benharsh opened #15164 "virtual dispatch and default param arguments"
Continuing from #13962 , where we decided that the default value and virtual method should match. There are two related cases that do not work on master today.

Consider the following program:
[code]

Case 1:
If the functions invoked as default values return a param:
[code]
Then the compiler incorrectly folds the calls away and the wrong default value is used for the ``x.method()`` call.

Case 2:

[2020-03-10 21:11] benharsh commented on #13962
The param-related bug cases are now tracked in #15164.

[2020-03-10 21:11] #13962 closed

[2020-03-10 21:16] bradcray commented on #15163
For simple cases like this, please feel free to just open a PR that addresses the issue (and then bring it to someone's attention) if it's not much harder than opening the issue itself.

[2020-03-10 21:23] rajshekhar7 commented on #15163
Ok.

[2020-03-10 21:23] #15163 closed

[2020-03-10 21:45] rajshekhar7 commented on #11439
@ben-albrecht

Any updates if this feature is to be implemented or not? If yes, I would like to work on this.

[2020-03-10 22:55] dlongnecke-cray commented on #14930
Thumbs up if you're OK with leaving conditionals as they are today, capable of accepting expressions of a variety of types such as `int` or non-nilable classes.

[2020-03-10 22:56] dlongnecke-cray commented on #14930
Thumbs up if you think it's important to restrict conditional constructs to expressions with `bool` type only.

[2020-03-10 23:11] bradcray commented on #14930
I voted for leaving them as-is because I heard enough diversity of user and developer opinions who liked at least one of the non-boolean options that I think it's better to keep supporting them for convenience.  For those who prefer a stricter definition of bool tests, we could look into adding style-checker flags that would warn about cases which were not strictly bool in user code.

[2020-03-11 00:05] e-kayrakli commented on #14132
PR #15049 addressed the issue to a good extend and it has some performance data.

There may still be some other opportunities for improvements but currently we are happy with the scalability of distributed array/domain creation and not actively looking at performance improvements for this specific issue. Closing.

[2020-03-11 00:05] #14132 closed

[2020-03-11 00:22] dlongnecke-cray commented on #14950
Hi @carcarah, can you give me the output of `printchplenv --all`?

[2020-03-11 00:33] bradcray commented on #15155
Hi — For a bit more information, what were LANGUAGE/LANG set to / defaulted to when you ran this?  And does it use a UTF-8 character locale?

[for developers, this issue seems potentially related: https://github.com/Cray/chapel-private/issues/407]

[2020-03-11 00:34] bradcray commented on #14393
@e-kayrakli: Searching for something else, I just stumbled into a raft of issues like this that made me ask "can this be closed now?"

[2020-03-11 00:34] bradcray commented on #14879
@e-kayrakli: Searching for something else, I just stumbled into a raft of issues like this that made me ask "can this be closed now?"

[2020-03-11 00:35] bradcray commented on #14624
@e-kayrakli: Searching for something else, I just stumbled into a raft of issues like this that made me ask "can this be closed now?"

[2020-03-11 00:35] bradcray commented on #8635
@e-kayrakli: Searching for something else, I just stumbled into a raft of issues like this that made me ask "can this be closed now?"

[2020-03-11 00:49] BryantLam commented on #14847
Workaround. Here's a patch that can be applied for `chpl version 1.21.0 pre-release (f5b0f309a)`.

If `LD_RUN_PATH` is set, it appends `-Wl,-rpath,<runpath>` to util/files.cpp's `ldflags` variable as if the user had invoked `chpl` with it.
[code]

[2020-03-11 00:55] e-kayrakli commented on #14393
It's a bit hard to tell when a design discussion was concluded when the decision ends up to be "no action". Currently this is a "no action" decision, and so far we are happy with that decision. Closing.

[2020-03-11 00:55] #14393 closed

[2020-03-11 00:56] e-kayrakli commented on #14879
This one has slipped through the cracks :( it should be relatively easy to prevent such strings from being printed. I hope to squeeze this in this week. Let's keep it open until I get it fixed.

[2020-03-11 00:58] bradcray commented on #14393
Oh, now that you've said that, I was mixing this up with another issue (the one about "can non-UTF8 characters be embedded into strings?").  If you think it's premature to close this, I'm fine with leaving it open as well (though I'm also OK with the status quo I think; at least nobody has said anything about it that's caused me to panic).

[2020-03-11 01:01] e-kayrakli commented on #14624
As stated in the issue, we had some discussions in the early days of the `bytes` type and decided against supporting such coercions. I opened this to capture it in a public way. IIRC the reason that got us thinking whether this needs more attention was some implementation difficulties I faced adapting Arkouda to UTF8-strings world.

See:
https://github.com/mhmerrill/arkouda/pull/260
https://github

[2020-03-11 01:03] e-kayrakli commented on #8635
We still have https://github.com/cray/chapel-private/issues/407 in my backlog as part of this epic. But it is not a priority for 1.21 release. The most "epic" parts of this epic is done, though. So, closing it wouldn't cost us anything important IMO. @mppf, do you have a preference?

[2020-03-11 01:05] BryantLam opened #15168 "`chpl --ldflags` has different ordering between C and LLVM backends"
When using `chpl --ldflags`, the ldflags are presented to the C and LLVM backends differently.

For example, when adding runpaths to the linker, the generated executable has a different RUNPATH load order depending on whether the executable was created with the C backend or the LLVM backend.

[code]
`chpl version 1.21.0 pre-release (f5b0f309a)`

Notice that `/some/path` is either before or after t

[2020-03-11 11:35] carcarah commented on #14950
Hello @dlongnecke-cray , here is the output.

CHPL_HOST_PLATFORM: linux64 *
CHPL_HOST_COMPILER: gnu
CHPL_HOST_ARCH: x86_64
CHPL_TARGET_PLATFORM: linux64
CHPL_TARGET_COMPILER: gnu
CHPL_TARGET_ARCH: x86_64
CHPL_TARGET_CPU: native *
CHPL_LOCALE_MODEL: flat
CHPL_COMM: none
CHPL_TASKS: qthreads *
CHPL_LAUNCHER: none
CHPL_TIMERS: generic
CHPL_UNWIND: none
CHPL_MEM: jemalloc
CHPL_ATOMICS: cstdlib
CHPL_GM

[2020-03-11 12:39] mppf commented on #14393
I'm happy with leaving it as-is (with "yes" to the question in the title).

[2020-03-11 12:40] mppf commented on #14624
I think closing the issue is the right move in a case like this (we have made the decision for the time being but may revisit).

[2020-03-11 12:41] mppf commented on #8635
It'd be fine to close it; we just need to keep track of 407.

[2020-03-11 14:16] ben-albrecht commented on #14930
I voted in favor of leaving as is, but I also favor extending support to the other cases mentioned by @mppf:

I believe these cases can be added later on as non-breaking changes, so we can safely defer those decisions for now.

Another idea to consider in the future is to allow user-defined types to define this behavior, similar to Python's [`__bool__`](https://docs.python.org/3/reference/datamode

[2020-03-11 14:20] ben-albrecht commented on #11439
@rajshekhar7 - it is not implemented, but this requires design discussion before pursuing implementation. Check out [contributor info](https://github.com/chapel-lang/chapel/blob/master/doc/rst/developer/bestPractices/ContributorInfo.rst#design) to understand that process better.

[2020-03-11 14:22] bradcray commented on #15094
Thinking about this general challenge this morning (and tagging @ben-albrecht who picked up a related issue this week and may be able to put some time into this as well as @dlongnecke-cray and @daviditen since they've worked on related issues):

* outlawing arrays of non-nilable feels more severe than we'd like
* this issue proposes outlawing arrays of non-nilable over non-const arrays (to avoid r

[2020-03-11 14:23] ben-albrecht commented on #14571
@Aniket21mathur - thanks for driving this issue forward. As a heads up, the core dev team is working towards finalizing the Chapel 1.21 release, and probably won't have much time to discuss this design issue until things calm down.

You are welcome to comment with other information you think is helpful / relevant in coming to a decision, and even propose a design for our `Time.getCurrentTime` in t

[2020-03-11 14:55] gbtitus commented on #14930
I voted for `bool` only.  From an ease-of-use (really, ease-of-remembering-the-language) point of view I think the only two options that make sense are `bool` only, or _any_ type. Anything in between invites questions such as "If this type is allowed, why not that type?", or "Why is it like that language, instead of this one?" for languages that only allow a subset of their types to be used in thi

[2020-03-11 15:07] mppf commented on #14930
It's just that comparisons of floating point numbers are usually not one actually wants in a real application so it might be better for programmers to see `== 0.0` to identify the issue.

@gbtitus

Are you talking only about primitive types here? Or are you saying that you should be able to do `if myList` and `if myRecord` e.g.?

[2020-03-11 15:33] gbtitus commented on #14930
No, all types.  It should be possible to create composition rules that say how to reduce any non-primitive type to a single conditional value.

[2020-03-11 15:35] mppf commented on #14930
That doesn't make sense to be because not all types will have a default value; in other words there will be types that don't have a "zero". Consider for example a non-nilable class type.

[2020-03-11 15:59] Aniket21mathur commented on #14571
Sure. :smile:

[2020-03-11 16:27] gbtitus opened #15171 "spurious 'multiple definitions' error for reduction in conditional-expression"
The test case shown produces a spurious complaint about multiple definitions:

[code]

If the reduce-expr is moved out of the conditional-expr then all is well:

[code]

[2020-03-11 17:00] bradcray commented on #14930
I believe a sufficiently motivated user could do this today using undocumented features, but agree that we could consider making this a more official language feature.

With respect to Greg's comments, I tend to think that permitting any type to be able to opt into such a feature feels more important than having every type work in a conditional by default with no effort (and worry that such suppor

[2020-03-11 17:04] bradcray commented on #8635
I think for all intents and purposes, this epic is done.  We could keep it open because there may be additional improvements and refinements and additions to UTF-8 strings, but by that argument, we would potentially have epics open eternally for all language features. :)

[2020-03-11 17:05] bradcray commented on #15168
@gbtitus: I think you've been looking at linker flags lately.  Does this fit naturally into your court at all?

Also tagging @mppf (because of LLVM) and @dlongnecke-cray (whose also done some stuff with the linker line recently).

[2020-03-11 17:13] e-kayrakli commented on #8635
407 is relatively high in my backlog, and we had a discussion with @bradcray about it earlier in the release cycle. I expect we'll have another one early in the next cycle, too :)

I am closing this.

[2020-03-11 17:13] #8635 closed

[2020-03-11 17:23] bradcray commented on #8635
I personally don't feel deeply worried about 407, but that could be because I don't understand how terrible it is not to have it for the time being (and to just rely on documentation to say what we expect).

[2020-03-11 17:29] gbtitus commented on #14930
This doesn't carry much weight for me because the choice to make `0` equivalent to `false` long ago in C was, as far as I know, arbitrary.  It did have to be `0` because of the ISA consideration I cited, but the meaning of `0` could just as well have been `true`.

The current situation seems to be that we'll allow conditionals to be formed from any primitive type that includes some sort of disting

[2020-03-11 17:32] gbtitus commented on #15168
@bradc possibly, since it's even about linker flag ordering, which was/were the problem(s) I was solving a few weeks ago.  I'm nearly done with my current release-related item and could jump to this one today unless someone else pipes up about wanting it.

[2020-03-11 17:36] ronawho commented on #13603
I was asked to look at this, primarily from a performance perspective.

I believe we need optional chaining or something like it for the common case, and in a few rare instances a mechanism to force unwrap a nilable. I do not expect that to be common, so I think it should be a function and not special syntax. Maybe something like like `forceToNonNilable()`.

For the 1.21 release we plan to:
 - con

[2020-03-11 17:36] bradcray commented on #15168
That'd be great.  I also think that this could be a code freeze task (i.e., I didn't mean to imply that we needed to jump on it right away; more like "if the iron is still warm-ish from that effort, maybe we should tackle this simultaneously...").

[2020-03-11 21:45] bradcray commented on #15136
Well that's a bit sad.  Thanks for reporting this, Paul!

FWIW, this program compiled and ran under 1.20, though the output seems a little questionable to me:  [TIO](https://tio.run/##S85ILEjN@f@/LLFIIVHBViEvM8eaq7wosyQ1J08jUROJrVdSWZBqVVxSlJmXrmn9/z8A)

[code]

[code]

[2020-03-11 23:27] vasslitvinov commented on #15094
The runtime-check-based approach appeals by the simplicity of implementing it.

Compile-time checking otoh feels more Chapel-spirited - in line with how we do things elsewhere, like other nonnilable checks.

For `reshape`-like situations, as well as `var MyArray: (a type formal, type expression, ...)`, I can see us distinguish mutable vs. non-mutable domains in the type system as Michael suggests

[2020-03-11 23:30] vasslitvinov commented on #15094
BTW we should expand the scope of this check, as well as the one in #13602, to all non-default-initializable types. Ex. ones that do not pass `isDefaultInitializable()` in Types.chpl.

[2020-03-11 23:31] vasslitvinov commented on #13602
BTW we should expand the scope of this check, as well as the one in #15094, to all non-default-initializable types. Ex. ones that do not pass `isDefaultInitializable()` in Types.chpl.

[2020-03-11 23:41] #15146 closed

[2020-03-11 23:44] BryantLam commented on #15127
#15176 looks like it works. I didn't test that rigorously though. Mostly just `./some_program -nl 4 --verbose` to verify that the correct `--cpus-per-task` was being passed through.

[2020-03-11 23:52] bradcray opened #15182 "Problems with lists of tuples of non-nil classes"
### Summary of Problem

Lists whose elements are tuples containing non-nil classes don't seem to be working as hoped for, either causing problems at compile-time or surprises at execution-time.

### Steps to Reproduce

**Associated Future Test(s):**
[`test/library/standard/List/classLists/listOfTupleOfClass2.chpl`](
           https://github.com/chapel-lang/chapel/blob/master/test/library/standard

[2020-03-12 00:12] bradcray opened #15184 "Cast between nilable- and non-nilable class types doesn't work?"
### Summary of Problem

I was told that `C: C?` or `C?: C` ought to work and be a way of casting between class types, but it seems that this doesn't work as intended.

### Steps to Reproduce

**Associated Future Test(s):**
[`test/classes/casts/class-type-cast2.chpl`](
           https://github.com/chapel-lang/chapel/blob/master/test/classes/casts/class-type-cast2.chpl
          ) #15183

### Confi

[2020-03-12 00:29] bradcray commented on #14930
Greg: To make sure I'm understanding, are you suggesting that `if valueWithoutObviousZero` should just always evalute to the true fork?  (e.g., `if 1..10 then` would be true?)

[2020-03-12 00:54] bradcray commented on #15094
Shoot, the compile-time approach didn't work due to dynamic dispatch resolution tripping over the compilerError().

However, for a simple test case at least, the execution-time approach does work.

[2020-03-12 01:58] bradcray commented on #15182
I ended up having to remove the .bad file for `listOfTupleOfClass3.chpl` because it wasn't dependable, but for historical reference, it was:

[code]

[2020-03-12 02:05] raktim2015 commented on #15095
@Rapiz1 We need to decide a design before moving on with the implementation. I have already written a skeleton code for the same but need a few additions depending on the design decided by the community.

[2020-03-12 03:49] bradcray commented on #15094
Only 85 failures for the execution-time approach, many (most?) of which seem to be due to `isDefaultInitializable()` not resolving for certain types (domains maybe?).

[2020-03-12 04:10] vasslitvinov commented on #14854
`isDefaultInitializable()` also does not work on domains.

[2020-03-12 04:29] vasslitvinov commented on #15094
This will not work at the moment because:
* `locale` is considered non-default-initializable ==> `chpl_TableEntry(idxType)` is not-default-initializable ==> can't create a `DefaultAssociativeDom` because its initializer does not set `DefaultAssociativeDom.table`, which is an array of `chpl_TableEntry(idxType)`.

* `isDefaultInitializable()` also has an issue with Chapel domain types. #14854 may be

[2020-03-12 05:11] vasslitvinov commented on #15094
@bradcray I am looking to see if I can make workarounds for isDefaultInitializable().

[2020-03-12 12:56] mppf commented on #14929
Can we close this issue, then?

[2020-03-12 13:25] ben-albrecht commented on #5939
Not quite, I am proposing that there be 2 versions of `getEnv` - on that reads envs at compile-time (`getParamEnv()`), and another that reads envs at runtime (`getEnv()`).

I think this is possible in C/C++, and therefore should be possible in Chapel (though our C-interop may not yet permit it). I think it'd be fine to leave out of your initial effort.

Sure, I will comment on your Gist to keep th

[2020-03-12 13:42] mppf commented on #14139
issue #11453 proposes the redesign towards variant types.

[2020-03-12 13:45] ben-albrecht commented on #5939
Check out Python's [os.environ](https://docs.python.org/3/library/os.html#os.environ) for interface/implementation ideas on supporting the pre-populated envs object.

A few thoughts:

- A `map` is probably a better underlying data structure for this, given the user will be able to modify it
- We will probably want to wrap that `map` within a record, such that setting or unsetting elements will mak

[2020-03-12 13:46] BryantLam commented on #11453
[C/C++ FFI considerations for implementing tagged unions in Rust](https://rust-lang.github.io/rfcs/2195-really-tagged-unions.html)

[2020-03-12 13:48] mppf opened #15189 "multiple problems with initializers for unions"
Initializers are designed primarily for classes and records but they are currently also used for unions. This causes multiple problems because unions can only have one field set at a time.

PR #15188 applies a workaround for the compiler-generated default `init=` for unions to function correctly. However it is unclear if users should be able to write `init` or `init=` functions for unions. If they

[2020-03-12 13:49] Rapiz1 commented on #5939
Got it. I will check it out.

[2020-03-12 15:08] ben-albrecht commented on #9846
Yes. I believe `mason publish --ci-check` aims to implement some checks, but do not recall which checks it implements off the top of my head.

[2020-03-12 15:11] ben-albrecht commented on #13832
I think this can be reproduced by trying to publish a package twice, e.g.

[code]

Let me know if that doesn't help, and I'll try to get a more precise reproducer.

[2020-03-12 15:18] #15127 closed

[2020-03-12 15:57] gbtitus commented on #14930
Range values are actually a problem for my earlier statement that conditional statements ought to be able to take values of any type.  When I said that I was thinking of array and record types, where it's easy to imagine that if any scalar type can be the subject of a conditional then one could compose the rules for those scalar types to form rules for arrays of such types and records containing f

[2020-03-12 16:04] mppf commented on #14930
Regarding arrays specifically (from @gbtitus 's line of reasoning above) one interesting outcome of allowing `if myArray` would be an arguably satisfying composition with issue #11490. From issue #11490, the current decision is that `A == B` produces an array (or promoted expression?).

[code]

That means the code above won't compile. But, if we allow `if myBoolArray` it will work.

Whether this i

[2020-03-12 16:05] ankingcodes commented on #9846
I checked out `mason publish --ci-check` which is as follows :
[code]
Also, by my question I meant , could we do the checks you mentioned in Travis ?

[2020-03-12 16:47] ben-albrecht commented on #9846
Does `moduleCheck(projectCheckHome)` check any of these things?

Absolutely, I think the intention is for a Travis check to run `mason publish --ci-check <pkg>` for packages added in the PR.

[2020-03-12 17:07] bradcray commented on #14929
Oops, yep, thanks!  Resolved by PR #15034.

[2020-03-12 17:07] #14929 closed

[2020-03-12 17:23] bradcray opened #15191 "Better error messages when `owned` applied to non-class type"
### Summary of Problem

When `owned` is applied to a non-class type (another type, or a value, say), today's error messages are nor particularly clear or helpful.  This issue requests that those error messages be improved for clarity to the end-user.

### Steps to Reproduce

**Associated Future Test(s):**
[`test/classes/delete-free/owned/errors/owned-class-instance.chpl`](
         https://github.

[2020-03-12 17:23] ankingcodes commented on #9846
@ben-albrecht Nope, it just checks if there is atleast 1 module file inside of `src`. I guess we can modify this to perform the checks you mentioned?

[2020-03-12 17:25] ben-albrecht commented on #9846
Yes, I think that's the right idea.

[2020-03-12 17:27] ankingcodes commented on #9846
I don't think we should make a separate issue for this, since it already comes under this issue and I have already included it in my proposal.

[2020-03-12 17:28] ben-albrecht commented on #9846
Agreed!

[2020-03-12 17:31] ben-albrecht commented on #13345
I believe this error occurs during a `mason update` when the registry is missing certain expected files / directories, such as a `Bricks` directory. I can try to come up with a more precise reproducer if you are unable to reproduce the error.

[2020-03-12 17:35] bradcray commented on #14930
I'm feeling pretty strongly that we shouldn't do more with this issue at present w.r.t. the current release.  I.e., I don't think we should scale conditionals back to bools only because I don't think there's sufficiently broad support for it in the user or developer camps.  And I don't think we should look at expanding the set of expressions that conditionals currently do support because there has

[2020-03-12 18:25] dlongnecke-cray commented on #14930
It seems like we've collectively decided that we're more or less OK with the current state of affairs. I'll leave this thread open till the end of the week. Thanks everybody!

[2020-03-12 18:33] #15139 closed

[2020-03-12 18:35] bradcray commented on #14930
I think it's reasonable to leave it open for the time being until we've had time to consider whether we want to expand boolean support to other types.  (i.e., my previous comment was only meant to be w.r.t. the current release, but we can continue to wrestle with the question).

[2020-03-12 18:48] dlongnecke-cray commented on #14930
Personally, I think such a discussion (i.e., "should user defined types be able to be used in conditional expressions?", etc) warrants a new thread instead, but sure I'll leave this one open.

[2020-03-12 18:52] bradcray commented on #14930
I agree that that discussion could be forked off into its own thread, though I interpret the main one going on here as being less about user-defined types and more about collections of types.  It could also be forked off until its own issue, but until they are, I think keeping this one open as a placeholder makes sense (given that GitHub makes it incrementally harder to find closed issues).

[2020-03-12 18:56] dlongnecke-cray commented on #14930
Sounds good to me!

[2020-03-12 19:06] #13154 closed

[2020-03-12 19:58] mppf commented on #15184
Would you expect `int : int` to result in `int` or in an error?

If the answer is "error", I'm not so sure we want to support `C : C` or `C : C?`.

[2020-03-12 20:06] bradcray commented on #15184
I don't have a strong opinion about self-casts, though I'd probably be inclined to have them work and return the type itself.  That said, I wouldn't object to an error (or warning) either.

I'm not tied up in `C: C?` either per se.  Was just trying to understand the ways that nilable and non-nilable types could be obtained from the other and was thinking this would work (where it's obviously more

[2020-03-12 20:11] bradcray commented on #15094
Down to 38 failures if I filter for domain types before calling `isDefaultInitializable()`, all of which are triggering the error I added.

[2020-03-12 20:11] #15168 closed

[2020-03-12 20:15] bradcray commented on #15094
(though some of those are due to records whose fields contain domains, so maybe I should've moved the test for domains _into_ the `isDefaultInitializable()` definition rather than my call to it?  Domains are default initializable, right?  Just maybe not using real initializers?)

[2020-03-12 20:40] dlongnecke-cray commented on #14950
Hi @carcarah, with `gcc/8.3.0` and `chpl-1.20` loaded, can you go ahead and run your setup script, and then, from $CHPL_HOME:

[code]

We want to rebuild the libraries Chapel uses in `$CHPL_HOME/third-party` so that they are built with `gcc/8.3.0`.

It looks like you have `CHPL_LLVM=llvm`, so this might take awhile. For what it's worth, I don't think that you need to have LLVM to test if the fix w

[2020-03-12 20:54] #14879 closed

[2020-03-12 21:01] mppf commented on #15094
AFAIK it's just a bug that isDefaultInitializable is not working for domains - issue #14854

[2020-03-12 21:06] bradcray commented on #14854
Something subtle but interesting about Michael's example above is that it's not the presence of the field that causes the problem, but the combination of the field and the lack of a default initializer, right?  I.e., a clone of the test which had `proc ContainingNonNilableOwned.init() { this.z = new C(); }` should return 'true' for isDefaultInitializable()?

(seems obvious, but just making sure we

[2020-03-12 21:10] mppf commented on #14854
Well... the problem is that `isDefaultInitializable` is raising a compilation error but it should return `false` instead. But anyway yes the example you described should return `true`

[2020-03-12 21:49] bradcray commented on #15094
If I change my test to a simple check for `isNonNilableClass(eltType)` I only get 2 failures, both of them on cases that reshape arrays of locales which should be fixed with PR #15149 which is encouraging.  This isn't a perfect test of course (a record with a non-nilable class field and no default initializer should also trigger the error, but won't be usable until #14854 is resolved presumably.

[2020-03-12 22:21] dlongnecke-cray commented on #7706
The problem I have with `here` is that while it seems more elegant, it doesn't make sense to me as a default value because it's not actually a single value...it's context sensitive. (I see Brad has mentioned that above).

Because of that I'm inclined to choose `Locales[0]` as the only value that makes sense to me.

[2020-03-12 23:02] #8499 closed

[2020-03-12 23:02] #13566 closed

[2020-03-12 23:02] #14945 closed

[2020-03-13 00:05] bradcray opened #15200 "Incorrect line number regarding ownership transfer"
### Summary of Problem

In some cases it seems that the compiler gives the wrong line number when reporting where an ownership transfer occurs.  In this specific case, the ownership transfer takes place in a task intent, but the declaration point of the variable is reported instead.

### Steps to Reproduce

**Associated Future Test(s):**
[`test/classes/delete-free/owned/errors/transferInBegin.chpl

[2020-03-13 05:15] vasslitvinov commented on #14854
Another issue is running it on a record that relies on the compiler-generated initializer and has a field that is not default-initializable, however has a default expression. Ex.
[code]

[2020-03-13 05:21] vasslitvinov commented on #15094
I am following Brad's lead and going from `isDefaultInitializable()` back to `isNonNilableClass()` in #13602. None of my workarounds allowed me to accept this test:
[code]
because it has a default-initialized array with this element type:
[code]
which at present is not `isDefaultInitializable`.

[2020-03-13 05:30] damianmoz commented on #15043
I am open to anything that minimizes your work. I was unsure how to phrase it.

I really do not understand the phases of the compiler so I do not know how to answer the question.

[2020-03-13 06:43] Rapiz1 commented on #5939
Here's my thought about the `envs['varName']='varValue'`.
1.
[code]
* Supports getting envs
* Does not support modify envs
* Returns `string`
2.
[code]
* Supports getting envs
* Support modifying envs
* Returns `_EnvRecord`
Maybe a `String.init=(_EnvRecord)` can be added to allow:
`var myPath:string = envs['PATH'];`

[2020-03-13 13:11] ben-albrecht commented on #15095
This makes me less certain that it should be a part of our standard library, rather than a mason package.

Check out the [design guidelines](https://github.com/chapel-lang/chapel/blob/master/doc/rst/developer/bestPractices/ContributorInfo.rst#design) for understanding the process of getting the design approved. @e-kayrakli may be a good person to give input, but they probably won't have much time

[2020-03-13 13:50] bradcray commented on #7706
I think based on Engin's argument just above, I'm leaning more toward `Locales[0]` by the principle of least surprise.  If I was familiar enough with the language to know what the following did:

[code]

then I'd be surprised to see code like:

[code]

and to find out what its behavior would then I would to see code like:

[code]

i.e., I think the cases where I wanted a locale variable to default

[2020-03-13 14:41] mppf commented on #15043
@bradcray - I think the request is to dump just the assembly from one function. (Vs say saving all assembly from everything and then looking for your function). I don't know how to do that with C compiler flags but it would not be hard to script up. (E.g. objdump can do it easily enough).

[2020-03-13 15:28] lydia-duncan commented on #7706
Here's my two cents.  I should note that I don't use multilocale code super often - I'm not sure whether that means that my opinion on the default should have more weight or less.

I don't find this super compelling - I think in the common case, you want the locale to match the locale you are currently on to avoid communication, and that having the default be `here` provides that.  It seems more e

[2020-03-13 15:31] carcarah commented on #14950
Hello @dlongnecke-cray ,

now it works. Thanks!

I've got a question: when should I `make clobber` and `make`? The first time I build the runtime?

[2020-03-13 15:36] e-kayrakli commented on #15095
Sorry for being late to the party!

I agree with this. It would be interesting having a `StringUtils` or a `StringAlgorithms` package, for example, if we can find several such "advanced" tools that are used in common string operations. `findAll` would be a good start for that.

That being said, we have `string.count` and I believe other languages must have it, too. And `string.count` is basically

[2020-03-13 16:04] mppf opened #15204 "problem with new expressions on type aliases and owned arguments"
Consider this program:

[code]

This program does not currently compile.

One might expect `x` to be created as an `owned C` that is initialized with the second initializer listed there. However the compiler currently gets confused about whether this is an initialization of an `owned` or if it is an initialization of a `C`.

I believe that PR #15119 removes the need for `owned` and `shared` to hav

[2020-03-13 16:18] bradcray commented on #14950
Building for the first time from a clean copy of the release should never require `make clobber`.

I would say that, in general (and if things are working correctly), `make clobber` should not be required unless you have an existing build; then your system switches versions of tools, compilers, OS, etc.; then you try to compile using your existing build or to rebuild it in place such that only som

[2020-03-13 16:27] mppf commented on #14749
PR #15041 uses a simpler rule for deinit points making it even clearer that point 2 is the right answer for deinits. But, copy elision can go inside of a block (as of PR #15174).

[2020-03-13 16:27] #14749 closed

[2020-03-13 16:30] mppf opened #15206 "split-init and deinitialization point"
PR #15041 adjusted the compiler to use a simpler rule for deinit points. The rule is this:

However this rule is not interacting as nicely as one would hope with split-init.

Consider for example the follow program:

[code]

(I ran into this pattern and the issue with it when writing tests for #15205).

Now, `x` is initialized with split-init. A variable declaration like `var x = (new owned C(1)).

[2020-03-13 16:37] bradcray commented on #7706
Storing `Locales[0]` into a locale value shouldn't require communication.  (I'm not sure whether or not it will today or with Engin's PR, but we could definitely make it so that it didn't).

That on-clause could be somewhere completely different in the code, though—there's no guarantee that you'd be able to see it, syntactically.  For example:

[code]

To me, that's like saying in:

[code]

that i

[2020-03-13 16:38] e-kayrakli commented on #7706
You are right, but the `Locales` array is a `locale private` variable. So there is no comm in `Locales[0]` wherever you run it.

I am not sure what you mean here. And I don't think we should rely on the proximity of the variable declaration to an `on` statement. What if there was a call in that `on` statement, and that function was defining a `locale` variable. Saying this out loud moved me one st

[2020-03-13 16:44] lydia-duncan commented on #7706
Sorry, I was more thinking about how the locale instance would be used, rather than the act of initializing the locale in the first place.

[2020-03-13 16:54] bradcray commented on #7706
I don't think using a remote locale value necessarily results in communication either (unless you use it on an on-clause of course).  It's essentially a wide pointer that says "that address over on that locale" but accessing that wide pointer is a local operation.

[2020-03-13 16:59] lydia-duncan commented on #7706
I find these arguments compelling, but they make me lean more towards "no default" than "Locales[0]".

I think this is a false equivalency, as neither of those variable types currently impact how we determine the default value of their type.  There's no statement in our languages that changes their default value, but there are statements that change the default locale for local variables, and I th

[2020-03-13 17:06] lydia-duncan commented on #7706
Now we're getting into situations where me being less experienced probably makes the tangent less valuable, so maybe I should stop on this particular train of thought.  One last thing before I do, though - couldn't you use the locale instance you've created to accidentally create a variable or part of an array or something remotely when you meant to create it locally?  Or is that just not going to

[2020-03-13 17:09] bradcray commented on #7706
Not unless you did something pretty explicit, like:

[code]
or
[code]

[2020-03-13 17:11] e-kayrakli commented on #7706
To me, this shouldn't be a requirement. Because it doesn't feel related. What is related to me is that we get the same only `writeln(x.locale == l.locale)` in both cases, and that's obvious anyhow.

with default value `Locales[0]` you can do something like:

[code]

or maybe more subtly
[code]

I think in both cases, the writer of this code should use explicit values and suffer if they don't. If I

[2020-03-13 17:18] lydia-duncan commented on #7706
I agree with that - but I think that makes me more inclined to have no default value for locale, as accidentally having communication is more subtle than getting a compilation error saying you need to give a locale instance an explicit value

[2020-03-13 17:19] lydia-duncan commented on #7706
But these cases seem to be more rare, so maybe it doesn't matter that much

[2020-03-13 17:21] e-kayrakli commented on #7706
This somewhat alludes to https://github.com/chapel-lang/chapel/issues/13526.

So, maybe we can have a `defaultLocale` (or `unknown`, `nowhere`, `anywhere`) as the placeholder default, and give runtime errors if this was encountered in an `on` statement? Hmm..

[2020-03-13 17:46] mppf commented on #14874
PR #5174 implements this.

[2020-03-13 17:46] #14874 closed

[2020-03-13 17:47] mppf commented on #14870
PR #5174 implements the design in issue #14874.

[2020-03-13 17:47] #14870 closed

[2020-03-13 17:47] mppf commented on #14860
PR #5174 implements the design in issue #14874.

[2020-03-13 17:47] #14860 closed

[2020-03-13 18:34] bradcray commented on #7706
This was @benharsh's opinion in the performance meeting yesterday too, but I'm not sure I agree.  Taking reals as an example, I feel happy that the default real is 0.0 — a value I can use and reason about and make use of — rather than NaN — a value that's still well-defined, but that I'm probably going to need to overwrite in practice most of the time before using it.  Making the default value for

[2020-03-13 19:08] dlongnecke-cray commented on #14950
Glad to see everything is working, @carcarah! Happy compiling with 1.20.

You shouldn't ever really need to `make clobber` as an end user (though Brad does illustrate a good example), but upgrading your C compiler while using libraries built by an old version is an exception.

In this case, the bug is due to your `gcc/8.3.0` being configured to build position independent executables (PIEs) by defa

[2020-03-13 19:10] bradcray commented on #14966
@mppf / @lydia-duncan: I've lost the thread here.  Is the expected fix for this something that needs to take place in the Chapel source tree (in which case it'd be nice to make it for the next release), or is it something that just needs to be updated in the linuxbrew formula?  Or do we not know?  Thanks!

[2020-03-13 19:14] mppf commented on #14966
@bradcray - I think this is probably the next step:

There is also a temporary workaround available to us - we could adjust the linuxbrew package to set `CHPL_LIB_PIC=pic ` both in making the compiler and setting up to use it. We could consider doing that for this release and doing the more involved step later.

[2020-03-13 19:31] #14421 closed

[2020-03-13 19:31] #14542 closed

[2020-03-13 19:31] #15184 closed

[2020-03-13 19:36] carcarah commented on #14950
Hello @dlongnecke-cray and @bradcray . I think the compilers from Grid'5000 were updated and I didn't notice it.

I checked here, and I'm able to compile all my distributed and single-locale codes.

Thank you!

[2020-03-13 20:07] dlongnecke-cray commented on #14950
Sounds good. Happy coding!

[2020-03-13 20:07] #14950 closed

[2020-03-13 20:36] #15204 closed

[2020-03-13 21:38] #14307 closed

[2020-03-13 21:42] vasslitvinov commented on #15206
Leaving the behavior the way you are describing appeals to me because it keeps the rules simpler. If we can live with this behavior, I would choose this option.

In what situations do you think we will want to enable this scenario in user code?

[2020-03-13 22:05] bradcray opened #15215 "Should/can array element deinitialization be parallelized?"
While looking through module code today, I noticed that an array of elements requiring deinitialization (e.g., an array of records with a deinit() procedure) deinitializes those elements serially rather than in parallel:

https://github.com/chapel-lang/chapel/blob/10b7011d830ebc5cb6c3eaef75fea394e0592ad6/modules/internal/DefaultRectangular.chpl#L1043-L1048

This issue asks whether this can legally

[2020-03-13 23:01] ben-albrecht commented on #5939
I think your env record should contain a map field which stores all the keys and values of env vars.

It would be nice to access this through the `locale` object to deal with differences of envs across locality, e.g. `var home = locale.envs['HOME'];`, but I am not sure if that is possible. Alternatively, `envs` could default to return the value of `envs` from `here`. This would be less explicit to

[2020-03-13 23:36] bradcray commented on #5939
If you declared an "env" object per locale (for which a class might work better than a record), then you could define secondary methods like `proc locale.envs()` that would take `here`, use it to look up that locale's personal copy of the object, and go from there (?)

[2020-03-14 00:50] e-kayrakli opened #15216 "Create a wrapper for qio_decode_char_buf* to use String and Bytes module"
We use `qio_decode_char_buf[_esc]` to decode byte buffers using UTF8 encoding, where the `_esc` variant allows us to use ["escaped sequences"](https://github.com/chapel-lang/chapel/pull/14743) in strings.  However; its an extern function, its use is cumbersome, and we repeat the [same thing](https://github.com/chapel-lang/chapel/blob/master/modules/internal/String.chpl#L1004-L1009) repeatedly in S

[2020-03-14 00:52] e-kayrakli opened #15217 "Use explicit types in ByteBufferHelpers"
`modules/internal/ByteBufferHelpers.chpl` is the low-level common module for `bytes` and `string` types.

The helpers here use implicit types a bit too much. This caused a linux32 error in the past. It'd be a good idea to revise all the helper functions and make sure that arguments are explicitly-typed to help with maintainability of `bytes` and `string` implementations

[2020-03-14 00:55] e-kayrakli opened #15218 "Standardize string/bytes buffer allocations"
We have some helpers in `modules/internal/ByteBufferHelpers` that we use to allocate buffers for `string` and `bytes` types. There are some (maybe only one?) inconsistencies in how they are implemented and used. `bufferCopyRemote` doesn't go through `bufferAlloc`. This means that strings/bytes copied from remote vs local may allocate different amount of space, which may cause some confusion for th

[2020-03-14 01:03] e-kayrakli opened #15219 "Consistent internal field names for string and bytes records"
For example, [string field](https://github.com/chapel-lang/chapel/blob/master/modules/internal/String.chpl#L771-L779) names are all over the place, that adds some annoyance while playing with the string code. We should have more consistent names and capitalization. `buffSize`, `buffLen`, `buff`, `isOwned`, `hasEscapes` would be a good start.

I introduced a lot of `buf` in local variables. Those s

[2020-03-14 01:33] bradcray commented on #15159
Hi @Aniket21mathur — Following up, I added a `--warn-unstable` warnings for arrays of negative strides in #15180.  This is not a perfect solution in that most users will probably not think to compile with `--warn-unstable` by default, but I'll feel better at least knowing that it's there.  Thanks again for filing this issue.

[2020-03-14 04:12] damianmoz commented on #15043
Consider the following which is in a file called say 'max.chpl':
[code]
If I look in the --savec directory, I find 24000+ lines o C-code of which 67 lines are a file called 'max.c' where there are 4 static routines. The first and last are an initializer and entry, the other two correspond to my 'maximum' procedure and then 'main'. It is impossible to compile this file in a standalone fashion using

[2020-03-14 05:25] bradcray commented on #15043
Got it, thanks for the clarification.  You're right that there's not a simple way to do this today; you would either need to look at the assembly for the whole program and hone in on some markers to find your routine of interest; or you would need to do surgery and/or massaging of the generated C to reduce it down to just the piece you need.

It feels like I got about 90% towards a successful surg

[2020-03-14 06:18] bradcray commented on #15028
@bryantlam: When this proposal came up on issue https://github.com/chapel-lang/chapel/issues/12988#issuecomment-495799198, you seemed pretty enthusiastic about it (or at least that was my read).  Here, the response seems a bit more tepid, so I was not planning on adding it for this release (though it's implemented and easy to do so).  Wanted to see if that seemed OK to you or if you wanted to advo

[2020-03-14 08:35] raktim2015 commented on #11489
Hi. @ben-albrecht https://gist.github.com/raktim2015/db894f9e360172b1be496ded30afbb04 . Basic implementation in chapel shlex module. Please find some time to review it. :)

[2020-03-14 09:53] Aniket21mathur commented on #15217
@e-kayrakli I would like to work on this. I analyzed the `ByteBufferHelpers` file and I have drafted a pull request, I would like you to review it once, as I am not sure whether I am on the right path or not. Thanks! :smile:

[2020-03-14 11:04] mppf commented on #15043
I tend to use the GCC flag `-save-temps` to do this sort of thing. It lets compilation proceed as usual and just creates some .S files. That doesn't address the problem of there being a lot of assembly to sort through to find the function.

If objdump is used to show assembly for only one particular function after linkage - vs say dumping out everything - it seems to be more or less what you want.

[2020-03-14 17:34] ankingcodes commented on #15219
@e-kayrakli I'd like to work on this

[2020-03-14 19:53] priyank23 commented on #15219
@e-kayrakli I am a beginner here. This issue would be a good start for me to contribute to chapel. I would like to work to on this issue.

[2020-03-15 07:45] priyank23 commented on #15219
@e-kayrakli I have submitted a pull request for the issue stated. It would be very helpful if you could review the same and suggest some more modifications required.

[2020-03-15 10:30] ankingcodes commented on #15219
@priyank23 I was already working on this in my local branch. You should probably consider asking before submitting a PR. Anyways, I'll let you take this one since you already made a PR.

[2020-03-15 10:33] Aniket21mathur commented on #15219
@ankingcodes @priyank23 to avoid this type of confusion, I prefer submitting a draft pull request as soon as I start working on an issue. Later you can mark it ready for review once you are done.

Thanks :smile:

[2020-03-15 11:56] mppf commented on #11884
PR #15208 changed the behavior of this test to cause memory errors.

[2020-03-15 13:20] Aniket21mathur opened #15227 "[Feature] Array that supports both real and int type"
Currently, the arrays either support all real elements or all integer elements. This can be extended to support both real and int together.

Example:-

Currently,

[code]
return an error,

[code]

but it should accept both the types together once this feature is implemented.

[2020-03-15 15:25] ankingcodes commented on #12843
@redhatturtle I tested out your example. I didn't get any segmentation fault.

[2020-03-15 15:46] Aniket21mathur commented on #15159
Thanks @bradcray :smile:

[2020-03-15 16:12] priyank23 commented on #15219
@ankingcodes Extremely sorry for the confusion. I am new in contributing and still figuring out the proper ways to do it. I hope you'd understand.
Thanks for the support.

[2020-03-15 18:26] priyank23 commented on #15216
@e-kayrakli I would like to work on this. I have analysed the String.chpl and Bytes.chpl . The above mentioned function is used significant number of times in String.chpl but not in Bytes.chpl. Can't we define a wrapper function in String.chpl only.

[2020-03-16 02:56] rajshekhar7 commented on #11439
@ben-albrecht - I've read the Contributor Info, but help me understand, should I open a new issue for design discussions in this case if I want to implement it?

[2020-03-16 03:51] Aniket21mathur commented on #11439
@rajshekhar7 I think you can give your design inputs on this thread itself.

Thanks !

[2020-03-16 10:19] Rapiz1 opened #15229 "Some types are hard to read and confusing in chpldoc"
# Summary of Problem
For
[code]
`chpldoc` will produce this:
![image](https://user-images.githubusercontent.com/20105061/76746209-186f2c00-67b2-11ea-950d-d2e4f3258cd9.png)

`stringmapstring` is hard to read  and very confusing. I think simply printing the type `map(string, string)` is acceptable.
Are there some design reasons why `chpldoc` not simply copying the types to the docs? And what the lin

[2020-03-16 12:55] parthsarthiprasad opened #15230 "coforall can not manage "leader iterator error""
**Summary of Problem**
When passing single iterator for coforall falls into compiler error. During absence of leader-follower iterator

**Steps to Reproduce**

**Source Code:**
[code]

Compile command:

$permutation.chpl:4: internal error: RES-CAL-ORS-1211 chpl version 1.20.0
Note: This source location is a guess.

### Configuration Information

- Output of `chpl --version:1.20.0`
- Back-end compi

[2020-03-16 15:24] lydia-duncan commented on #15229
This is a duplicate of #13626

[2020-03-16 15:24] #15229 closed

[2020-03-16 16:04] bradcray commented on #15227
Just to make sure I understand: Is your intention that the array would be inferred to be an array of real since ints can coerce to reals?  If so, I think this is a repeat of issue #13591.

[2020-03-16 16:08] Aniket21mathur commented on #15227
Yes.

Thanks, for pointing out, I am closing this issue.

[2020-03-16 16:08] #15227 closed

[2020-03-16 17:06] bradcray commented on #15230
Interesting, thanks for filing this.  To me, the title of this issue doesn't seem related to the issue at hand, though (in that I'm not seeing any relation to leader iterators... it seems to be a compiler assertion error in the handling of coforall loops).  Tagging @vasslitvinov on this because I was reading another issue by him recently that talked about iterators yielding arrays I think, to see

[2020-03-16 17:33] omar-3 commented on #15230
@bradcray The issue is from [here](https://gist.github.com/omar-3/1d30e5a1ae8ffda09e1170e0a9c50bca) ... I was trying to figure out how to have iter function for permutations. Please run the ```for all``` statement, its behavior is interesting. Thanks to @parthsarthiprasad for his prompt help.

[2020-03-16 18:55] vasslitvinov commented on #15230
This is a scenario that is unexpected by the compiler's callDestructors pass. I am not recognizing it as a familiar issue.

Is there a way to make the iterator `p()` yield something that's not an array, as a workaround?

[2020-03-16 18:55] vasslitvinov commented on #15230
Oops, closed unintentionally, reopening.

[2020-03-16 19:25] vasslitvinov commented on #13602
Resolved by #15044 and #15224.

[2020-03-16 19:25] #13602 closed

[2020-03-16 19:57] omar-3 commented on #15230
I'm trying to generate permutations of a given array, so what could I yield but an array?

[2020-03-16 20:20] bradcray commented on #15230
I reworded the issue title to try and improve its accuracy.  I also found that the error exists even when the array isn't passed into the iterator as an argument:

[code]

[2020-03-16 21:07] maheshkulkarni123OS commented on #15064
#15064 regarding to this issue @ben-albrecht tell me how to write my chapel Unrolled Linked List Module's code in the format of mason package

[2020-03-16 21:31] vasslitvinov commented on #15230
Good point. Nothing comes to mind.

[2020-03-16 21:40] vasslitvinov opened #15233 "Extend array checking to non-default-initializable elements"
We would like to extend the checking in #13602 and #15094 from non-nilable element types to, more generally, element types that do not support default initialization. For example:

* a record without a default initializer,
* a tuple containing a non-nilable-class or non-default-initializable-record component,
* a tuple containing an array with non-default-initializable element type,
* other combin

[2020-03-16 22:02] lydia-duncan commented on #14971
Brad clarified offline that the last comment would also include things like `import M.x, M.y;` where x and y are non-module symbols defined within M.

[2020-03-16 23:17] BryantLam commented on #15028
The most desired one is `..<`. I could defer on the other ones until they're needed.

When you or whoever was porting the existing application codes that use bounded regions / halo exchanges, how idiomatic were their ranges without `..<`? While this issue is not my biggest concern, I personally think it would be better to mitigate the (perceived) "error-prone-ness" of manually adjusting ranges wit

[2020-03-16 23:21] bradcray commented on #15028
In 95+% of the cases, I used `0..#n` rather than `0..n-1` (where these could have equivalently been written `0..<n`).

The other 5% where `#` wasn't applicable were cases like `for i in foundPos..size-1` which is a case where `for i in foundPos..<size` would've been more attractive.

[2020-03-17 00:19] bradcray commented on #15028
@ben-albrecht / @e-kayrakli: If this proposal were to simply support `..<`, would that change your support from tepid to stronger?

[2020-03-17 05:25] BryantLam commented on #15028
Something about `0..#n` always bothered me but I couldn't figure out why until this statement was made. IMO, `0..<n` is much more idiomatic of what a user would usually intend (bounded range from 0 to less than `n`) versus `0..#n` (unbounded range from 0 to infinity, but bound it by yielding `n` times). The range `0..#n` is trickier to understand what it is actually doing on first appearance.

[2020-03-17 07:44] omar-3 opened #15234 "compiler error when REALLY treating functions as first class citizens"
### Summary of Problem

I was trying to have a minimal example for function currying, It seems like Chapel can't return function objects from a function, it can only accept them as arguments.

### Steps to Reproduce

**Source Code:**
This doesn't work.

[code]

This works.

[code]

**Compile command:**
```chpl script.chpl```
**Error**
script.chpl:5: internal error: RES-PRE-OLD-1938 chpl version 1.

[2020-03-17 11:45] DmiitriyJarosh commented on #15143
[libgit2](https://github.com/libgit2/libgit2) -- lib bindings to which have to be done
**Why important**: allow to build Git functionality into your application and availability of bindings in Chapel gets opportunity to write all code connected with git in this language (instead of using extra C code).

**License**: as `git2` api uses C library `libgit2` we have to face with its licence - GPLv2 wi

[2020-03-17 12:51] mppf opened #15237 "accessing eltType and domain from array type"
I would expect the following program to compile and run. It should be possible to access type and param information from an array from the array type.

[code]

[2020-03-17 14:22] ben-albrecht commented on #15028
I think the `..<` form alone seems reasonable. I like that this keeps the possible range syntax variations relatively simple, which has advantages in learning curve and readability: `m..n`, `m..#n`, and `m..<n` (ignoring strides)

I agree `0..<n` is pretty intuitive. I think it was the other variations that made me nervous about this proposal.

[2020-03-17 15:40] mppf commented on #15116
I don't expect users have arrays of barriers.

Arrays created in any kind of loop wouldn't have worked in previous releases.

I suspect arrays of barriers are rare and the typical use case has the barrier in a variable. So I think we could choose to put it off if we like.

However I absolutely think it needs to be fixed.

[2020-03-17 16:05] bradcray commented on #15234
Thanks for reporting this, though I'm afraid it isn't terribly surprising.  Our current first-class function support was implemented by an intern, and has received very little attention since then due to competing priorities.  As a result, it's considered an unstable feature at best (and the program above generates a warning indicating this when compiled with `--warn-unstable`).

[2020-03-17 16:19] ben-albrecht commented on #15064
@maheshkulkarni123OS - the relevant information can be found here: https://chapel-lang.org/docs/master/tools/mason/mason.html

[2020-03-17 16:28] e-kayrakli commented on #15028
FWIW, This example warmed me up a bit to the syntax and made me appreciate its added value more. I am not against adding `..<`

I find `#` intuitive or maybe got too used to it over time. So, in cases where `#` is still applicable, I think I'll still use that.

[2020-03-17 16:41] e-kayrakli commented on #15080
@vasslitvinov -- I played a bit with the associated future in `test/classes/nilability/bang-array.chpl` as part of #15149.

I think the issue here is actually #7936 and may not have anything to do with postfix-! ? For example the following doesn't compile and fail with the same error:

[code]
@mppf's comment [here](https://github.com/chapel-lang/chapel/issues/7936#issuecomment-349334218) seems lik

[2020-03-17 16:57] mppf commented on #7936
I don't think it would be particularly hard to add such coercions

[2020-03-17 17:00] vasslitvinov commented on #15080
@e-kayrakli your analysis makes sense to me.

[2020-03-17 17:21] BryantLam commented on #14896
This issue is a blocker for me. The only workaround I know of is to change the type of the array to a nilable, but that's unworkable because it parasitically affects the remaining code.

[2020-03-17 17:31] omar-3 commented on #15234
there is another issue in which I can't pass generic function, like that
[code]

###Error
[code]

but here it seems that the compiler is aware of what I'm doing wrong here, but why is it preventing me from passing generic function?

[2020-03-17 17:39] bradcray commented on #15234
This challenge relates to Chapel being a statically-typed language and the current implementation of first-class functions.  If you think of a Chapel first-class function as a function pointer in C (not that it is, but that's a fair point of comparison), the implementation needs an explicit function to refer to.  A generic function is essentially a family of potential function instantiations rathe

[2020-03-17 19:46] mppf commented on #14896
I'll look at it. I might just swap the error message behavior. However I might be able to do something to get copy elision to fire in this case.

[2020-03-17 20:19] e-kayrakli commented on #7706
I think we can wrap this up. I don't see too many strong opinions. I am moving towards `Locales[0]` more strongly lately:
[code]
I think users potentially relying on `here` being the default value is a bit too discomforting while reading code. And having a context-independent default value would be better.

I had an offline chat with Michael, and he is fine with `Locales[0]` being the default. I w

[2020-03-17 23:42] #7706 closed

[2020-03-18 03:34] raktim2015 commented on #15095
@e-kayrakli Sorry for late reply. It will be great if we can have such a Util package and I am excited to add new algorithms to it. I will be adding this in my task list for GSoC!

[2020-03-18 09:44] parthsarthiprasad commented on #15216
@e-kayrakli I was reading throught this as well , I'd like to work on it , I read through the code , Just a design related through , Since function signature is same for both functions , Can it be throught to make a single wrapper function , with another parameter to choose between the `qio_decode_char_buf_esc` or `qio_decode_char_buf` ? with something like
[code]

[2020-03-18 15:18] bradcray commented on #15230
Hi @omar-3 — I was thinking more about this case today and wanted to check and see whether it was holding you up.  Here are my thoughts on how I would proceed based on what you've said here:

* if your iterator is intended to be serial and works, that's good; the fact that the serial error causes a problem with coforalls is clearly ours and orthogonal to your work, so shouldn't be considered block

[2020-03-18 16:25] bradcray opened #15250 "Extend param loop unrolling for `lo..#size` ranges"
At present, `for param i ...` loops only work for fully-bounded ranges like `lo..hi` where `lo` and `hi` are param values.  It would be useful in a 0-based indexing world to extend this support to loops of the form `lo..#size` where `lo` and `size` are params in order to support loops of the form `for param i in 0..#size` in cases that require unrolling.

[2020-03-18 16:25] bradcray commented on #15250
Note that, `for param i in 0..<size` does support param unrolling in PR #15038

[2020-03-18 18:47] #14896 closed

[2020-03-18 19:32] bradcray commented on #14936
Somewhat related: In PR #15187, I added an execution-time halt in the event that an array of non-nilable classes is resized.  I think of this as a stopgap until we have a compile-time solution.

[2020-03-18 19:33] bradcray commented on #15094
Somewhat related: In PR #15187, I added an execution-time halt in the event that an array of non-nilable classes is resized.  I think of this as a stopgap until we have a compile-time solution.

[2020-03-18 19:42] ben-albrecht commented on #15094
Thanks @bradcray!

Do you think we should keep this issue open until then?

[2020-03-18 19:48] bradcray commented on #15094
Yeah.  I think of this issue as essentially being blocked by that oldy-but-goody, issue #10911.

[2020-03-18 20:18] omar-3 commented on #15230
I don't follow why "numPermutations" would be overkill. But I managed to get it working with ```forall``` like you said.

[2020-03-18 20:29] bradcray commented on #15230
Again, with the caveat that I don't know much about your work:

Isn't the number of permutations for an n-element array something like `n!`?  So if I only have 4, 16, or 32 cores, that's going to create a lot more tasks than I have cores to run them on if my array has more than 4 elements?  And if it's an array of significant size, the number of tasks is going to blow up (where the concern about o

[2020-03-18 20:45] omar-3 commented on #15230
ahh I see your point now, and that is absolutely true. Thank you for your prompt answers.

[2020-03-18 22:02] bradcray opened #15255 "Internal error when adding imports to certain standard modules"
It seems that we have a bug in `ensureRequiredStandardModulesAreParsed()` and related logic in the compiler which prevents certain imports from being added to the standard modules.  This seems to trigger when our built-in modules require the module but the user code does not.  To reproduce:

1) Add `import Sort.ShallowCopy;` to partition() in modules/packages/Sort.chpl at line 909:

[code]

2) Com

[2020-03-18 22:02] bradcray commented on #15255
@lydia-duncan: This shows how to reproduce the case we were chatting about.

[2020-03-18 22:13] lydia-duncan commented on #15255
Noting here so I don't lose the thoughts:
The code in that function is intended to trigger the parsing of internal module files.  A nested module import is difficult to determine the source file of at parse time, due to not having resolved the call expression needed to indicate it.  However, we will need to know what file the indicated module lives in, in case of:
- the nested module being the onl

[2020-03-18 23:08] e-kayrakli commented on #14971
My two cents: I am in favor of the last option "Allowing commas outside the {}".

In the example given there, I'd probably choose to separate those into two imports, but in my view it is a stylistic choice that shouldn't be imposed by the compiler, and it wouldn't bother me to some import statements like that. If it gets too complicated and the programmer doesn't do a good job of formatting that s

[2020-03-19 13:36] mppf commented on #14904
PR #15249 adds support for `import this.SubModule;` and `import super.SiblingModule;`

[2020-03-19 14:25] mppf opened #15261 "problem with uses in nested scopes"
After PR #15252 there are problems compiling code like this:

[code]

This pattern is extracted from Arkouda and HDF5.

[2020-03-19 14:31] RisingGeek commented on #13578
Can I work on this?

[2020-03-19 14:34] sriramsk1999 commented on #13578
Sure. #14311 might be of some help :)

[2020-03-19 14:59] #14904 closed

[2020-03-19 15:14] ronawho commented on #11106
Since switching to I/O to use an atomic spinlock in https://github.com/chapel-lang/chapel/pull/15015, I can no longer reproduce the fileio.chpl failure.

However, test/runtime/configMatters/comm/cache-remote/acqrel-sync.chpl fails with and without `--cache-remote` and I believe that's the same core issue (qthreads sync MCM issues under arm/aarch)

[2020-03-19 17:29] lydia-duncan commented on #6029
With #15137, I feel better about the tests of `--author`.  `--process-used-modules` still needs more tests, though, so not closing just yet

[2020-03-19 17:57] mppf opened #15265 "should reduntantly named modules in import work?"
Should something like `import Library.Sub.Sub;` compile or be an error?

[code]

[2020-03-19 17:58] #15261 closed

[2020-03-19 18:02] bradcray commented on #15265
I'd think "error."  Is there a compelling argument for the opposite?

[2020-03-19 18:29] mppf commented on #15265
I'm not sure about compelling but one might argue that within `Sub`, the symbol `Sub` refers to that module, and so is visible in there, and that is what `Sub.Sub` is seeing.

I don't have a strong opinion about this either way but it is odd.

[2020-03-19 18:33] bradcray commented on #15265
An implication of allowing it would be that the same `import` would have two different behaviors depending on whether `Sub` contained an additional submodule named `Sub` or not.

What's the behavior on master today?

[2020-03-19 18:36] lydia-duncan commented on #15265
If I remember right, we don't allow this for use statements.

[2020-03-19 18:51] mppf commented on #15265
In the 1.20 release, the following program compiled just fine:

[code]

Meaning I think we have historically allowed it.

[2020-03-19 19:18] bradcray commented on #15028
Don't interpret the following as advocating that we take all three operators for now, but before I forget:

It seems like lower-/both-open intervals could be useful in some domain situations like:

[code]

The following would take more work (since I'd previously only proposed supporting open intervals on ranges that have bounds), but you could also imagine using these to express interesting array

[2020-03-19 19:23] mppf commented on #13536
Note, we don't expect to give the same treatment to parent modules, so parent modules won't need to be used/imported, so the "import is the only thing interacting with module names" Pro does not apply.

[2020-03-19 20:11] mppf commented on #11868
@lydia-duncan - I would have expected PR #15003 to fix this but it does not

[code]

do you happen to know more about this? Maybe we have to adjust the compiler-generated `R.init()` call in some way (say to indicate it comes from module A?)

[2020-03-19 20:24] lydia-duncan commented on #11868
I didn't expect it to fix that, there's no use or import statement to follow when looking for calls.  If we're moving to a world where submodules need to be imported or used, I don't much see the point of fixing it (as the user is going to have to add an import or use, and doing so will resolve the problem)

[2020-03-19 20:36] lydia-duncan commented on #11868
Additionally, I think looking into submodules when there isn't a use or import in the broad way we would need to for class and record methods is dangerous and defeats the point of following imports and uses for those symbols - everything is a submodule of the root module and we'll eventually get up to the root module's scope to look for symbols, so we'd always be looking in every module for method

[2020-03-19 20:50] mppf commented on #11868
Before PR #10363, we used to sortof add an implicit 'use' statement for module mentions like this. It seems to me we would need to go back to doing something like that to resolve this issue if we didn't require submodules be imported/used.

[2020-03-19 20:56] mppf commented on #14961
Can this be closed now that PR https://github.com/chapel-lang/chapel/pull/15149 is merged?

[2020-03-19 20:59] mppf opened #15270 "copy elision and module-scope variables"
Should copy elision be allowed for module-scope variables?

(Spin-off from issue #15012).

It does not seem tractable to allow copy elision for public module-scope variables. However we could consider allowing it for private module-scope variables. (The implementation does not allow it for any module-scope variables, currently).

Suppose we have module `M`:
[code]

Now suppose we have code in anot

[2020-03-19 21:01] mppf commented on #15012
PR #15113 enabled split-init for module-scope variables.
Issue #15270 talks about copy elision (specifically) for module-scope variables.

[2020-03-19 21:01] #15012 closed

[2020-03-19 21:05] mppf opened #15271 "alternative ways to indicate method not provided"
Spin-off from #8065.

There are currently a few stylized ways to indicate a type is not copyable or assignable (using `where false` on the `init=` or a `compilerError` in the `init=`). However we might prefer to have alternative ways to do this.

### C3 new syntax

e.g. `proc init=(other) = none` (or something)

Pros:
 * new syntax can give us a general structure to provide pure virtual methods (#

[2020-03-19 21:05] bradcray commented on #14961
Definitely!  Thanks Engin!

[2020-03-19 21:05] #14961 closed

[2020-03-19 21:07] mppf commented on #8065
#15271 contains the remaining open questions. The other elements are addressed in PRs #14887 and #14956.

[2020-03-19 21:07] #8065 closed

[2020-03-19 22:19] bradcray opened #15272 "Should Chapel add support for other open-interval range forms?"
PR #15038 added support for open-interval ranges of the form `lo..<hi`.  This issue is spun off from #15028 to capture the remaining question of whether we should extend this support to also include open-low and open-both range forms, like: `lo<..hi` and `lo<..<hi`.  I'm not advocating strongly for this, but wanted to capture the tradeoffs, particularly as users start making use of the ranges.

Ar

[2020-03-19 22:20] bradcray commented on #15028
I've spun the leftover pieces of this relating to low- and both-open intervals to a new issue #15272 in order to close this one since we've added support for the upper-open intervals.

[2020-03-19 22:32] #15028 closed

[2020-03-19 23:23] #14955 closed

[2020-03-20 00:27] cassella commented on #15164
In case this aspect's been lost since #7880, case 1 applies not just when the default values of arg are param functions, but also when they're params, or even plain old int literals.  When I change the definitions here to `Parent.method(arg: int = 0)` and `Child.method(arg: int = 1)`, I get the same results as Case 1, as written above,

[code]

(See also #14167)

[2020-03-20 05:35] klakho0400 commented on #15219
@priyank23  are you working on this

[2020-03-20 06:24] bradcray commented on #13536
PR #15278 takes a quick stab at this if anyone wants to see the impact, think about it, weigh the tradeoffs, etc.  I haven't put in the effort to get all tests working, but have gotten most that aren't specifically wrestling with corner cases of visibility and scoping working.

[2020-03-20 15:53] priyank23 commented on #15219
@klakho0400 Yes

[2020-03-20 16:41] ankingcodes opened #15280 "fix Mason docs"
### Summary of Problem
Documentation regarding `mason init --name` not rendered properly.
![err](https://user-images.githubusercontent.com/40923324/77185163-eeda3b80-6af6-11ea-9b8d-14ddacb0723b.PNG)

[2020-03-20 17:06] #15280 closed

[2020-03-20 17:16] bradcray commented on #15265
The more I think about this, the more I think we should consider it a bug.  I don't think the "symbol is visible, so you can refer to it" argument holds for me because taking it to an absurd level, it might suggest that the following is legal:

[code]

Maybe more to the point, it seems like the intention of the `.` operator in Chapel is to dig more deeply into a nested structure/something, so to h

[2020-03-20 17:18] mppf commented on #15265
Or this:

[code]

[2020-03-20 17:29] bradcray commented on #15270
Currently, I feel fine about not doing copy elision for module-scope variables.  I think I'd want a very compelling use case showing a huge amount of benefit in order to justify putting effort into it.

[2020-03-20 17:51] parthsarthiprasad commented on #5908
I know there has been considerable improvement in the field but plugin has some bugs I suppose in differentiation in string delimiters ?
![image](https://user-images.githubusercontent.com/44730599/77191749-6b721780-6b01-11ea-89f8-aae5ffbd053e.png)

[2020-03-20 18:06] bradcray commented on #11868
Discussing with Michael, he proposed that if any mention of a sub-module caused an `import this.submodule;` to be inserted by the compiler at that point it would fix this issue without breaking anything else.  That seems compelling to me (though of course, we wouldn't want to insert this every time, just if it was necessary, or maybe once).

[2020-03-20 18:19] ben-albrecht commented on #5908
@parthsarthiprasad - which editor (and if you know, highlighter) are you using?

[2020-03-20 18:28] parthsarthiprasad commented on #5908
It's VSCode and using tmbundle using `tmlanguage`

[2020-03-20 18:31] parthsarthiprasad commented on #5908
Since I have 0 information about this , but guessing , adding a similar block will be the solution for this right ?
![image](https://user-images.githubusercontent.com/44730599/77195029-fa356300-6b06-11ea-8079-bb716240979b.png)

[2020-03-20 19:04] ben-albrecht commented on #5908
Unfortunately, I don't have enough experience with tmbundle to make any specific suggestions myself. I would suggest trying it out and opening a PR if you are able to find a fix.

[2020-03-20 19:09] mppf opened #15282 "Using 'use' to re-export"
`use` statements don't currently allow providing an alternative path to a symbol for qualified access. This means that `use` wouldn't have the expected effect when used for re-exporting if the module is `import`d or `use only`d. Note though that these patterns are expected to be possible to write with import.

[code]

I would expect the `B.x` or `B.A.x` calls above to function.

[2020-03-20 19:10] ben-albrecht commented on #11439
This thread is fine. The big thing is that we need other core developers to agree to the design before pursuing it.

[2020-03-20 19:37] bradcray commented on #14966
@mppf: For the temporary workaround, that's something we could do anytime, independently of the release cycle, right?  (i.e., its a change to the LinuxBrew code base, not ours?).

[2020-03-20 19:40] mppf commented on #14966
@bradcray - yes

[2020-03-20 20:04] mukul-mehta commented on #6329
Hi!
Could I work on the logging module? I'd also like to work on the argparse module.

[2020-03-20 20:06] BryantLam commented on #15282
Do we want to allow `use` to re-export? It seems potentially unsafe to allow non-obvious / hidden symbol conflicts. (It doesn't help that Rust developers are familiar with `pub use` for re-exports.)

[2020-03-20 20:08] mukul-mehta commented on #15045
If the issue is still open and no progress has been made so far, could I work on this issue?

[2020-03-20 20:13] RisingGeek commented on #15045
@mukul-mehta I am working on this issue. Feel free to work on this if you have a solution.

[2020-03-20 20:15] mppf commented on #15282
@BryantLam - since we have both `use` and `import` it seems that they ought to work together. You might imagine that one person wrote `module B` (as a library) and then a different group (which is less of a fan of `use`) is trying to use it in `Program`.

These would already be possible, even with import. People wanting to have more control of namespace will need to use `import`. This issue only a

[2020-03-20 20:20] BryantLam commented on #15282
Okay I understand now. This is okay. :+1:

[2020-03-20 20:20] maheshkulkarni123OS commented on #13137
@krishnadey30 i made a PR.
please review it.

[2020-03-20 20:49] ben-albrecht commented on #6329
@mukul-mehta - there is actually a logging mason package: https://github.com/ajoshpratt/chpllog

You might be able to contribute to that package though.

[2020-03-20 20:56] #15009 closed

[2020-03-20 21:33] ben-albrecht commented on #6329
That would be great.

[2020-03-20 21:37] ben-albrecht commented on #15045
You are welcome to work together or separately on solutions. Contributing a performant timsort has stumped many Chapel contributors in the past :)

[2020-03-21 12:09] ruchir-123 opened #15289 "Unable to build Chapel Compiler using make command using Cygwin in Windows"
This is what it says:

$ make
Making the compiler...
make/Makefile.compiler.head:36: /home/HP/chapel-1.20.0/make/Makefile.base: No such file or directory
mingw32-make[2]: *** No rule to make target '/home/HP/chapel-1.20.0/make/Makefile.base'.  Stop.
Makefile:75: recipe for target 'compiler' failed
mingw32-make[1]: *** [compiler] Error 2
Makefile:60: recipe for target 'comprt' failed
mingw32-make:

[2020-03-22 03:21] bradcray commented on #13536
I'm currently leaning against requiring submodules to be used/imported in order to access their names.  It feels unnecessarily laborious, and there will always be something within the parent module to indicate the submodule's name and that it is there (either its declaration or a statement that brings it in from a file).  So adding the requirement that it also be used/imported feels like busywork

[2020-03-22 03:23] bradcray commented on #13528
My current thinking here is that it should  be possible to publicly or privately use or import a public module; and that it should be possible to publicly use a public module; but not to publicly use a private module.

[2020-03-23 10:54] Rapiz1 commented on #15289
It's weird to encounter such an error. Can you check that `/home/HP/chapel-1.20.0/make/Makefile.base` does exist?

[2020-03-23 13:43] priyank23 opened #15294 "Add procedure front() and back() to LinkedList standard module"
### Summary of Problem
I think there should be a procedure that returns the first and last element of the LinkedList.

[code]
The above code should print
[code]

[2020-03-23 14:31] ruchir-123 commented on #15289
Yes, it exists

[2020-03-23 15:31] bradcray commented on #15294
`.first` or `.first()` and `.last` or `.last()` would be more consistent with other Chapel collections, I believe.

[2020-03-23 15:42] bradcray commented on #15289
Hi @ruchir-123: Thanks for filing this.  Like @Rapiz1, I'm not sure what to suggest if that file exists since the error is complaining that it does not.  Does your cygwin installation work for you otherwise?

Also, if you are using Windows 10+ and have the Windows bash shell, that would almost certainly be a simpler way of using Chapel that will also perform much better.

[2020-03-23 16:44] priyank23 commented on #15294
Definitely!

[2020-03-23 16:47] Aniket21mathur commented on #15294
@bradcray @priyank23 I am in favor with the front element, but is there any point in having the last element? (keeping in mind the implementation of linked list)

Thanks!

[2020-03-23 16:54] bradcray commented on #15294
@Aniket21mathur: From a design perspective you mean?  I think the arguments might be (a) symmetry with other collections, (b) someone curious to know what the last element was, (c) manually iterating through the list and needing to know where to stop (?).

[2020-03-23 17:14] Aniket21mathur commented on #15294
@bradcray I think I mixed chapel implementation with C++ implementation. I apologise for that. I was thinking in the direction to only have the head pointer of the list and iterate through it till we have a null.

The arguments you proposed are valid, and I agree with them 👍

[2020-03-23 18:12] priyank23 commented on #15294
@bradcray The module also lacks any procedure for searching. Also, can we add a procedure for sorting as well?

[2020-03-23 18:26] bradcray commented on #15294
No strong opinions here.  Searching seems like an obvious thing to add, and I'd look at the routines in the Search module for inspiration.  I expect sorting a linked list to perform pretty abysmally and don't think that's a common case to worry about (in fact, using linked lists at all in Chapel is probably not a particularly common case).  I.e., it might be "nice to have" but doesn't seem essenti

[2020-03-23 19:47] mppf commented on #15164
@benharsh - did you make a PR making these give an error for now? I can't remember where it ended up.

[2020-03-23 20:02] benharsh commented on #15164
I did not end up making a PR for errors. I ran into a problem where the compiler would issue duplicate errors for the first case, and was unable to find a way to detect the second case before having to move on to other tasks.

[2020-03-23 22:06] benharsh commented on #14763
PR #15303 has resolved this for Block and Cyclic, but not for Stencil (yet).

[2020-03-23 22:17] #14840 closed

[2020-03-23 23:05] Liannium commented on #15294
I would like to work on adding the first() and last() functions, as well as a search function. Does anyone have any advice on this?

[2020-03-23 23:28] bradcray commented on #13536
Today we effectively decided not to pursue this.

[2020-03-23 23:28] #13536 closed

[2020-03-24 04:09] bradcray opened #15308 "import can't name a private parent module symbol"
### Summary of Problem

It seems that `import` can't be used to name a private symbol in a parent module even though (currently) the symbol can be referred to directly.  This seems to be new as of a PR today.

### Steps to Reproduce

**Associated Future Test(s):**
[`test/visibility/import/importPrivateParentSym.chpl`](
           https://github.com/chapel-lang/chapel/blob/master/test/visibility/im

[2020-03-24 04:12] bradcray opened #15309 "`import super.x` can't refer to a member `x`, only module `x`."
### Summary of Problem

At present, it seems that `import super.x` can't be used to refer to a variable `x` in a parent module, only to a module `x` in that parent module.  This seems like a likely oversight in the implementation (?).

### Steps to Reproduce

**Associated Future Test(s):**
[`test/visibility/import/superDotVar.chpl`](
           https://github.com/chapel-lang/chapel/blob/master/tes

[2020-03-24 05:06] priyank23 commented on #15294
@Liannium  I think using iterative approach would be much better performance wise.

[2020-03-24 05:41] bradcray commented on #15294
It seems you could write a simple search routine fairly easily by writing something like:

[code]

[2020-03-24 13:56] priyank23 opened #15313 "Add procedure merge(m: Map) to the Map module."
### Summary of Problem

I think, we should have a function to merge two maps together.

[code]
The above code should print:

[code]

[2020-03-24 15:45] mppf opened #15314 "visibility of private use in submodules using parent"
For a regular variable, making the variable `private` will allow submodules to see it (even if the parent module must be imported to be available). But making a variable available with a `private use` will not allow submodules to have access to the same variable even if they `use` the parent module (after PR #15312).

This comes down to a question of how to treat `private` in `private use`/`privat

[2020-03-24 16:35] bradcray commented on #15313
I'm not opposed necessarily, but my standard question in cases like this is: Is there precedent for such an operator in other popular / comparable languages?

[2020-03-24 16:46] benharsh commented on #14763
Stencil handled in #15306.

[2020-03-24 16:46] #14763 closed

[2020-03-24 16:48] bradcray commented on #15314
I prefer not giving `sibling` access to symbols from `child` that `parent` received access to via a `private use` or `private import` (option 2) for the following reasons:

* Children still have the ability to access their sibling modules' symbols via their own `use` or `import` statements.  By contrast, if we didn't permit a child to see its parent's private symbols, there's no recourse short of

[2020-03-24 17:20] priyank23 commented on #15313
@bradcray none that I know of, but I think it would be quite useful to the end-users.

[2020-03-24 18:02] lydia-duncan commented on #15314
I prefer approach 1.  I think the organization of submodules is more likely to reflect similarities between the symbols within the submodule, rather than necessarily that they should be harder barriers.  Consider the following scenario:
[code]
In this scenario, HelperFuncs is a nice place to put all the helper functions required by the parent and its submodules.  In this case, you'd want a private

[2020-03-24 20:00] Liannium commented on #15294
Made a PR for font, back, and search. If nobody minds, I would like to implement a sorting algorithm as well.

[2020-03-24 21:23] bradcray commented on #15314
I'm not sure I agree with this perspective.  For example, I think it's been proposed that all standard modules should potentially be submodules of a module named `standard` or `std`, but that wouldn't imply that there's a similarity between `Map` and `Regexp` just because they share a parent module.

My concern with your example-based argument is that it focuses more on convenience than on express

[2020-03-24 21:36] lydia-duncan commented on #15314
But distinguishing between "I want this to be visible to outer modules" and "I only want this to be visible to my submodules" seems useful.  Does that imply that we should look at ways to distinguish between these strategies (e.g. `protected use`)?

[2020-03-24 21:46] SamuelHoward opened #15318 "Ensuring input given to Matrix() is accurate when given arrays as arguments"
### Summary of Issue

Note: This issue is base on a TODO in chapel/modules/packages/LinearAlgebra.chpl on line 383

The current Matrix() function in the LinearAlgebra package is very versatile. One of the most intuitive uses of Matrix() is when giving it multiple 1-dimensional arrays of equal size and a type:

[code]

Naturally, when given arrays that are not uniform, Matrix() fails:

[code]

It w

[2020-03-24 22:11] bradcray commented on #15314
I'm arguing that private module-scope code is an appropriate way to say "I only want this to be visible to my submodules" and that there's no additional semantic benefit to pushing such code into a submodule if nobody has to actually name that submodule to get at it.

[2020-03-24 22:13] bradcray commented on #15318
This looks like a job for @ben-albrecht (already done for today, but he should be back tomorrow).

[2020-03-24 22:29] parthsarthiprasad commented on #15095
@raktim2015 @e-kayrakli I wanted your help in this regarding find all , I was also following the issue and two possible implementation algorithm that seems to mind are KMP and boyle moore horspool algorithm , Which quite work the same way in preprocessing , but horspool might result in faster result if we run benchmarking test for longer bytesequences .

KMP
Algorithm :- prefix function with KMP.

[2020-03-24 22:31] lydia-duncan commented on #15314
There's the mental benefit of having it neatly filed away in a module for general helper functions as opposed to scattered through out the parent module, or arbitrarily sorted to the beginning or end of it.  It all comes down to code organization preferences.

I probably should have said that *I* have occasionally used submodules as a way to sort common helper routines for a library

[2020-03-24 22:36] bradcray commented on #15314
To physically separate a set of routines without putting them into their own namespace, maybe what you want is the ability to [`include` other files](https://github.com/chapel-lang/chapel/issues/10909) in a way that's independent of submodules?

[2020-03-25 15:45] ben-albrecht commented on #15318
@SamuelHoward - Thanks for tackling this. A few thoughts:

As the comment implies,  I don't think this is possible in Chapel today, so your solution is reasonable.

Note that there is some overhead when creating tasks for a `forall` loop, such that it's generally not worth creating the `forall` unless the inner operation is expensive and/or the array is large (e.g. >1MB). To amortize the cost of t

[2020-03-25 16:12] SamuelHoward commented on #15318
@ben-albrecht - Thank you for your comprehensive response.

What you said makes sense. I will make a corresponding PR shortly. I will comment here with a link to the PR.

Note: I submitted a CLA so that I may contribute. It hasn't been processed quite yet though.

[2020-03-25 19:05] SamuelHoward commented on #15318
Here is the PR #15322

Also, my CLA has fortunately been processed as of now.

[2020-03-25 23:10] bradcray opened #15327 "Update chpldoc `usage` section to include `import`"
Now that we have an `import` statement, we should probably update the `chpldoc` usage section generated for each module to have two lines, for example:

[code]
or:
[code]

[2020-03-25 23:11] bradcray commented on #15327
I labeled this as "easy", but I think there's at least a minor design hurdle to decide how to format the messages above...

[2020-03-25 23:14] bradcray commented on #5491
If anybody remembers this issue anymore, I've updated my branch to use the following names based on feedback here and on the PR itself:
<img width="619" alt="Screen Shot 2020-03-25 at 4 11 35 PM" src="https://user-images.githubusercontent.com/7536222/77594267-5acff180-6eb3-11ea-9ee1-5429b38ffb5e.png">

I'd hoped to get this PR merged by this past Monday, but then `import` and modules took over my

[2020-03-26 00:02] ben-albrecht commented on #15318
Closing now that #15322 is merged. Thanks @SamuelHoward !

[2020-03-26 00:02] #15318 closed

[2020-03-26 00:10] bradcray commented on #15103
For all those still following this issue (plus @mppf who voted but may not be following it):  There was a sufficiently large difference of opinion on the question that I didn't end up pursuing it for this release.  But I'm wondering whether we should put a `--warn-unstable` warning in for uses of `.domain` in user code in case we decide to pursue it in the future.

Tradeoffs:
* doesn't affect most

[2020-03-26 00:27] bradcray commented on #15155
(I've received these settings offline)

[2020-03-26 00:31] bradcray commented on #15155
(That said, I was unable to reproduce the error with the given settings)

[2020-03-26 00:55] e-kayrakli commented on #15155
I am wondering if explicitly setting encoding in that script helps. There maybe other instances where this change needs to be made, but if the error mode changes at least, then we may be on the right track.

Here is how that change should look like:

[code]

Alternatively you can check this branch: https://github.com/e-kayrakli/chapel/tree/explicit-encoding-utils-py

@intractabilis -- if you can t

[2020-03-26 03:53] souris-dev opened #15333 "Addition of isEmpty() to LockFreeStack"
### Summary of Problem
I think it would be great to have a method to check if the stack is empty or not without having to call the `pop()` function on it in case of a LockFreeStack.

Currently, the `pop()` function returns a tuple of the form `(a: bool, b: type)` where `a` is `false` if no more elements are left.
But there is no function like `isEmpty(): bool` to check if the stack is empty or not

[2020-03-26 08:38] Aniket21mathur commented on #6329
@ben-albrecht I like to work on the gzip library, is it available?

[2020-03-26 14:05] soumyalahiri commented on #10761
@bradcray it's been almost a year since the last PR on this issue and it's still open. If no one is working on it right now, I'd like to look into this issue.

[2020-03-26 14:10] Rapiz1 commented on #15333
As far as I am concerned, the design goal of a lock-free stack is to support concurrent operations. `while (!stack.isEmpty()) stack.pop();` is simple but could be wrong when there are multiple threads.
When you check `!stack.isEmpty()`, yes, it's not empty. But when you try to pop from the stack, the stack could have been poped by other threads and now it's empty and you get nothing. So I don't se

[2020-03-26 14:35] immadisairaj opened #15334 "Single line comments blocks docs description of file.reader and file.writer in IO module"
From the IO module in `modules/standard/IO.chpl` at the methods `file.reader` and `file.writer` the description for chapel docs is being blocked by single line comments.

for example lets take `file.reader`
Docs link: [link](https://chapel-lang.org/docs/master/modules/standard/IO.html#IO.file.reader)
Source code:
[code]

Possible solution might be to move the single line comments inside the method

[2020-03-26 14:35] mppf opened #15335 "error with split init of const variable through out intent"
I was expecting the following program to compile and run but it produces an lvalue error instead.

[code]

[2020-03-26 14:49] SamuelHoward opened #15338 "Implementing solve() function in LinearAlgebra package targeting tridiagonal matrices"
### Summary of Feature Request

Currently, the LinearAlgebra package has a general `solve()` implementation to solve the linear system 'A * x = b' in the general case, as well as `solve_triu()` and `solve_tril()` for the special cases where A is an upper or lower triangular matrix respectively. I think it would be beneficial to implement a function `solve_triag()` that would solve 'A * x = b' give

[2020-03-26 15:13] ben-albrecht opened #15339 "Filter srun error messages by default in start_test/sub_test"
Any test that halts and runs on XC configuration requires a `PREDIFF` to filter out the srun error message accompanied by the halt:

[code]

E.g. [`lulesh/PREDIFF`](https://github.com/chapel-lang/chapel/blob/master/test/release/examples/benchmarks/lulesh/PREDIFF)

This is a feature request for start_test/sub_test to filter these errors automatically without a PREDIFF.

[2020-03-26 15:16] lydia-duncan commented on #15334
Well spotted!  Would you be willing to open a PR to fix this?

[2020-03-26 15:26] ben-albrecht commented on #15339
@gbtitus reminded me that the following setting should filter  srun errors:

[code]

We currently aim to include this in most XC testing, but may have missed some cases (e.g. llvm).

[2020-03-26 15:30] gbtitus commented on #15339
Yes, we should arrange to set `CHPL_SYSTEM_PREDIFF=$CHPL_HOME/util/test/prediff-for-slurm-srun` for any nightly testing that uses slurm-based launching.

[2020-03-26 15:36] immadisairaj commented on #15334
Yes, I would like to open a PR.

[2020-03-26 15:48] mppf commented on #13524
PR #15279 implemented something close to this.

[2020-03-26 15:48] #13524 closed

[2020-03-26 15:49] mppf commented on #10946
PR #15279 implemented something close to the alternative design in #13524.

[2020-03-26 15:49] #10946 closed

[2020-03-26 16:04] bradcray commented on #10761
I'm not aware of any need to start afresh on this issue independently of PR #12768.  I think where things are stalled are (1) my not having the cycles to invest on the PR and (2) lack of discussion on the design (e.g., what should the enum values be named?).  I think I'd suggest starting into a new effort rather than getting tangled up in this one, which is completely my fault for being stalled.

[2020-03-26 16:14] ben-albrecht commented on #6329
AFAIK, yes. That would be great!

[2020-03-26 17:53] parthsarthiprasad commented on #6329
@ben-albrecht Is work on support for file formats available?
 I've worked on integrating jpeg support for chapel as personal project once.

[2020-03-26 18:28] ronawho commented on #5491
I find the current interface to be pretty clunky to actually use. If if I want to check at compile time for a feature that's only in say 1.21 I have to do something like:

[code]

I think the interface I'd prefer is a record, but then we'd need compiler support for param-ness. The way I'd want to be able to check versions is something like:

[code]

[2020-03-26 18:35] bradcray commented on #5491
Does the `versionTuple` not give you what you want?  I think in previous comments, @gbtitus and @dmk42 were thinking that it would support this sort of comparison through normal `<` and `>` operators.  E.g. `if versionTuple > (1,21,0) then ...`.

[2020-03-26 18:43] ronawho commented on #5491
Right, tuple doesn't give you param-ness and you always have to specify the full version `(1, 21, 0)` instead of just `(1, 20)`

[2020-03-26 18:45] bradcray commented on #5491
I don't disagree with your comments.  But are you saying "we shouldn't support the ability to reason about versions in Chapel until we have a param collection type?"

[2020-03-26 18:52] bradcray commented on #5491
A user could write `param` utility routines to keep their code cleaner.  Or we could introduce such routines with more design effort.

[2020-03-26 19:03] ronawho commented on #5491
I just meant the current interface seems cumbersome to me. It doesn't strike me as something I'm particularly fond of, so I'd have a hard time justifying trying to cram it into this release.

[2020-03-26 19:04] #15334 closed

[2020-03-26 19:06] ronawho commented on #5491
Looking at it a little more, would a record require compiler machinery? Something like the following seems to work:

[code]

---

I would like to be able to write that on types so it's something like:

[code]

But I _think_ `<` is interpreted as "is subtype" instead of resolving to that `proc <` so that doesn't work.

[2020-03-26 19:21] bradcray commented on #5491
I'm fine with that, but would like to merge it to master just after the release if not before.

And you claim not to know Chapel.. :)

I think you must be right.  With  more effort, it seems like we could try to resolve `<` for a pair of types if there's an explicit overload and then fall back to the compiler-provided "is subtype" interpretation if it doesn't resolve.  But then that raises a quest

[2020-03-26 19:26] lydia-duncan opened #15347 "Compiler does not parse library module files if only a submodule is used/imported"
### Summary of Problem
parser.cpp's `ensureRequiredStandardModulesAreParsed` currently ignores uses and imports of nested modules, due to needing to resolve the full path (which hasn't happened at parse time).  In the internal/standard/package modules today, this is not a problem because we always use or import the top level module as well when we need it, meaning that we have parsed the necessary

[2020-03-26 19:38] ronawho commented on #5491
Yeah, the `new` seemed a little out of place to me so I was trying to avoid that.

[2020-03-26 20:05] bradcray commented on #15103
@ben-albrecht: Are you saying "yes, let's merge this" or "yes, these tradeoffs are tricky to decide between"?

[2020-03-26 20:10] ben-albrecht commented on #15103
My 👍 was aimed at this making it unstable to reserve the right to remove it.

[2020-03-26 22:18] ben-albrecht commented on #6329
@parthsarthiprasad - I think so. A standalone jpeg package would be nice.

[2020-03-26 22:37] lydia-duncan opened #15351 "Import statement todos"
The following are things I'd like to accomplish on import statements:
- [ ] Merge more UseStmt and ImportStmt similar code into shared code
  - providesNewSymbols and applyOuter* might be good candidates (Engin suggested something like `std::vector<Symbol *> ImportStmt::differentSymbols(ImportStmt *)` and `intersectSymbols`)
- [ ] add more tests
  - [x] using renamed.oldname for single symbol unqu

[2020-03-26 22:37] ben-albrecht commented on #15338
@SamuelHoward - it would be beneficial to support both an implementation that wraps the appropriate LAPACK routine and a native Chapel implementation. I think it would wise to first implement the LAPACK-backed version, as that should be significantly less effort to get a working implementation. The `scipy` implementation and tests can serve as some guidance for this.

That said, you are welcome to

[2020-03-26 22:57] bradcray commented on #15351
Should/can issues #15308, #15309, https://github.com/cray/chapel-private/issues/886, #15265 be added to this list as well?

[2020-03-26 23:00] lydia-duncan commented on #15351
886 should be resolved when I merge my open PR after final testing comes back, but other than that, yup!

[2020-03-26 23:16] ben-albrecht commented on #15339
I think we can close this with https://github.com/chapel-lang/chapel/pull/15346 unless @ronawho or @gbtitus disagrees.

[2020-03-26 23:16] #15339 closed

[2020-03-26 23:26] bradcray opened #15353 "Remove enum->bool, enum->float casts?"
Twice this month, I've been surprised to (re-)realize that we support enum->bool and enum->real/imag/complex casts.  These feel like they reflect our early C / fast-and-loose philosophy more than our current mindset, and my reaction is that we should retire the support.  Would anyone object to doing so?  Is casting from an enum to a non-integer value sufficiently useful?  (the workaround being to

[2020-03-26 23:32] bradcray commented on #15353
PR #15354 adds a `--warn-unstable` warning for this if people agree that it seems unlikely to be something we'd want to support in the long-term.

[2020-03-27 00:53] ankingcodes commented on #7104
@ben-albrecht

Is this related to #13332 ?

[2020-03-27 00:55] ankingcodes commented on #13332
@ben-albrecht could you clarify if this is related to Mason / TOML ?

[2020-03-27 05:29] bradcray commented on #5491
I like the param record idea.  I'll try that in my next draft.

[2020-03-27 12:31] ben-albrecht commented on #7104
No, it is supporting quoted keys, such as described in the [TOML spec](https://github.com/toml-lang/toml#keys).

I'm actually not sure about this one. Does having a comment on the last line of the file currently produce an error? @Spartee may have a better idea.

[2020-03-27 12:33] ben-albrecht commented on #13332
@ankingcodes -  I have not yet distilled it far enough to determine if it's due to TOML or mason specifically, but I would say it's a TOML issue if I had to guess.

[2020-03-27 15:04] ankingcodes opened #15364 "Add date / time tokens in Toml Module"
This came up in developement of #15228.
Inline comments in a TOML module were treated as newline/ fullline comments due to which tests of date / time which had inline comments got passed. eg :
[code]
was treated as
[code]
and the token for the timestamp would be ` (06:30:30.1234567)`.
But with the merge of #15228 ,
inline comment would not be considered as fullline and the token would be `(06:30:3

[2020-03-27 15:05] ankingcodes commented on #15364
@ben-albrecht I'll take this one ! 👍

[2020-03-27 17:42] OmarElawady opened #15366 "List standard module `last()` method modifies the list."
### Summary of Problem

Calling the list `last` method returns a reference to the first element and assigns the value of the last element to it.

### Steps to Reproduce

**Source Code:**

[code]

**Compile command:**
`chpl list.chpl`

**Execution command:**
`./list`

### Configuration Information

- Output of `chpl --version`: chpl version 1.21.0 pre-release (2f36c637a4)
- Output of `$CHPL_HOME/ut

[2020-03-27 18:34] bradcray commented on #15366
The root cause of the bug is a misunderstanding that `ref` declarations in Chapel can be re-pointed at things when in fact once they are initialized, they always refer to the same thing (so appearing on the LHS of an assignment constitutes an assignment to the original thing pointed to).

[2020-03-27 19:06] dlongnecke-cray commented on #15366
Fix for this on the way! https://github.com/chapel-lang/chapel/pull/15369

[2020-03-27 19:57] #15366 closed

[2020-03-27 20:31] SamuelHoward commented on #15338
I agree with what you said about implementing a LAPACK-backed version first.

As for the interface:

I was thinking the proc name could be `solve_tridiag()`, following a similar naming scheme to `solve_triu()` and `solve_tril()`.

The arguments should be similar to the arguments of `solve()`, as we essentially still need the matrix A and the vector b. However, allowing A to be the tridiagonal matr

[2020-03-27 20:46] #14974 closed

[2020-03-27 21:23] ben-albrecht opened #15371 "type for loop"
Feature request for a `type` for loop similar to a `param` for loop. This would be useful for iterating over the types of heterogeneous tuples.

For example:

[code]

would print:

[code]

[2020-03-27 23:16] bradcray commented on #15371
I was telling Ben that I thought doing this would not be too much harder than the heterogeneous tuple unrolling I'd already done.  Just need to find some spare cycles to tackle it.

[2020-03-28 17:06] souris-dev commented on #15327
I would like to work on this issue.

For the design hurdle, I think that one way to go about that is first adding information about the new `import` statement in the Modules primer, and then adding this to the usage section of each module (before or after the standard `use` statement syntax):
[code]
"For more information on the `import` statement, please see: <link>." could also be added with it i

[2020-03-28 17:24] souris-dev opened #15373 "Add procedure `+` overload for List and LinkedList"
### Summary of Problem
I think it would be nice to have an overload of the `+` operator for lists and linked lists that will return a copy that is the result of the second operand being appended to the first one, without changing the contents of the operands (like the `+` for lists in python).

Something that would allow this:
[code]

This should output:
[code]

[2020-03-28 17:30] souris-dev commented on #15333
Yes, you are right about that, I realized that later when I looked into it. I further realized that a simple `list` can also be used as a stack for non-concurrent purposes by just using its `append` and `pop` operations.

[2020-03-28 17:31] souris-dev commented on #15333
Yes, you are right about that, I realized that later when I looked into it. I further realized that a simple `list` can also be used as a stack for non-concurrent purposes by just using its `append` and `pop` operations.

[2020-03-28 17:31] #15333 closed

[2020-03-29 07:44] rahulghangas commented on #15373
By chapel philosophy, the ```+``` operator in this case should be promoted to element-wise addition. So, I think that would be more suited as an operator overload.

Also, an extend procedure already exists which appends a list by the elements of another one..

[2020-03-29 11:49] souris-dev commented on #15373
The `+` operator for element-wise operation would not make sense if the list is of a type that does not have the addition operation defined for them, for example, in case of record types that cannot be "added" per se.

The extend procedure modifies the object on which it is called. What I am proposing, however, is something that would let us have the result of concatenation of the two operands wit

[2020-03-29 17:00] immadisairaj commented on #13982
@ben-albrecht @lydia-duncan I would like to work on this issue.
@ben-albrecht I would like to know the expected output for the above mentioned.
And, in map.keys, I did not encounter any AppendExpr

[2020-03-29 20:13] omar-3 opened #15375 "compilation error when initializating linked list with domain type"
### Summary of Problem

I want to have a list of arrays of certain size, I want the list to be created on run-time. So I try to create the list with the type deduction.

### Steps to Reproduce

**Source Code:**

[code]

**Error:**
[code]

**Compile command:**
chpl foo.chpl

**Execution command:**

**Associated Future Test(s):**

### Configuration Information

- chpl version 1.21.0
- clang version

[2020-03-29 21:36] chris980 commented on #10152
Hi,
Could you take a look at this [PR,](https://github.com/chapel-lang/chapel/pull/15376) please? Thanks in advance

[2020-03-30 05:38] cassella commented on #15375
A few more thoughts:

That message is only a note, so the program compiles.  It crashes when run:

`foo.chpl:4: error: attempt to dereference nil`

Compiled with developer mode, the line given is in `buildArray()`,

`$CHPL_HOME/modules/internal/ChapelArray.chpl:1404: error: attempt to dereference nil`

[code]

`default_runtime_temp` is created in functionResolution.cpp, `createGenericRecordVarDefa

[2020-03-30 15:12] lydia-duncan commented on #13982
Sure, that'd be great! (though I should mention that code freeze is today, so we're unlikely to merge the result until after the branch is cut)

[2020-03-30 15:25] ben-albrecht commented on #13982
I am not sure actually. I just documented the problem in this issue. One way to approach this is to distill these render errors down into a common denominator. From there, we can discuss how that minimal reproducer should be rendered with `chpldoc` and then have those rules apply to the more complicated cases mentioned in this issue.

I believe this one has been `pragma "no doc"`'d so it no longer

[2020-03-30 16:14] ty1027 commented on #15373
Doesn't the `+` operator become possibly confusing when used for lists and arrays at the same time? The following example (in Python) may be a bit artificial, but I am afraid similar confusion might happen even for Chapel (if the meaning of `+`is extended more and generics are involved).

[code]

For comparison, some other (statically typed) languages use different symbols for concatenation (like

[2020-03-30 17:11] bradcray commented on #15289
I'm not sure what more we can do here without more information, as this doesn't appear to be a Chapel issue.  Closing for now, but the user can re-open if the problem persists and more information can be provided.

[2020-03-30 17:11] #15289 closed

[2020-03-30 18:01] immadisairaj commented on #13982
@lydia-duncan yeah, that is totally fine

@ben-albrecht Sure, I will try that.

yes, it is. But still I'll try to check that too. So, I could get some better understanding

[2020-03-30 18:20] bradcray commented on #15327
Hi @souris-dev: I agree that we need to add documentation on `import`, and that is currently already on  our TODO list.  I would suggest not having every chpldoc'd module point to that documentation because I think we need to optimize it for the typical user rather than the beginning user.  Maybe put another way:  If we had every reference to any Chapel feature point to how to learn more about tha

[2020-03-30 21:53] #14146 closed

[2020-03-30 23:23] e-kayrakli opened #15384 "for expressions that use distributed arrays leak on multilocale runs"
The following snippet leaks on multilocale runs:

[code]

`val` inherits `a`'s type, but my guess is that we are not using proper
initialization for the distributed array and thus leak the privatized instances.

Currently, this idiom is used in scans and causes leaks.

[2020-03-31 12:01] priyank23 opened #15387 "Add proc count(elt:eltType): int to the record DistBag in DistributedBag module"
The function to return the frequency of the elements stored in the Bag.

[code]
The above should output ```2``` as the result.

[2020-03-31 12:10] priyank23 opened #15388 "Add proc readWriteThis(ch: channel) for record DistBag in DistributedBag module."
The function to pass the elements stored in the Bag onto a channel.

[code]
Current Output:
```(_impl = nil, _pid = 0, _rc = {_pid = 0})```

The above snippet should output ```[1, 2, 3, 4, 5]``` as the result (not necessarily in that order, taking in account the distributed nature of the record.).

[2020-03-31 13:10] ben-albrecht commented on #15388
I agree. Thanks for filing!

The expected output looks correct to me. Assuming @LouisJenkinsCS (original author) agrees, I consider this an [easy] task.

[2020-03-31 13:21] ben-albrecht commented on #15387
This makes sense to me, as it follows `list.count()` and `array.count()`.

@LouisJenkinsCS - what do you think?

[2020-03-31 13:27] Rapiz1 commented on #15373
I agree with @ty1027 .  This feature does not bring significant convenience to users but brings confusion and potential performance issues.

[2020-03-31 16:04] LouisJenkinsCS commented on #15387
You can do this by just overloading `DistBag` yourself. Perhaps you can add another utility module; I prefer to keep the core file itself minimal.

[code]
[TIO](https://tio.run/##TY7BCsIwEETv@Yo5pggBC14svRQ/wZt4SJOlDYa0pBuLiN8eU0HxsuybHXbGjHomn3NaCCe3cHR9YrKdHhoIMcfJfOTCykwpsCTPOKLM82OmCk8BIBKnGLAri02GcCG4AB7dcgWhbTd7I15C3HVErwe0CLR@H0sXuCpp5aC0tV3yN7lX6vCnyXqDNTomH2T/K1NXVZPzGw)

[2020-03-31 17:32] dlongnecke-cray commented on #14500
So there's a bit of an open design question here.

For arrays as of today, we appear to return a `numpy.ndarray` of elements, which works when the element type is a primitive like an `int64`, but things get more tricky when the element type is a string.

We currently map Chapel `string` to Python `str`. If we wanted to convert an array of strings to a numpy array we'd need to map the Chapel `strin

[2020-03-31 18:04] immadisairaj commented on #13982
While going through the code, I found the following in test files which has the same problem

[code]

[2020-03-31 18:29] bradcray commented on #14500
For the beginner, what is the difference / relationship between Python `str` and NumPy `string_`?

[2020-03-31 18:53] dlongnecke-cray commented on #14500
The Python `str` is the builtin Python string type, which is a kind of Python object. The numpy `string_` is a fixed width byte string where the size is specified at numpy array creation (because numpy arrays are a contiguous block of memory).

When we create a numpy array, we have to use a numpy datatype.

[2020-03-31 20:05] lydia-duncan commented on #13982
Good to know!  I should point out that the place that generates these AppendExpr messages tends to number them (AppendExpr corresponds to the function generating the error message, the number is the placement in the function), so it is entirely possible they are separate cases.

[2020-03-31 20:10] ben-albrecht commented on #14500
I would be happy with option (a) for my use-cases, and think it makes sense as the default behavior. It would be nice to have the ability to opt into option (b) especially if you were using multi-dimensional string arrays. I am not sure how that would be specified in the Chapel code though.

[2020-03-31 20:25] bradcray commented on #14500
What if the Chapel array of strings were a 2D array of strings?  What if a List of Chapel strings became a Python list of Python strings and an array of Chapel strings became a NumPy array of NumPy strings?

[2020-03-31 20:33] ben-albrecht commented on #14500
This could work nicely and would extend naturally to other types as well (a `list(int)` could become a python list instead of numpy array).

[2020-03-31 20:38] bradcray commented on #14500
How are Python lists stored in memory?  Consecutively?  Using linked list nodes?  Using chunks of some sort?

[2020-03-31 20:55] dlongnecke-cray commented on #14500
What about when we return arrays of primitive types such as `int64`? Should those continue to be  mapped to numpy ndarray? Basically a question of consistency.

Also pinging @lydia-duncan for input here.

[2020-03-31 20:56] dlongnecke-cray commented on #14500
I was also thinking such a thing myself, that we could introduce first class support for exporting the `list` type.

[2020-03-31 20:59] ben-albrecht commented on #14500
I believe python lists are stored as a contiguous array of pointers to objects. Appending results in resizing.

I would think so, following the pattern of Chapel array translates to NumPy array, Chapel list translates to Python list

[2020-03-31 21:02] dlongnecke-cray commented on #14500
I updated my above comment after refreshing my browser.

I would feel more comfortable with perhaps exporting an array of Chapel strings as a `ndarray(dt=object)`, where the datatype is any Python object (in this case a Python `str`).

This way we aren't actually converting Chapel `string` to different Python types depending on the context.

[2020-03-31 21:20] lydia-duncan commented on #14500
I've been following the conversation but I didn't feel I had much to add.  I prefer mapping Chapel lists to Python lists and continuing to map Chapel arrays to NumPy arrays.  I should point out that we do accept Python lists for Chapel array arguments at the moment (following the Python type permissiveness stance as much as possible) - if we take the stance of returning Python lists for Chapel lis

[2020-03-31 21:23] bradcray commented on #14500
Based on BenA's description of Python's implementation of List, it makes it sound like it would be a better match for the proposed "vector-style list" that we've discussed asking for a 1D contiguous list-based implementation.

[2020-03-31 21:36] e-kayrakli commented on #15384
This bug also happens in `forall` expressions and is the likely cause of promotion-based leaks, too.

[code]

[2020-03-31 22:29] ty1027 commented on #15373
For more clarification, I think it would be nice to have some syntax like "a [?] b" (where [?] is some operator for list concatenation) in addition to a function like concat( a, b ). But I am not sure if the symbol [?] = "+" is really a good choice here... (though Python is using it). This is partly because some other languages seem to avoid it, e.g.

https://alvinalexander.com/scala/how-to-merge-

[2020-04-01 07:42] immadisairaj commented on #13982
I would like to link the test files for those cases
``type t = [1..10] int;`` : [link](https://github.com/chapel-lang/chapel/blob/master/test/chpldoc/globals/arrayLiteral.doc.bad)
``var x = [i in 1..10] i;`` : [link](https://github.com/chapel-lang/chapel/blob/master/test/chpldoc/globals/arrayTypeAlias.doc.bad)

I would like to know if these to be done or not. else, we can remove those test files I

[2020-04-01 12:21] rahulghangas commented on #15313
I would prefer if this would be done as an overload of the union operator.

[code]

[2020-04-01 14:50] priyank23 commented on #15387
@LouisJenkinsCS That would definitely work. I suggested this to increase the convenience of the end users.

[2020-04-01 15:07] priyank23 commented on #15388
@ben-albrecht If the author has agreed to this issue, can I begin working on this?

[2020-04-01 15:12] lydia-duncan commented on #13982
It looks like the two files you link and the atomicVar case land in at least the same AppendExpr failure mode, though the solutions for them may be separable.  They are definitely still bugs regardless.

I think that's the right path.  We have a separate AST node for CondStmt, which is the statement version.  We just will want to be careful that adding it doesn't cause code to turn up in the docum

[2020-04-01 15:23] immadisairaj commented on #13982
The following also has the same issue of if expression
[code]
[docs link](https://chapel-lang.org/docs/master/modules/standard/Random.html?highlight=appendexpr#Random.RandomStream)

[2020-04-01 16:16] LouisJenkinsCS commented on #15388
Sure, feel free. I'd just overload the record itself and print via a `forall`.

[2020-04-01 16:53] ben-albrecht commented on #15388
@LouisJenkinsCS - is the idea of printing with a `forall` to randomize the order?

[2020-04-01 16:54] ben-albrecht commented on #15388
Yes, I think so.

[2020-04-01 17:27] priyank23 commented on #15388
@ben-albrecht Sure. I'll get it done.

This makes sense as the elements in the bag itself are not in any particular order(I think).

[2020-04-01 19:06] ben-albrecht opened #15394 "Supported types in collections"
This is an issue for tracking currently supported types in collections based on tests checked into the repository.

## Master

✅  = currently works
❌  = currently does not work
🔹 = not expected to work
|                        	| list 	| map 	| set 	| fixed array 	| resized array | assoc array 	| sparse 	| tuple 	|
|------------------------	|------	|-----	|-----	|---------------|---------------|--

[2020-04-01 19:20] ben-albrecht commented on #14500
So to clarify, the proposal is:

[code]

Does this sound right @dlongnecke-cray ?

[2020-04-02 00:36] dlongnecke-cray commented on #14500
That sounds right to me.

However, I think it's probably best to hold off on supporting any more complex/container types until after we've thoroughly explored a more longterm solution for exporting records (and methods on records), which we've rightfully set aside for most of this (last?) release.

So that would mean _yes_ to supporting returning a numpy array of Python `str`, and _let's hold off_

[2020-04-02 07:32] Aniket21mathur opened #15399 "Should isBoundedRange() produce an error for non-range types?"
### Summary of Problem
isBoundedRange functions accept a domain as an argument without throwing an error and return false for a bounded domain

### Steps to Reproduce

**Source Code:**

[code]
returns true, which is expected.

[code]
should either throw an `IllegalArgumentError` or return `true`, but returns `false`

### Configuration Information

`chpl version 1.22.0.67f2aea2ed`

[code]

[2020-04-02 11:40] souris-dev commented on #15327
I understand what you're trying so say with letting people use the search function to look up what it is supposed to do and I'll leave that part out in the usage description.
And as you said, there could be other arbitrary things being imported, I'll go with:
[code]
I'm working on it, and should be ready to create a PR soon.

[2020-04-02 12:32] ben-albrecht commented on #14500
Agreed. Let's consider the goal of this issue to support just this case:

[code]

This would be immediately helpful to our code in crayai.

I will create a separate issue to track the export list proposal.

[2020-04-02 13:05] ben-albrecht commented on #15399
This behavior is due to the following overload in `ChapelRange.chpl`:

[code]

This exists, because it follows the pattern of other `isType(x)` functions, where it returns `false` if `x` is not the type being queried (`range(boundedType=bounded)` in this case).

If you want a case that generates an error if not used on a range, you can check the `boundedType` directly:

[code]

I am not sure if it

[2020-04-02 13:35] Aniket21mathur commented on #15399
@ben-albrecht as per my opinion returning `false` might be misleading for a regular user(who might not give a second thought). Having an error thrown might be a good option.

Yes, agreed. Let's wait for others to give their opinion on it. Thanks!

[2020-04-02 13:40] ben-albrecht commented on #15399
Another idea is to create a method equivalent to `range.hasLowBound()` and `range.hasHighBound()`, such as `range.isBounded()`. This would only be allowed on range types.

[2020-04-02 13:41] ben-albrecht commented on #15399
I think a compiler error would be more appropriate, if we were to consider this an error.

[2020-04-02 13:45] Aniket21mathur commented on #15399
Yes, agreed. That would be a good alternative.

Yeah, this would save the user a run-time.

[2020-04-02 14:28] rahulghangas opened #15400 "Adding explanantion of task intents to Task Parallelism primer"
As a new user with any language, my first instinct is to learn it from the docs. Using task parallelism can be particularly hard/limiting if the user is unaware about task intents. This issue is reminder that a subsection on task intents with a suitable example should be added to the docs [here](https://chapel-lang.org/docs/master/primers/taskParallel.html). Related to #12615

[2020-04-02 14:37] rahulghangas opened #15402 "Installing mason packages globally"
As a user, it would be nice if I could install mason packages globally and use them in my day to day programs. This issue is to discuss the pros and cons of this.

[2020-04-02 14:51] ankingcodes commented on #15402
@rahulghangas one con that I can think of is the maintenance of projects/programs related to that package. Updating the global package would make all your projects use the updated version. Some packages might break compatibility with further dependencies.

[2020-04-02 15:02] ankingcodes opened #15403 "Mason Test not skipping tests with failed compilation"
This was an issue discussed in Gitter by @omar-3. It has been found that Mason Test doesn't skip tests which fail to compile producing an error as follows:
[code]
We'd want to not run tests which have given compilation error and improve the error message displayed.

[2020-04-02 15:13] rahulghangas commented on #15402
I do agree that updates can be a hindrance, but I'm thinking that this is a limitation only because of the current state of the project. Once Chapel starts doing more stable releases, this should become less of an issue.

Food for thought:
Once we have more stable releases, maybe Chapel can then start following the [SemVer](https://semver.org/) philosophy a little more seriously, with patches bein

[2020-04-02 15:15] omar-3 commented on #15403
Hi thank you for taking time and write the issue.

Here is the [repo](https://github.com/omar-3/functional) it has only one function and one test to help you guys see the problem.

[2020-04-02 16:22] lydia-duncan opened #15404 "Getting a warning message when building docs on my Mac"
### Summary of Problem
I get the following message when running `make docs` on my machine, we should look into updating this if it is on our end, or updating the version of third-party packages if it is due to one of them.  I'm also curious if this is a problem for folks running with Python 3 by default.
[code]

### Steps to Reproduce

**Compile command:**
`make docs`

### Configuration Informatio

[2020-04-02 18:14] bradcray commented on #15399
I think BenA's original response captures the current philosophy of all of the is*() type queries:  That they are designed to answer a very general question like "is this thing this type?" where the answer is intended to be "false" ("no") if it is not.  For example, I can write `writeln(isOwnedClass(42));` and get `false` rather than having to do `if isClass(x) && isOwnedClass(x)` in order to be s

[2020-04-02 23:40] e-kayrakli commented on #15095
Just to record one more notion here: An efficient implementation of something like findAll can also help `string.replace` performance. The way I currently see it; we can have some efficient implementation internally first and use it in the existing routines. This would be a good way for correctness checking and making sure that the algorithm can really help the performance. Soon after we have the

[2020-04-03 01:40] cassella opened #15408 "string.getView(range) doesn't respect range's alignment"
https://github.com/chapel-lang/chapel/blob/b46e81dc3f70fb1e0fdae574613a35431ad0640c/modules/internal/String.chpl#L1395

Shouldn't that be r1.alignedLow:int..r1.alignedHigh:int by r1.stride?

[code]

produces `13579` not `2468a`.   (prior to the strings-index-from-0 pr)

[2020-04-03 03:22] Aniket21mathur commented on #15399
@bradcray, I agree with you. I was going through the modules and there seem to be a lot of changes if we go this way.

[2020-04-03 03:29] dlongnecke-cray commented on #14500
Super close to having something suitable for a PR, just dealing with a nil dereference bug caused by me improperly claiming memory when shuffling stuff around. After that just a bit of code cleanup, and then I'll post it.

[2020-04-03 03:51] Rapiz1 opened #15409 "Confusing error message with generic types"
I encountered this when working on my Heap module. https://github.com/Rapiz1/chapel-heap/issues/7#issuecomment-596193211

I don't know how to describe precisely so I'd like to directly show the code.
Here's a minimal example to reproduce:
[code]
Error message:
[code]
There's error message says the method can't be resolved but the other part of it shows that the method could be resolved.
And in fac

[2020-04-03 05:08] cassella commented on #15409
Just to add to the confusion, in the original module the error doesn't happen if the `proc init=()` is removed.  I haven't been able to extend this test case to reproduce that behavior.

[2020-04-03 16:26] immadisairaj commented on #13982
I am yet to find the problem with the following three
[code]
[code]
[code]

I will be opening a PR for the other three (if expression and sub call). So, we can update it if there are any conflicts with others.

[2020-04-03 20:57] bradcray opened #15418 "Make `Random` 0-based"
Chapel's `Random` module's streams have typically been 1-based.  For example, `getNth()` would issue an error if 0 was passed in.

With the recent push to switch to 0-based indexing in implicit indexing cases, it probably makes sense to make the random streams 0-based as well.

[2020-04-03 20:59] bradcray opened #15419 "Update Sort keyPart method to be 0-based"
The `.keyPart()` method in the Sort module numbers its "parts" from 1.  With the recent change to 0-based indexing by default for implicitly indexed things, it probably makes sense to have it be 1-based as well.

[2020-04-03 21:09] bradcray opened #15420 "Base `include module` subdirectory on module, not file, name"
While reviewing the recent change in PR #15279, it felt to me like it would be both convenient and natural to:

* permit the `include module` statement to appear in files whose modules don't match their names (e.g., `M-1.2.chpl` declares a module named `M`).
* look for the submodules to include in a directory based on the parent module name rather than the filename in such cases

Specifically, it

[2020-04-03 21:11] ben-albrecht opened #15421 "mason external: support version ranges"
The `mason external` subcommand should support version ranges.

Below are a few examples I would expect to work:

### `Mason.toml`

[code]

[code]

[code]

### `src/Pkg.chpl`

[code]

## Tasks

These cases should now work  after https://github.com/chapel-lang/chapel/pull/15436, so the remaining work for this issue is to:

- [x] give a better error message when a version is not found
  - E.g."Mason

[2020-04-03 21:16] bradcray commented on #15421
Does TOML have a precedent for using `:` to specify a version range rather than the more Chapeltastic (and, to my eye, visible / comprehensible) `..`?

[2020-04-03 21:23] ben-albrecht commented on #15421
Mason uses the Spack syntax for external package versions, so that they can be passed directly to the Spack backend.

This is different from the `..` syntax used for Mason packages and Chapel versions. We could potentially add support for the `..` syntax in the future and just do the`s/../:/` under the covers though.

[2020-04-03 21:24] ben-albrecht commented on #15421
This was discovered during https://github.com/chapel-lang/chapel/pull/15422 - and felt like too big of an issue to address during code freeze period.

[2020-04-03 22:15] ben-albrecht opened #15423 "Support exporting Chapel lists as python lists"
Currently, Chapel arrays export as numpy ndarrays. This makes sense, because ndarrays can be multidimensional like Chapel arrays (among other reasons). This is a feature request to support exporting Chapel lists to Python lists. This also makes sense, because both lists only support 1 dimension and are stored as dynamic arrays.

Below is a few examples demonstrating this proposal:

[code]

[2020-04-03 22:18] bradcray commented on #15423
Since (as I understand it) Python lists are stored monolithically in memory, I wonder whether we should implement the similarly contiguous-in-memory based list implementation that we've talked about in Chapel and have that interoperate with Python lists as a first step.  Otherwise, is the implication that we'd have to do a copy of the list to get it into contiguous memory for Python?  (where I'm h

[2020-04-03 22:28] #7549 closed

[2020-04-03 23:36] dlongnecke-cray commented on #14500
Wooo! Turns out the nil deref was actually a memory error because I forgot to call chpl_library_init in my python code!

[2020-04-04 00:02] bradcray opened #15427 "Make getField() / getFieldRef() take 0-based indices"
With implicitly indexed things in Chapel going to 0-based counting (well, other than line numbers in code... :P ), should getField() and getFieldRef() also count fields from 0 rather than 1?

[2020-04-04 04:21] bradcray opened #15430 "Making `mason` makes a lot of stuff"
While doing a debug-of-mason cycle today, I found myself wondering why so much stuff is built when mason is.  `make mason` attempts to build the compiler and runtime multiple times, once each due to the Makefile's stated dependence on `comprt`, one compiler build for `chpldoc`, and then a third time for `mason-no-chpldoc`'s dependence on `comprt` again.  This seems excessive, and the reason for a

[2020-04-04 04:22] bradcray commented on #15430
Attn: @ben-albrecht.

[2020-04-04 05:24] bradcray opened #15431 "Map routines return 1-based arrays"
While grepping for remaining instances of "1-based", I noticed that `Map` defines some routines that return 1-based arrays.  Should these be updated to 0-based now?

[2020-04-04 05:24] bradcray commented on #15431
Attn: @daviditen, @dlongnecke-cray

[2020-04-04 06:03] Rapiz1 commented on #15402
Is it more possible in the global scope we would have a package conflict? For example, the names of sources conflict between different packages.

[2020-04-04 06:08] Rapiz1 commented on #15403
@ankingcodes Hi. Are you working on this?

[2020-04-04 06:45] ankingcodes commented on #15403
@Rapiz1 Thanks for your interest ! Actually, I had been working on this on a local branch and hope to make a PR soon. I'm extremely burdened with university work right now, so feel free to take this up if I don't make a PR in 2-3 days.

[2020-04-04 09:16] ronawho commented on #15103
Having forgotten how this was defined, I found myself not wanting to use `.indices` on distributed arrays because it wasn't intuitive to me if `.indices` includes the distribution or just the raw index set. i.e for:

[code]

But I'm still not sure if that's just because I'm used to domain and if that wasn't there as a second option maybe I wouldn't have that confusion.

I do remember having a hard

[2020-04-04 15:57] ben-albrecht commented on #15421
This may be resolved in https://github.com/chapel-lang/chapel/pull/15436, but I would want to write some proper tests to confirm before checking this off.

[2020-04-04 16:19] LouisJenkinsCS opened #15438 "Returning inside of `serial` block treats everything as `serial`"
**Example Program**

In this program, we have a function call that demonstrates the bug by returning inside of a serial statement/block. After, we introduce a cyclic dependency between a background thread and spawned worker threads. The background thread cannot proceed until the worker threads spawn and 'check in', and the worker threads cannot complete until the background thread sends an 'ack' b

[2020-04-04 16:23] LouisJenkinsCS commented on #15438
@jsfiroz and I have encountered this issue when using our [work queue implementation](https://github.com/pnnl/chgl/blob/master/src/WorkQueue.chpl) where the background thread is spinning and waiting but no workers are ever spawned. While this bug can be fixed by just not using `serial` or being more cautious of where we `return` inside of a `serial` block, we'd like to see that no one else runs in

[2020-04-04 16:33] bradcray commented on #15438
Good (tricky) bug, thank you for reporting it!  From your note just above, I take it that this is not blocking you, is that right?  For example, as a temporary workaround for this issue, I'm imagining that most code could do:

[code]

they could probably do:

[code]

(But I agree with you that this absolutely should be addressed).

[2020-04-04 17:08] LouisJenkinsCS commented on #15438
Nope, thankfully we have moved past this bug after finding the root cause. Looking forward to the fix, hope it gets into release version 1.21, or at least release version 1.22!

[2020-04-04 17:13] bradcray commented on #15438
That seems like a long-shot, unfortunately.  The freeze for 1.22 is Monday, so the fix would need to appear over the weekend.

[2020-04-05 01:08] dlongnecke-cray commented on #15431
I definitely think these should be updated.

[2020-04-05 01:58] bradcray commented on #15431
I doubt I'll get to it in one of the next few days the way triage has been going if someone else is able to grab it.

[2020-04-05 03:54] bradcray opened #15443 "loop over heterogeneous tuple w/ string formed by varargs fails with --baseline"
### Summary of Problem

It seems that since loops over heterogeneous tuples were implemented in PR #15034, such loops when applied to the tuple formed from a varargs function result in internal compiler errors when compiled with --baseline and containing strings.

### Steps to Reproduce

**Associated Future Test(s):**
[`test/release/examples/primers/procedures.chpl`](
           https://github.com

[2020-04-05 15:43] bradcray commented on #10596
This feature would be a big boon for index-neutral programming, even if it was only supported for 1D arrays.

[2020-04-05 15:46] bradcray opened #15445 "Support array de-structuring / de-tuping"
When doing index-neutral programming, Chapel's support for detupling is invaluable:

[code]

This issue requests a similar thing for arrays, perhaps with the option to just pull off a subset of the array's elements rather than having to enumerate all of them.  I'm not sure whether it would be better to express this with tuple or array syntax.  For example, imagine one of the following idioms for g

[2020-04-06 14:20] ben-albrecht commented on #15423
Is there an issue documenting this that we could reference?

I think so, but referring to the same memory sounds ideal to me, if possible.

[2020-04-06 14:36] daviditen commented on #15431
I'll take it today.

[2020-04-06 16:55] e-kayrakli commented on #15445
My initial reaction was that "of course it should be using `()` and not `[]`" I think this is because I see the line `var (a1, a2, a3)` as a declaration of tuple of variables (for a loose definition of tuple) and with that mental framework "array of variables" doesn't make much sense to me because array is somewhat a more dynamic concept than tuple.

That being said, I didn't like `var (d1, d2, d3

[2020-04-06 17:19] e-kayrakli commented on #15103
@ronawho's example above is a good demonstrations of my hesitations [above](https://github.com/chapel-lang/chapel/issues/15103#issuecomment-596643469)

Catching up on some of the discussion here, I am still finding myself against this.

@bradcray's

doesn't sound like the most important question we should answer for this discussion to me. Although I agree that the term `indices` can be easier to g

[2020-04-06 17:21] immadisairaj commented on #13982
Which type of expressions does `[1..10]` fall into? I am finding it a bit hard to find.

[2020-04-06 18:30] bradcray commented on #15423
Not that I'm aware of.

[2020-04-06 18:40] ben-albrecht commented on #15430
Thanks for reporting @bradcray - `mason` uses `chpldoc` for `mason doc` subcommand.

Should be fixed here: https://github.com/chapel-lang/chapel/pull/15454

[2020-04-06 18:48] dlongnecke-cray commented on #15423
Correct me if I'm wrong @lydia-duncan, but I think we copy when converting an array to a numpy array today, regardless of the element type.

[2020-04-06 18:50] bradcray commented on #15423
That sounds familiar, but we've discussed wanting to get out of that business as well I think...

[2020-04-06 18:54] lydia-duncan commented on #15423
That's correct, and we do want to stop doing so.  I'm okay with not addressing that for this change and handling it more wholesale, especially if we have someplace tracking the spots that should be updated to not copy (we may, but I don't remember off the top of my head)

[2020-04-06 19:10] dlongnecke-cray commented on #15423
I'm not entirely sure if it is possible to avoid copying memory when exporting a Chapel array unless we had some means of i.e. calling `chpl_mem_free` when the `numpy.ndarray` finalizer is called. It's definitely something I could make a spike for, though.

I think our best chance of supporting types like `list` in Python interop without deep copying across heaps is #14420, because the currently p

[2020-04-06 19:10] daviditen commented on #15431
PR #15455 changes them to 0-based. @dlongnecke-cray mind reviewing it? It's pretty straightforward.

[2020-04-06 19:28] bradcray opened #15457 "Add support for `use M as _ ...;`"
This issue proposes an extension to the renaming of a module in a `use` statement (PR #14714) to include the ability to indicate that a user should not be able to refer to the module name itself (at least, as a result of this specific `use` statement... another may make it visible).

Here, I'm proposing `_` be used for this purpose since it is not a legal identifier, and feels a bit similar to its

[2020-04-06 19:37] ben-albrecht commented on #15421
I can confirm this has been resolved. For closing this issue, we need to do the following:

- give a better error message when a version is not found
  - Error should say something like "Mason resolved <spec> to <pkg@version%clang>, which could not be found."
- add tests for this feature

Related to this issue, I found that mason continues to build a package even if an external package is missing.

[2020-04-06 21:09] daviditen commented on #15431
PR #15455 is merged.

[2020-04-06 21:09] #15431 closed

[2020-04-06 21:33] gbtitus commented on #15427
If I squint right, the fields of a record seem rather like the components of a heterogeneous tuple. So I voted for making this change in 1.22.

[2020-04-06 22:44] lydia-duncan commented on #14901
I updated all the in-repo highlighters.  Still need to update tmbundle and pygments

[2020-04-06 22:58] bradcray commented on #15427
Based on Greg's comment, I put a PR together for this here:  https://github.com/chapel-lang/chapel/issues/15427#issuecomment-610049090

[2020-04-07 00:24] #15427 closed

[2020-04-07 01:17] dlongnecke-cray commented on #13882
@ben-albrecht Scrolling through, did you ever make an issue for a "more helpful chpl.setup error message"?

[2020-04-07 01:33] #15418 closed

[2020-04-07 12:35] ben-albrecht opened #15465 "Improve error message for python-interop before setting up runtime"
When importing Chapel program compiled as a Python module and using it before initializing the runtime with `chpl_setup()`, the user gets the following error:

[code]

This error should suggest the user call `chpl_setup()` (`chpl_setup(N)` for multilocale)

[2020-04-07 12:37] ben-albrecht commented on #13882
Just opened it - thanks for the reminder:

https://github.com/chapel-lang/chapel/issues/15465

[2020-04-07 14:53] lydia-duncan commented on #13982
I think it's a domain expression?  I'm not as familiar with the handling of that in compilation - I believe they are replaced with a different strategy during the normalize pass (which shouldn't get run by chpldoc).  Your best best is to use `--log` and look at the generated AST starting from post-parsing.

[2020-04-07 14:58] ben-albrecht commented on #15388
Despite `DistBag` being unordered, I think it makes sense to print the output in a consistent order rather than use a forall to randomize the output, especially since `writeln()` is serialized in Chapel anyway.

[2020-04-07 15:47] lydia-duncan commented on #14901
tmbundle has been updated.  I opened a PR on Pygments, so when that gets merged this task will be complete.  Closing because I don't expect it to be much more additional work

[2020-04-07 15:47] #14901 closed

[2020-04-07 16:59] #15108 closed

[2020-04-07 18:36] lydia-duncan commented on #15327
Looks like this issue can be closed now?

[2020-04-07 18:46] bradcray commented on #15327
Yep, thanks, resolved by @souris-dev in #15411

[2020-04-07 18:46] #15327 closed

[2020-04-07 22:23] dlongnecke-cray commented on #13880
Let's say that we keep the default directory name the same (still just `lib`), but we go with the rest of the changes here. A consequence of this that all of our tests will have to be adjusted:

Instead of the following at the top of each test...

[code]

We would write...

[code]

Else the new `__init__.py` will not take effect.

Are we OK with this? Is this the only option? A consequence of doin

[2020-04-07 22:24] dlongnecke-cray commented on #13882
Is our conclusion here that we're only going to have the `__init__.py` do cleanup, for now?

[2020-04-07 22:26] dlongnecke-cray commented on #13880
Ah, maybe I'm misunderstanding and a simple...

[code]

Will also suffice.

[2020-04-07 22:33] lydia-duncan commented on #13882
I think so.  It doesn't look like I've mentioned it here, but we may want to handle config variables by providing arguments to the setup function, so I wouldn't necessarily bundle them together

[2020-04-07 22:38] lydia-duncan commented on #13880
I think I would prefer continuing to put the `lib` directory in the `PYTHONPATH` to avoid having the user write `from lib import fooLibrary`.  What's the reasoning behind not changing the default directory name at the same time?

[2020-04-07 22:45] dlongnecke-cray commented on #13880
I can go with that. If I change the default directory name then it just means I'll have to touch N tests worth of cleanfiles.

For some reason, in my head, I seemed to think that we weren't certain about touching the default directory name but it seems I must have been imagining it...

[2020-04-08 00:53] dlongnecke-cray commented on #13880
Given that with this change the default Python output directory is the same as the Python module name, do we...

a) Want to force all `interop/python` tests to set their output directory as `--library-dir=lib`, and then adjust each to do `import lib as foo`?
b) For each test `foo.chpl`, add `foo/*` to the `.gitignore`, and make a `foo.cleanfiles` that contains `foo/*`?

[2020-04-08 01:15] dlongnecke-cray commented on #13880
I guess a third option is to keep all the existing tests the same and only add one new test for the new default directory / auto-cleanup at exit.

I just figured that we would like to incorporate these new features into existing tests.

[2020-04-08 01:54] dlongnecke-cray commented on #13880
I've decided to go with adding `--library-dir=lib` to compopts to avoid having to change existing tests at all for now. I'll add a test illustrating the new method of importing generated python modules.

[2020-04-08 06:57] immadisairaj commented on #13982
@lydia-duncan Thanks for the help. But it didn't turn out to be any domain expression. From the log it says `[ (199512 call chpl__ensureDomainExpr(199508 call chpl_build_bounded_range 1 10)) ]` which means `DomainExpr` is from after `[`. So, I tried to keep checking again and found `astTagAsString()` method which gave me that it is a `LoopExpr`. Now for that to display in docs, we have to add `Loo

[2020-04-08 12:45] ben-albrecht commented on #13982
I think this depends on the context, but in the case mentioned above, I think it would be considered the short-hand notation for a "forall expression", which ends up getting stored as an array when assigned to a variable.

[code]

Not sure if this will help for the implementation, but should help determine how this should be rendered in the chpldocumentation.

See [forall section of spec](https://

[2020-04-08 12:48] ben-albrecht commented on #13882
Yeah, let's consider the scope of this issue to be generating the following in an `__init__.py`:

[code]

Note: I modified my original example such that this follows python standards (10/10 pylint score

I will create a separate issue to track discussion/implementation of the automated setup support (https://github.com/chapel-lang/chapel/issues/13882#issuecomment-567648635)

[2020-04-08 13:47] immadisairaj commented on #13982
@ben-albrecht Thanks, I already traced back the type and got the same as you said which is `forall` loop.
I have another doubt.
I don't know why there is seperate `var i` prints in chpldoc when I have `var x = [i in 1..10] i;` statement. Is it because the compiler is considering `i` as a separate type?

[2020-04-08 14:20] ben-albrecht commented on #13880
That sounds reasonable to me, to simplify the `CLEANFILES` implementation.

We should also be sure to add a test for when the `__init__.py` already exists. Have we decided what that behavior should be?

[2020-04-08 14:24] ben-albrecht commented on #13880
Also, we could use the `__init__.py` doc string to put some useful build information, e.g. chapel compiler version and `printchplenv` settings.

[2020-04-08 15:57] russel commented on #13098
Just wondering if people have thought about property-based testing rather than example-based testing. unit_threaded allows for check in D. proptest and quickcheck are available for Rust. testing/quick is available for Go. Quickcheck in Haskell is the place where all this started. Hypothesis is the Python way of doing the right thing.

[2020-04-08 16:07] lydia-duncan opened #15477 "Restore lost docs"
The following modules lost documentation due to #14900 .  Some of these modules have been updated already (I believe String and Bytes are probably okay), but the rest need to be looked at.

- [x] diff -r docPostChange/builtins/Bytes.rst docPreChange/builtins/Bytes.rst
- [x] diff -r docPostChange/builtins/CPtr.rst docPreChange/builtins/CPtr.rst
- [x] diff -r docPostChange/builtins/ChapelArray.rst d

[2020-04-08 16:09] lydia-duncan commented on #15477
Recommended strategy: Comment here saying what module(s) you will take.  Open .txt file and go to the diff for that module, then search for the lost output string in the appropriate modules file.  Move the interrupting single line comments

[2020-04-08 16:10] lydia-duncan commented on #15477
I'm going to start with Regexp and LinkedLists

[2020-04-08 16:20] Aniket21mathur commented on #15477
@lydia-duncan should I take up DynamicIters and IO?

[2020-04-08 16:21] lydia-duncan commented on #15477
That'd be awesome :)

[2020-04-08 16:22] lydia-duncan commented on #15477
I'm done with Regexp and LinkedLists, grabbing Sort and UnorderedCopy

[2020-04-08 16:23] dlongnecke-cray commented on #15477
I'll go for DistributedBag and DistributedDeque.

[2020-04-08 16:25] gbtitus commented on #15477
I have FFTW.

[2020-04-08 16:25] e-kayrakli commented on #15477
I am fairly certain I have fixed Bytes and String yesterday, but will check again a little later and take some of those if there is any left

[2020-04-08 16:31] lydia-duncan commented on #15477
Taking CPtr and ChapelArray next

[2020-04-08 16:35] dlongnecke-cray commented on #15477
ChapelIteratorSupport and ChapelRange.

[2020-04-08 16:41] lydia-duncan commented on #15477
RecordParser

[2020-04-08 16:45] lydia-duncan commented on #15477
ChapelRange, and I think that's everything that's unaccounted for.  Go ahead and open PRs when you're done :)

[2020-04-08 16:47] dlongnecke-cray commented on #15477
ChapelRange had one change to make but ChapelIteratorSupport was a false positive (from the looks of things).

[2020-04-08 16:48] dlongnecke-cray commented on #15477
Did anyone take DistributedIters?

[2020-04-08 16:49] lydia-duncan commented on #15477
Oh, I don't think so.  Well spotted!

[2020-04-08 16:49] dlongnecke-cray commented on #15477
I can take it.

[2020-04-08 16:52] gbtitus commented on #15477
I took my lead from @e-kayrakli's fix for chpldoc rendering yesterday and just merged without review; hope that's ok.

[2020-04-08 17:07] e-kayrakli commented on #15477
I fixed ChapelIteratorSupport yesterday, too

[2020-04-08 17:16] dlongnecke-cray commented on #13880
Now that we're on the subject, I personally think it seems reasonable to treat `fooModule` as a build folder and just state in the docs that if there is an `__init__.py`, it will be overridden.
If we want, I can also just detect "if there's an `__init__.py`, don't write our version and emit a compiler warning".

Personally, though, I think the correct thing to do is to view the generated folder as

[2020-04-08 17:17] lydia-duncan commented on #13982
I believe the compiler is outputting that it created `i` (but I don't think there's any reason that should go in the user's documentation if we can avoid it).  Are you checking the docs with `CHPL_DEVELOPER=true` or the `--devel` flag?  I thought we had avoided generating certain documentation for users versus developers but I may be misremembering

[2020-04-08 17:18] e-kayrakli commented on #15477
Bytes is good, missed one in String yesterday :( Just checked off both of them

[2020-04-08 17:21] ben-albrecht commented on #13880
I slightly prefer this approach, because it seems reasonable for a user to modify the generated `__init__.py`, e.g. to include documentation.

[2020-04-08 17:25] dlongnecke-cray commented on #13880
Sounds good. I'll proceed with that, then.

[2020-04-08 17:32] dlongnecke-cray commented on #13882
Thanks Ben! I would hate to have to make another PR because the linter was complaining.

[2020-04-08 17:44] immadisairaj commented on #13982
I tried making `CHPL_DEVELOPER` false, but still it didn't work. I did not use any flags.
I tried printing my Chapel env, I don't see any `CHPL_DEVELOPER` variable.

[2020-04-08 17:48] lydia-duncan commented on #15477
That's everything, thanks everyone for helping out :)

[2020-04-08 17:48] #15477 closed

[2020-04-08 17:51] lydia-duncan commented on #13982
Ah, okay.  Can you paste a copy of the generated documentation you're getting?  And is `i` getting output before your change or just turning up as a result of it?

[2020-04-08 17:54] immadisairaj commented on #13982
[code]

[2020-04-08 17:57] lydia-duncan commented on #13982
Okay.  Can you break on when the documentation is occurring for `i` (using gdb or lldb) and check to see if it has `FLAG_COMPILER_GENERATED`?

[2020-04-08 18:39] immadisairaj commented on #13982
@lydia-duncan I am a bit confused on breakpoint for i. There is only one line and not able to setup a breakpoint for it in gdb. Can you please guide me through it.

[2020-04-08 18:40] lydia-duncan commented on #13098
I hadn't, but it seems worth a separate issue

[2020-04-08 20:11] ben-albrecht commented on #15445
Similarly, it'd also be nice to have a way to unroll an array into arguments:

[code]

[2020-04-08 20:49] ben-albrecht commented on #13098
Agreed. @russel - would you be interested in opening an issue on that topic as a place for further discussion?

We intend to close/archive this issue, and spin off future unit test design discussions into separate issues.

[2020-04-08 22:07] ankingcodes opened #15485 "Mason Example Doc fix"
In the creating and running examples [section](https://chapel-lang.org/docs/tools/mason/mason.html#creating-and-running-examples) in Mason docs, the example to include runtime and compile time arguments has been given as :
[code]
This example is incorrect and needs to be changed to
[code]

[2020-04-08 22:23] ankingcodes commented on #15421
@ben-albrecht I'd like to take this up, if its available.

[2020-04-08 22:39] krishnadey30 commented on #13098
I think it will be a good feature. We generally test based on the assumptions which we made while writing the code and the tests sometimes miss the bug. Having a feature testing can solve this issue to some extent.

[2020-04-08 23:09] e-kayrakli commented on #14480
@bradcray I think your concern is valid, I have been thinking of ways to mitigate your worry there. I have two potential directions (some I may have mentioned to you already):

1. We add a param `doiSomething` method to DSI that returns true if the consecutive indices yielded by the domain's `these` in a sequential context corresponds to data that are also sequentially laid out in the memory and t

[2020-04-09 00:50] cassella commented on #15409
I went back to @Rapiz1 's heap, and simplified it to this case, that
reproduces both behaviors, depending on the `param copyinit`:

[code]

[code]

The additional `eltType` with no default is necessary to reproduce
the problem.  But it works either way with a `DefaultComparator`
instead of the reverse one.

[2020-04-09 07:55] immadisairaj commented on #13982
@lydia-duncan I think that the compiler creates the variable `i` and while documenting the variable `i` is also being printed as this is also present.
I checked for the `FLAG_COMPILER_GENERATED` flag right before it is added into the `rst.txt` file, and the `hasFlag(FLAG_COMPILER_GENERATED)` gives out false.

[2020-04-09 10:51] russel opened #15488 "Chapel should have property-based testing as well as example-based testing"
Copying from #13098

"Just wondering if people have thought about property-based testing rather than example-based testing. unit_threaded allows for check in D. proptest and quickcheck are available for Rust. testing/quick is available for Go. Quickcheck in Haskell is the place where all this started. Hypothesis is the Python way of doing the right thing."

[2020-04-09 10:52] russel commented on #13098
@ben-albrecht I cheated and just did a cut and paste to a new issue, #15488 . :-)

[2020-04-09 11:01] russel commented on #15488
Adding some references to the above:

D, unit_threaded: https://github.com/atilaneves/unit-threaded
Rust: https://docs.rs/proptest/0.9.5/proptest/index.html and https://docs.rs/quickcheck/0.9.2/quickcheck/
Go: https://godoc.org/github.com/leanovate/gopter, https://github.com/flyingmutant/rapid, and https://golang.org/pkg/testing/quick/
Haskell: https://hackage.haskell.org/package/QuickCheck
Python

[2020-04-09 11:39] sprock opened #15489 "Launcher does not find _real"
When a launcher cannot find the _real binary in the same directory the current behaviour is to give up and issue an error message.  It would be an improvement for the launcher to search the users PATH when this happens and report an error only if the _real binary remains unfound.

Chapel 1.20.0, FreeBSD 11.3, amd64.

Thanks,
Roger

[2020-04-09 14:32] bradcray commented on #15489
I agree that this seems attractive in that it would permit (pairs of) Chapel binaries to be moved around and run in more traditional ways than we currently permit.

[2020-04-09 15:13] lydia-duncan commented on #13982
I suppose technically having it in the forall expression does declare it, so I suppose it makes sense not to have it marked "compiler generated" (though I would be interested in hearing from @vasslitvinov who I believe is our expert on forall expressions).  However, I don't think we should document it - its scope is the forall expression and no one should be able to reference it outside of that ex

[2020-04-09 15:14] lydia-duncan commented on #13982
(It may take Vass a while to respond, as a heads up)

[2020-04-09 15:57] gbtitus commented on #15489
Just some implementation notes, while this is fresh in my mind ...

Currently the common launcher code checks for the existence of the `_real` executable in the same directory as was specified for the launcher, and errors out if it's not found. This is done right after the system launcher command line is printed if the user throws `-v`, so it looks like the system launcher issues the message, but

[2020-04-09 16:10] bradcray commented on #15489
Greg: Would there be any downside to doing that `readlink()` step in the common launcher code for all launchers?  I.e., for those system launchers that would normally search the path, would they still work fine if the common launcher just gave them an explicit path, forgoing their normal search?  (this seems like it could also help with the multiple _real's search that you mention).

[2020-04-09 16:13] souris-dev commented on #15373
The operator certainly could be different from `+`, but I think having some operator or a function like `concat()` (as suggested by @ty1027) would be quite convenient. That would eliminate any confusion caused by `+`.

For now, we could go with a `concat()` defined in the `list` and `LinkedList` modules that takes variadic arguments.

[2020-04-09 16:35] gbtitus commented on #15489
@bradcray Yes, the `readlink()` technique is preferable either way.  Ultimately, to resolve the Issue we're commenting upon some launcher (system or Chapel) has to search `PATH`, and the race I described is independent of which one does that.

[2020-04-09 17:24] dlongnecke-cray commented on #13882
What would be a good way to test if the cleanup function is being called at exit? Should I find some way to probe `atexit` handlers? Or add a debug flag to `chpl_setup`? I'm currently using a `print` statement in `chpl_cleanup` right now but that's obviously only temporary...

[2020-04-09 17:28] lydia-duncan commented on #13882
A debug flag would work.  I think we also have module deinitialization functions?  You could add a printing line to one of those

[2020-04-09 17:31] dlongnecke-cray commented on #13882
Ok. If we add a debug flag to `chpl_setup` as a hidden last argument then I can add a test.

[2020-04-09 20:58] #15218 closed

[2020-04-09 21:23] ronawho commented on #5246
This will be closed by https://github.com/chapel-lang/chapel/pull/15495, which switches to supporting the clang based cce. clang-cce supports the normal -Werror, which will be enabled since we're just including the clang makefile.

[2020-04-09 21:27] ronawho commented on #5482
Closing, I think we properly initialize all atomics in the runtime now

[2020-04-09 21:27] #5482 closed

[2020-04-09 21:28] ronawho commented on #5489
Closing. It's been a really long time since we've updated the single locale release-over-release graphs and I don't really miss them now that performance testing is more stable and we track weekly performance changes much more closely.

[2020-04-09 21:28] #5489 closed

[2020-04-09 21:32] ronawho commented on #12933
@e-kayrakli resolved this by making the locales have value semantics (a record with always-rvf attached) in https://github.com/chapel-lang/chapel/pull/15149

[2020-04-09 21:32] #12933 closed

[2020-04-09 23:14] #5246 closed

[2020-04-09 23:14] #12051 closed

[2020-04-10 02:23] Rapiz1 opened #15497 "spawn(..stderr=STDOUT) not working"
### Summary of Problem
`spawn(..stderr=STDOUT)` should redirect stderr of the subprocess to its stdout. It's not working. stderr of subprocess still refers to stderr of the main process.

### Steps to Reproduce

**Source Code:**
[code]
[code]

**Compile command:**
[code]

**Execution command:**
[code]
**Output**
[code]
### Additional Information
There is an obscure [TODO](https://github.com/chapel

[2020-04-10 04:01] Rapiz1 commented on #15497
[code]
emits:
[code]

[2020-04-10 04:29] Rapiz1 commented on #15497
I have already wrote a .future test for this. If needed, I can open a PR to add the test.

[2020-04-10 07:04] immadisairaj commented on #11136
@bradcray I just now went through the DevDocs and found out the criteria to add the documentation - [link](https://trello.com/c/PVnfdeaN/26-suggest-new-docs-here). One of it says that the `Project must have >5k stars on GitHub or equivalent` which is not the case with Chapel (1.1k stars). Also there is one more thing, I didn't understand for sure, but from what they have in their readme is that we

[2020-04-10 15:55] bradcray commented on #15497
Hi @Rapiz1 — I think adding the future as a PR would be great.  Is the output of the failed test stable enough that you could add a .bad file for it as well?  (Such files can be particularly helpful for detecting when a test changes behavior, or starts breaking for some other reason).

[2020-04-10 15:58] bradcray commented on #11136
Thanks for looking into it @immadisairaj!  Only ~3900 stars to go, I guess.  :)

[2020-04-10 16:06] lydia-duncan commented on #15420
I think I agree with this.  I have some vague concerns about not knowing what parent files are impacted when changing a submodule due to not being able to tell based on their file names, but I think that's true of any library that is used or imported.  Perhaps @BryantLam can think of a case I'm not thinking of, I think he has a better grasp on that category of concerns than I do

[2020-04-10 16:18] Aniket21mathur commented on #11136
@immadisairaj I agree with you it would be a maintenance burden but at the same time it is a really good platform to support documentations and it might increase the no. of users hitting the chapel docs and will for sure make it easier for the current users. Agreeing with @bradcray let's keep it something to be discussed further in the future :smile:

[2020-04-10 16:59] lydia-duncan commented on #15457
Another way to phrase it:
- `use M as _;` would be equivalent to `import M.*;` if we were to permit the latter (which we aren't planning on doing currently).  For modules that don't change, it would be equivalent to `import M.{every, single, symbol, in, the, module};`
  - Note: it is more valuable to do this on `use` statements, which are by definition less principled and for which this would be p

[2020-04-10 17:00] BryantLam commented on #15420
I don't have strong concerns with this. I find it undesirable that the named module `M` is allowed to diverge with a different filename like `M-1.2.chpl` *but* the impact is limited by the constraint that the filename can't be used directly without a symlink to `M.chpl` so there's apparent traceability (instead of implicit traceability where I have to go digging through files to figure out what is

[2020-04-10 17:09] lydia-duncan commented on #15420
I should also point out that `M-1.2` is not a valid module name anyways, so the file-scoped module would not be able to have submodules otherwise

[2020-04-10 17:49] ben-albrecht commented on #15421
@ankingcodes - yes it is. That's be great. Thank you!

[2020-04-10 21:36] Spartee commented on #7104
So there was a issue(which could be resolved now I haven't tested it recently) where having a comment on the last line of the file would produce a rather unhelpful TomlError.

[2020-04-11 17:32] buddha314 opened #15507 "Installation docs refer to bash script which DNE"
Installing a new machine and following [these instructions](https://chapel-lang.org/docs/usingchapel/QUICKSTART.html#using-a-more-full-featured-chapel).  They ask you to `source util/setchplenv.bash` which is not in the current distribution (11 April 2020)

[2020-04-11 17:43] omar-3 commented on #15045
I see that the issue is still open, is anyone working on it? could I work on it?

[2020-04-11 18:03] haris741 opened #15508 "search(int) needs to be implemented. Moreover operator [] overloading can help accesing the data better. Insertat() also needs implementation"
A function search() that will take the argument of the element to search in the list and returns its index.

A function insertat() that will insert the element after certain elements at certain position and returns true if correctly inserted and false if the position in out of bound.

Overloading [] operator to  access the elements of the linked list.

[2020-04-11 19:02] buddha314 commented on #14467
Not sure if this is also related to this Arkouda issue I've come across https://github.com/mhmerrill/arkouda/issues/353

[2020-04-11 21:39] cassella commented on #14467
@buddha314 Did you mean to tag a different issue?

[2020-04-12 03:17] souris-dev commented on #15508
A linked list, by design, is not supposed to provide random access to elements. As such, the overload of the `[]` operator might not be necessary. Similarly, the `insertat()` procedure may instead be designed to insert after a particular element and not an index.

Using a linked list in Chapel when the user requires the use of `[]` to access the items in it would be quite uncommon, I believe.

The

[2020-04-12 07:43] priyank23 commented on #15508
@haris741 I agree with @souris-dev here. The implementation of insert and accessor functions on the basis of indices is point-less in case of a linked list.

[2020-04-12 07:55] haris741 commented on #15508
@priyank23 @souris-dev, I really appreciate your comments.
@souris-dev How about adding proc insertat() that adds after a certain value?

[2020-04-12 07:59] haris741 commented on #15508
moreover, the find() proc implemented returns true or false. How about overloading that funciton that returns the reference of the node if found?

[2020-04-12 08:32] haris741 commented on #15508
I have opened a pull request #15509 please someone review. As I am new to Chapel kindly guide me through if I make errors somewhere.

[2020-04-12 11:52] priyank23 commented on #15508
@haris741 before implementing such a function, we must think about the implementation of linked lists. Is it correct to insert elements in a data structure that manages the data on the basis of references and not the value of the data itself. I mean, creating a `find()` function to return the reference is good but inserting on the basis of existence of values in the linked list, is it really neces

[2020-04-12 12:04] souris-dev commented on #15508
I think I was unable to convey my point properly, my apologies.
Inserting after a particular element, in my opinion, should not imply searching for the element and inserting it after that. There will be ambiguity in the position of insertion if there are two or more elements who have the same value.
Rather, as @priyank23 suggests, we could position it after a reference to a node.

Also, for the `f

[2020-04-12 12:25] souris-dev commented on #15508
Similarly, for the `find(e: eltType)` procedure, one could think of a scenario where there are two or more than two elements that have the same value. Using simple linear search would return a ref to only the first occurrence of that value. The user should be given further control, I believe in case they want a reference to the second or third occurrence.

To be clear about what I'm driving at, I

[2020-04-12 15:55] ben-albrecht commented on #15507
@buddha314 - are referring to the Chapel 1.21 release or something else?

I see the script when pulling the release tarball:

[code]

[2020-04-12 19:34] buddha314 commented on #15507
i was doing it from source and i must have done something very wrong, but it is clearly there.  Tried pulling 3 times.

[2020-04-12 19:34] #15507 closed

[2020-04-13 17:34] bradcray commented on #14467
@buddha314: Nope, there's no relation between these two issues.

[2020-04-13 19:26] ben-albrecht commented on #15508
@haris741 - I would suggest splitting this up into separate issues per feature request to help keep the discussion organized. Also, see the [design](https://github.com/chapel-lang/chapel/blob/master/doc/rst/developer/bestPractices/ContributorInfo.rst#design) section of the contributor info doc for guidance on proposing new features.

[2020-04-14 05:21] haris741 commented on #15508
@ben-albrecht thanks alot for correction. I will take care of these from now on.

[2020-04-14 12:47] immadisairaj commented on #13982
@lydia-duncan can you please review #15412. And Maybe we can solve the issue for
`var x = [i in 1..10] i;` in another PR?

[2020-04-14 13:17] ben-albrecht commented on #15045
@omar-3 - @RisingGeek has an open PR in https://github.com/chapel-lang/chapel/pull/15236 but there has not been activity on it for ~3 weeks. I think it would be OK to work on it, but just be aware that we would only be merging one of the implementations.

[2020-04-14 15:01] omar-3 commented on #15045
yea for sure

[2020-04-14 17:54] Aniket21mathur opened #15515 "Implementation of function like codepointToString for bytes"
### Summary of Problem
`codepointToString` should not have illegal UTF-8 values as valid arguments. But it didn't throw any error when these types are given as arguments, for example:

[code]
Also, it would be great to have a function like `codepointToString` that supports bytes.

### Configuration Information

[code]

[2020-04-14 18:35] e-kayrakli commented on #15515
We definitely need to do something about `codepointToString`.

Building strings/bytes from integers can be desired as a convenience over building a C-based buffer first and then creating the appropriate type out of it. What I think we should do is:

- In the short term: fix our encoder and/or the implementation of `codepointToString` to throw when a non-unicode codepoint is passed. And just for th

[2020-04-14 20:52] e-kayrakli commented on #15155
Found one more decode that might need explicit encoding:

[code]

There are some more calls to `bytes.decode` in our scripts but I believe this (and the one above) should cover all things that we run during build. (If we know this is the right direction I can add the necessary argument to all of them)

[2020-04-14 21:43] intractabilis commented on #15155
In my opinion it solves the symptom, not the root cause.

The real problem is that you start an instance of `make` without passing the file descriptors responsible for communication between different instances of `make`. That's why you receive a warning that triggered this issue. It's probably not a big problem for getting a compile string for gcc, but do you really want to hide the issue that lat

[2020-04-14 21:57] lydia-duncan commented on #13982
I think that's reasonable, I'll take a look at the PR now :)

[2020-04-14 22:00] e-kayrakli commented on #15155
Am I interpreting right that you are now able to build without the issue in your original post? If so, I think there are potentially two issues that you were encountering (1) is this missing encoding argument issue that's solved by the above patches, (2) is the make problem that you mention above. I think (2) should be discussed/solved under a separate issue.

I personally am not that well-versed

[2020-04-14 22:11] bradcray commented on #15399
@Aniket21mathur: Is it OK if we close this issue then?  (we could still add a feature request for a method on ranges that answers questions like `isBounded()`, but I'd be inclined to fork that into its own issue.

[2020-04-14 22:13] intractabilis commented on #15155
Sorry, I thought Brad passed my notes.

I haven't tried your last patch. The problem that triggered this particular issue is that `make` outputs a fair warning: “jobserver unavailable: using -j1. Add '+' to parent make rule”. On my machine it was in different locale, so your Python script failed.

This being said, I would strongly discourage to solve this issue by making the warning message being

[2020-04-14 22:45] e-kayrakli commented on #15155
No I am aware of this issue, but my point is different.

Our scripts seem to be not able to non-ascii characters returned by commands either in stdout or stderr. That's why they were giving the errors that you encounter and the patches above should fix that issue and you should be able to build whatever your locale is (barring another issue that we haven't encountered yet) as long as you use a UTF

[2020-04-14 23:15] intractabilis commented on #15155
They will hide the real problem. By applying these patches you are fixing a problem by implanting an explosive charge that nobody knows when and how it will go off.

How do you know?

I've never said this. I said that you should pass file descriptors to the new instance of `make`. What you do with other warnings is up to you.

It's not fatal in this particular case. But it can lead to hidden bugs

[2020-04-14 23:28] bradcray commented on #15155
@intractabilis: The issue you filed was about having `make` fail when run from non-English locales, something that we have not been able to reproduce locally, so have been relying on you to help us debug via the patches we're providing.  If you're not willing to test the patches for us to see whether they address the core issue by permitting you to build and run, that's fine, but please let us kno

[2020-04-14 23:30] intractabilis commented on #15155
Sure, I'll test your patch and will file another issue.

[2020-04-15 00:08] bradcray commented on #15445
I agree they could (and don't think anything would prevent your examples from working if we implemented the `...` proposal), but I think a benefit of having some sort of "and then drop everything else on the floor" syntax is that it lets someone grab the prefix of a variable-length array without the runtime overhead of slicing.

I suppose we could put in compiler effort to optimize the slice away

[2020-04-15 00:10] bradcray commented on #15445
I agree that this would be conceptually attractive, but it's much more challenging than the feature proposed here since we don't currently tend to know the sizes of arrays statically (even when they appear obvious as in your example), which would be required to implement your feature (whereas the de-tupling pattern indicates the size of the array [prefix] in my feature).  Feel free to fork off an

[2020-04-15 00:38] bradcray commented on #15420
I've added a concrete example to the OP to try and clarify.

[2020-04-15 05:09] Aniket21mathur commented on #15399
It can be closed in that case :-)

Should I file a new issue requesting `range.isBounded()` , in place of the isBoundedRange() procedure?

[2020-04-15 05:09] #15399 closed

[2020-04-15 07:11] haris741 commented on #15508
@priyank23  really obliged for your suggestions. What you mean for insertAfter() is having two arguments, one is the node to be inserted and the second is the reference of the node. is it?

[2020-04-15 08:27] priyank23 commented on #15508
I am sorry. I am a little bit confused about the two things you mentioned here.
What I meant was, we can have a function with two parameters, one is the reference of the node in the linked list after which we want to insert and the other can be `e: eltType` or a reference to a linked list node. You can imagine the `push_back(e: eltType)` as a special case of this  `insertAfter()` function. The def

[2020-04-15 08:32] haris741 commented on #15508
Yes I meant exactly same. Thank You for the clarification.

[2020-04-15 09:04] priyank23 commented on #15515
@e-kayrakli I don't think we should have some additional overloads of this kind. The need to convert an array of integer into a string/bytes may vary from user to user. As you mentioned, there will always be an ambiguity about the information the integers provide. In that case, the user can implement that kind of function himself as per the requirement. Thoughts?

[2020-04-15 09:09] priyank23 commented on #15508
@haris741 I think you should modify the title of this issue as this issue is now focused towards implementing an insertAfter function.

[2020-04-15 13:03] ben-albrecht commented on #15508
Agreed, and the description should follow that as well.

The title could be simplified to `Support LinkedList.insertAfter()` with the actual suggested signature in the description. Feel free to open separate issues for the other requests that were originally in this issue.

[2020-04-15 13:07] ben-albrecht commented on #15508
To motivate this feature, does `LinkedList.insertAfter` exist in other languages' standard libraries? If so, what naming convention and arguments are used? Do they also support `insertBefore`, or just `insert`?

[2020-04-15 13:16] ben-albrecht opened #15518 "Unpack arrays into arguments"
Support unpacking an array into function arguments similar to a tuple. I propose the same syntax of unpacking a tuple here, because Python uses the same syntax for unpacking tuples and lists as arguments (`f(*tuple)` and `f(*list)`).

[code]

This feature requires array size to be known at compile-time, i.e. arrays with param size, as a prerequisite.

[2020-04-15 13:16] ben-albrecht commented on #15518
I am not aware of an issue for this. TODO: Find or open an issue for this feature request as well.

[2020-04-15 13:17] ben-albrecht commented on #15445
Agreed.

Opened here: https://github.com/chapel-lang/chapel/issues/15518

[2020-04-15 15:36] Aniket21mathur opened #15521 "FileNotFoundError on importing a `src` module in mason `test`"
### Summary of Problem
Importing a `src` module in a test file and running `mason test` results in a `FileNotFoundError` .

[code]

Mason.toml

[code]

`tree` output for project:

[code]

### Steps to Reproduce

**Source Code:**

A test file with below content would suffice to reproduce the error

[code]
### Configuration Information

[code]

[2020-04-15 15:41] ben-albrecht commented on #15521
@Aniket21mathur - thanks for reporting. I actually _haven't_ reproduced this error yet. Trying to reproduce it now. I've also added some information from the GItter discussion to the issue description.

[2020-04-15 15:46] ben-albrecht commented on #15521
@Aniket21mathur - here was my attempt to reproduce:

[code]

Can you see if these steps generate the error for you, and if not, help me figure out what _will_ generate the errors?

[2020-04-15 15:55] ben-albrecht opened #15522 "Mason test does not support test file names with a single character"
### Summary of Problem

Putting tests in a filename with 1 character (not including file extension) results in an error for `mason test`. This is a result of a bug in `MasonUtils.stripExt()`, where the slice range becomes `..0` when the filename has 1 character:

https://github.com/chapel-lang/chapel/blob/master/tools/mason/MasonUtils.chpl#L87-L95

I expect addressing this edge case to be a pretty

[2020-04-15 15:55] ben-albrecht commented on #15522
Discovered this when trying to reproduce https://github.com/chapel-lang/chapel/issues/15521

[2020-04-15 15:58] ben-albrecht commented on #15521
Looping @omar-3 into the issue since he claimed to have reproduced the error as well.

[2020-04-15 16:01] #14988 closed

[2020-04-15 16:02] ben-albrecht commented on #15399
I think that is reasonable to open.

[2020-04-15 16:12] Aniket21mathur commented on #15521
@ben-albrecht this seems to work fine for me as well, also I have tried both cases `mason new` as well as `mason init`, both seem to work fine. Still in that particular project, I am facing this error. Is there anything we can do to reverse mason init, like removing .git for git?

[2020-04-15 16:15] Aniket21mathur commented on #15522
@ben-albrecht I would like to take this up

[2020-04-15 16:24] omar-3 commented on #15521
Here is what I have.

```tree``` output for the package:
[code]
---
the content of ```Mason.toml```
[code]
---
the content of ```functionalTest.chpl``` is as minimal as it could get
[code]
---
the error
[code]

[2020-04-15 16:24] ankingcodes commented on #15521
@Aniket21mathur  Reversing mason init would mean deleting `.git`, `src/packageName.chpl` , `Mason.toml` file.

[2020-04-15 16:28] ben-albrecht commented on #15521
@omar-3 - you are getting this error because there is a syntax error in your test:

[code]

[code]

should be:

[code]

Normally, I would suggest filing an issue for this bad error message, but I expect this error message to improve once https://github.com/chapel-lang/chapel/pull/15476/files is merged.

[2020-04-15 16:29] ben-albrecht commented on #15521
@Aniket21mathur - could you post the contents of `Protobuf.chpl` (maybe in a gist if it's large)?

[2020-04-15 16:32] ankingcodes commented on #15521
@Aniket21mathur I tried to reproduce the error using the same tree structure provided. Worked fine for me. Maybe adding the contents of `Protobuf.chpl` would help.

[2020-04-15 16:35] ben-albrecht commented on #15522
@Aniket21mathur - OK thanks!

[2020-04-15 16:36] Aniket21mathur commented on #15521
@ben-albrecht @ankingcodes I made a new Mason package and pull the commits in from my GitHub repo, hence having the same code (same Protobuf.chpl content) in both the packages, `mason test` seems to work fine for this package but produces an error for the other.

Though I will also make the code available in a while.

[2020-04-15 16:38] ben-albrecht commented on #15521
@Aniket21mathur - OK, thanks for the update. Should we close this issue for now, and re-open if you (or someone else) identifies a reproducer?

[2020-04-15 16:39] Aniket21mathur commented on #15521
Sure, thanks :-)

[2020-04-15 16:39] #15521 closed

[2020-04-15 16:44] #15485 closed

[2020-04-15 16:48] Aniket21mathur commented on #15521
@ben-albrecht @ankingcodes one last query does changing the package name afterwards in Mason.toml and src can create issues?

[2020-04-15 16:50] ankingcodes commented on #15521
The name in Mason.toml should match with that of src/packageName.chpl

[2020-04-15 16:51] Aniket21mathur commented on #15521
Yeah, that was taken care of, I was wondering it might affect some internal configurations.

[2020-04-15 17:03] e-kayrakli commented on #15445
Sounds reasonable to me. I can live with that syntax because of these benefits.

[2020-04-15 17:03] #15388 closed

[2020-04-15 17:14] #11106 closed

[2020-04-15 17:19] e-kayrakli commented on #15515
@priyank23 -- You have a point. But I really dislike the fact that if/when they'd need to do that they'd have to either use

- Concatenate multiple smaller string/bytes that has performance overheads
- C pointers that are too low-level of a feature to be used for creating a value for a primitive type

`string` and `bytes` may be a bit different in this respect, too. For string, one example I can t

[2020-04-15 17:23] #15217 closed

[2020-04-15 17:44] Aniket21mathur commented on #15521
@ben-albrecht @ankingcodes [src](https://github.com/Aniket21mathur/Chapel-protobuf/blob/master/src/Protobuf.chpl) to the file.

[2020-04-15 18:47] #15403 closed

[2020-04-15 19:07] bradcray commented on #15399
My answer would be: If it's a feature you definitely want, definitely file it.  If not, I'd wait until someone does.

[2020-04-15 19:08] cassella commented on #15521
@Aniket21mathur That link is to the version that works, right?

Does the directory where it doesn't work have any local changes?  e.g., does `git diff` show uncommitted changes, or does `git diff origin/master` show anything you've committed locally that you haven't pushed to github?

Or a regular `diff -ru` comparing the working and non-working directories?

[2020-04-15 20:03] BryantLam commented on #15420
I'm okay with this. One of my concerns is knowing how an executable was built from the codebase, but that should be somewhat alleviated by `<exe> --about`.

[2020-04-15 20:15] bradcray commented on #15420
Is there something about this issue's feature request that makes that any harder than it currently is?

[2020-04-15 20:57] BryantLam commented on #15420
I don't think so for this specific feature request. General software engineering moreso.

[2020-04-15 21:09] #6704 closed

[2020-04-15 21:09] #15430 closed

[2020-04-15 23:56] #13880 closed

[2020-04-15 23:56] #13882 closed

[2020-04-16 01:04] #15408 closed

[2020-04-16 01:04] bradcray commented on #15408
Thanks for reporting this, and the fix, Paul!

[2020-04-16 01:17] Rapiz1 commented on #15497
Hi @bradcray I have updated the issue to refer to the .future. Let me know if there's other things I need to do.

[2020-04-16 01:41] dlongnecke-cray commented on #15465
There's at least two ways to do this that I can think of. The first is to make the runtime aware of when it's running a multilocale library and modify the error message based on that. The second is to insert a check of the form...

[code]

At the top of every generated Python wrapper.

Personally, I'm leaning towards the second option instead of intrusively modifying the runtime. Ideas?

[2020-04-16 02:23] bradcray commented on #15497
Perfect, thanks very much!

[2020-04-16 02:49] Rapiz1 opened #15527 "Add documentation for compiler-defined variables"
Variables(or symbols?) like `boundsChecking` are defined by the compiler and have certain values. Users could run into unexpected behavior when they try to use the name of the symbol.
Also, a module author had better respect these variables when trying to accomplish some internal checking.
So I think it's important to document this.
https://github.com/chapel-lang/chapel/blob/4d7fee8d0070b8336ccd52

[2020-04-16 02:52] #14500 closed

[2020-04-16 15:01] Aniket21mathur commented on #15521
@cassella yes it works.

I have tried that, the two directories seem to be exact copy of each other. I am also confused, why it is happening :-(

Thanks!

[2020-04-16 15:19] Aniket21mathur opened #15528 "Create an alternative `range.isBounded()`"
The `isBoundedRange()` function follows the `isType(x)` function pattern and returns false if x is not the type being expected. For eg, giving a domain as an `arg` will return `false`. This might be misleading for a regular user.

A good alternative is to create `range.isBounded()` method, that would only be allowed on range types.

[2020-04-16 15:21] Aniket21mathur commented on #15399
@ben-albrecht @bradcray I have filed an issue https://github.com/chapel-lang/chapel/issues/15528, please have a look :-)

[2020-04-16 20:04] ben-albrecht opened #15535 "Include SPACK_ROOT in mason env"
I believe `SPACK_ROOT` should be included in the output of `mason env` since it is an environment variable that impacts mason.

[2020-04-16 20:44] ben-albrecht commented on #15465
@dlongnecke-cray - that seems reasonable. Bonus to that approach is that you can actually raise a Python exception for a user to handle.

[2020-04-17 01:02] dlongnecke-cray commented on #15394
I would tentatively mark tuples of `borrowed C?` as A-OK, because the following version of your tuple test compiles just fine:

[code]

It is only your specific version that does param folding on the `if` statement which fails:

[code]

I'll go ahead and open an issue specifically for this bug.

So for tuples at least, that means we only have to worry about `owned`.

[2020-04-17 01:14] dlongnecke-cray commented on #15394
Testing to see if the same holds true for tuples of `owned C` and `owned C?`...

[2020-04-17 01:32] dlongnecke-cray commented on #15394
Can confirm that the same bug exists for tuples of `owned C?`.

[2020-04-17 03:07] dlongnecke-cray commented on #15394
@ben-albrecht https://github.com/chapel-lang/chapel/pull/15541 Adjusts all tests in `test/types/tuple/types` so that they pass, and adds a future for the bug in `test/param`.

[2020-04-17 14:53] ben-albrecht commented on #15394
Thanks @dlongnecke-cray -- I have updated the table in the issue to reflect this.

[2020-04-17 16:51] bradcray commented on #15394
Nice @dlongnecke-cray!

I took a quick look at the buggy case hoping it would have an easy explanation, but failed to come up with anything quickly other than new ways to make the compiler segfault.

[2020-04-17 17:13] dlongnecke-cray opened #15542 "Param folding of if expression can result in compiler error"
### Summary of Problem

Param folding of if expressions can result in a compiler error depending on the branch expressions. In my specific case, futures filed for tuples in #15394 failed because they were unable to resolve a call to `chpl__initCopy`. Relying on a different mechanism such as a `where` clause sidesteps the issue.

While our specific failures occurred when a branch expression tried t

[2020-04-17 17:32] ben-albrecht commented on #14865
Our current implementation of sampling K elements without replacement creates a temporary array, `A: [1..N] int`, shuffles it, and selects the first K elements as the indices for the sample.

This has space and time complexity of _O(N)_.

To avoid _O(N)_ space complexity, we could generate random numbers within `1..N` and track them in a set to confirm no duplicates. This would only be worth it wh

[2020-04-17 17:41] e-kayrakli commented on #14865
It looks like `K < log(N)` as Ben suggested offline produces less than 1% clashes with generated numbers. Without worrying much about the complexity implications of that, I think the number is safe enough that our time complexity wouldn't blow through the roof because of re-generating unique random number.

See https://en.wikipedia.org/wiki/Birthday_problem
For the lazy `1-scipy.misc.factorial(k)*

[2020-04-17 17:46] e-kayrakli commented on #15542
Possibly related: #14317, #14309, #14301, #14279

[2020-04-17 17:47] Aniket21mathur commented on #14865
Yes, agreed. So we will keep the older implementation for large N?

[2020-04-17 17:53] #15219 closed

[2020-04-17 17:58] cassella commented on #15522
Why isn't `s[..0]` correct?  Shouldn't it just be `s[0]`, which would be correct?  `s[..1]` results in two characters:

[code]

[code]

[2020-04-17 18:00] ben-albrecht commented on #14865
I think so. I would propose the following next steps, unless @e-kayrakli or @bradcray objects:

- Implement the algorithm above and do a small experiment to confirm the randomness is sound
  -One simple check is to generate large number of small samples for a small N and confirm we get a roughly equal number of each possible outcome
- Check if `K < log(N)` -- if not, use the existing algorithm, el