[2019-03-06 22:10] #9687 closed

[2019-03-06 22:10] #12459 closed

[2019-03-06 22:18] ronawho commented on #12511
Hmm, Supposedly this was fixed before with https://github.com/chapel-lang/chapel/pull/7110 (but even going back to right after that PR, I still see leaks in `test/errhandling/parallel`)

[2019-03-06 22:21] #12220 closed

[2019-03-06 22:44] ronawho opened #12515 "Make rendered docs visible from pull requests"
We often manually build and link to the rendered module docs for review, but this is pretty annoying. We're already running `make docs` as part of the travis smoke test, so I wonder if there's some way to get a link to them. Maybe something we could do with the checks API (https://github.com/chapel-lang/chapel/issues/9470)?

[2019-03-06 22:50] vasslitvinov commented on #8914
@krishnadey30 - sounds good. Let us go ahead with this phrasing: "can label only for-, while-do- and do-while-statements" .

Bonus point: eliminate "error: cannot label non-loop statement" (or the revised phrasing) when compiling this:
[code]

[2019-03-06 22:52] mppf commented on #12511
PR  #12516 fixes the easy problem (which is the source of the array and TaskErrors leaks).

There is a harder problem though. We had `defer` blocks for the `EndCount` to make sure it is deleted. But these are processed (and changed to delete calls at the end of a block) in callDestructors. Then, lowerIterators lowers the ForallStmt into a more complex structure and no longer calls the `delete` if

[2019-03-06 23:01] mppf commented on #12511
I think that problem is a little bit related to #4953. I wonder if @vasslitvinov has any insight into how we might solve it.

[2019-03-06 23:03] krishnadey30 commented on #8914
@vasslitvinov Sure I will look at this. Once I am done I will let you all know.

[2019-03-06 23:05] vasslitvinov commented on #12511
#11303 ?? (Fixes leaks that occur when throwing out of chpl_initCopy that produces an array.)

[2019-03-06 23:15] BryantLam commented on #12472
@benharsh -- I assume your PR would disallow blocks 1 and 5. You stated that blocks 4 and 6 are equivalent. On the surface, they do appear to be so, but I logically have trouble rationalizing that block 4's syntax should be legal (I think from the discussion, the extra parentheses don't do anything, so why have them when the syntax in block 3 clearly feels like evoking the initializer). IMO, block

[2019-03-06 23:27] benharsh commented on #12472
My PR will disallow blocks 1 and 5 (issuing an error for each line in the block with a new-expression).

Sorry, I should have said that eventually the compiler treats blocks 4 and 6 as the same thing. I agree that block 4's syntax should not be legal. I haven't tried creating an error for that case yet because I wanted to focus on the 'nil' issue first. I'll create a separate issue to track the de

[2019-03-06 23:32] benharsh opened #12517 "Issue error for new-exprs with a specific generic type"
Over in issue #12472 a user encountered an odd style of new-expression:

[code]

What's surprising is that the compiler accepts this as "new <type-expr>()", where "D(int)" is the type-expr. The parentheses in this pattern are confusing and potentially ambiguous, so I propose we update the compiler to disallow this pattern.

[2019-03-06 23:40] benharsh commented on #12490
I guess I lean towards exposing _ddata under another name (not sure about 'ptr'). I feel like users will want that eventually anyways, so having 'ptr' and a possibly-wide c_ptr seems weird.

If we keep c_ptr as always-local, that might allow us to emit better warnings at compile-time.

[2019-03-07 00:06] bradcray commented on #10162
I think I pinged the original user to see if they were satisfied but didn't hear back.  Let me try again.

[2019-03-07 02:44] cassella commented on #7892
Only four of these tests (the first and the last three) still leak
when I tried them, all "string copy data":

{noformat}
tuple-string-bug-noparens.chpl
ref2string.chpl
classRef2string.chpl
wideref2string.chpl
{noformat}

The rest didn't leak when I tried.

The last three use the function `chpldev_refToString()`.  The only
other tests that invoke this function are

``test/multilocale/deitz/needMul

[2019-03-07 14:25] mppf commented on #12490
Can you suggest any names that we could use?

[2019-03-07 15:04] ben-albrecht commented on #10760
I don't think an overload that provides a destination argument is a bad idea, even for the non-distributed cases.

[2019-03-07 16:08] #11294 closed

[2019-03-07 16:15] lydia-duncan commented on #6010
Resolved by @dlongnecke-cray

[2019-03-07 16:15] #6010 closed

[2019-03-07 16:16] lydia-duncan commented on #6008
This issue is being worked on right now

[2019-03-07 17:21] daviditen commented on #12389
Closed with PR #12465

[2019-03-07 17:21] #12389 closed

[2019-03-07 17:53] #10162 closed

[2019-03-07 18:00] ben-albrecht commented on #11818
I would like to revisit some design aspects of this task soon, given it is a potential [GSoC 2019 project](https://chapel-lang.org/gsoc/ideas.html#launchers-rework).

The current leading proposal for this issue is to rewrite our launchers in Python. I think that would be *much* better than what we have today. However, I'd like to explore the option of rewriting out launchers in Chapel:

If our lau

[2019-03-07 18:19] bradcray commented on #11818
I *really* don't like the idea of writing the launchers in Chapel rather than Python.  As Ben summarizes above, I view the goal of this issue as being to write a program that is scripting-like in nature in a true scripting language rather than a compiled one; and a familiar one so that sysadmins can customize it according to the idiosyncrasies of their system.

I'm also concerned about baking in t

[2019-03-07 18:27] bradcray commented on #11818
[Note that it also seems like it would be very possible to have the compiler generate a single, multi-ISA binary without writing the launcher part of it in Chapel; it could just as easily be written in C and linked into the single-generated binary?  So if that's the real goal, I don't think that bringing "write the launcher in Chapel" into the mix is a necessary precondition.]

[2019-03-07 18:32] gbtitus commented on #11818
Even today, on a Cray XC with different login and compute node CPUs and a compilation that forced high levels of optimization, the resulting binary might not run on the login node.  You could get around this by only highly optimizing the target program part of the compile and doing a least-comm-denominator compilation on the code leading from the binary's start address through the launcher portion

[2019-03-07 18:40] AnubhavUjjawal commented on #12438
@ben-albrecht could I work on it ?? I could maybe create something similar to `warning()` ?? Do you have any ideas/preference on this??

[2019-03-07 19:54] bradcray commented on #10160
FWIW, The more I've been thinking about this, the more it strikes me that the way to address it is to have RVF start looking beyond whole variables and to also consider fields that could be RVF'd, replacing their `object.field` accesses with a reference to the RVF'd constant.  Since PID fields aren't modifiable, it seems like they'd be obvious / simple candidates for such an optimization (though i

[2019-03-07 21:09] krishnadey30 commented on #11412
@ben-albrecht  Please have a look at this. https://github.com/krishnadey30/CodeMirror

[2019-03-07 21:28] mppf commented on #11818
I like the idea of 1 binary becoming a normal use case, but I don't think multiple-ISA binaries are really going anywhere on linux. See

https://en.wikipedia.org/wiki/Fat_binary#Linux

which says

...

But if we just wanted to simplify the user experience, we might be able to achieve some similar goals by having a Chapel interpreter just-in-time compile programs on the machine they are running.

I

[2019-03-07 22:20] ben-albrecht commented on #12438
Hi @AnubhavUjjawal - Despite being simple to implement, I haven't marked this one with `good first issue`, because it's primarily a political task of making sure the majority of core contributors are on board with the design and exact wording of the warning.

It's also fairly low-priority, so I was going to wait until post-1.19 release to bring it up to the core contributors.

[2019-03-07 22:34] gbtitus commented on #11296
This should have been closed by #12228.

[2019-03-07 22:34] #11296 closed

[2019-03-07 22:52] ben-albrecht commented on #8372
I assume there's some challenge in guaranteeing unique UUIDs when generating them in parallel, but that should be relatively easy to handle in Chapel, especially if it directly on depends on parallel-safe RNGs.

This is a (soft) dependency in an application @ajoshpratt is considering porting to Chapel.

[2019-03-07 23:29] ben-albrecht commented on #11412
Based on review-by-visual-inspection of the images you posted on Gitter, the highlighting looks good to me. I'd suggest opening a PR against the CodeMIrror master branch. Thanks for taking this on!

![](https://files.gitter.im/chapel-lang/chapel-summer-of-code/BbhF/image.png)

![](https://files.gitter.im/chapel-lang/chapel-summer-of-code/6YGC/image.png)

![](https://files.gitter.im/chapel-lang/cha

[2019-03-07 23:35] krishnadey30 commented on #8914
@vasslitvinov Is this syntax correct? I tried to run the code. It showed
`test.chpl:1: syntax error: near ':'`
`test.chpl:1: error: can label only for-, while-do- and do-while-statements`

[2019-03-07 23:38] ajoshpratt commented on #8372
There is always a chance of collision.  Under conditions where you have a single entropy source, it's vanishingly small.  I do imagine it's greater when you have multiple entropy sources at play, although it seems unlikely that each RNG generating the input data would happen to have the same seed (not sure what the probability of that is).

[2019-03-07 23:38] krishnadey30 commented on #11412
Hey @ben-albrecht thanks for your time. I have opened a PR.
https://github.com/codemirror/CodeMirror/pull/5801

[2019-03-07 23:45] vasslitvinov commented on #8914
The syntax is not correct, so the compiler should be issuing "syntax error: near ':'".

OTOH the line `error: can label only for-, while-do- and do-while-statements` is misleading because the user IS trying to label a for-loop. How to get rid of this line?

[2019-03-07 23:56] krishnadey30 commented on #8914
Yes, we should just show the error. I will try to correct the error statement.

[2019-03-08 01:11] dlongnecke-cray opened #12529 "warning: Throwing unmanaged error - please throw owned"
### Summary of Problem

When I write code to throw an error, I get a rather perplexing compiler warning:

`warning: Throwing unmanaged error - please throw owned`

I understand Chapel's default memory ownership to be `borrowed`, and so I'm not sure why the compiler infers it to be unmanaged in this case.

@mppf Brad said you might like to tackle this one.

### Steps to Reproduce

**Source Code:**

[2019-03-08 01:32] bradcray commented on #12529
@mppf: David mentioned this to me, and I couldn't rationalize the current behavior based on my recollection of our recent discussions.  Did something get missed, or am I forgetting some reason that it would behave this way?

[2019-03-08 01:37] bradcray commented on #10329
PR #10328 was my attempt to close this issue off, but got wrapped up in naming / design issues that I've never found the time to get back to, so I'm closing the PR for now and mentioning it here for the next time we return to this.

[2019-03-08 03:13] AnubhavUjjawal commented on #6349
@ronawho @sungeunchoi  As much as I could understand, we would need to keep the inline `chpl_comm_make_progress ` and its references in  `runtime/src/comm/ofi/comm-ofi.c` and remove it from other places??

[2019-03-08 14:18] mppf commented on #12529
I'm not sure if the question here is "Why is there a warning in this case? Why doesn't it just work" or "Why is the warning so confusing?".

First, note that `throw new IllegalArgumentError()` means, according to the borrowed-new-by-default rule, the same as `throw new borrowed IllegalArgumentError()`, which is useless because the error created will be destroyed at the end of the function, so woul

[2019-03-08 14:35] #8770 closed

[2019-03-08 15:12] mppf commented on #10160
Just for the purposes of this post, I'm going to compare performance of a few different approaches that exist now. So I'll start with the current default behavior:

[code]

This is about 2 GETs per iteration in the loop:
[code]

Now, I think it'd be reasonable to extend RVF to handle this case. That said, such an effort wouldn't help with the more general problem. What if, for example, there is an

[2019-03-08 15:38] mppf commented on #12529
Please see PR #12533.

[2019-03-08 15:55] bradcray commented on #12529
I'd say the confusion was with the error.  I remembered that we decided to not have `throw new Error()` result in an automatic change to `new owned Error()` (for fear of introducing an inconsistency; because it'd be easy to special-case it if/when users complained about being forced into this pattern); but the current warning seems similarly confusing since it suggests that we're not creating a `n

[2019-03-08 15:57] mppf commented on #12529
@bradcray - can you have a look at PR #12533 ? Maybe we can simply adjust the warning to be more reasonable.

[2019-03-08 15:58] bradcray commented on #12529
Seeing PR #12533, I think it improves things, though I still think that maybe just making the first warning into an error would be preferable / simpler.  If we went with something like PR #12533 (warnings only, not errors), I'd probably change the second line to something like "converting borrowed error to unmanaged error to avoid core dumps".  But I also think that if we're going to go to that le

[2019-03-08 15:58] ben-albrecht commented on #5326
I've updated the issue description to include a checklist of remaining documents to be rst-ified. Many of them are *almost* rst-friendly, and several are currently markdown.

[2019-03-08 16:01] mppf commented on #12529
@bradcray - Right, but I had left it a warning because `throw new SomeError()` worked in the last release and was in fact the only way to write it, so I was trying to ease the code transition. Do you think it's more preferable to abandon that (have it be a compilation error) or to make the second line more ambiguous (like `attempt to throw an unmanaged or borrowed Error, please throw owned Errors`

[2019-03-08 16:11] bradcray commented on #12529
I think either of those are preferable to the current behavior on master.  I'd probably go with the error, but am not 100% certain I'm right and would suggest getting other opinions.  Your proposed new wording here also makes me wonder "Can I throw a shared error?" which seems like it _might_ make sense to do?  And also, if I'm not saying `throw new...` but am throwing a pre-existing error, will t

[2019-03-08 16:43] #12472 closed

[2019-03-08 17:12] #12388 closed

[2019-03-08 17:21] dlongnecke-cray commented on #12529
Sorry, I should have better explained that in this case my confusion is with:

- The error message is at odds with what I expect the ownership of ``new SomeClass()`` to be.
- It's not clear to me as a user how the ``unmanaged`` is introduced from the code that I wrote.

There's also a separate issue with the required syntax being overly verbose (ie, `throw new owned SomeClass()` is a pain to write

[2019-03-08 17:34] mgautam98 commented on #12120
From where can I see the scripts that are used to turn Chapel sourcs in .rst?

[2019-03-08 17:38] krishnadey30 commented on #5326
Hey @ben-albrecht  is someone working in it?

[2019-03-08 17:38] mppf commented on #12529
I'm testing PR #12533, which now removes the confusing 2nd line (at the cost of more code in the compiler).

[2019-03-08 17:40] dtjong commented on #9069
I'm thinking of getting started on this, should I start it as a Mason package?

[2019-03-08 17:44] KING-SID commented on #5326
Hey @krishnadey30 I am currently working on this, but we can work on this together so that we can get this done faster.
There are 10 files left to convert - how about we split it 5 each?
I'll be taking `CompilerIRTricks.rst`, `GettingStarted.rst`, `CHPL_DEVELOPER.rst`, `GASNetOnDesktops.rst` and `Potpourri.rst`. Feel free to work on the other 5. Cheers!

[2019-03-08 17:53] bradcray commented on #12120
I'm not the expert on this (so someone may get you to a more direct answer), but I believe that the Makefile step that kicks off the process can be found here:  https://github.com/chapel-lang/chapel/blob/master/doc/Makefile#L55 (which suggests that the script in question is `$CHPL_HOME/doc/util/chpl2rst.py`.

[2019-03-08 17:54] bradcray commented on #9069
I think that makes sense, yes.

[2019-03-08 17:58] buddha314 commented on #9069
If you decide to move ahead, I'd be delighted to provide usage stories and test it out.  We would like to integrate it into a computer vision project we're working on.

[2019-03-08 18:00] krishnadey30 commented on #5326
@KING-SID Thanks. I will let you know when I am done.

[2019-03-08 18:18] bradcray commented on #12529
If it wasn't clear, I really am curious whether shared errors can be thrown, whether it would make sense for them to be, etc.

[2019-03-08 18:21] mppf commented on #12529
At the very least the answer is "not right now". In earlier discussions, I couldn't come up with a use case where I could see it making sense. As a result, the design of having catch blocks like `catch e` make `e` be an `owned Error` seems to preclude the possibility of throwing `shared Error`s.

[2019-03-08 18:29] bradcray commented on #12529
OK, thanks.  In that case, if the second warning line were to evolve into something like your proposed:

[code]

I wonder if it should name `shared` as a third "attempt" that won't work.

[2019-03-08 18:36] mppf commented on #12529
PR #12533 doesn't have the 2nd line anymore, but does give an error if you try specifically to do `throw new shared`.

[2019-03-08 19:07] #12529 closed

[2019-03-08 20:46] ajoshpratt commented on #8372
Not ready to show any code, but just a little progress; the basic idea is you pull in 128 bits of random data, set some bits according to the standard, then convert to hexadecimal and add hyphens as necessary.

It's a little less straightforward to pull 128 random bits in Chapel, but it's easy enough to pull 16 bytes from /dev/urandom then convert them to hexadecimal.  I've written some code that

[2019-03-08 20:56] ajoshpratt opened #12540 "Use /dev/urandom to seed RNG by default"
It's fairly standard to seed RNGs from the entropy pool (`/dev/urandom` or dev/random) rather than relying on the timer.  Using a timer in a crypto application is fundamentally flawed, but even other, non-crypto applications benefit from the greater quality of the randomness found in the OS entropy pools.

This is standard in numpy (https://docs.scipy.org/doc/numpy/reference/generated/numpy.random

[2019-03-08 21:00] ajoshpratt commented on #12540
One thing I'm not sure about, exactly, is how the OS treats reads to `/dev/urandom`; I would imagine that it would act as if that had been _consumed_, and so whatever data you pulled is unavailable for other programs/threads/etc, but I am not an expert in how that particular stream works.

[2019-03-08 21:34] dlongnecke-cray commented on #11417
Just a heads up, I'm starting from the top of the list and working my way down to `modules/packages/Buffers.chpl`.

[2019-03-08 21:48] mppf opened #12543 "lifetime checker fails to find error with returning reference to local owned class"
The program below has a memory error, but the lifetime checker does not flag it. Could it flag it?

[code]

[2019-03-08 22:06] ajoshpratt commented on #8372
Seems to work fine.  I'm not so sure whether or not we have to worry about Endianness in Chapel, but the algorithm does rely on setting the most significant bits so for a compliant implementation, we might need to check for that.

[2019-03-08 22:57] ajoshpratt commented on #8372
Proof of concept here:

https://gist.github.com/ajoshpratt/393673ec1525a0729706498d2a4a9a19

It's a bit rough and has a few extra pieces (such as custom RNGs, which aren't used here; I'm just streaming directly from `/dev/urandom`) and I'm sure there are problems.  I'm also indexing _some_ arrays with 0, and others with 1.  That's fixable.

[2019-03-08 22:57] krishnadey30 commented on #11412
@ben-albrecht My Pull request was closed by codemirror  as they don't accept new modes into the distribution anymore. They have asked me to publish to npm. I will publish it soon.

[2019-03-08 23:02] krishnadey30 commented on #11412
https://github.com/codemirror/CodeMirror/pull/5801#issuecomment-470892013

[2019-03-09 00:54] bradcray commented on #5037
I believe this is now implemented as part of @benharsh's PR #12387 and so can be closed.

[2019-03-09 00:54] #5037 closed

[2019-03-09 01:04] bradcray opened #12549 "Support reductions over arrays of atomics"
As a Chapel programmer, I would like to be able to compute reductions over arrays of atomics because it is a useful thing to do and seems arbitrary that I cannot do it.  As a motivating example, maybe I have a per-locale atomic array and I want to compute the reduction over all locales of the atomic arrays.  Or I have an array of atomics that serve as buckets/counters and I want to sum them all up

[2019-03-09 01:04] bradcray commented on #12549
Attn: @vasslitvinov, @ronawho

[2019-03-09 01:24] ronawho commented on #12549
You can do `+reduce A.read();` today:
[code]
 but presumably you want to be able to do this without the promoted `read()`?

[2019-03-09 01:44] krishnadey30 commented on #8759
@bradcray I would like to work in this issue.

[2019-03-09 01:55] ronawho commented on #12549
Hmm, if we did support `+reduce A` without the `read()` what would you expect the result type to be?

[2019-03-09 01:57] krishnadey30 commented on #8759
@bradcray @ben-albrecht Please have a look at
https://github.com/krishnadey30/chapel/

[2019-03-09 02:19] krishnadey30 commented on #8759
I have opened a PR for this https://github.com/chapel-lang/chapel/pull/12546

[2019-03-09 02:25] #12031 closed

[2019-03-09 03:24] bradcray commented on #12549
I don't think adding a `.read()` works for the array-of-arrays of atomics case...

I'd expect the result of reducing an array of `atomic t` to simply to be `t`.

[2019-03-09 03:45] #12123 closed

[2019-03-09 04:12] bradcray commented on #8759
Hi @krishnadey30 — Thanks very much for taking this on.  I don't believe we have a contributors' agreement for you, which is required to contribute code to the Chapel project.  Please refer to the link and instructions here:  https://github.com/chapel-lang/chapel/blob/master/.github/CONTRIBUTING.md

[2019-03-09 04:39] ronawho commented on #12549
Yeah, good point. For the array-of-arrays case you'd have to do something like:

[code]

But that's definetly more of a pain, and we've talked about wanting operator overloads anyways, so that's probably the right way to go.

[2019-03-09 05:33] PHHargrove opened #12556 "catastrophic error: cannot open source file "ISO_Fortran_binding.h""
We run CI with various C/C++ compilers, including weekly runs with the latest Intel compilers.
Somewhere between our Feb 21 and Feb 28 runs, something changed such that all builds of Chapel applications die with a message about ISO_Fortan_binding.h not being found.

One example is visible at http://upc-bugs.lbl.gov/upc_tests/detail.php?testname=external-chapel/fft&date=2019-03-07&config=EX-dirac-i

[2019-03-09 06:07] bradcray commented on #12556
Hi Paul — Thanks for reporting this.  For context, this header is used to provide Chapel-Fortran interoperability.  I would've expected it only to be attempted to be `#include`d when we were actually compiling a library for use in Fortran interop, but instead it seems to be happening on every compilation due to its `use` in the DefaultRectangular module.  Tagging @daviditen and @lydia-duncan on th

[2019-03-09 06:34] bradcray commented on #12556
Following up: I've got a proposed fix in PR #12557.  Our code freeze is coming up Monday, so I may merge speculatively tonight to get an additional night of testing on it.

[2019-03-09 07:49] krishnadey30 commented on #8759
@bradcray sir, I have signed the licence and sent it. Please have a look.

[2019-03-09 08:19] bradcray commented on #5595
It seems that all uses of tryToken have now been removed, so all that remains is to clean its definition out of the compiler as well!  (?)

[2019-03-09 08:24] bradcray commented on #12556
My PR seems to be passing testing, but I didn't get it in in time for tonight's test run.  Will try again tomorrow.

[2019-03-09 11:30] krishnadey30 commented on #8914
I tried to correct it but was not able to. In https://github.com/chapel-lang/chapel/blob/1cf7393291205764fd6f0df7ba48d72afa40665a/compiler/AST/build.cpp#L635 `toLoopStmt(breakLabelStmt->prev)` returns none.
Will be glad if someone can help as I am new to compilers.

[2019-03-09 11:31] krishnadey30 commented on #8914
Also, what output is expected ?

[2019-03-09 12:17] krishnadey30 commented on #6329
@ben-albrecht @daviditen I would like to take up some of these issues. I would like to know more about heapq. You meant priority queue using heap right?

[2019-03-09 14:29] krishnadey30 commented on #11412
@ben-albrecht @bradcray
Please find the link to the npm module for codemirror-mode-chapel
https://www.npmjs.com/package/codemirror-mode-chapel

[2019-03-09 17:00] cassella commented on #8179
This works now, with warnings about `Shared` being obsolete, and `override` being recommended.

Modified per the warnings, it still works.

[2019-03-09 21:29] bradcray commented on #12556
@PHHargrove, @bonachea : If either of you are online this weekend, when would a run occur that would verify that this fixed the issue for you?  (put another way, when would I need to merge by to get verification that it's fixed, ideally before Monday's code freeze for Chapel 1.19?)

[2019-03-09 21:33] dungarpan commented on #11118
@mppf I want to solve this issue. In which file should I make the changes?

[2019-03-09 21:43] dungarpan commented on #11068
@ben-albrecht Can I work on this issue?

[2019-03-09 22:09] bradcray commented on #12556
I've now merged the fix, but will leave this issue open until we've confirmed that it fixes it.

[2019-03-09 22:41] PHHargrove commented on #12556
I will see if I can get a run in within the next few hours.

[2019-03-09 23:52] PHHargrove commented on #12556
Tests on master at e87691f8 look good to me!

[2019-03-10 00:19] vasslitvinov commented on #5595
I have verified that all uses of tryToken have been removed. It is a good idea to remove its definition from the compiler as well. After the release we can also remove the supporting machinery like tryStack and tryFailure.

[2019-03-10 01:17] bradcray commented on #12556
Great, thanks for the confirmation, Paul!

[2019-03-10 01:17] #12556 closed

[2019-03-10 12:28] mppf opened #12559 "can swap on arrays be supported?"
This issue is about to what extent the swap operator could be supported on arrays. (The swap operator is currently named `<=>` but there is some discussion about renaming it in #8545).

It might be appealing to implement `<=>` on arrays as swapping the pointers when the types are the same. There are several problems with this:

1. We might like to assume that the pointer pointed to by the `_array`

[2019-03-10 12:38] mppf opened #12560 "can swap be generated by default for most types?"
This issue asks if - for general user-defined record types - swap can be supported by default.

While there are some questions in #12559 about whether or not swap can be supported for arrays, the problems there have to do with:
 * special treatment and optimization of arrays in the compiler
 * run-time types

User-defined record types will have neither of these problems. So, could the compiler gen

[2019-03-10 21:19] tmacd8 opened #12562 "Chapel compiler segfaults compiling a class containing a member of the same class."
### Summary of Problem
The class definition below causes the Chapel compiler to segfault.
This is not a blocking problem.

### Steps to Reproduce

**Source Code:**

[code]

**Compile command:**
`$ chpl x2.chpl`
Segmentation fault (core dumped)

$CHPL_HOME/bin/linux64/chpl --gdb x2.chpl
Reading symbols from /home/tmacd/chapel/chapel-1.18.0/bin/linux64/chpl...done.
Breakpoint 1 at 0x2dd6e0
(gdb) r
S

[2019-03-11 02:23] vasslitvinov commented on #8914
@krishnadey30 let me think how to respond to your questions. Meanwhile if you'd like to put together a PR to change the text of the error message as we discussed above, it needs to be done by noon PST Monday 3/11 or soon after if you'd like to get it into the upcoming Chapel release.

[2019-03-11 06:53] AnubhavUjjawal commented on #8758
@bradcray I tried to find this error in the repo files but couldn't find it. Could you give a small idea where it might be/ where I should look?

[2019-03-11 07:46] krishnadey30 commented on #8914
@vasslitvinov I have created a PR https://github.com/chapel-lang/chapel/pull/12564

[2019-03-11 13:28] mppf commented on #11118
hi @dungarpan - thanks for your interest in helping us with this issue.

I'd recommend using `git grep` to search for the error message yourself - `git grep 'type mismatch in assignment'`.

Two things to note:
 1. You don't need to necessarily change *all* errors of this form in one PR. In particular I'd focus on the ones in `compiler/` first.
 2. You should make sure that there is agreement on th

[2019-03-11 13:38] mppf opened #12565 "if expression cannot find parent class type"
The following program leads to resolution errors for the if-expressions initializing `x`, `y`, and `z`:

[code]

For example
[code]

The workaround is to add a cast to borrowed/unmanaged/owned Parent in each branch of the if expression.
It's likely that the compiler could be improved so that these

[2019-03-11 13:39] ben-albrecht commented on #11068
Hi @dungarpan - while the implementation of this change is `easy / straightforward`, it will require consensus among the development team before proceeding. That's likely why it is not marked `good first issue`.

With code/doc freeze for Chapel 1.19 being today, this probably won't get discussed until after the 1.19 release, due to competing priorities.

Below is some feedback on your branch (http

[2019-03-11 13:44] ben-albrecht commented on #7414
A user has developed some early chapel magic function support [here](https://github.com/reuster986/chpl-magic)

[2019-03-11 13:45] mppf commented on #12565
This issue existed in 1.16:
[code]

[code]

[2019-03-11 13:50] ben-albrecht commented on #11412
Thanks @krishnadey30 !

I'm going to close this, but we still need to figure out how we can use this package from the magic function definitions over in https://github.com/reuster986/chpl-magic to close https://github.com/reuster986/chpl-magic/issues/1

[2019-03-11 13:50] #11412 closed

[2019-03-11 14:40] mppf commented on #8372
It looks like the Python implementation uses MAC addresses (https://docs.python.org/3.6/library/uuid.html#uuid.getnode) as part of the UUID. It seems to me that's something to do also in a Chapel version?

[2019-03-11 14:44] mppf commented on #8372
Oh, I see in https://tools.ietf.org/html/rfc4122.html that the node field might be random data:

Do you know if you are aiming to support a particular UUID version?

[2019-03-11 15:12] gbtitus commented on #6349
That, and make it file static because now it would be private to comm=ofi, and remove the leading `chpl_comm_` in its name, since that implies it's part of the public runtime comm layer interface.

[2019-03-11 15:19] gbtitus commented on #6349
@AnubhavUjjawal note that comm=ofi is still somewhat in initial development and not fully supported yet, plus this is really just a bookkeeping/clerical change.  If you're looking for things to do which will have a real impact I'd skip this one.   :-)

[2019-03-11 15:48] krishnadey30 commented on #11412
@ben-albrecht I will once look at this and try to find a solution for this.

[2019-03-11 15:52] krishnadey30 commented on #5326
@KING-SID I have created a PR for this. What's your status.

[2019-03-11 16:18] abhinavsagar commented on #12562
@tmacd8  I am working at this.
I think there is a problem with pointers being addressed to null reference.

[2019-03-11 16:43] #11528 closed

[2019-03-11 17:05] gbtitus commented on #12475
This was closed by #12524.

[2019-03-11 17:05] #12475 closed

[2019-03-11 17:39] daviditen opened #12569 "Generate an initialization function for --library-fortran"
Initializing the runtime/modules for --library-fortran currently requires the library author to write an initialization function like:

[code]

It would be good to generate an initializer like this so the library author doesn't need to.

[2019-03-11 17:57] bradcray commented on #12569
Given that we're now only conditionally `use`ing ISO_Fortran_binding.chpl when `--library-fortran` is used, could this simply be made module-level initialization code in that module, such that it would run on program startup for any `--library-fortran` compilation?  (in which case, maybe the module should also be renamed to something more general like `FortranInterop.chpl` or simply `Fortran.chpl`

[2019-03-11 18:04] lydia-duncan commented on #12569
Since the last line depends on the name of the program being compiled with `--library-fortran`, I'm not sure that is possible

[2019-03-11 18:33] ben-albrecht commented on #6081
I wonder if we can close this now that https://github.com/pnnl/chgl exists?

[2019-03-11 19:12] ronawho commented on #12556
Presumably this means our Fortran interop doesn't work with the latest intel compilers. 19.0.0.117 is the latest I currently have access to to test with. I'll see if I can get my hands on 19.0.2.187 (version used in the failed gasnet config)

[2019-03-11 19:12] ajoshpratt commented on #8372
For my purposes, I really just need a random UUID, so 4 is sufficient (and also seems to be the easiest to generate).  I implemented it as a UUID4 procedure so that we could theoretically build the others in.

I'm honestly not sure what the use case for the earlier revisions is, anymore.

[2019-03-11 19:43] PHHargrove commented on #12556
@ronawho our testing is on a system with a license only for Intel C/C++, but not Intel Fortran.
I suspect that is a key part of the original problem.

[2019-03-11 19:43] lydia-duncan commented on #12556
If that's the case, then that's concerning

[2019-03-11 19:52] ben-albrecht commented on #6698
A few others:

- [`subprocess.exit_status`](https://chapel-lang.org/docs/modules/standard/Spawn.html#Spawn.subprocess.exit_status)
- [`subprocess.send_signal`](https://chapel-lang.org/docs/modules/standard/Spawn.html#Spawn.subprocess.send_signal)
- Atomic [`memory_order_*`](https://chapel-lang.org/docs/builtins/Atomics.html)
- Several cases in DateTime
  - e.g. [`DateTime.fromtimestamp`](https://c

[2019-03-11 19:58] ronawho commented on #12556
Ah, that makes sense. Thanks Paul

[2019-03-11 20:15] bradcray commented on #12562
Wow, good one @tmacd8!  (as in "embarrassing...")

[2019-03-11 20:22] krishnadey30 commented on #5326
This link is not available anymore.I think this is the updated link https://chapel-lang.org/contributing.html

[2019-03-11 20:27] gbtitus commented on #12390
I added some instrumentation to the comm=ofi AM handling and re-ran hello4-datapar-dist on 2 nodes.  What is slow in the original code are the `writeln()` calls executed on node 1, which end up causing `executeOn` AMs back to node 0 to do the actual I/O.  As I said [here](https://github.com/chapel-lang/chapel/issues/12390#issuecomment-468096320), those are so slow I can actually watch the output a

[2019-03-11 20:34] krishnadey30 commented on #5326
I would like to take this up.

[2019-03-11 20:38] #12282 closed

[2019-03-11 21:17] gbtitus commented on #12390
Following up my previous comment -- there were also 7 executeOn body tasks run on node 1 to host on-stmt bodies coming from node 0, and those took 0.2s each on average.  This also seems quite long, though obviously not as bad as the 1.3s for the I/O on-stmt bodies from node 1 running on node 0.  So we may have some sort of excess overhead or CPU monopolization problem in general with task executio

[2019-03-11 21:26] #8914 closed

[2019-03-11 21:28] gbtitus commented on #12390
Building Qthreads with `CHPL_QTHREAD_ENABLE_OVERSUBSCRIPTION=1` makes no apparent difference.  And having built that way, setting `QT_AFFINITY=no` and/or `QT_SPINCOUNT=300` also don't make any difference.

[2019-03-11 21:53] gbtitus commented on #12390
With finer instrumentation in the task wrapper for on-stmt bodies, executing the actual body function takes the majority of the 1.3s per `writeln()` done on node 0 on behalf of node 1.  We also have to send a `done` indicator back from node 0 to node 1 when that body function is complete, but that only takes 10-11 ms on average.

[2019-03-11 22:06] tmacd8 opened #12573 "An array component of a tuple should always have a type."
### Summary of Problem
If a tuple contains an array component then the type of that component should be printable.
In the example below, the first component (an array) of tuple `b` still has a type even if `b` is not explicitly initialized.

### Steps to Reproduce

**Source Code:**

[code]

**Compile command:**
`$ chpl x3.chpl`

**Execution command:**
`$ ./x3`
c.type=([domain(1,int(64),false)] int

[2019-03-11 22:09] vasslitvinov commented on #11417
I am working on `modules/standard`

[2019-03-11 22:10] gbtitus commented on #12390
Modifying `hello4-datapar-dist` to write to an output channel opened from the existing `stdout` file descriptor number with `locking=false` helps some but doesn't solve the problem.  It brings the time for each `writeln()` down from 1.3s to 0.75s.  That seems to imply that both the locking and the I/O are slow, which is unfortunate.  It also messes up the output rather badly.

[2019-03-11 22:19] dlongnecke-cray commented on #11417
I have a PR up for all the throws from list start to ``modules/packages/Buffers.chpl``, #12574. I'll handle the rest of the items in ``modules/packages`` now.

[2019-03-12 03:29] #12393 closed

[2019-03-12 16:03] lydia-duncan commented on #11417
@vasslitvinov - when you get the chance, can you add checkmarks for the ones covered in your PR?

[2019-03-12 16:12] lydia-duncan commented on #11858
I have a start of this over at [this branch](https://github.com/chapel-lang/chapel/compare/master...lydia-duncan:interopPrimer)

Things that aren't covered yet:
- [ ] extern records
   - [ ] with omitted fields
- [ ] renaming extern symbols using the "external name" syntax
- [ ] comments describing how to include the code that defines the extern symbols
  - [ ] via `require` statements
  - [ ] via

[2019-03-12 16:19] gbtitus opened #12581 "spike 2: why is comm=ofi+sockets so slow on some test cases?"
On Mac OS X, comm=ofi+sockets shows seriously poor performance in some cases. For example, hello4 takes 105 seconds compared to under 1 second in nightly 'darwin' testing, and hpl times out at 300 seconds compared to finishing in just over 6 in nightlies.

The task here is to try to figure out what's causing this and resolve it.

This is a follow-on to #12390, which found that the tasks hosting th

[2019-03-12 17:37] PHHargrove opened #12582 "internal error: UTI-MIS-0602 chpl version 1.19.0"
I know today is *really* not the day you want a new bug report, but the following showed up in our nightly CI runs this morning, and was **not** present for the same configuration 24-hours earlier:

[code]

This is occurring for several of the tests we compile (fft, hpl, isx-weakISO, ptrans, sscas2_rmat) but not for several others.  This is master at 7e39e187

NOTE: this platform is a Windows Subs

[2019-03-12 17:57] #12390 closed

[2019-03-12 18:10] bradcray commented on #12582
Thanks for the quick report, Paul.  This looks consistent with some other errors that seem to have turned up in our testing last night.

[2019-03-12 18:48] mppf commented on #12582
@PHHargrove - thanks for reporting it. While it's not the day we'd want to have a new bug, it *is* the day we'd want to know about it and resolve it. I have a fix in the works (it was a type-o adding an out-of-bounds array access within the compiler).

[2019-03-12 20:01] vasslitvinov commented on #11417
I checkmarked mine, for #12579.
I labeled a few of those that do not need annotation.

Follow-up items:

* A couple of functions, marked with "todo", still need :throws: in their chpldoc.

* Deprecate the `error=` version of `proc channel.match()` and move its chpldoc to the throwing version. Unless there is a reason not to.

* A few channel methods that lock the channel will halt() if the lock()

[2019-03-12 20:23] BryantLam opened #12585 "Dynamic cast from parent to generic child causes compiler internal error"
Design question. Usage question. Causes internal error in compiler at `[1]`.

(I don't know the Chapel terminology for this, so I'll use the phrasing from C++.)

I want to create classes with straightforward tree inheritance and do a dynamic "downcast" from parent to child when the parent object is detected to be a child object. The children, however, are generic. How do I cast into a generic chil

[2019-03-12 20:38] BryantLam commented on #12585
Whoops. `class B --> class B: A`

[2019-03-12 20:58] mppf commented on #12585
Two key points.
 1. Use cast on classes to do downcast. You get `nil` if the instance isn't of that type.
 2. You have to cast to a fully instantiated type. (Doing something otherwise would require some different strategies for generic compilation besides the instantiation strategy we have now, AFAIK).

Here is an example:

[code]

The language spec covers this in section 9.2.4, "Explicit Class Co

[2019-03-12 20:58] daviditen opened #12586 "Function isRecord returns true for strings"
The function `isRecord(x)` returns `true` for strings and the string type.  I think it should hide the fact that strings are implemented with records and return `false`.

[code]

Prints

[code]

### Configuration Information

chpl version 1.19.0 pre-release (7e39e187a5)

[2019-03-12 21:03] BryantLam commented on #12585
Perfect. Thanks!

[2019-03-12 21:03] #12585 closed

[2019-03-12 21:04] bradcray commented on #12586
Bummer.  I definitely agree with your assessment.

[2019-03-12 21:20] mppf commented on #12582
@PHHargrove - I've merged a fix for the valgrind failures and I believe it's highly likely that the same issue was causing these WSL failures. Please let us know if the issue is resolved you you. Thanks.

[2019-03-12 21:35] AnubhavUjjawal commented on #12586
Should I add `isStringType(t)` in the or conditions there ??

![Screenshot 2019-03-13 at 3 03 49 AM](https://user-images.githubusercontent.com/22658701/54237730-a891ea00-453c-11e9-9323-7ac2e7eaf661.png)

[2019-03-12 21:54] AnubhavUjjawal commented on #12586
Ok, So I changed the code and added `isStringType(t)` in the above `proc` and `isRecord` is giving false for those conditions. The only doubt I have is, where to put the tests ??

[2019-03-12 22:04] lydia-duncan commented on #12586
I would put them under `test/types/string`

[2019-03-12 22:06] daviditen commented on #12586
I think you've taken the right approach, and agree about `test/types/string`.

[2019-03-12 22:12] AnubhavUjjawal commented on #12586
I thought so , but directly in `test/types/string` ? There are a lot of folders with contributors names on it inside the  `test/types/string` directory. Should I create my own folder, or directly keep it under ` `test/types/string` directory ?

[2019-03-12 22:16] bradcray commented on #12586
We're trying to move away from using contributor-specific subdirectory names in the test system.  Now, when adding new tests, I either put them at the top level (like test/types/string in this case) if they feel sufficiently major/key/central to the concept and that directory doesn't already feel overstuffed, or a subdirectory with a reasonably chosen name if not.  In this case, I could see either

[2019-03-12 22:37] AnubhavUjjawal commented on #12586
please see https://github.com/chapel-lang/chapel/pull/12589

[2019-03-12 23:03] lydia-duncan commented on #12356
(Old comments hidden for a fresh start at the conversation based on the discussion that occurred.  Feel free to read them if you are curious)

[2019-03-12 23:08] lydia-duncan commented on #12356
Option 1:
----------
Have a version of the function per potential option  (`getsockopt_linger(): int`, `getsockopt_last_endpoint(): string`, etc.) provided

Pros:
- Return type is obvious to the user
- While different than the C interface, there is at least precedent -
Java has done this.

Cons:
- When all ZMQ options are present, there will be ~70 versions of this
function

- Different strategy t

[2019-03-12 23:12] gbtitus commented on #12390
We can apparently get some thread interference from the libfabric socket provider's progress engine(s).  Either forcing manual progress or setting `FI_SOCKETS_PE_WAITTIME=0` (@ronawho discovered) will improve performance.

Likewise, based on the presence of some libevent functions in 2 threads seen in an interrupted program in the debugger, we may also be getting some interference from the MPI pro

[2019-03-12 23:16] PHHargrove commented on #12582
@mppf Retesting on WSL at 2cd38c47 shows the issue has been resolved.

[2019-03-12 23:19] bradcray commented on #12582
Great, thanks for confirming Paul, and thanks for reporting this!

[2019-03-12 23:19] #12582 closed

[2019-03-12 23:20] BryantLam opened #12590 "Rename module BlockCycDist to BlockCyclicDist"
Minor gripe. Why is the `BlockCyclic` distribution in module `BlockCycDist` instead of `BlockCyclicDist`?

[2019-03-12 23:20] gbtitus commented on #12390
@ronawho has also found that the performance is much better with tasks=fifo, or at least, the performance of hello4 with ofi+sockets+fifo is much closer to gasnet+mpi+fifo than it is when both are used with tasks=qthreads.  The might also imply a thread monopolization issue, since Qthreads (because it switches tasks in user space) seems like it might be more sensitive to not having all the cores a

[2019-03-12 23:21] gbtitus commented on #12581
Information tracking for this one is actually being done in #12390, just to keep everything in one place.

[2019-03-12 23:55] bradcray commented on #12356
* As a variation of option 1, could we call the routines something like:

        `getLinger()`,
        `getLastEndpoint()`,
        etc.

  rather than having the sockopt portion in there, for brevity /
  simplicity?  I'm assuming that "Linger" or "LastEndpoint" or whatever is
  the option that the 'getsockopt' prefix is referring to (?), making it
  seem redundant to me.

* It's not obvious to

[2019-03-13 00:14] bradcray commented on #8758
Hi @AnubhavUjjawal: Sorry for the slow response.  I don't believe we ever filed a test of this in the repo.  To reproduce, you'd need to follow the instructions above from a *nix environment (where I'm assuming `$` is the shell prompt below and `<TAB>` implies you should use TAB-completion to get the filename to expand:

[code]

As I understand it, the issue is that we strip the `.chpl` extension

[2019-03-13 00:22] dtjong commented on #12484
I'd like to work on this, should I simply remove the method overloads in the libraries that support `out error`?

[2019-03-13 00:28] krishnadey30 commented on #11587
@lydia-duncan can I take this?

[2019-03-13 00:47] cassella commented on #8758
I guess you couldn't create a  normal future for this, because the name of the .future file would necessarily  be too long...

[2019-03-13 14:21] ben-albrecht commented on #12590
Related: https://github.com/chapel-lang/chapel/issues/6698

[2019-03-13 14:50] lydia-duncan commented on #12356
We definitely could!  I didn't in the initial proposal because I was trying to keep as close to the ZMQ API as possible (and iirc the Java version had the name still there).  I think it will be easier to find the ZMQ counterpart via a google search if the name still has getsockopt in it, but we can easily solve that through a link to the documentation (even though the page for getsockopt is huge)

[2019-03-13 15:50] lydia-duncan commented on #11587
I suspect now isn't the time to resolve this issue (probably closer to python 2 deprecation which happens next year)

[2019-03-13 15:53] lydia-duncan commented on #11587
I won't object to it being proved otherwise, but wouldn't check just yet if it were me

[2019-03-13 16:48] mppf commented on #12356
I think having params or an enum for all of the 0MQ getsockopt options is overdoing it. That's just my personal opinion - it could work - it just seems that if we're trying to "Expose 0MQ functionality" then we might want to allow for programmers to use the documentation from 0MQ to know how to call our library. Which would imply
 1) We wouldn't want to change the names (or if we do, have a recipe

[2019-03-13 17:09] lydia-duncan commented on #12356
[Swift](https://github.com/goloveychuk/ZeroMQ/blob/master/Sources/Socket.swift#L66) uses `UnsafeMutableRawPointer` as the result type, so there's only one version of the method.

[Rust](https://docs.rs/zmq/0.9.0/zmq/struct.Socket.html) uses a method per option (`get_linger()`, `set_linger()`, etc.).

If I'm reading this right, [Julia](https://github.com/JuliaInterop/ZMQ.jl/blob/master/src/sockopts

[2019-03-13 17:21] lydia-duncan commented on #12356
I think the out argument strategy is interesting.  I'd have to experiment with it to be certain the compiler isn't too conservative about potentially bad assignments into it.

I am using `_int` and `_string` versions in the C helper functions that I call already.  I'm not very fond of having that be part of the interface we expose to users, but I prefer it to having a pair of functions per option,

[2019-03-13 19:36] ronawho commented on #5484
Should we add valgrind smoke testing too?

`make check` (what we use as part of smoke testing) doesn't have a way to trigger valgind and I'm not sure we want to add that so we'd probably have to expand our internal smoke test to run the hellos under start_test (which might not be a bad idea anyways)

[2019-03-13 19:40] gbtitus commented on #12390
It looks like the final piece of the puzzle may be the OpenMPI MCA `mpi_yield_when_idle` setting.  That is documented (in `ompi_info --all`) as being automatically set when nodes are oversubscribed, so we have not been setting it because we throw the `mpirun -map-by node:oversubscribe` option.  But setting it explicitly produces much better performance on `hello4-datapar-dist`.  Specifically, with

[2019-03-13 20:09] gbtitus commented on #12390
We're going to have to be careful about how/when/where we apply settings like this.  With vanilla settings other than forcing use of the sockets provider, a 2-node comm=ofi hello4 runs in 1.2 sec on our chapcs cluster (vs. 0.64 sec for comm=gasnet), but if I turn on manual progress it slows way down, to almost 30 sec.  At a guess, this is because the extra thread for automatic progress doesn't hur

[2019-03-13 21:07] krishnadey30 commented on #11436
@lydia-duncan @vasslitvinov I tried to solve this but I am not able to get the variable name in this function.

![image](https://user-images.githubusercontent.com/22263782/54314467-bfe6db00-4601-11e9-81c0-a7abed42ff93.png)

Can you guide me a little. I tried to get the `baseExpr` from the CallExpr and then tried to convert the `baseExpr` to `SymExpr` but I failed to get the variable name.

[2019-03-13 21:10] lydia-duncan commented on #11436
What's the lview output of `call` in this scenario?  (gdb, break on the USR_FATAL_CONT line, `lview call`)

[2019-03-13 21:47] krishnadey30 commented on #11587
It's better to wait. Thanks @lydia-duncan

[2019-03-13 21:49] krishnadey30 commented on #11436
I think I need to learn more about debugging and chapel compiler. I will learn and will try to solve this.
Thanks @lydia-duncan

[2019-03-14 00:35] vasslitvinov commented on #11436
primInitHaltForUnacceptableGeneric() is invoked from resolvePrimInit(). The latter has the formal argument `val`, which I suspect is the symbol being initialized. If we pass `val` to primInitHaltForUnacceptableGeneric() as an extra argument, we can use it in the error message.

[2019-03-14 09:50] krishnadey30 commented on #11436
@vasslitvinov Thanks. It worked. I will create a PR for this.

[2019-03-14 09:52] krishnadey30 commented on #7414
@ben-albrecht @bradcray @lydia-duncan Is it possible to take this as a GSOC project?

[2019-03-14 10:09] krishnadey30 commented on #11436
@lydia-duncan @vasslitvinov I have created a PR https://github.com/chapel-lang/chapel/pull/12594. Please have a look.

[2019-03-14 11:52] krishnadey30 commented on #11118
@mppf I would like to take this up.

In `compiler/resolution/functionResolution.cpp`
![changes](https://user-images.githubusercontent.com/22263782/54354808-8eabf080-467d-11e9-9612-cb031ef2b684.png)

![output](https://user-images.githubusercontent.com/22263782/54354657-3d036600-467d-11e9-8332-b5bce77372d0.png)

[2019-03-14 13:14] mppf commented on #11118
hey @krishnadey30 - good, the next step is to `git grep 'type mismatch in assignment'` and update the test .good files that have this pattern. Make sure they pass (`start_test test/some/path/to/file.chpl`).

[2019-03-14 13:31] krishnadey30 commented on #11118
@mppf I will do that and let you know.

[2019-03-14 15:02] krishnadey30 commented on #11118
@mppf In `test/users/kreider/feature_unusedcode.chpl` I didn't get any error but a `feature_unusedcode.good` file is present and its not passing the test.

![image](https://user-images.githubusercontent.com/22263782/54367218-09820500-4698-11e9-8b67-e269fd073502.png)

![image](https://user-images.githubusercontent.com/22263782/54367313-346c5900-4698-11e9-8334-2c95d1531b60.png)

[2019-03-14 15:03] ben-albrecht commented on #7414
@krishnadey30 - I think this could make a good GSoC project, if carefully scoped. For example, we may want to pursue the recompile-every-cell approach as a first step, and then investigate some of the improvements discussed above.

[2019-03-14 15:06] mppf commented on #11118
@krishnadey30 - that's a future, don't worry about it. You should be concerned about test output that shows as a Failure (i.e. #failures is not 0)

[2019-03-14 15:15] krishnadey30 commented on #7414
@ben-albrecht I will try to come up with a good proposal for this project and will consider the improvements discussed above.

[2019-03-14 15:17] krishnadey30 commented on #11118
@mppf  I have completed the changes you suggested and have also checked all the test files. I will open a PR.

[2019-03-14 15:21] krishnadey30 commented on #11118
@mppf  I have opened a PR https://github.com/chapel-lang/chapel/pull/12596 . If some more changes are needed then I can do them.

[2019-03-14 15:41] AnubhavUjjawal commented on #12493
@bradcray @mppf could I work on this ??

[2019-03-14 15:51] ben-albrecht commented on #9846
We could also enforce some package quality constraints:

- Does the package documentation build successfully?
- Does the package have tests?
- Does the package have examples?

[2019-03-14 17:01] bradcray commented on #12493
I'd be happy to have you work on it.  I think the big challenge here is how to avoid code duplication.  I.e., if we have a bunch of logic that interprets formatting strings at execution time, how do we avoid having a second bunch of logic that does the same thing at compilation time such that if/when things change, we need to update two pieces of code rather than one.

(I should add: I'm not all t

[2019-03-14 17:19] mppf opened #12599 "problems with lifetime checking of iterators"
Lifetime checking is currently confused by iteration. It should be able to determine the lifetime of the yielded values similarly to how it can determine the lifetime of function call results.

[code]

[2019-03-14 18:32] AnubhavUjjawal commented on #12493
I already went through some code and would go through the code again and see what I can infer. I have a busy schedule(midterms and evaluations) this and upcoming week, and I am planning resume my work on chapel lang as soon as they gets over . If this is could be left over for some time, it would be great? meanwhile if you guys have any suggestions, you could help me out by replying on this thread

[2019-03-14 21:04] gbtitus commented on #12390
Here's a bit of information about overhead threads.  I ran some 2-node test cases in the debugger on a 2-core Mac OS X laptop and stopped them at or soon after they were fully up and running to look at what threads they had.

A simple rank-2 MPI program using OpenMPI and launched by `mpirun` had 3 threads in its rank 0 instance:

- 1 thread running the user code
- 2 threads apparently handling MPI

[2019-03-14 21:57] dtjong commented on #12599
@mppf I'd like to work on this, but don't have much experience with compilers. I'm checking out `lifetime.cpp`, do you have any tips on where I should look to fix this, or any guesses as to what the problem is?

[2019-03-14 22:41] dtjong commented on #9069
@buddha314 I think I would like to work on this, what kind of usage stories do you have?

[2019-03-15 00:10] buddha314 commented on #9069
The basics start with things like

* An object that is a point `p` in n-space (most libraries restrict to n=2 or 3)
* An object that is a line `l` in n-space
* Does `p` lie on `l`?
* Does `p` lie on the ray from `q + l` ?
* Given a plane `S`, what is the normal to that surface?
* Given a volume (like a cube) `V` is `p` on the interior or exterior?

This are very direct, I could be more general if

[2019-03-15 00:28] krishnadey30 commented on #11067
@ben-albrecht I would like to take this issue.

[2019-03-15 01:09] krishnadey30 commented on #11067
I have opened a PR that solves this issue https://github.com/chapel-lang/chapel/pull/12605

[2019-03-15 01:28] krishnadey30 commented on #6501
@bradcray I checked the google prettify github. They also say prettify is used by Stackoverflow. I would like to take this issue.

[2019-03-15 02:47] krishnadey30 commented on #6501
@bradcray I have created a PR https://github.com/google/code-prettify/pull/588

[2019-03-15 05:11] dtjong commented on #9069
Thanks, I think I'll start by making a generic n-dimensional point, and just make special subclasses for 2d and 3d points.

[2019-03-15 11:59] AnubhavUjjawal commented on #12395
I added the `signbit` function in Math module and wrote some tests. Please have a look at https://github.com/chapel-lang/chapel/pull/12606

[2019-03-15 13:18] mppf commented on #12599
hey @dtjong - thanks for your interest. The fix is going to depend a lot of exactly how the compiler represents iterators and iteration, neither of which are particularly beginner friendly. I might recommend finding a different project within the compiler.

But, here are some quick tips, in case you want to keep trying:

[code]

might be related.

[code]

is also probably related.

[2019-03-15 15:06] mppf opened #12607 "Improve radix sort parallel load imbalance"
The current parallel radix sorter has some load imbalance issues preventing full performance with skewed input distributions. For example:

[code]

(this skewed distribution can be tested after PR #12489).

[2019-03-15 17:31] BryantLam opened #12612 "Recursive type alias causes compiler segfault"
Bug. Not a high priority. This arguably incorrect code causes compiler segfault.

I was trying to basically make it so I didn't have to write `R(size)` everywhere, but accidentally wrote a type alias was recursive(?).

[code]
`chpl version 1.19.0 pre-release`

Somewhat unrelated, but this simple program causes an internal error:
[code]
This program has no priority for me. I was curious what would

[2019-03-15 17:38] BryantLam commented on #12612
Probably a duplicate of #12562, but I have no idea.

[2019-03-15 17:52] BryantLam opened #12613 "Request for type-method shorthand from calling inside the class/record"
Related #12612 only by use case.

Feature request / Question on design.

From the Language Spec, 23.3.1 -- "If a class or record defines a type alias, the class or record is generic over the type that is bound to that alias." So if I don't want my class/record to be generic over that type alias, I can't use type aliases.

One alternative is a type method. Are there other alternatives?

But if I cr

[2019-03-15 17:59] mppf opened #12614 "nilable types"
This issue proposes that Chapel class types include a type modifier indicating if they can store `nil` or not. This would be in addition to the existing `owned` `shared` `borrowed` or `unmanaged` modifier.

### Why have compile-time checking against `nil`?

Chapel currently creates a `halt` on a `nil` pointer dereference if compiling with `--checks`. But, these checks are removed with `--no-checks

[2019-03-15 17:59] BryantLam commented on #12613
I'm open to alternative designs. I really want to use a type alias, but I don't want the class/record to be generic over it. Maybe a keyword could disable that behavior of the type alias?

Defining an initializer doesn't appear to disable that behavior. I could be doing it wrong, though.
[code]

[2019-03-15 18:05] BryantLam commented on #7704
Just ran into this issue.

[2019-03-15 18:15] mppf commented on #12613
@BryantLam - I think creating such a method is reasonable but running into some compiler bugs.

This works for me now:

[code]

I would expect at least one of these two to work, but right now neither do.

[code]

[code]

Note that we have some bugs currently with paren-less type returning functions, e.g. #11216.

[2019-03-15 18:44] ben-albrecht opened #12615 "Document language features outside of spec"
This issue serves as a place to track core language features that are not yet documented outside of the language specification.

For this list, I consider primers and technical notes as documentation, although it would be good to have users-guide entries for many topics as well.

Here is an incomplete list to start with, originating from the remaining items on the [users-guide](https://chapel-lang

[2019-03-15 18:53] mppf opened #12616 "cast from string to uint cannot handle max(uint)"
[code]

[code]

[2019-03-15 20:07] bradcray commented on #6501
Hi @krishnadey30 : Unfortunately, there's already a PR for this as noted, albeit somewhat subtly, in a [comment above](https://github.com/chapel-lang/chapel/issues/6501#issuecomment-352645604):

https://github.com/google/code-prettify/pull/518

Unfortunately, it's been open for over a year now with no action on it.  I'm not sure how to get the process unstuck, so filed an issue requesting Chapel s

[2019-03-15 20:19] krishnadey30 commented on #6501
@bradcray  Sorry for not checking the message properly. I checked it now. I went through the PR and found that some changes are needed.
For eg: null is used instead of nil. Keywords and types are mixed.
@victor-ludorum It will be good if you can update the PR.

Shall I close my PR?

[2019-03-15 20:23] bradcray commented on #12613
I think @nspark ran into a frustration like this a few years ago relating to being able to use `type t` to create a "typedef" or alias in most contexts, but necessarily resulting in a generic class/record if used as a member field.

I think one possible way of dealing with this is that in a world where Chapel has `private` members and methods, it seems one could use `private type t = ...;` to defi

[2019-03-15 20:35] bradcray commented on #12615
Technical notes are intended to be placeholders for things that aren't yet documented in the spec (because they're still in flux, aren't mature enough, or just haven't made it in yet).  So if something were described in the spec, I don't think we should consider it a fault if there isn't a technote that doesn't cover that same topic.  Conversely, if something is documented in the spec, I don't thi

[2019-03-15 20:42] bradcray commented on #6501
I think we should do what we can to only have one best PR open so that reviewers on the code-prettify team who don't know Chapel will not have to choose between them and guess which is better; but it doesn't really matter to me which one is open.  I would guess that we've added some keywords to the language since Victor opened his, so imagine that the best PR might be a blend of the two?

[2019-03-15 20:45] krishnadey30 commented on #6501
@bradcray I will once check @victor-ludorum PR properly and will update my files if I missed something.

[2019-03-15 21:30] BryantLam commented on #12613
One problem is that `private` is used for visibility, but the proposed solution is using `private` to affect the type signature of R, an entirely different concept. There are uses for why I would want the type alias to be visible outside the class (e.g., defining factory functions that use that type).

I do want to use `type`, but I don't want more intents. The type-method idiom might just be a qu

[2019-03-15 22:01] benharsh commented on #12462
I believe I have a fix for this, but it won't be in the 1.19 release.

[2019-03-15 22:01] bradcray commented on #12613
This interprets my proposal as more of an abuse or reinterpretation of `private` than I'd intended.  My assumption was that if a type (or param) field was private, it would not be legal to name it in the type's signature (e.g., I couldn't say `R(size=64, t=int)` or `R(64, int)` because I don't have access to `t` from outside the type); and therefore it would also not be _necessary_ to mention it i

[2019-03-15 23:19] BryantLam commented on #12462
Brad suggested this code is related:
[code]
[code]
Notably, the error goes away if I actually define the same R.init inside:
[code]

[2019-03-16 00:32] bradcray commented on #7704
We traditionally have tried to keep the spec describing the language as it should be rather than the language as implemented, so it doesn't surprise me that the spec doesn't describe this.  That said, in an attempt to keep the spec and the implementation closer in sync, we could also consider removing this description from the spec and then add a feature request issue related to extending the lang

[2019-03-16 09:38] himbhadani commented on #11489
@ben-albrecht I would like to work in this.
I'm going to modify the spawn function under "modules/standard/Spawn.chpl". so that, it'll not remove the extra while space.

[2019-03-16 11:34] krishnadey30 commented on #7414
@buddha314 @ben-albrecht @bradcray You might want to look at [this](https://hub.mybinder.org/user/quantstack-xeus-cling-e1h9z76t/notebooks/notebooks/xcpp.ipynb).
Xeus-cling is a Jupyter kernel for C++ based on the C++ interpreter cling and the native implementation of the Jupyter protocol xeus.

[2019-03-16 13:08] ben-albrecht commented on #11489
Hi @himbhadani, thanks for your interest in this issue. I would suggest a different direction: I'd start with python's [shlex implementation](https://github.com/python/cpython/blob/3.7/Lib/shlex.py) and their [test cases](https://github.com/python/cpython/blob/3.7/Lib/test/test_shlex.py) as a starting point. I think this should go into a separate module from Spawn.

[2019-03-16 13:09] ben-albrecht commented on #7414
@krishnadey30 - looks like the link above is broken?

[2019-03-16 13:18] krishnadey30 commented on #7414
@ben-albrecht I have updated the link. I think they evaluate cell by cell but I need to check it more properly. I am going through the documentation of Xeus and Xeus-Cling. I will look at Cling and let you know.

[2019-03-16 13:18] krishnadey30 commented on #7414
@ben-albrecht I have updated the link. I think they evaluate cell by cell but I need to check it more properly. I am going through the documentation of Xeus and Xeus-Cling. I will look at Cling and let you know.

[2019-03-16 14:59] AnubhavUjjawal commented on #12493
Correct if if I am wrong, I found out `proc channel.writef(fmtStr: string, const args ...?k): bool` which I think is responsible for doing the task of casting ?? What approach would you suggest we follow to make it from casting automatically to coercing automatically ? Could we generate a compilerError in the above proc to make it compile time ?? I need a little help in this.

[2019-03-16 15:53] himbhadani commented on #12616
@mppf I would like to work on it. I just checked any hex string not able to cast into uint form.
I think, i'll have to make changes in StringCast.chpl to also accept hex string to convert it to uint form.

[2019-03-16 17:55] cassella commented on #9584
FWIW, I think the base `Error` class not supporting a string message
field is going to make things more confusing and less convenient for
users.

I think @ben-albrecht's saying that given a hierarchy of `Error` that
doesn't include a string, (say, `NodeError`) every time you want to
add a subclass (say, `NodeMemError`) that takes a string, you'd have
to do some tedious work to hook it up to the ne

[2019-03-16 18:31] cassella commented on #8505
I can't reproduce this with the original code or the distillation.

Instead, I get (for the original code)

[code]

[2019-03-16 18:44] cassella commented on #6019
It works now, if the initializer's arg isn't generic:

[code]

[code]

[2019-03-16 18:50] cassella commented on #8615
This is done, right?

[2019-03-16 18:57] cassella commented on #8777
done?

[2019-03-16 19:02] cassella commented on #8775
done?

[2019-03-16 19:04] cassella commented on #8773
done?

[2019-03-16 19:06] himbhadani commented on #12616
Sorry i was wrong, upto "0x9fffffffffffffff" casting is working properly but as soon as i change 9 with any higher alphabet it start throwing bad cast error

[2019-03-16 19:27] krishnadey30 commented on #7414
[Cern](https://root.cern.ch/cling) states that Cling is an interactive C++ interpreter and uses just-in-time (JIT) compiler for compilation.

[2019-03-16 19:28] LouisJenkinsCS opened #12622 "Documentation and Example Use-Cases for 'dataPar*' parameters"
I feel as if the default `dataPar*` values, being `dataParMinGranularity`, `dataParTasksPerLocale`, and `dataParIgnoreRunningTasks`, aren't enough for all use-cases. For example, for situations where I have a dynamic number of elements to process inside of a work-loop, I get degrading performance from using `forall` due to the default `dataParMinGranularity` being too low (`1`) and having a small

[2019-03-16 19:43] krishnadey30 commented on #7414
Also, I checked tried the online notebook that has been provided by them and found this. This might give the answer.
![image](https://user-images.githubusercontent.com/22263782/54480687-8dcbb800-4851-11e9-9ba4-42dceded2938.png)

[2019-03-16 20:39] anupamdas104 commented on #11489
@ben-albrecht I would also like to work on this. I have read the python shlex documentation and implementation. I can work on, with @himbhadani, creating a new module for lexical parsing of shell commands with similar functionalities as the Python's shlex module.

[2019-03-17 02:30] LouisJenkinsCS opened #12623 "Compiler segfaults when too many class instances with varying param field values"
One example use-case of when this bug may appear is when you combined `param` loops with `param` fields. One foreseeable reason would be that the user may try to use `param` as much as possible to save execution time in exchange for slightly longer run-times.

**MWE**

[code]

[TIO](https://tio.run/##JYo7CoAwEAVrc4pXahO0VbyEN1hCxIUYZY1GkJw9/qabYcxEq3U5G0fbhgGXKlYSmnGixc4@dCqpcRH8lcEejdZN/fHuBwkEPb

[2019-03-17 02:31] LouisJenkinsCS commented on #12623
Slightly related to #12612

[2019-03-17 06:36] AnubhavUjjawal commented on #8758
@bradcray  @cassella  we could do this ?

[2019-03-17 11:54] himbhadani commented on #12616
![Screenshot from 2019-03-17 16-50-17](https://user-images.githubusercontent.com/16982492/54489858-d6798480-48d6-11e9-81a5-5e7286a15705.png)

@mppf I tried to figure out the error and noticed for all valid string(including the string throwing error) the casting is successfully happening but for all hex string, to be casted into unsigned(else part function calls), starting with alphanumeric charact

[2019-03-17 14:35] LouisJenkinsCS commented on #12616
Run `make` again if you change anything in Runtime and Compiler (any non chpl file).

[2019-03-17 19:14] himbhadani commented on #12616
Thanks @LouisJenkinsCS
Please review my pull request.

[2019-03-18 13:27] mppf commented on #12616
hi @himbhadani - thanks very much for looking at the issue. I've left some feedback on your PR #12625.

[2019-03-18 13:31] mppf commented on #12493
@AnubhavUjjawal - if you're looking at the casting vs coercing issue, let's talk about that over on #12423.

[2019-03-18 13:50] himbhadani commented on #12616
Hi @mppf thanks for your feedback, i'm implementing all the changes but also have some confusion which i've mentioned in #12625. Please assist me in that.

[2019-03-18 13:57] mppf commented on #12613
Just for the record, I don't think we should make private fields work the way they do in C++ or Java. Rather, I think that declaring a field private should just mean that the field cannot be used outside of the module. This avoids the need to have things like "Friend Classes" or "Protected" etc.

Of course what "private" on a field means is another issue but I'm bringing it up now because if we ch

[2019-03-18 14:05] mppf commented on #6993
@dmk42 - I think we should close this issue (we have other ways to track LLVM is default).

[2019-03-18 14:08] ben-albrecht commented on #12622
Related to https://github.com/chapel-lang/chapel/issues/12615

[2019-03-18 14:32] mppf commented on #9584
doesn't include a string, (say, NodeError) every time you want to
add a subclass (say, NodeMemError) that takes a string, you'd have
to do some tedious work to hook it up to the new class's .message().
(Possibly combine it with super.message()?)

I think this is just going to be the way it is. E.g. even if we had Error have a string field, a subclass like `NodeError` could choose not to use it, an

[2019-03-18 14:35] mppf commented on #12623
@LouisJenkinsCS - we already have such a flag, `--instantiate-max`. The question is why the logic related to it is not triggering in this case.

[2019-03-18 15:08] mppf commented on #8470
@bradcray - I'm just noting that I think we should attend to this issue somehow soon - in other words I think we should move it out of Icebox.

[2019-03-18 15:09] ben-albrecht commented on #11067
After a discussion with @mppf, it sounds like the plan is to move the HDFS module into mason and to utilize the I/O framework @mppf is working on: https://github.com/mppf/chapel/tree/io-plugins-chapel

This would make this issue redundant, therefore I'm closing this now.

[2019-03-18 15:09] #11067 closed

[2019-03-18 15:17] ronawho opened #12626 "Build mason for the host compiler/platform"
Mason is implemented in Chapel, which means it uses the runtime/third-party. However, the runtime/third-party typically only gets built for the target compiler/platform. When cross-compiling this means the mason executable might not be able to run on the host machine.

We should build a runtime for mason that's compatible with the  host compiler/platform (maybe limiting to fifo, cstdlib-mem, and r

[2019-03-18 15:23] mppf commented on #10713
If the goal is to be able to to migrate modules/packages over to mason, I think we should ignore the testing issue (testing can continue to use start_test for these for now) and allow nightly testing to use/test mason modules from chapel-lang/chapel.

[2019-03-18 15:58] ben-albrecht opened #12627 "HDFS package module does not compile"
The HDFS package module is known to be broken for `chpl version 1.19.0.dec8fd3341`. I have not tracked down the specific point at which it broke, but this does include Chapel 1.19 release.

This issue should be addressed in the IO plugin effort being done in https://github.com/mppf/chapel/tree/io-plugins-chapel.

[2019-03-18 17:54] bradcray commented on #10713
@mppf: I'm not clear on the details of what you're proposing.  Would the idea be to have the start_test for such a package do the  mason command to make it available for the test, e.g., via a precomp (or a new test system feature)?

A related question is how/where such mason packages (that we support) be documented.

[2019-03-18 17:56] bradcray commented on #12627
By "as of" do you mean that it was the first point at which it broke (how it reads to me), or that you know it's broken for that version but that it might well be broken for previous ones too?

[2019-03-18 18:13] bradcray commented on #12622
@LouisJenkinsCS : To make sure I'm understanding the request, are you asking that we document the ability to call these() iterators on (certain) arrays/domains supplying the optional dataPar* arguments?  (i.e., `forall i in D.these(dataParMinGranularity=16)`?)  If so, I think the reason we haven't done that to date is that (I _believe_) we're not certain we want to encourage explicit calls to `the

[2019-03-18 18:14] ben-albrecht commented on #12627
@bradcray  - Updated description for clarity. Not sure if this includes previous versions.

[2019-03-18 18:19] bradcray commented on #8773
I believe so, thanks!  (and mostly, thanks @benharsh!)

[2019-03-18 18:19] #8773 closed

[2019-03-18 18:22] bradcray commented on #8775
At a high level, I think "yes", but there are currently 5 open issues associated with this one:  #6711, #8136, #8974, #9773, and #8232.  Note that I have not scanned those issues (yet) to check on their status beyond being "open"...

[2019-03-18 18:23] bradcray commented on #8777
I don't think so... we're still wrestling with the relationship between initializers and partial instantiation (e.g., issue #12318).

[2019-03-18 18:25] bradcray commented on #8615
In my view, this has 34 open issues under it, so the question might be whether the status of those issues is up-to-date.

[2019-03-18 18:27] cassella commented on #8775
Doh, sorry for the noise.  When I open this epic issue (or the others) in github, I don't see where it lists any related issues.  I'll delete my comments later today.

[2019-03-18 18:28] bradcray commented on #8505
I believe this reflects that the user-defined reduction interface has evolved since the test was written and now requires an `identity()` method.  So the question is whether, upon supplying it, the original code works or breaks.

[2019-03-18 18:30] bradcray commented on #8758
I'm definitely open to that approach.

[2019-03-18 18:56] mppf commented on #10713
Something along those lines. The main idea is two parts:
 1. We'd run tests for any mason package from chapel-lang/chapel
 2. These would continue to use `start_test` (rather than the TODO testing framework)

I don't have a specific plan for how the details work out, though. The main idea here is to reduce the amount of things we'd need to do first before we can move things out of modules/packages

[2019-03-18 19:32] mppf commented on #12095
In other words, we are considering two options:

1. The type method is instantiated for whatever the ownership flavor is:
[code]

2. The ownership flavor is converted to `borrow` when calling the type method:
[code]

[2019-03-18 21:14] vasslitvinov commented on #10009
This item was completed prior during 1.19 work cycle.

[2019-03-18 21:14] #10009 closed

[2019-03-18 22:20] dtjong commented on #9069
@buddha314 Hi, I got a basic start to the library, I want to get some feedback to see if there are any Chapel functionalities I'm not using that I should, or if you have any other comments or concerns. https://github.com/dtjong/chapel-geometrylib/blob/master/src/GeometryLib.chpl

[2019-03-18 22:36] buddha314 commented on #9069
Wow! Cool!  In terms of programming efficiency, I'm the wrong guy to ask.  A brief look says this is a great start.  From my own work, I'd say for things like `distance` you may want two implementations (though @bradcray may have a different opinion).

If `x` and `y` are both points, then you have the class method `x.distance(y)` or the function `distance(x,y)`.   Scipy seems to prefer the functio

[2019-03-18 23:06] dtjong commented on #9069
Thanks for the feedback, I have been looking at Scipy while writing this, and I'll try different implementations.

[2019-03-19 00:04] bradcray commented on #10713
Got it.  I'm fine with taking baby steps, I just don't have a vision for what the first baby step would be.  I.e., what specific actions we would take to move a given module from $CHPL_HOME/modules/packages to mason without losing current test and documentation coverage.  Not to say one couldn't come up with one, just that I haven't.

[2019-03-19 01:20] cassella commented on #12623
The instantiation max kicks in when the loop is 10000 or 100000, but
at 1000000 as above, I think it's a different problem:

[code]

Which is in

[code]

[2019-03-19 01:20] ben-albrecht commented on #11489
Thanks for your interest @anupamdas104. Sounds good.

[2019-03-19 02:10] cassella commented on #8505
I modified `test/reductions/userdefined.chpl`, adding to each class
method (one at a time) a forall loop over the `vals` array calling an
undefined function, e.g.

[code]

All of them failed with `error: unresolved call 'unresolvedCall()'`.

Except the one above, which compiled fine.  I guess that `accumulate`
variant isn't used?  (It compiles and runs without it entirely.)

[2019-03-19 02:21] cassella commented on #6019
Granted, the specific question was "should this be allowed?", and in retrospect I don't know if the generic arg to the initializer was specifically part of the question.

FWIW, @benharsh's example (modified to have each `init()` set `this.eltType` before doing whatever) does fail, but I think due to not applying the `.these()` (?):

[code]

Changing the last line to make it explicit results in pro

[2019-03-19 11:45] nspark commented on #12613
@bradcray Instead of `private type t = ...;`, why not `const type t = ...;`? I feel like this helps capture the intent expressed. That is, while `type t` is necessarily fixed at compile time, `const type t` defines a non-generic type alias because it's constant with respect to its assignment in the code. Maybe I'm just misspelling `typedef` though. :wink:

[2019-03-19 13:04] mppf commented on #7846
The swift 'encodable' interface seems interesting prior work here. https://developer.apple.com/documentation/swift/encodable

[2019-03-19 14:04] mppf opened #12635 "overload sets"
This issue proposes overload sets that are inspired by the D language features [overload sets](https://dlang.org/spec/function.html#overload-sets) and [alias declarations](https://dlang.org/spec/declaration.html#alias).

Functions or methods declared at the same scope with the same name are called an _overload set_.

For example, in
[code]

there are 3 overloads of `foo`. These 3 functions form an

[2019-03-19 15:57] bradcray commented on #8505
It may depend on which reduction / scan forms you use (e.g., standalone operator versus reduce intents).  Or it may just not be used anymore.  The UDR (User-Defined Reduction) interface is still heavily in flux, but we hope to stabilize in this coming release cycle.

[2019-03-19 16:01] bradcray commented on #12613
My intuition is that `const type t` in a field context would still cause any default initializers to support an argument for `t` since `const` fields can be set in initializers in addition to in the declaration of the field.  So this might still make the object more generic than intended.

I'll add that I don't disagree with this statement of Michael's:

and that in suggesting `private type t`, I

[2019-03-19 16:13] bradcray commented on #9959
Is this a duplicate of issue #9854?

[2019-03-19 16:27] bradcray commented on #9959
Ah, I see.  I was reading too quickly, thanks.

[2019-03-19 16:33] bradcray opened #12637 "default argument value `new C()` leaks memory"
### Summary of Problem

When a default argument's value is `new C()` and that default argument is used, it seems we leak memory.

### Steps to Reproduce

**Associated Future Test(s):**
[`test/classes/delete-free/default-arg-new-leaks.chpl`](
           https://github.com/chapel-lang/chapel/blob/master/test/classes/delete-free/default-arg-new-leaks.chpl
          ) #12636

### Configuration Informa

[2019-03-19 16:37] bradcray opened #12638 "type-inferred default argument value `new C()` doesn't accept `new C()` as actual"
### Summary of Problem

It seems that if a default argument value is `new C()` (with no type specifier), we cannot pass `new C()` in as an actual argument which seems surprising.  I'd expect the type of the formal to be `[borrowed] C` which would suggest that `new C()` ought to be able to be passed in.  If the formal is explicitly given `C` as its type, this works as expected (but seems it should

[2019-03-19 16:42] bradcray commented on #11101
In working on shutting down user-level leaks in the testing system these past few weeks, I've run into at least one case of this which came from a test other than Paul's (though I need to check my other computer to remember which one it is).  I also ran into a potentially related issue in which using `new C()` as a default argument value similarly leaks and opened issue #12637 against it.

[2019-03-19 17:54] bradcray commented on #7773
This looks like it's no longer leaking so I think this can be closed.  @mppf can you double-check me?

[2019-03-19 17:56] mppf commented on #7773
Yep, thanks for noticing.

[2019-03-19 17:56] #7773 closed

[2019-03-19 19:45] #12616 closed

[2019-03-19 19:53] mppf commented on #11118
Closed by @krishnadey30's PR #12596.

[2019-03-19 19:53] #11118 closed

[2019-03-19 20:14] vasslitvinov commented on #8505
It may well be that one of the accumulate() methods is not used.

We are switching to a new reduction interface soon, so hopefully the quirks of the current interface will not live for much longer. Except for users of the 1.19 release distro. :(

[2019-03-19 20:18] #11436 closed

[2019-03-19 20:28] bradcray opened #12639 "Should users be able to apply two management flavors to a given clas"
### Summary of Problem

I was surprised to find that our compiler permits two memory management flavors to be applied to a given class type without complaint and filed the future below against it thinking it was a bug.  In the PR, Michael raised questions about whether it really was a bug and what the implications were for the language.  This issue is designed to capture the topic as a language de

[2019-03-19 20:32] mppf commented on #12639
Here is my comment from the PR

It's unclear to me. Part of the reason it works the way it does now - besides implementation reasons - is that I had imagined that there were scenarios where one would want, in generic code, to allocate a new instance of some type, where the type comes from a type argument. When doing that, I think the generic code might:
 a. Want to use whatever management discipli

[2019-03-19 20:32] bradcray commented on #12639
Oh, I was just working on pasting it here.  You beat me to it.  :)

[2019-03-19 20:43] ben-albrecht commented on #8505
I added a `clone` and `identity` method (both required), and was not able to reproduce the original internal error from my previous reproducer:

[code]

[code]

Maybe we should close this?

[2019-03-19 21:16] #12586 closed

[2019-03-19 21:27] #6993 closed

[2019-03-19 21:39] bradcray commented on #8505
Works for me, thanks Ben! (and Paul)

[2019-03-19 23:33] vasslitvinov commented on #12614
I like this proposal and the proposed syntax.

I would like to discuss a couple of minor mods :

* Failure with the `!` operator - as in `maybeNil!` when `maybeNil==nil` - should throw, not halt. The reason why our current nil checks halt do not apply here iirc because the proposal is to execute this check even upon --fast. My motivation for having it throw is aesthetics. Although maybe halting of

[2019-03-20 00:50] cassella commented on #12638
[Moving example here from comment in PR #12636]

[code]

[code]

[2019-03-20 00:53] cassella commented on #8974
None of these tests are presently futures, and they all pass

[code]

[2019-03-20 01:03] cassella commented on #9773
The code above passes with `--verify`, with or without the `proc init() {}`.

The added future, `test/types/records/init/nested-empty-record.chpl`, was retired in #12034

[2019-03-20 01:08] vasslitvinov commented on #9773
@benharsh - this was resolved in #12034, right?

[2019-03-20 13:10] mppf commented on #12614
@vasslitvinov - thanks for your feedback.

I proposed that it `halt` because that is what Swift does. Since we're drawing both error handling design and the `!` operator from Swift, it's probably worth emulating.

I think it would be reasonable to have a helper function that throws if the Optional is nil and returns it otherwise.

I would say that a nil-dereference error is not likely to be someth

[2019-03-20 15:50] benharsh commented on #9773
I think so, I'll close the issue.

[2019-03-20 15:50] #9773 closed

[2019-03-20 16:10] LouisJenkinsCS commented on #12622
@bradcray

That is one of the things, yes, but also for the command-line argument `--dataParMinGranularity` that sets the default value.

[2019-03-20 16:12] LouisJenkinsCS commented on #12622
I see it as important because I was seeing a sharp decrease in performance (significantly worse than serial, by two orders of magnitude) when using `forall` blindingly, and even thought of using conditions to determine whether or not I should use a `for` vs a `forall`. I think its important because these 'knobs' and 'dials' that control performance like this should be mentioned at least somewhere,

[2019-03-20 16:13] bradcray commented on #8974
Seems like we should close.  @benharsh ?

[2019-03-20 16:22] #8974 closed

[2019-03-20 16:28] bradcray commented on #12622
Those flags are already documented here:  https://chapel-lang.org/docs/usingchapel/executing.html#controlling-degree-of-data-parallelism and show up when running a Chapel program with `--help`.

The per-distribution settings are also documented as part of each distribution's documentation.

So I think the biggest lacks at present are that we don't document the default iterators or the default dist

[2019-03-20 17:20] BryantLam opened #12649 "Add module prefix to all error-diagnostic function calls"
Compiler improvement. Low priority.

Importing modules with the same function name in both correctly causes an ambiguous-call error, but the candidates do not have a module prefix. Only way to know which candidates is by line number.

While this case is the most obvious to fix, I'd prefer it if full module prefixes were added on all diagnostic errors. It would also help with figuring out whether s

[2019-03-20 17:34] bradcray commented on #12649
@BryantLam: Just to make sure I'm understanding your output:  You're not suggesting that there isn't a filename preceding the line numbers are you?

[2019-03-20 19:01] mppf opened #12650 "localSlice method is available on arrays but it's not documented"
https://github.com/chapel-lang/chapel/blob/87668bb3e26fd5d9c2ff62345837d1d58773a6e4/modules/internal/ChapelArray.chpl#L2458-L2460

The array type includes a localSlice method but this method is not documented.

[2019-03-20 19:47] bradcray commented on #12650
This is arguably intentionally not documented to avoid supporting it forever in favor of getting `A[local]` working (see issue #12086).  Will that issue ever get worked on?  A couple of things have had me thinking it might be my next project.

[2019-03-20 19:57] ankugupt commented on #11433
I tried writing code for common subsequence whose algorithm looks similar to @ben-albrecht . Kindly take a look at it .

`proc input_string(out str1: string, out str2: string)
{
  var  infile=open(filename, iomode.r).reader();

  infile.read(str1);
  infile.read(str2);
  infile.close();
}

proc lcs ( str1:string,str2:string,len1,len2)
{
    var L:[0..len1,0..len2] int;

    for i in 0..len1
    {

[2019-03-20 20:57] mppf opened #12651 "isSubset not supported on rectangular domains"
isSubset (and probably isSuperset) don't work on rectangular domains:

[code]

[code]

I see no reason why they could not work. I would expect the above program to output `true`, for example.

[2019-03-20 20:59] ben-albrecht commented on #11433
Hi @ankugupt - thanks for your interest. I expect this issue to be closed by the addition of the [StringUtils](https://github.com/chapel-lang/mason-registry/pull/14) package to the mason registry.

If you think your implementation is an improvement over that one, I encourage you to contribute to the StringUtils package: https://github.com/AnubhavUjjawal/Chapel-StringUtils

[2019-03-20 21:22] lydia-duncan commented on #12356
Verified: using an out argument allows the method to be used without issue, and means that we can leave LINGER defined as a const with the same value as the extern constant ZMQ_LINGER that we got from the header file.

I'm finding I'm not entirely clear on your preferences.  Michael, it sounded more like you were tossing ideas around, or did I misunderstand?  Brad, it sounds like you prefer using

[2019-03-20 21:23] dmk42 commented on #11061
Closed by #11991 and the decision to always return a string.

[2019-03-20 21:23] #11061 closed

[2019-03-20 21:26] mppf commented on #12356
I'm fairly happy with method-per-option or with out argument. I think out argument is probably the best option at the moment. I'm not really excited about using params to change the return type. I don't have a real clear idea what an enums solution looks like and as a result I don't really have an opinion about it. (But maybe it uses the param-value of the enum to change the return type - and then

[2019-03-20 21:27] dmk42 commented on #11063
Closed by #12468 and the decision to implement `byteIndex`.  When `byteIndex` becomes available, default indexing will be by codepoint instead of by byte.

[2019-03-20 21:27] #11063 closed

[2019-03-20 21:29] dmk42 commented on #11060
The resolution to this issue was that we decided to implement `byteIndex` and make default indexing work by codepoint instead of by byte.

[2019-03-20 21:29] #11060 closed

[2019-03-20 21:32] dmk42 commented on #10834
The resolution to this issue was that we decided to defer any implementation of grapheme support for now, but avoid making design changes that will preclude adding grapheme support some time in the future.

[2019-03-20 21:32] #10834 closed

[2019-03-20 21:35] dmk42 commented on #11850
The resolution to this issue was that we decided to stick with the ctype classifications for now, but avoid making design changes that would preclude adding Unicode character classifications in the future.

[2019-03-20 21:35] #11850 closed

[2019-03-20 21:39] dmk42 commented on #11849
We decided to provide mechanisms for iterating by byte and by codepoint.  We will leave room to iterate by grapheme in the future but do not have plans to implement it at this time.  We'll add a `byteIndex` and change the default `string.these` to iterate by codepoint.

[2019-03-20 21:39] #11849 closed

[2019-03-20 21:40] dmk42 commented on #11749
This is resolved by the decision to have explicit indexing by both byte and codepoint.

[2019-03-20 21:40] #11749 closed

[2019-03-20 21:42] dmk42 commented on #11745
This is resolved by the decision to allow other multibyte encodings for now.  Someday, only UTF-8 will matter.

[2019-03-20 21:42] #11745 closed

[2019-03-20 21:52] BryantLam commented on #12649
No no. What I'm suggesting is something like this output instead:
[code]
And not have the module prefix only apply for this specific error case. I want fully qualified module prefixes on *all* errors.

[2019-03-21 01:55] cassella commented on #5454
Here's some off the end:

* `parallel/taskPool/figueroa/TotalThreads.chpl`
** It's using sleep to wait for tasks to run.  It's testing that some of the tasks end up stuck on `single`s, so can't synchronize with them directly.
* `performance/sungeun/multilocale/syncsingle.chpl`
** I don't know what the sleep is doing.  But it's `config const`'d out as start_test will run it.
* `release/examples/pri

[2019-03-21 13:01] #11433 closed

[2019-03-21 13:58] #8505 closed

[2019-03-21 14:21] ben-albrecht commented on #6329
@krishnadey30 - yes, here is a good reference: https://docs.python.org/3.7/library/heapq.html

[2019-03-21 14:23] ben-albrecht commented on #6329
@daviditen - Don't we already have support for this in our IO module? Do you think we could benefit from an additional `JSON` module similar to the `TOML` module?

Perhaps we should remove this from the list now, or at least link to another issue that is tracking the progress on our csv module.

[2019-03-21 14:27] gbtitus commented on #12390
When using the "ibv" conduit, GASNet does so using libfabric.  And, it can disable the thread that listens for connection requests at configure time via the '--disable-ibv-conn-thread' option.  Whatever that causes to happen in libfabric, we could do the same.

[2019-03-21 14:38] ben-albrecht opened #12657 "Build a library of iterator tools"
It would be useful to provide a toolkit of common serial and parallel iterators to users through a library. Python’s itertools library would make a good reference for target functionality as well as early performance comparisons. However, this task is not limited to iterators available in itertools.

Assuming we're porting python [itertools](https://docs.python.org/3/library/itertools.html), we wo

[2019-03-21 14:46] ben-albrecht commented on #12657
This is up for grabs as a [GSoC 2019 project](https://chapel-lang.org/gsoc/ideas.html#iterator-library). Some suggestions to GSoC applicants:

- Determining the subset of iterators to implement and which ones are parellizable/distributable is left as an exercise for the applicants, and can be included as part of the application project plan / timeline.
- Implementing one of the iterator functions,

[2019-03-21 15:09] lydia-duncan commented on #6329
iirc, our JSON support is only used in [formatted IO](https://chapel-lang.org/docs/latest/modules/standard/IO/FormattedIO.html?highlight=json#general-conversions).  @mppf is also a good person to ask

[2019-03-21 15:11] mppf commented on #6329
We need to pull the JSON encoder/decoder out of formatted I/O and into some sort of JSON support object. See #7846. It's true that it's currently only available through formatted I/O.

[2019-03-21 15:13] ben-albrecht commented on #12657
Though not explicitly listed, this may be considered part of https://github.com/chapel-lang/chapel/issues/6329

[2019-03-21 15:24] lydia-duncan commented on #6329
Also, isn't subprocess already handled?

[2019-03-21 15:28] daviditen commented on #6329
There's a prototype in the test system but no official CSV module.  The prototype would need design buy-in and better handling for malformed files before it could become an official module.

[2019-03-21 17:20] LouisJenkinsCS opened #12660 "Golang Channel abstraction in Chapel"
I think that Chapel needs a `channel` abstraction. Golang was the first, but Rust has the crossbeam package that [implements](https://github.com/crossbeam-rs/crossbeam/blob/master/crossbeam-channel/src/channel.rs) their own [channel](https://docs.rs/crossbeam/*/crossbeam/channel/index.html). Now I have created my own [FIFOChannel](https://gist.github.com/LouisJenkinsCS/10960fee01c8bb55907f9983c9ae

[2019-03-21 17:23] bradcray commented on #10809
In addition to Louis's original request for function name and line number, I think we should also support queries of module name and filename.

[2019-03-21 17:26] dlongnecke-cray opened #12661 "Failing tests in interop/python when CHPL_LLVM=llvm and --compopts --llvm"
Tests in `interop/python` fail on `darwin` when:

- `CHPL_LLVM=llvm`
- Invoked with `start_test --compopts --llvm`

These are the tests that fail:

- arrayOpaquePointer_block.chpl (segfault)
- arrayOpaquePointer_block_with.chpl (segfault)
- intArrays.chpl (Python MemoryError)
- realArrays.chpl (Python MemoryError)

I suspect these failures are related to a similar issue with opaque arrays in `inte

[2019-03-21 17:33] lydia-duncan commented on #12661
Yeah, that definitely seems to be limited to arrays, thank goodness.

Meta note: I'd update your description to mention that it occurs after the changes in your PR

[2019-03-21 18:10] LouisJenkinsCS commented on #12660
One thing I would like to do with such channels is to have asynchronous pull-based communication, such as what I asked for in #9991.

[code]

[2019-03-21 19:41] LouisJenkinsCS commented on #12660
**Potential Issues:**

1) Would like to be able to return from a function after spawning an asynchronous task such as in the above. Can be resolved by allowing explicit `in` intent.

[2019-03-21 19:59] lydia-duncan commented on #11417
Huh, not sure how I missed this comment.

That seems reasonable to me

Feels unnecessary.

We do something similar for `:returns:`, so it is consistent.  I prefer the `:throws:` version and it wasn't hard to support both (and I have a vague memory of Python doing something similar)

[2019-03-21 23:55] bradcray commented on #12356
It's not clear to me that using a generic `out` argument is more attractive than using a generic return type (which I'd prefer of those two choices).  I think Michael makes an argument that the `out` argument would provide some compile-time type checking, but I suspect that errors would occur within the body of the library routine (?) whereas returning would result in an error in user code, which

[2019-03-22 01:49] cassella commented on #5673
FWIW, the future in master today wildly fails to compile the generated source:

[code]

[2019-03-22 02:46] cassella commented on #6493
Does the delete-free support obviate the need to do anything here?

[2019-03-22 03:55] cassella commented on #8968
It looks like there have been a few more (unannotated) regressions since the one in January 2018:
https://chapel-lang.org/perf/16-node-xc/?startdate=2018/01/01&enddate=2019/03/21&configs=gnuugniqthreads,gnugasnetmpi&graphs=hpccpromotedstreamperfgbsn5723827200

[2019-03-22 04:04] cassella commented on #9630
This now reports
[code]

Is that better?

The only test whose .good has this error is `test/trivial/shannon/condReturn2.chpl`.  But that has had a clean error since 2007.   So maybe there should be a separate test to lock in this behavior, in whatever manner distinguishes it from that test?

[2019-03-22 06:39] akshansh2000 commented on #12657
I want to take this up as a GSoC 2019 project. I was just wondering if beginning with implementing the `repeat` and `product` itertools of python would be a good way to start. As far as I know, these tools are not available in Chapel as of now. Please let me know if I missed something, and whether to go ahead with this.

[2019-03-22 13:24] mppf commented on #12356
If we wanted to, we could make a `param` version of `getsockopt` that did type checking at compile-time. But, we could leave that to future work. E.g. for when we have better ability to get the C constants into params, with --llvm, when it's the default, etc.

I agree with that. The question is just how much effort we want to go to for this function in this module.

I think it'd be unnatural for t

[2019-03-22 13:26] mppf commented on #6493
I think it's reasonable for users to write `owned RandomStream` etc. However others might disagree.

[2019-03-22 14:03] ben-albrecht commented on #9630
Agreed. Thanks for checking this @cassella.

[2019-03-22 14:03] ben-albrecht commented on #9630
I'll close this issue with the PR to add that test.

[2019-03-22 14:19] ben-albrecht commented on #12657
Hi @akshansh2000, `repeat` and `product` seem like good starts. I expect `repeat` to be relatively simple, but `product` will be a little more challenging.

Regarding your `product` implementation, there are a few design goals to consider:

- We'd want to support [variadic arguments](https://chapel-lang.org/docs/primers/varargs.html)
- We'd want our arguments to be generic so that we don't have to

[2019-03-22 14:44] mppf opened #12670 "file.lines can use a borrowed string"
Some languages (e.g. D) allow strings to point into the I/O buffer.

While doing that in general might be interesting, it's easy to run into safety issues. However doing it in the context of `file.lines` and similar functions is not hard. `file.lines` can yield a ref to a "borrowed string", which points into the I/O buffer. I *think* it's possible to make it impossible for such strings to escape:

[2019-03-22 16:41] vasslitvinov commented on #12484
@dtjong what is your status/outlook here?

[2019-03-22 16:52] lydia-duncan opened #12671 "Update learnChapelInYMinutes on the official site"
It looks like the copy of LearnChapelInYMinutes on the [official site](https://learnxinyminutes.com/docs/chapel/) is out of date with the version we have in the primers directory.  Specifically, it still uses constructors when initializers are the norm now.

A user ran into this in our Gitter channel and tried to use constructors as a result

[2019-03-22 17:03] e-kayrakli opened #12672 "Buffered index addition interface for sparse domains"
Currently, one can use `+=` or the `bulkAdd` method to add indices to a sparse
domain. A typical flow is as follows:

[code]

However, in cases where the number of indices is very large, this method may not
be feasible, since `+=` is not guaranteed to be zero-copy. Moreover, it will try
to sort the indices, further increasing the complexity. The user can do some
manual buffering at the application

[2019-03-22 17:04] e-kayrakli commented on #12672
I have also thought about `bulkAddBegin` and `bulkAddEnd` as alternative method names. I prefer the ones in the example above. But I am not particularly fond of either and open to any other suggestions.

[2019-03-22 17:06] e-kayrakli opened #12673 "Local index addition for distributed sparse domains"
`+=` and `bulkAdd` interface can be used to add indices to block distributed
sparse domains.

[code]

Today, this ends up `indices.locale` sorting the array using a special
comparator so that the indices are sorted for their target locale, and each
locale doing their own inside a `coforall`.  The main problem I see with this
status quo is that it is centralized, therefore arguably not scalable.

T

[2019-03-22 17:07] e-kayrakli commented on #12673
In terms of the method name; another alternative I can think of is `localBulkAdd`. There are instances of both `*Here` methods and `local*` methods and functions in modules currently. I have affinity (pun intended) to `bulkAddHere` as it reads more like a sentence. I wouldn't lose sleep if `localBulkAdd` has more support.

[2019-03-22 17:13] e-kayrakli opened #12674 "Sparse Arrays/Domains Meta-issue"
This is a metaissue to track sparse array/domain issues.

Functionality
-------------

- [ ] Slicing  (#9813, and many others linked from that)
- [ ] Iterators in subset of dimensions  (#7374)
- [ ] Buffered bulk index addition (#12672)
- [ ] Local index addition  (#12673)
- [ ] Bulk index removal (No issue yet, probably low priority)

Performance
-----------

- [ ] Sparse Array assignment (#9344)

[2019-03-22 17:16] e-kayrakli commented on #12674
@ben-albrecht suggested creating this issue both to track the issues and help those who are interested in contributing to the sparse domain/array support in Chapel.

Anyone with the right permissions should feel free to modify the contents of the original post.

[2019-03-22 17:16] bradcray commented on #6493
I agree and will close this, thanks!

[2019-03-22 17:16] #6493 closed

[2019-03-22 17:20] himbhadani commented on #12674
Thanks @e-kayrakli Sir,
This meta-issue is surely going to help me a lot.:)

[2019-03-22 17:45] ben-albrecht commented on #9813
Migrating this info to https://github.com/chapel-lang/chapel/issues/8023 and closing.

[2019-03-22 17:45] #9813 closed

[2019-03-22 17:46] ben-albrecht commented on #8023
Some observations shared by @benharsh in another issue:

- We need a 'stridable' method on sparse domains/arrays to avoid issues with shared-code for rectangular slicing (easily achieved by adding a method to BaseSparse*)
- We currently always return a rectangular domain when slicing any domain. We should return a domain of the kind being sliced, or allow the domain map author to decide what that

[2019-03-22 17:51] ben-albrecht commented on #9446
Related: https://github.com/chapel-lang/chapel/issues/8023

[2019-03-22 17:55] lydia-duncan commented on #12356
The mock-up I made has us throw an error from the function if the option provided wasn't expected based on the type of the out argument.  I'd want to wordsmith the message a bit from where it currently stands if we took that route, but I don't know that it would be harder to wrestle with than an error in user code.

I think that's right.  We could do that in the out argument case by having overloa

[2019-03-22 19:03] bradcray commented on #11101
I found them again.  Some tests that leak due to this issue are:

* test/classes/initializers/postInit/class-generic.chpl
* test/classes/initializers/postInit/class-nongeneric.chpl

[2019-03-22 19:20] ben-albrecht commented on #8846
Given that we don't have a way to reproduce the error encountered here, and we haven't heard of any other instances since, we're going to close this issue. We can reopen if it is ever encountered again in the future.

[2019-03-22 19:20] #8846 closed

[2019-03-22 19:37] dtjong commented on #12484
I haven't started working on it yet, will do so as soon as I get a chance.

[2019-03-22 20:00] bradcray commented on #12614
I feel generally favorable about this proposal.  Caveat: I have not spent much time yet thinking about the convenience operators yet.

If I'm understanding, the proposal seems to switch between `C?` and `nilable C` to indicate a C which can store `nil`.  Is the proposal to support both of these? (or did you switch syntax at some point and not update everything? or maybe are still deciding between

[2019-03-22 20:03] lydia-duncan commented on #12356
I think the only question that remains is: for setsockopt, should we deprecate the original, or just add the set* functions alongside it?  If the latter, should an effort be made to extend it in the future when additional set* functions are added (i.e. by defining the additional options as explicit constants like LINGER)?

[2019-03-22 20:05] bradcray commented on #12356
If there's no intention to support both styles of interface, I'd deprecate it for symmetry.

[2019-03-22 20:07] mppf commented on #12614
I meant for this proposal to focus on `C?` but had switched from `nilable C` in fact. I'll see if I can find any more `nilable` in code samples and correct.

For a second I worried that the parser would get confused. But I think we are OK because they have different orderings (prefix ? vs postfix ?).

[code]

I'll fix, thanks

[2019-03-22 20:08] bradcray commented on #12614
I agree it's unlikely to be a problem for the parser... I'm just thinking of the humans here.

[2019-03-22 20:08] vasslitvinov commented on #12484
Thanks!

[2019-03-22 20:17] bradcray opened #12682 "Support HDF5 for non-LLVM builds of the compiler"
As a Chapel user, I'd like to be able to use the HDF5 module without having to opt into `CHPL_LLVM!=none` support for convenience and flexibility.

[2019-03-22 21:37] lydia-duncan opened #12684 "How should --library compilation react to --no-local?"
Low priority.  Logging so I don't forget about it.

How should `--library` compilation react to `--no-local`?  Should it create the library/executable pair like multi-locale interoperability will?  Or should it stay similar to single-locale compilation, but with the changes typical of a `--no-local` executable?

We probably should throw an error for `--no-local` + `--library` until this is decided

[2019-03-22 21:41] lydia-duncan opened #12685 "How should --library compilation reaction to CHPL_LAUNCHER != none when CHPL_COMM==none?"
Kinda similar question to #12684.  Some of the changes for multi-locale interoperability might be suited for a `--library` that expects to be launched, even if the program calling it isn't launched?

[2019-03-22 21:45] ronawho commented on #8968
Good timing -- new release-over-release graphs agree with you:

![stream prom](https://user-images.githubusercontent.com/1588337/54854676-eb785e00-4cb0-11e9-803c-6f8b3261a123.png)

[2019-03-22 22:04] bradcray opened #12686 "Support `chpl` version number queries from Chapel source"
As a Chapel user, I'd like to be able to query and reason about Chapel's version number within my source code as param values so that I could add overloads or features in a way that was sensitive to the version number for backwards compatibility.  For example, imagine the ability to write things like:

[code]

as a means of getting backwards compatibility for a routine that had changed names.

[2019-03-22 22:05] lydia-duncan commented on #12686
Is this a duplicate of #5491?

[2019-03-22 22:06] bradcray commented on #12686
Look at that, it sure is!  Thanks!

[2019-03-22 22:06] #12686 closed

[2019-03-22 22:24] bradcray commented on #12684
Are you asking specifically here about `--library` + `--no-local` + `--comm=none`?  I.e., I think of `--library` + `--no-local` as being the way to opt into what you're calling multi-locale interoperability (but also with `--comm=<non-none>`).

[2019-03-22 22:34] ronawho commented on #12686
I was hoping you could do something like:

[code]

but I guess that's an infinite call chain.

[2019-03-22 22:39] lydia-duncan commented on #12684
Yeah, basically.  You said something about this before, right?

[2019-03-23 00:59] cassella commented on #9711
valgrind doesn't complain about anything for that test for me today.  I can't quickly find a test locking in that behavior.

[2019-03-23 01:08] cassella commented on #11101
Those are both `new unmanaged MyCls(10);`

[2019-03-23 01:14] cassella commented on #9883
Does the `c_array` type satisfy that last sentence?

[2019-03-23 01:22] ronawho commented on #9883
I don't think so. c_array is stack allocated only and I'm not sure if you can have a c_array of wide things.

I think this was a case where meta-data wasn't being hoisted or something, and we really just want the compiler (or llvm backend) to get a lot better at hoisting our array meta-data.

Hmm, unfortunately it looks like the SPLATT repo was removed. @thomasrolinger does the splatt code still e

[2019-03-23 01:27] thomasrolinger commented on #9883
@ronawho sorry about that, I must have switched the repo to private when I was cleaning things up. Should be back up now

[2019-03-23 01:42] ronawho commented on #9883
Thanks!

[2019-03-23 01:55] cassella commented on #10218
I think you mean

[code]
which makes it behave the same as #10217

`ChapelError`'s `Error.writeThis` is now marked with `override`.

[2019-03-23 02:49] cassella commented on #10639
Those two futures are no longer futures,

mismatch.chpl via #12387
mismatch2.chpl via #11120

[2019-03-23 10:38] krishnadey30 commented on #5326
@bradcray I have modified
- CHPL_DEVELOPER.rst
- CompilerIRTricks.rst
- GASNetOnDesktops.rst
- GettingStarted.rst
- Potpourri.rst

and have opened a PR https://github.com/chapel-lang/chapel/pull/12690 for the same. Kindly take a look.

[2019-03-23 12:33] akshansh2000 commented on #12671
I would like to take up this issue. I will make all the necessary changes and open a PR regarding the same in a couple hours.

[2019-03-23 18:45] akshansh2000 commented on #12657
Thank you, @ben-albrecht. I'm working on it. I'll keep you updated.

[2019-03-23 20:41] akshansh2000 commented on #12657
The basic implementation for the repeat tool is given:
[code]
Output:
[code]

Please let me know what all I need to change in this. This sure could be parallelized, and I'll work on that next. The documentation and performace evaluation is further in the queue.

[2019-03-23 21:22] LouisJenkinsCS commented on #12657
@akshansh2000 You may want to make this into its own Pull Request. (also side note: If you add write the code block as \`\`\`chpl you get syntax highlighting)

[code]

You also will want a parallel iterator. I'll do this one for you so you get the gist of how to do so in Chapel...

[code]

You'll also definitely want a leader-follower version so you can do something like this...

[code]

In the ab

[2019-03-23 21:50] akshansh2000 commented on #12657
Thanks for the clarification of the parallel iterator, @LouisJenkinsCS! I'll work on the leader-follower part and share my progress.

(Thanks for the syntax highlighting part as well hahaha)

Also, as for the PR, I'm supposed to make a Mason package and make a PR to the mason-registry repository, right?

[2019-03-23 21:54] LouisJenkinsCS commented on #12657
Hm... I'm not sure, honestly. Previously students just submit a PR to the repository and it gets stuck somewhere (likely labeled as some kind of prototype/test), but I suppose it makes sense if @ben-albrecht would want you to implement it as a Mason package.

[2019-03-23 22:06] akshansh2000 commented on #12657
Alright, I'll wait for @ben-albrecht sir to reply, and work on my code until then.

Thank you!

[2019-03-23 22:06] vasslitvinov commented on #12173
I am still unable to reproduce the performance difference, either in the cray-xc-16-node or chapcs --local configurations. For the latter, the "after" version is 1-2% faster than the "before" version in my runs. Even though we observe the same 3% slowdown in the nightly testing for both configurations.

However, looking at the generated code, I suspect that the culprit is the un-inlined call to `a

[2019-03-23 22:18] vasslitvinov commented on #12173
I would like to try #12691 to see if we get performance back.

[2019-03-24 07:19] himbhadani commented on #11489
@ben-albrecht I'm stucked in this since last 3-4 days. i need some help.
I went through shlex.py and its testcase and understand every line of code but facing difficulties in transforming it into .chpl
in shlex.py three things are available to import:-
1. shlex class
2. split function
3. quote function

whenever split or quote functions are called they are creating a shlex object and then every op

[2019-03-24 13:44] ben-albrecht commented on #12657
Mason package vs package module is still an open question at this point. Though, I'm leaning towards a package module right now so that we can utilize the nightly performance testing. Once mason packages have this functionality, we could migrate this to a mason package, like we plan to do for other existing package modules.

[2019-03-24 14:49] ben-albrecht commented on #11610
A contributor working on the `product` iterator from #12657 stumbled across this issue as well:

[code]

Currently, we can work around this by adding an explicit overload for the default arg(s):

[code]

[2019-03-24 15:13] ben-albrecht commented on #11489
Hi @himbhadani, you can do:

[code]

For more details, I'd suggest checking out the [classes primer](https://chapel-lang.org/docs/master/primers/classes.html), though admittedly it's a little light on details (noted in #12615). You might have better luck browsing some tests or standard library codes in the repository.

The [TOML parser class](https://github.com/chapel-lang/chapel/blob/master/modul

[2019-03-24 16:13] cassella commented on #7786
Confirming that as the last comment implies, forwarding is uninvolved.

I removed the `View` class and changed the last six lines of the file to

[code]

The error persists.

Since it's not included in the issue yet, I'll note the error:

[code]

(The code above and in the future doesn't generate the "missing
override keyword" warning.)

This feels similar to #9424.  The workaround there is "effec

[2019-03-24 19:04] cassella commented on #8474
The behavior requested in this issue was implemented by the cited pr.  Ready to close?

[2019-03-24 21:06] cassella commented on #5143
1:

`test/classes/initializers/generics/typeAlias/errorNewExpr.chpl`
declares the failure of this to compile to be
errorNewExpr.typeless.good.

2a, 2b:

I believe #11656 locks in these not working as written.  For the
`new` expression using the alias to invoke the initializer, the
initializer now needs a `type` formal argument with the same name as the
type member.

2b: was `test/classes/initializ

[2019-03-24 21:30] cassella commented on #10385
I opened a PR with a future.

I also found that compiling the second example with `no-devel` produces a binary that reports the line of the cast in the error.

[2019-03-25 03:24] krishnadey30 commented on #7414
I have created a python wrapper kernel for Chapel. https://github.com/krishnadey30/jupyter_kernel_chapel

[2019-03-25 12:52] ty1027 opened #12695 "Internal error when taking a reference to `this` in `init()` of class/record"
### Summary of Problem
In the following code, I am trying to take a reference to `this` in` init()` of a class (or record) to "rename" `this` to some other name (e.g., self), but the compilation fails with internal error. On the other hand, if I take a reference to `this` in `postinit()`, the code compiles successfully.

(This issue is not blocking for me and just reported here because of internal

[2019-03-25 13:19] #8474 closed

[2019-03-25 14:15] #9630 closed

[2019-03-25 14:39] akshansh2000 commented on #12657
The repeat iterator is almost complete, I believe.
Please take a look at my implementation and let me know if I need to change something.

Also, I'm a bit confused here. How do I implement infinite repetition for a parallel loop?
In the case of a `forall` loop, it needs to know to the total number of tasks to divide the `repeat` task into different tasks, while in the case of a `coforall` loop, th

[2019-03-25 15:40] ben-albrecht commented on #12657
This is not supported today in Chapel. As a result, we will not be able to pursue parallel implementations of any infinite iterators for this project.

[2019-03-25 15:47] akshansh2000 commented on #12657
Alright, so should I put the rest of the code into a module and create a PR?

[2019-03-25 15:55] LouisJenkinsCS commented on #12657
Oh yeah, I forgot that you can't `break` from a `forall` loop. I'm wondering if its wise to return a 'killswitch' which the leader and follower will check to see if it should continue.

[2019-03-25 15:58] LouisJenkinsCS commented on #12657
Note that if I make the array the 'leader', it works fine. It has to do with the leader not knowing when to stop, which is definitely a problem. [TIO](https://tio.run/##rVVRT9swEH7Pr7gJiSabCWSMFyqepk2atgek8TZNyE3cxMKxo0uyUtB@e3d26qSmwMZEq6qN/d333Xd3dvOKN0JtNpHsBAKKRvAOYo4lg07WooULOEngPgJ6yaVfo0XoKqHdsn0tDUJuet2B1JClKRQG1lKoAohq7mBCteJJ/MFAHEb9jqLjY/jecV1wZbSAS45cKaHgCyXLO4NRmHZD@zV0vIRzsBtfpS4YPDS

[2019-03-25 16:03] lydia-duncan commented on #5143
Thanks Paul!  I need to mentally refresh myself on the issue before determining what the next step is (not sure if I'll get to it right away, but hopefully soon)

[2019-03-25 16:04] benharsh commented on #9711
Hmm, you're right. I'll close this and see if I can find which PR resolved the issue.

[2019-03-25 16:04] #9711 closed

[2019-03-25 16:18] bradcray commented on #12674
Only loosely related, but I wanted to mention that I'm putting in an effort to look into what it would take to slice dense arrays with sparse domains.

[2019-03-25 16:26] bradcray commented on #9711
Could we check the code from this issue in as a test to guard against backslides (since it presumably didn't work before?)

[2019-03-25 16:29] bradcray commented on #11101
True.  I should've clarified that they still leak when I removed the `unmanaged`, but I'll check updates with that change to avoid confusion and shift the blame away from the user.

[2019-03-25 16:33] bradcray commented on #11101
See PR #12697

[2019-03-25 16:35] akshansh2000 commented on #12657
Noted. So for now should I exclude the infinite-parallel iteration from the code and make a module out of the rest of my code, and throw an error when trying to use infinite iteration with a parallel loop?

Also, should I open an issue regarding the above?

[2019-03-25 16:56] bradcray commented on #11610
It looks to me that this doesn't fail to resolve, but rather it incorrectly binds `[1, 2]` to `repeat` rather than to `args(2)`?  Is that not what you're seeing as well?  [(Try it online)](https://tio.run/##S85ILEjN@f@/oCg/WaFAI7EovVhPT88@T0ehKLUgNbHE1lBTQaGaS0GhvCizJDUnT0MdpMRKQV1HAcTQtEaWgmgBS0KYQOlaLq4CDXVHJ6BYtKGOUSzcYCNNawV9fYXy/KLsYlQlEIm0xMycYoWSfKD64vycstT//wE)

[2019-03-25 16:57] lydia-duncan commented on #12684
Logically I view this as an extension, since the main goal is to get `--library` to work for multi-locale compilation.  My hope is that triggering it for `--no-local --comm=none` once support is present for `CHPL_COMM != none` will be simpler than adding the support in the first place, and I think the work will go faster if we do it in that order, rather than making the extension to support both a

[2019-03-25 16:59] LouisJenkinsCS commented on #12657
You could halt when you have an infinite parallel loop for now, sure. The lack of a break statement in forall is a well-known issue, so no issue needed (unless Ben thinks differently)

[2019-03-25 17:00] e-kayrakli commented on #12674
@bradcray -- I am trying to track what happens on github but, if you happen to open an issue capturing what you think about that, IMHO it should be listed in this issue as well. Such support would definitely increase the usability of sparse domains.

Feel free to ping me up if you open an issue and I miss it.

[2019-03-25 17:18] bradcray commented on #12695
I'm going to say that this is a bug in that the code as you've written it that is not intended to be supported by Chapel; yet we also don't generate an error message for it, resulting in the internal error instead.  Tagging @benharsh to get his opinion as well.

Specifically, given your initializer:

[code]

Chapel's initializer design does not permit the user to do things with an object until it

[2019-03-25 17:24] bradcray commented on #12684
I agree that comm != none is the important case to focus on in the short-term.  I was just trying to clarify the issue for myself since it doesn't say anything about the comm setting (so my first reading of it was confused since comm != none results in `--no-local` being thrown by default.  So the main question — "How should --library compilation react to --no-local?" — surprised me since that see

[2019-03-25 17:26] lydia-duncan commented on #12684
Ah, that's fair.  Sorry to be confusing :)

[2019-03-25 17:26] dlongnecke-cray opened #12699 "The --dynamic flag should create a shared library when compiling with --llvm"
Currently, it looks like the LLVM backend creates a static library irregardless of whether `--static` or `--dynamic` is passed to Chapel as an argument.

The `makeBinaryLLVM()` function in `compiler/llvm/clangUtil.cpp` branches to `makeLLVMLibrary()` when compiling a library. This function creates a static library using the `ar` utility.

It appears that no additional linking step is taken in the

[2019-03-25 17:27] benharsh commented on #12695
I think Brad's view here is correct. For the foreseeable future I think this should be a compilation error.

[2019-03-25 17:27] lydia-duncan commented on #12699
I have no reason to believe your analysis is incorrect :)

[2019-03-25 17:34] bradcray commented on #12674
I think you're right that I haven't opened up an issue for this case yet.  I was hoping to just get it done before ever finding the time to open the issue.  :)

[2019-03-25 17:36] bradcray commented on #12674
(in fact, I just tried it for the first time on the slicing branch I've been developing independently of the sparse domain slicing question, and it seems to work! :) ).

[2019-03-25 17:58] ben-albrecht commented on #11610
I seemed to have missed the fact that this only impacts the single-argument case. Sorry about that @bradcray. I've updated the example in the original comment to reflect this.

[2019-03-25 18:11] ty1027 commented on #12695
@bradcray @benharsh
Thank you very much for the comments, and I agree that taking a reference to `this` in `init()` should be a compile-time error if things can become unsafe/subtle/complicated. Indeed, in the code snippet above, Swift also seems to consider `let my = self` as illegal because the initialization of `self` is not completed:

[code]
The reason why I tried the above code is that I som

[2019-03-25 18:17] bradcray commented on #10639
Thanks!

[2019-03-25 18:17] #10639 closed

[2019-03-25 18:32] bradcray commented on #11610
OK, thanks for clarifying and updating.  That sounds consistent with the incorrect behavior I was seeing.  I.e., if the compiler is trying to bind the last argument to `repeat` rather than the varargs, yet we don't support 0-tuples / 0-argument calls to varargs functions, it probably won't match unless the call has two or more arguments (where the last can legally match against `repeat`?).

[2019-03-25 18:35] LouisJenkinsCS commented on #11610
Can you have overloads that accepts a scalar and one that accepts various non-scalars such as `args : []`, `args : range`, etc.?

[2019-03-25 18:36] bradcray commented on #12695
As far as I know, once the object has been initialized, creating const refs to it in other methods ought to be fine.  At least, I'm not jumping to any reasons that it would be problematic.

[2019-03-25 18:37] e-kayrakli commented on #12674
A PR is always better than an issue, I guess :)

[2019-03-25 18:58] ben-albrecht opened #12700 "Support eureka pattern (break in forall loop)"
Currently, a `break` within a `forall` loop (known as a eureka) will generate a compiler error. This issue is intended to track the challenges in supporting this functionality in Chapel.

[2019-03-25 18:59] ben-albrecht commented on #12657
Despite being well-known, I think it's useful to have an issue to reference / search for. I've created a simple one here: https://github.com/chapel-lang/chapel/issues/12700

[2019-03-25 19:50] vasslitvinov commented on #12173
Indeed we are observing performance increase from that.

Consider this issue resolved?

[2019-03-25 23:52] bradcray commented on #12289
I set this down for awhile while working on the release, but have come back to it this past week as a study break.  My takeaway from the last round of conversations was that for many programs the decision wouldn't really matter, but that both Michael and I were leaning more toward having a slice expression take the slicing domain as its domain for consistency with other slices, and to avoid overhe

[2019-03-26 00:11] bradcray opened #12704 "Add support for slicing a dense array using a sparse slice"
As a Chapel user, I'd like to slice dense arrays using sparse domains because it's a natural and compact way of selecting a subset of array elements.  It's also a composition of features that's been designed as intended for use since Chapel's inception, yet never supported.

[2019-03-26 00:14] bradcray commented on #12704
Today, the code used to slice arrays is written very specifically for rectangular domains and arrays that can be represented by a series of ranges even though the ArrayViewSlice descriptor is written very generally to support a variety of domain and array types.  On my [`slices-use-domain`](https://github.com/bradcray/chapel/tree/slices-use-domain) branch, I've prototyped an implementation of slic

[2019-03-26 14:45] #12581 closed

[2019-03-26 15:53] benharsh opened #12706 "Enable BlockDist bulk-transfer by default"
This issue tracks the effort of enabling the bulk-transfer optimization for BlockDist. Here are some rough requirements to be met before enabling this optimization:
- improve testing of Block <-> Block and Block <-> DefaultRectangular
- Limit on-statements to number of locales actually involved in assignment
- Enable handling of rank-changes

[2019-03-26 16:05] bradcray commented on #12674
The branch is still going well, but I opened issue #12704 all the same.

[2019-03-26 16:07] bradcray opened #12707 "Parallelize scans for shape-full expressions"
As a Chapel programmer, I'm happy that `+ scan A` is parallelized for default and block-distributed arrays, but disappointed to find that `+ scan A: int` (for example), is not.  I'd like to extend the same parallel implementation that exists for these arrays to simple expressions / promotions whose result domain is of one of the supported array types.

[2019-03-26 17:16] ben-albrecht commented on #5326
I've added a few other text files that remain un-rstified. Once we get those converted, I think we can remove `[good first issue]` from this issue (or close this one and open a new one primarily about the mechanism of hosting developer docs).

[2019-03-26 17:22] krishnadey30 commented on #5326
@ben-albrecht I would like to complete this.

[2019-03-26 17:30] #12314 closed

[2019-03-26 17:48] benharsh opened #12709 "Enable StencilDist bulk-transfer by default"
Similar to #12706, this issue tracks enabling the bulk-transfer optimization for the Stencil distribution. The implementation is likely to be very similar to BlockDist, and the general requirements are the same:
- improve testing of assignments between Stencil and DefaultRectangular
- Limit on-statements to number of locales actually involved in assignment
- Enable handling of rank-changes

[2019-03-26 18:30] mppf commented on #11807
Seemed to go away around 12/10/2018.

[2019-03-26 18:30] #11807 closed

[2019-03-26 18:41] ronawho commented on #11807
Likely resolved by https://github.com/chapel-lang/chapel/issues/11835

When we dynamically link on chapcs machines we end up getting the libgmp.so that's used to build our local versions of gcc, which has slower perf  -- https://github.com/Cray/chapel-private/issues/87

(Since we stopped throwing `--static` for performance testing in https://github.com/chapel-lang/chapel/pull/12652 we see the wors

[2019-03-26 19:28] krishnadey30 commented on #5326
@ben-albrecht I have modified

 - adding-a-comm-layer.txt
 - adding-a-runtime-component.txt
 - adding-a-tasking-model.txt
 - internal-errors.txt

and have opened a PR #12710 for the same. Kindly take a look.

[2019-03-26 19:47] BryantLam opened #12711 "Rename module LinkedLists to LinkedList or List"
Related #6698

Somewhat sarcastically, why is it module `LinkedLists`? Is there more than one list in there? Should I anticipate a module `Vectors`? :smile:

Rename `LinkedLists` to **`LinkedList`** or just **`List`** if you plan to support lists that aren't simply linked.

[2019-03-26 19:50] e-kayrakli commented on #12711
I suspect this is the reason: https://github.com/chapel-lang/chapel/issues/6979

[2019-03-26 19:59] BryantLam commented on #12711
This is why I think anything Chapel-provided should be refactored into a `std` namespace.

[2019-03-26 20:08] BryantLam opened #12712 "Refactor stable modules into std"
Feature request. Refactor the Chapel modules into the `std` namespace to prevent user-level conflicts.

There could be some interesting implications for how to handle unstable modules. Maybe something like the C++ TS namespace. Or it could be as simple as module `std.unstable.SomeFeature`.

[2019-03-26 20:08] BryantLam commented on #12712
Related #6698 #6979 #12711

[2019-03-26 20:35] BryantLam opened #12713 "Unable to resolve type when using type alias"
### Summary of Problem
Bug. The following code doesn't compile if the type alias `ta` is used, but does compile if you hard-code `ta` into the class. `C` stores `G(D)` objects so it isn't quite recursive with `D`.

### Steps to Reproduce

**Source Code:**

[code]
`chpl version 1.19.0`

[2019-03-26 21:19] bradcray commented on #12713
Huh...  Do any of our initializer or resolution gurus know why this would be different than a top-level variable (which works)?  @benharsh, @lydia-duncan, @mppf?

[2019-03-26 21:31] lydia-duncan commented on #12713
I coulda sworn I'd written a test specifically to lock in that it worked, but I'm not finding it quickly.  Seems likely to be related to having to resolve what `ta` is, and maybe information about the type didn't get propagated correctly during normalize

[2019-03-26 22:14] lydia-duncan commented on #12397
The new functions I am adding in #12708 will use a ZMQError class, but there are still methods in this module that halt.  Also, we still want to have some sort of hierarchy

[2019-03-27 01:08] cassella commented on #12713
I think it has something to do with the somewhat cyclic nature of the classes.  If I change `D.y` to be of type `int`, it compiles.

[2019-03-27 06:01] cassella commented on #7549
I finally tested the change I proposed at `XXX1` above.  It segfaults
pretty good on a gasnet build, but passes valgrind cleanly with
`CHPL_COMM=none`.

[code]

[2019-03-27 10:44] aditmehta9 opened #12722 "Feature Request : If it is given that three numbers x, y and p, it computes (x^y) % p. It is very useful in competitive coding. I think this can be added in the library."
### Feature Request
If it is given that three numbers x, y and p, it computes (x^y) % p. It is very useful in competitive coding.

### Steps to Reproduce

**Source Code:**

[code]

### Configuration Information

- Output of `chpl --version`: 1.20
- Output of `$CHPL_HOME/util/printchplenv --anonymize`:
[code]

- Back-end compiler and version, e.g. `gcc --version` or `clang --version`:6.0.0

[2019-03-27 13:58] mppf opened #12723 "Add test of invalid unicode"
This URL has an interesting UTF-8 text file with a variety of encoding issues.

http://www.cl.cam.ac.uk/~mgk25/ucs/examples/UTF-8-test.txt

We should add a test to our test system that verifies this file (or a similar one) works correctly with input/output and string operations working with unicode.

[2019-03-27 13:59] mppf commented on #12723
@dmk42 - FYI

[2019-03-27 14:10] ben-albrecht opened #12724 "Mason: Improve mason external testing"
There are a few issues with the `test/mason/spack-integration` test:

1. [x] The `fetch` line with digits replaced with `n` can sporadically mismatch due to a varying number of digits (e.g. `9.32 -> n.nn` vs. `10.21 -> nn.nn`)

2. [x] The current test installs openblas to test against the linear algebra library. This is a large program and takes a long time to build.

re: 2 - I propose we switch t

[2019-03-27 14:50] ben-albrecht commented on #7414
With the existence of [jupyter-kernel-chapel](https://github.com/krishnadey30/jupyter_kernel_chapel) and the ability to install it via pip (`pip3 install jupyter-kernel-chapel`), I'm inclined to close this issue and redirect further Jupyter kernel improvement requests to that repository.

Would anyone oppose closing this issue?

[2019-03-27 14:54] ben-albrecht commented on #12712
The categorization of what would fall into unstable vs. stable relates to https://github.com/chapel-lang/chapel/issues/10714 as well.

[2019-03-27 14:56] gbtitus commented on #12724
The existing .prediff handles any number of digits, such that `10.21` will nevertheless turn into `n.n`.  However, based on the .good mismatch on 2019-03-25 it looks like the fetch perhaps prints times, which have optional minutes and always seconds, and the .prediff only works when the minutes aren't there.  I have a slight preference for continuing to match the fetch line, because then if the fe

[2019-03-27 15:21] ben-albrecht commented on #12724
Agreed, but I'm not aware a way to accomplish this without hosting an internal spack cache that can be accessed from all of our testing configurations. I think this would be good to solve (for other areas outside of Spack integration testing too), but it won't be a trivial effort.

[2019-03-27 16:24] mppf commented on #12712
I'm confused about how we would do this today. Wouldn't we have to have something like C++ namespaces to even talk about doing this? (Otherwise today, we'd literally be putting all the standard modules in one file named `std.chpl`).

[2019-03-27 18:02] andreibratu commented on #11489
May I help with this issue? It would be a good starting point for my GSoC.

[2019-03-27 18:28] mppf opened #12726 "how many string types per program?"
Currently, there is only 1 string type, `string`, which is not generic. Additionally, the current implementation uses C functions for a variety of multi-byte-string tasks. As a result, the current implementation has a string encoding that depends on the setting of environment variables.

Here the question is - how many `string` types do Chapel programs need? (And a related question is - what is th

[2019-03-27 18:28] mppf commented on #11745
issue  #12726 is a follow-on to this one, arguably

[2019-03-27 18:29] bradcray opened #12727 "Problem with inheritance, overrides, owned classes, and return type inference"
### Summary of Problem

It seems that in the case of an override where the subclass method returns a subclass of the parent class method's returned superclass, we don't successfully unify the two types within the compiler for `owned` classes as well as we do for `unmanaged` classes.  The following future demonstrates this.

### Steps to Reproduce

**Associated Future Test(s):**
[`test/classes/dele

[2019-03-27 18:30] mppf opened #12728 "string and bytes types in filesystem scenarios"
This issue is related to #12726.

Here I'd like to discuss 3 designs:
 1. Separate `string` and `bytes` types, a-la-Python 3; paths are stored in either
 2. Paths are stored in `string` with escaped "invalid" bytes (Perl 6 calls this [UTF8-C8](https://docs.perl6.org/language/unicode) and Python 3 calls it `surrogateescape`).
 3. Paths are stored in `string` and `string` can store arbitrary bytes (

[2019-03-27 18:50] bradcray opened #12730 "Inability to cast from `borrowed C` to `unmanaged C`"
### Summary of Problem

Given a borrow that I know borrows from an unmanaged class, it would be beneficial to be able to cast it from `borrowed C` (say) to `unmanaged C`.  Today this doesn't work, yet we can cast it to simply `unmanaged`.  This feels like a non-orthogonality and therefore a bug (or, arguably, a feature request).

### Steps to Reproduce
**Associated Future Test(s):**
[`test/classes

[2019-03-27 19:10] bradcray opened #12731 "Private distribution can leak memory"
### Summary of Problem

The following tests that uses the Private distribution leak memory:

- [ ] modules/vass/SSCA2-with-Private-1.chpl
- [ ] modules/vass/SSCA2-with-Private-2.chpl
- [ ] parallel/forall/task-private-vars/block.chpl
- [ ] parallel/taskPar/sungeun/private.chpl

where the leaks show up as:

[code]

### Steps to Reproduce

### Configuration Information

- Output of `chpl --version`:

[2019-03-27 19:18] bradcray opened #12732 "Uses of Dimensional distribution leak memory"
### Summary of Problem

Uses of the Dimensional2D distribution tend to leak memory related to the per-dimension descriptors.  Notably, this is the only remaining cause of leaks in the test/release/examples directory.  The following tests currently exhibit this problem:

- [ ] chplvis/benchmarks-hpcc/hpl-vdb.chpl
- [ ] distributions/dm/s7.chpl
- [ ] distributions/dm/s8.chpl
- [ ] distributions/dm/s

[2019-03-27 19:21] bradcray commented on #7891
I split the Dimensional and Private cases out into their own issues (#12731 and #12732) because they seem relatively straightforward and separable from this bigger issue.  I also started going through to see which of these are still open, but timed out before completing.

[2019-03-27 20:23] LouisJenkinsCS opened #12736 "Domain(string).length() hits compiler assertion"
Special/Edge Case where calling `length()` on a `domain(string)` seems to trigger an assertion here: https://github.com/chapel-lang/chapel/blob/1426f363c00a415bc3ca77cf4033689031759f64/compiler/resolution/wrappers.cpp#L1653

[code]

[TIO](https://tio.run/##S85ILEjN@f@/LLFIwcVKISU/NzEzT6O4pCgzL13TmstFLyc1L70kQ0PT@v9/AA)

Note that the following does work...

[code]

[TIO](https://tio.run/##S85ILEjN

[2019-03-27 20:48] himbhadani commented on #12573
@bradcray is this issue still open? it's working correctly on my local.
![Screenshot from 2019-03-28 02-18-03](https://user-images.githubusercontent.com/16982492/55111165-c300c180-50ff-11e9-94f3-3604d303c0e1.png)

[2019-03-27 20:52] bradcray commented on #12736
I recategorized this as a bug (in that user code should not result in internal errors).  @vasslitvinov, this looks to be in code you've added fairly recently if you have time to take a quick look.

[2019-03-27 21:00] bradcray commented on #12573
Good question.  I tried it [on TIO and it seemed to work](https://tio.run/##S85ILEjN@f@/pLIgVSGxqFLBViFawUBBT0/BWCFWITOvxJoLLFVSWgCU0gCq0AGJalpzlSUWKSRagfRA2ElWIEUQdrIVXIOOggFQcXlRZklqTp6GUrIeyDhbJR0FCMuquKQoMy8dRYmGoSZCFYyDRWESXFUSTiXIZiVhmPX/PwA).  But then before closing this, I tried filing a test to lock in the current behavior and running it on my Mac it did not

[code]

And running the exec

[2019-03-27 21:02] bradcray commented on #10508
The remaining cases relate to issue #12732.

[2019-03-27 21:07] ronawho commented on #12173
Agreed, the performance regressions has been resolved.

[2019-03-27 21:07] #12173 closed

[2019-03-27 21:39] ronawho commented on #12142
I think all the extra code is init/deinit and release/clear for the owned record used for any routine that throws errors. It's only adding ~10 lines per use of owned, but there's hundreds of uses so it adds up quickly. He's a sample diff between the generated code before and after the PR (basic pattern repeated a couple hundred times when looking at the whole diff):

[code]

I doubt there is much

[2019-03-27 21:39] #12142 closed

[2019-03-27 21:39] #12418 closed

[2019-03-27 21:44] himbhadani commented on #12573
I changed CHPL_TASKS=fifo and CHPL_MEM=cstdlib then re- `make` it.
source it to `source util/cron/common-valgrind.bash` worked fine.
but when i `source util/cron/common-gasnet.bash` and re-`make` then started getting runtime error.
![Screenshot from 2019-03-28 03-14-31](https://user-images.githubusercontent.com/16982492/55114321-9e104c80-5107-11e9-8579-a5354d45774d.png)

[2019-03-27 21:59] bradcray commented on #12573
To be clear, after doing that reconfiguration, you also need to run the program in valgrind to see the error deterministically, e.g.:

[code]

Also, I'm noting that you're set up for CHPL_COMM=gasnet, and you'll probably want to set CHPL_COMM=none (and rebuild) before running with valgrind (or, at the very least, will need to ask valgrind to also run on child processes... there's a flag for that,

[2019-03-27 22:35] #12356 closed

[2019-03-28 00:14] bradcray commented on #12370
To me, this idea doesn't fit with the statically typed nature of the language.

[2019-03-28 00:26] bradcray commented on #7898
From what I'm seeing, none of these tests are leaking anymore (as of some of today's merged PRs).  I've also scanned all of the leaking cases and believe I've eliminated most cases that are obviously user leaks.  I'll take another pass looking for user leaks after tomorrow's leak tests come in, but believe that we're far enough along with the effort that this issue can be closed for now.

[2019-03-28 00:26] #7898 closed

[2019-03-28 10:46] Polymatic commented on #8546
I have been able to write a chapel program that computes the inverse of a sparse matrix.
Can i have some help uploading this program to this issue? Im not quite familiar with the process

[2019-03-28 12:32] e-kayrakli commented on #8546
@Polymatic - thanks for the effort. At this stage the most appropriate way for doing that is using "gists": https://gist.github.com/ Once you create a public gist, you can post the link here or chapel-lang/chapel-summer-of-code gitter channel.

[2019-03-28 12:40] mppf opened #12738 "Streamline LLVM compilation by avoiding generation of C code"
Compiling with `--llvm` generates some .c files that are then compiled. In particular the file `chpl_compilation_config.c` is generated and then compiled with a C compiler. It would require fewer steps, streamline the compiler, and possibly make it faster, to generate this information into the LLVM module containing all the other generated code.

For example, try:

`chpl --llvm --print-commands --

[2019-03-28 13:08] ben-albrecht commented on #12736
It looks like the working program is doing a _promoted_ method call on all of the elements in `D`, since associative domains do not have a method called `length` while strings do.

This internal error appears to be generalizable to "adding parentheses to a promoted parentheses-less method call or field access". Here are a couple of examples demonstrating this:

[code]

[code]

[code]

[2019-03-28 13:19] ben-albrecht commented on #11489
@andreibratu - I believe @himbhadani is taking a crack at it. You're welcome to work on it as well, ideally, as a collaboration so that effort is not wasted by either of you.

Alternatively, there are a lot of packages that one could develop as a good first contribution listed in https://github.com/chapel-lang/chapel/issues/6329.

[2019-03-28 14:09] gbtitus commented on #12724
#12737 solves the fetch output mismatches.

[2019-03-28 14:15] ben-albrecht commented on #12724
Thanks @gbtitus !

[2019-03-28 16:48] lydia-duncan opened #12740 "Remove spec text saying exported functions can be prototyped"
The spec section "Calling Chapel Procedures Externally" (currently 31.2.4) says that exported functions can be declared without a body.  This is not true in the current compiler and after consulting with Brad, we don't think we intend it to be true.  We should update the spec to reflect this

[2019-03-28 17:01] bradcray commented on #12740
PR #12741 offers a proposed fix for this.

[2019-03-28 17:12] BryantLam commented on #12712
@mppf -- You're right. We couldn't.

1. Chapel doesn't have a notion of namespacing. An analogy would be how Rust separates modules and submodules (`mod`) from the higher-level namespace/crate. This approach would require adding a namespace feature into Chapel for e.g., support of Mason packages. #8470

2. From a productivity standpoint, #10796 addresses the ability to extend a module after defini

[2019-03-28 18:33] vasslitvinov commented on #12736
This diagnosis makes sense.

Meanwhile, what should we do about `length` ?

* Define it on associative domains. Seriously.

* When the user writes `something .length()`, warn that `length` is a paren-less method?

* Better yet, just accept `.length()` ? Why should the user worry about parens?

(Don't we have an issue talking about lengths already?)

[2019-03-28 18:36] LouisJenkinsCS commented on #12736
Should note that in my original code snippet, replacing `.length()` with `.size()` does not result in compiler error.

[2019-03-28 18:52] bradcray commented on #12736
The longstanding challenge with accepting parens on a paren-less method is that if the paren-less method returns something that _can_ take parens, then there's a potential ambiguity (do the parens bind to the function call, or the thing that it returned).  This is also why we don't support overloading between paren-ful and paren-less methods.

In the case of length, since it returns an integer (or

[2019-03-28 20:04] LouisJenkinsCS opened #12743 "Chapel bindings for GSL - GNU's Probability and Statistics Library"
One thing that I have sorely missed, especially while working on scientific applications, was a good statistics/probability library. It would be very nice to have some bindings around the GNU Scientific Library (GSL).

https://www.gnu.org/software/gsl/

[2019-03-28 20:15] bradcray commented on #12743
I feel like I've heard anecdotally that people have been able to use GSL via extern blocks and/or c2chapel, but I agree that making this into an official library with Chapeltastic interfaces would be better.

[2019-03-28 21:57] BryantLam commented on #6979
Why was renaming chosen as the solution rather than outright forbid the module identifier to be the same as the class/record identifier?

[2019-03-28 22:12] #12740 closed

[2019-03-28 23:32] BryantLam opened #12744 "use statement replaces all symbols in current scope?"
Related #6872 #11262 #12734 #10021 #9985

### Summary of Problem
The following code behaves weirdly, but is correct based on the defined Language Specification.

[code]
[code]

From the Language Specification, 11.11:

From [Brad's comment in #9985](https://github.com/chapel-lang/chapel/issues/9985#issuecomment-400023692):

I understand the principle of Brad's comment, but this code is *weird* beca

[2019-03-29 00:11] bradcray commented on #12744
I believe this is as intended, though I agree that there's a learning curve here.  While there are aspects of procedures that respect time (e.g., the order in which their statements are executed), there are aspects that are independent of time, specifically declarations.  For example, given this code [(Try it online)](https://tio.run/##S85ILEjN@f8/Nz@lNCdVwVehmktBoSyxSKFCwVbBxMgayCsoyk9WSMvP19AESy

[2019-03-29 10:50] ty1027 commented on #12743
Athough I have no experience with GSL (and so cannot say anything about it), I think it would be definitely useful to have enhanced/increased support for statistics/probability somehow. For example, I recently wrote a mini routine for generating normal (Gaussian) random numbers based on the Box-Muller method, but I believe it is very poor in terms of performance...

(Looking at the above linke, GS

[2019-03-29 11:16] Polymatic commented on #8546
Gist link: https://gist.github.com/Polymatic/7a63ab85197855c937d2d48131dabe5e

[2019-03-29 14:51] ben-albrecht commented on #12736
IMO, an ideal error message would inform the user of the following:

- The compiler was unable to resolve `domain(string).length()`, so it attempted to resolve as a promoted expression
- The compiler was unable to resolve `string.length()`
- A paren-less `string.length` exists in case that's what the user meant.
  - I'd argue the 0-arg `this()` method on the element type will seldom be what the us

[2019-03-29 15:08] bradcray commented on #12736
I think that that style of error message would be challenging to generate because I think the path the compiler goes through is something like this:

1) "Does domain(string) have a method or field called length?  No, so I can't call that."
2) "Can domain(string) be used to promote things?  Yes, as type string."
3) "Does the string type have a method or field called length?  yes and it returns an i

[2019-03-29 16:27] bradcray commented on #6979
@BryantLam: Are you asking "Why didn't we change the language to disallow using identifiers within a module that match the module's name?"  This seems heavy-handed and special-case-y to me (e.g., would we also disallow local variables that match the name of a procedure they're defined within or module-scope variables that match their module's name?).  I think having a type named after a module isn

[2019-03-29 17:49] #12744 closed

[2019-03-29 19:51] benharsh commented on #12142
Inlining the _cast functions for _owned can help reduce this impact by a tiny bit (few hundred less statements emitted), but that's probably insufficient. I suspect what we really need to do is focus on the resolution and generation of _owned in general.

[2019-03-29 23:49] ben-albrecht commented on #12743
FYI - There's an issue for this feature request here: https://github.com/chapel-lang/chapel/issues/6852

An example of using GSL gaussian distributions in Chapel is also included in the comments: [link to gist](https://github.com/chapel-lang/chapel/blob/master/test/users/npadmana/gsl_demonstration/gsl_demo.chpl)

[2019-03-30 17:42] akshansh2000 commented on #12651
I've observed that the issue does not persist if I write:
[code]
Output: `true`

However, if I replace the content with a range, as in:
[code]
it fails.

I'd like to take up this issue.

[2019-04-01 02:31] cassella commented on #11999
Would it help to make it opt-in instead of automatic, and
allow/require the generated parent class to have a different name?

I can imagine putting this directive as a decoration on the class's
parent class declaration.  In the original example, something like

[code]

might direct the compiler to do this using a parent class named
`GenC`.  Or `*GenC(object)` to make it explicit that `GenC` derive

[2019-04-01 10:38] mppf commented on #5198
Can we close this issue and use other issues to track remaining work?

[2019-04-01 10:40] mppf commented on #12651
@akshansh2000 - right, the first example is using associative domains.

As far as how to fix, look here:

https://github.com/chapel-lang/chapel/blob/cf27c21e6281e3f7eaae27960ef95d4801d502b7/modules/internal/ChapelArray.chpl#L1558-L1594

You might be able to use https://chapel-lang.org/docs/master/builtins/ChapelRange.html#ChapelRange.range.contains (range contained with other range) along with htt

[2019-04-01 15:16] lydia-duncan commented on #5198
Seems reasonable to me

[2019-04-01 15:16] #5198 closed

[2019-04-02 05:36] aditmehta9 commented on #11921
@lydia-duncan Can I take this issue?

[2019-04-02 06:23] aditmehta9 commented on #11136
Yes, it would really useful in fact more than 100,000 developers use DevDocs. Developers will notice and contribute more in chapel. I want to contribute to this but I don't know how to start please guide me through this @bradcray.

[2019-04-02 09:49] sanket143 commented on #11489
[code]

[code]
Currently spawn takes an ``array`` as an argument. I suggest using  only ``string`` instead and the conversion to array should be inside the spawn function in a way that it preserves the spaces.
and Is the below conversion is okay?

echo "hello&nbsp;&nbsp;world" should get converted to
["echo", "\"hello&nbsp;&nbsp;world\""] or
["echo", "\"hello", "&nbsp;&nbsp;world\""]
and not
["ech

[2019-04-02 10:38] akshansh2000 commented on #12651
@mppf, thanks for this! I've made the necessary modifications.

[2019-04-02 12:47] ben-albrecht commented on #11489
@sanket143 - [`spawnshell`](https://chapel-lang.org/docs/master/modules/standard/Spawn.html#Spawn.spawnshell) will accept a string. The reasons we support array args for `spawn` is similar to [why Python subprocess functions requires a list.](https://stackoverflow.com/questions/36332873/why-we-must-use-a-list-in-subprocess-popen)

[2019-04-02 14:59] aditmehta9 commented on #11921
Am I on right path?

[2019-04-02 15:04] lydia-duncan commented on #11921
Oh, sorry if I was unclear.  This issue is not looking to change the functionality of the flags.  This is looking to unify their naming scheme so that they follow a similar pattern.  It's not useful for them to be all named the same, I don't even know if the compiler would be able to handle duplicate names.

I'm looking for the flags to be changed to either:
[code]
or
[code]

[2019-04-02 15:06] aditmehta9 commented on #11921
@lydia-duncan Now I got it.
Thanks

[2019-04-02 15:49] aditmehta9 commented on #11921
Please review this previous commits were wrong @lydia-duncan

[2019-04-02 15:52] ty1027 commented on #12743
@ben-albrecht Thanks very much for the links, I will check how to connect with such C libraries.

[2019-04-02 16:14] bradcray commented on #11136
I don't really know enough about DevDocs to be able to guide you in any particular direction.  I filed this issue after someone asked about it as a placeholder, but would need to invest more time to determine what we should do.  I'd be open to you proposing a path.  My main concern is to avoid adding (very much) maintenance burden to our plate.  I.e., the ideal would be to have some way of autoref

[2019-04-02 17:44] LouisJenkinsCS commented on #12743
It'd be nice to wrap and 'extern' some key things you'd want. With the availability of Mason, you can create your own package that does exactly this and distribute it @ty1027. Even incremental development would be great, and since it's open-source it allows people to contribute and provide their own wrappers.

[2019-04-02 17:51] LouisJenkinsCS opened #12754 "Mason: Setup Travis-CI with Weekly Docker Builds"
I believe that if there was a way to setup Travis to pull the weekly approved images from Chapel and run it once a week, it would help find bugs that are introduced in mason packages extremely quickly rather than all at once when they find out their software no longer works in the next release.

I.E: https://github.com/LouisJenkinsCS/Chapel-Data-Structures

Currently I have Travis-CI set to run th

[2019-04-02 17:53] LouisJenkinsCS commented on #12754
As well, it'd be cool if Mason could keep track of 'Last-Passed-Commit' for packages as well. I.E: if it failed on hash XXXXXXX but fails on YYYYYYYY, it should show 'Last Successful Build: XXXXXXX".

[2019-04-02 18:06] ajoshpratt opened #12755 "In recursive function, "error: unable to resolve return type of function""
### Summary of Problem

When attempting to write a recursive function, if the return type on the recursive function isn't specified, the compiler throws an error:
[code]

### Steps to Reproduce

**Source Code:**

[code]

**Compile command:**

**Execution command:**

**Associated Future Test(s):**

### Configuration Information

- Output of `chpl --version`:
[code]
- Output of `$CHPL_HOME/util/prin

[2019-04-02 18:58] LouisJenkinsCS commented on #12755
I think the issue should be relabeled to "Returning Arrays from Recursive Functions" since its specific to that.

[2019-04-02 20:32] lydia-duncan opened #12756 "Issue running chown/permission_error on cygwin locally"
Note: I've seen the relevant JIRA issue and this is different.

On Cygwin, if I run test/library/standard/Filesystem/fsouza/chown, I get
[code]

I suspect that when we updated for error handling, we missed that Cygwin behaved differently than Linux for this error due to its different behavior when run via nightly testing versus locally (see JIRA 81).

Because of that JIRA issue, I'm not sure it is

[2019-04-02 22:14] bradcray commented on #12756
I don't think we should have an open issue that we don't intend to do anything about, so think we should either close this as a "won't fix" or (preferably) add a cygwin-specific .good file if this is the expected behavior or a .future and/or .suppressif that explains the current behavior if it's not.

[2019-04-02 22:39] lydia-duncan commented on #12756
Sorry, should have been a bit more specific.  I don't know that it is worth updating the test right now, but it seems wrong that it is in this current state and I don't know how else to track that and really don't have the mental cycles to remind myself exactly how cygwin specific .good files work.

[2019-04-02 23:11] josephjohnjj commented on #5753
Hi @ben-albrecht,

Would it be possible to provide an implementation of SparseLU in Chapel?

[2019-04-03 00:26] #8759 closed

[2019-04-03 02:17] cassella commented on #10628
Modifying `g()` to include `x.type:string` in its writeln, the `g(c)` line produces

`(f = {v = 3}): Wrapper(OtherGenericClass(int(64)))`

which is a curious static type for `x` given how it's declared.

[2019-04-03 16:07] bradcray commented on #10628
Based on this example and another one Paul asked me about in chat, I wonder whether we're being too loose about how we resolve generic arguments.  Specifically, `x` in `g()` is generic in the sense that it's a `GenericClass(?)` but it's not so generic that anything could be passed to it.  I wonder if the compiler is using a much more blanket "it's generic, so I can resolve this" test than it shoul

[2019-04-03 16:27] krishnadey30 commented on #5326
@ben-albrecht Can you tell me which parts of chapel-lang.org/gsoc should be converted into developer documentation. I feel we should do this asap.

[2019-04-03 18:21] bradcray opened #12758 "Extend parallel + scans to include boolean arrays"
As a Chapel programmer, I'd like to be able to perform a `+ scan` of a boolean array and have it execute in parallel, resulting in a parallel arrays because it's intuitive and similar to what's supported for `+ reduce` on boolean collections.  At present when doing this for an array type that supports parallel scans, the parallel implementation is not available.  This should be fixed.

[2019-04-03 18:23] bradcray commented on #12707
I was thinking that using Vass's support for querying the shapes of iterator records I could do this easily by creating the result array before calling the array's scan routine, passing it in, and essentially reusing the existing implementation.  But what I forgot is that we don't support random access to an iterator record, so can't index into `(A: int)` the way we can for `A`.  But I'm thinking

[2019-04-03 20:04] bradcray commented on #12758
I think I'm losing it.  I could've sworn that this didn't work the last time I checked, but it seems to today.  I'll double-check myself, but assuming I'm right, will check in a test locking the behavior in and close this out.

[2019-04-03 20:28] mppf commented on #10628
It seems likely. I'd just consider it a bug. We have special code in normalization for these cases, and it seems to leave out a filter in this case.

[2019-04-03 21:26] tjstavenger-pnnl opened #12759 "Building & depending on "larger" Mason packages"
If you create a new Mason package with module folders following the "Building Larger Packages" instructions (https://chapel-lang.org/docs/tools/mason/mason.html#building-larger-packages), you have to build your package using the chpl -M argument.

There doesn't appear to be a way to define these module folders in the Mason.toml, so there is no real way for users of your package to know how to buil

[2019-04-03 21:31] tjstavenger-pnnl opened #12760 "Mason build does not check for Chapel version compatibility"
For example, if in my package I execute 'mason add LinearAlgebraJama@0.1.0' and then 'mason build' while running Chapel 1.19.0, I get the following error:

[code]

The deprecated (and removed) support for constructors wasn't warned in any way or backported somehow, it just failed. It would be nicer to see a message about how I'm running Chapel 1.19.0 and how it isn't compatible with a package inte

[2019-04-03 22:09] LouisJenkinsCS commented on #12758
Is it because `+ reduce [true, false, true, false]` treats `true` and `false` and `1` and `0` respectively? Also I really like this feature! At first I thought it was equivalent to `&&` or `||`, but now I see its utility.

[2019-04-03 22:48] ronawho opened #12761 "Promoted stream appears to have communication"
We don't expect stream to have any communication beyond remote task spawning, but surprisingly the promoted version `A = B + alpha * C;` does (140 gets for non-zero locales):

[code]

[code]

[2019-04-03 22:49] ronawho commented on #8968
I think this effectively comes down down "surprisingly, promoted stream has communication in the kernel" -- I've opened https://github.com/chapel-lang/chapel/issues/12761 to track this

[2019-04-03 22:55] bradcray commented on #12758
It does, and it's supposed to (because you can always do the and- or or- reduce if you wanted to), but I could've sworn when I checked this a few weeks back, it didn't work.  I think I was actually checking something else, though...

[2019-04-03 23:26] bradcray commented on #12760
I'm not a mason or LinearAlgebraJama expert (so maybe should keep quiet and wait for one of them to get to work tomorrow), but am wondering:  This strikes me as arguably being an issue with the LinearAlgebraJama package's manifest in which it isn't correctly indicating that it requires an earlier version of Chapel?  (i.e., my understanding is that if the manifest says "1.16.0" it means "that versi

[2019-04-03 23:44] ronawho commented on #12761
I'm don't have time to dig into this now, but some quick misc info.

Comm seems to be per-task, looks like it's 5 gets per task:

[code]

I have a branch to make it easier to dig into the generated code -- https://github.com/chapel-lang/chapel/compare/master...ronawho:simple-stream. It basically eliminates code cloning for iterators by eliminating the runtime fast follower check and avoid code clo

[2019-04-04 00:11] ronawho commented on #8968
And for more context it looks like #8073 introduced 4 GETs per task on non-zero locales, which I think is the cause of this regression.

[2019-04-04 00:17] bradcray commented on #8968
What are they trying to get?

[2019-04-04 02:43] cassella commented on #12755
The error happens without arrays:

[code]

I don't know if the compiler's meant to be able to figure out the
return type in this case, even with the `return ret;` clue.

On the other hand
`test/functions/dinan/array_return_from_recursive.chpl` is a future
about recursive functions returning arrays not working even with the
return type specified.

On the third hand, that test specifies the return t

[2019-04-04 15:02] mppf commented on #12252
See also https://github.com/spack/spack/pull/11002 in which @navdeeprana has added a basic Spack package for Chapel. Thanks @navdeeprana!

[2019-04-04 16:26] daviditen opened #12762 "Allow overriding the common case in distribution convenience functions"
Add arguments to the `newBlockDom` family of functions to allow overriding the common cases they currently assume.  For example allow them to create a domain `{-1..n+2, -1..n+2}` that is dmapped over `{1..n, 1..n}`.

The default for the new argument would be the obvious value that it currently assumes.

[2019-04-04 16:30] daviditen opened #12763 "Add convenience functions for creating distributions"
Add convenience functions to create distributions - `newBlockDist` and similar.  Add overloads to the `newBlockDom` family of functions that take a distribution argument to allow sharing a distribution or sharing a domain.

From @bradcray:

[2019-04-04 16:47] bradcray commented on #12760
Again, with the caveat that I'm not a mason expert, I believe that there is a way to have the manifest file specify a range of legal Chapel versions.  See the very last code line in this section:

https://chapel-lang.org/docs/tools/mason/mason.html#the-manifest-file

Which is what made me consider this more a problem with the package than with mason itself.

That said, it does point to a larger pr

[2019-04-04 17:51] benharsh commented on #12289
I think this iteration part bothers me most. Could we have some optional part of the DSI that allows us to pass the dimensions over which to iterate?

[code]

Or would that be problematic if only some domain maps supported this functionality, and others did not? Would it be easier to just tell users to always manually slice a distributed domain?

[2019-04-04 17:57] bradcray commented on #12289
I'd also wondered about whether the dsi should be extended in this way (e.g., an optional argument to `these()`?) and how much work it would be to plumb this through all of the domain maps.

I think the reason that I don't find this completely terrifying is that it would only occur when someone sliced with a non-distributed domain, which I don't think happens all that often (e.g., I'd either have

[2019-04-04 18:00] benharsh commented on #12289
Sorry, manually isn't really the right word. I intended to refer to the extra step of doing ``A.domain[expr]``.

[2019-04-04 21:26] LouisJenkinsCS commented on #6310
[code]
[TIO](https://tio.run/##S85ILEjN@f@/LLFIwVHBSiHaUE/P0CBWITOvRMFWAcyx5iovyixJzcnTyM3MUyhKTSlNTlWITgQqUXCMVdBI1FHISC1K1ctM0dS0/v8fAA)

I didn't read the above, but doesn't this do what is being requested here?

[2019-04-04 21:28] LouisJenkinsCS commented on #12763
As opposed to https://github.com/chapel-lang/chapel/issues/10762?

[2019-04-04 21:34] LouisJenkinsCS commented on #12346
I think that there should be a 'serial iterator not found' error is required too! I recently had a student get bit by this, because they created a parallel iterator without a serial one and it just gave a confusing compiler error saying that it could not resolve the parallel iterator.

[2019-04-04 21:36] bradcray commented on #6310
No, a minloc reduction should return the minimum value and the index of that value in the collection being reduced, not the locale ID.

[2019-04-04 21:41] LouisJenkinsCS commented on #6310
Ah, gotcha.

[2019-04-04 21:41] bradcray commented on #12763
Convenience functions along these lines already exist as of 1.19, this issue is just requesting that they be extended.  This effort isn't incompatible with #10762, but some developers have expressed concern that #10762 could be too subtle in some cases if the behavior is "have the distribution take its key attributes from the first domain declared using it".  There are patterns where it's obvious

[2019-04-05 17:36] dgarvit commented on #10761
@bradcray @LouisJenkinsCS I have devised a solution in #12768. Kindly review.

[2019-04-05 17:37] dgarvit commented on #12730
@bradcray I came up with a basic solution in #12750. It would be great if you could review it.

[2019-04-05 17:43] ben-albrecht commented on #6329
From what I understand, this parses a format similar to Microsoft INI. I'm not sure there's much value to supporting this over other common config formats like TOML, YAML, and JSON, and suggest we drop it from this list.

[2019-04-05 17:55] bradcray commented on #12730
Cool!  I think @mppf would be the most appropriate reviewer here, if he has the time.

[2019-04-05 17:58] bradcray commented on #10761
I won't have time to review this this week but will try to take a look next week.  That said, I thought that @KING-SID was running with this issue, so also wants to make sure that he doesn't feel his toes have been stepped on.  That said, it's been a month with no news... @KING-SID, any further progress here?  If not, would you be interested in helping to review what @dgarvit has done?

[2019-04-05 22:31] ben-albrecht commented on #12760
That's correct. When designing mason, we made the choice to default to "this version or later" with assumption that testing infrastructure would help identify packages that broke with new versions so that we could "cap" the chapel version on the package when needed. Unfortunately, developing that testing infrastructure has not received the necessary resources yet.

Right. I think this issue would

[2019-04-06 08:32] dgarvit commented on #6329
Can I work on gzip library for chapel?

[2019-04-06 13:27] mppf commented on #6329
@dgarvit - I don't know of any other effort on that, so feel free

[2019-04-06 13:36] mppf commented on #12150
I have some questions about legality that we should try to address before turning it on by default:

1. What exactly are the properties of `forall` it is relying on? We should make sure the language specification clearly describes these properties. (Can a forall include a barrier? Can the loop body rely on some ordering property among the iterations?)
2. Lifetime checking is (by design) incomplete

[2019-04-06 13:53] mppf commented on #12490
@benharsh - re. names for a wide c_ptr aka `_ddata`, we might use
 * `ptr`
 * `global_ptr`
 * `global_c_ptr`
 * `wide_c_ptr`

Any other ideas?

I think the main questions I have about it are:
 * can it be used for interoperability with C in any meaningful way?
 * is it always wide, or subject to compiler analysis, which might make it narrow in some situations?

I think the answers to these are "no

[2019-04-06 13:53] mppf commented on #12490
Oh yeah, and then maybe it would be `globalPtr` for camelCase reasons.

[2019-04-06 15:15] dgarvit commented on #8758
@bradcray I implemented that approach in #12770. Kindly review.

[2019-04-06 20:15] aditmehta9 commented on #11136
Thanks, Sir, I'll add Chapel documentation in DevDocs in GSoC period

[2019-04-07 00:50] LouisJenkinsCS opened #12771 "Resizing domains in initializer before calling 'this.complete()' results in undefined behavior at compile-time and execution-time."
In the below code-snippet, there is inconsistent behavior when you try to assign to a `domain` of an array. Calling `this.complete()` will cause it work just fine, but without `this.complete()` it will fail or 'work' but cause undefined behavior at execution-time (like the case where you assign 'dom' another domain with same distribution.)

[code]
[TIO](https://tio.run/##hVJNSwMxED27v@KBB7dgt@1JsP

[2019-04-07 22:33] bradcray commented on #12771
I believe that this is a user error that the compiler should be flagging but is not (@benharsh, can you check me here?).  Specifically, `forall a in arr` is  a use of `arr` rather than a definition of it, yet `arr` has not yet been initialized either explicitly (by assigning it) or implicitly (by calling `this.complete();`).  You can fix this by initializing it using whole-array assignment instead

[2019-04-07 22:43] LouisJenkinsCS commented on #12771
I'm wondering, should we allow 'forall' initialization anyway so long as it is not read before it is written to? For example, if each element in the array is unique/distinct from all of the others. I mean, scalar assignment is handled internally by a `forall` right?

https://github.com/chapel-lang/chapel/blob/2069934cd9f80e0b57fa29e660d15dd0ad2b0c00/modules/internal/ChapelArray.chpl#L3945-L3957

[2019-04-08 05:05] bradcray commented on #12771
I think as a starting position that we shouldn't.  The compiler currently has to determine where each field is initialized in order to determine what other fields it needs to auto-initialize, and so I believe the rule is designed to K.I.S.S. where we simply look for an assignment to that field.  Of course, this still permits forall initialization, simply in the form `arr = forall i in expr do f(i)

[2019-04-08 13:48] mppf opened #12772 "compile-time nil checking error expected but missing"
The program below should result in a run-time (rather than compile-time) error:

[code]

[2019-04-08 16:51] ronawho commented on #9618
I have an updated prototype available at https://github.com/ronawho/chapel/tree/qthreads-experimental-task-reset, which only does the affinity resetting if we're doing a bounded coforall that's going to spawn more than here.maxTaskPar tasks. That gets good stencil performance without hurting cases cases like:

[code]

[2019-04-08 20:13] LouisJenkinsCS opened #12773 "Swan: PBS-Aprun not working with PBS Pro"
Recently, Swan's MPN network has updated Torque to the new PBS/Pro which introduces new syntax that breaks existing Chapel job scripts, including the one generated and used by `CHPL_LAUNCHER=pbs-aprun`.

[2019-04-09 16:46] gbtitus commented on #10003
I've reopened this issue because I have something else I want to try, and this is the only right place to put the results.  Stay tuned.

[2019-04-09 19:49] ronawho commented on #11029
Just FYI: up-to-date status is now tracked at the end of the issue description.

Additional details can be found in this [gist](https://gist.github.com/ronawho/c1f5b6667fdb5b6f388162fed4c37d33) and the [1.19 release notes](https://chapel-lang.org/releaseNotes/1.19/05-benchmark-opts.pdf). Here's some nice graphs for a 24-core x86 machine:

-  Serial reads are 20x faster and parallel reads are 800x

[2019-04-10 10:53] sanket143 opened #12776 "TOML Parser: Wrong line number in error message"
While parsing a TOML file

``toml_example.chpl``
[code]

``example.toml``
[code]
:arrow_up: is a valid TOML file but still Chapel TOML Parser has issues with dates #7104

Shows line number 5 even though its on line number 7. Since developer will seek the line number shown in the error message, Its expected to show
``Line 7: Illegal Value -> 2000-04-30``

[code]

### Configuration
`chpl --version`

[2019-04-10 13:31] marcinz opened #12777 "Set compiler name during build"
### Summary of Problem

During build, a compiler can be selected using the `CHPL_*_COMPILER` variables,  but the actual names of the compiler executables are hardcoded. When building on a Mac, for example, compilers are often installed using a system like Homebrew, which gives compilers names related to their versions. For GCC 8, for example, the executables are named `gcc-8` and `g++-8`. Currentl

[2019-04-11 14:32] ben-albrecht opened #12778 "Support ordered associative arrays"
This issue tracks the desire for some kind of ordered associative arrays / dictionary. This is where the order in which elements are added is maintained even after removal or resizing.

One approach to supporting this is by making associative arrays ordered by default, which is discussed as a potential solution to #8339.

[2019-04-11 16:43] LouisJenkinsCS commented on #12778
I think something like `domain(keyType, ordered=true)` would be a sufficient addition to the associative domain argument-list. As well, it would be ncie to be able to `sort` an associative array and associative domain.

[code]

[2019-04-11 16:43] LouisJenkinsCS commented on #12778
I think something like `domain(keyType, ordered=true)` would be a sufficient addition to the associative domain argument-list. As well, it would be ncie to be able to `sort` an associative array and associative domain.

[code]

[2019-04-12 09:17] akshansh2000 commented on #12657
@ben-albrecht, @LouisJenkinsCS, I completed the serial version of the _cycle itertool_, which returns separate elements from an iterable, eg:
[code]
[code]
I was working on the parallel version, but I am not sure if it makes sense to parallelize. I don't think that a shuffling of order would be desirable.

Is there some case that I'm missing where the shuffling of order might be used?

[2019-04-12 12:46] LouisJenkinsCS opened #12781 "Mason: Verification checking and error-handling/error messages"
Currently, Mason seems to not be able to handle failure when certain conditions are not met. For example, see this:

https://github.com/chapel-lang/chapel/blob/85dd0a0b0c783848fb8baf3762550048eae6e235/tools/mason/MasonUpdate.chpl#L320-L324

Note that there are no checks for if these arguments exist? I get a nil-pointer dereference without knowing why (I.E in my case I had "chplVersion" missing). I

[2019-04-12 13:31] mppf commented on #9490
I think that this issue is related to #11534.

[2019-04-12 16:32] mppf opened #12782 "confusion around casting signed integers of different sizes"
I have this program:
[code]

I was expecting it to print out ffffffff (ie. -1 as a 32-bit integer). However it prints out ffffffffffffffff.

I think the current behavior is consistent with the behavior of C but I'm not sure I've ever understood why the C compilers do this. It seems at the very least that there is something to document about it.

[2019-04-12 17:23] mppf opened #12784 "Using dataParTasksPerLocale in library code"
I am working on some library code that should allow dataParTasksPerLocale to control the level of parallelism but doesn't use a forall loop.

I would use dataParTasksPerLocale directly, but it is the configuration const, rather than something based on the number of cores, so defaults to 0.

I see many distributions need to do something like this:

[code]

Can the standard library include a helper

[2019-04-12 19:51] lydia-duncan opened #12786 "Documentation request: centralized page listing all Error subtypes currently supported"
A user requested a centralized list of all Error subtypes that Chapel currently supports.  It would be helpful for them when determining what errors to throw.  They would also like this list to indicate the class hierarchy, so that they could determine how to write a catch block that would grab all subclasses, for instance.

This may relate to #5953 and #5954, but should be considered a separate i

[2019-04-12 19:59] lydia-duncan commented on #12786
(not sure if easy)

[2019-04-12 20:05] ben-albrecht commented on #12786
(Maybe this is question for the user)

For clarification, how would this be different from the existing [Errors documentation](https://chapel-lang.org/docs/master/builtins/ChapelError.html)? Do we envision something that crawls the standard library and aggregates documentation for all defined errors into a single page?

[2019-04-12 20:06] lydia-duncan commented on #12786
That sounded like what they wanted, yeah

[2019-04-12 20:08] ben-albrecht commented on #12776
@sanket143 - Thanks for reporting. It's possible that the TOML parser is ignoring empty lines when reporting line numbers.

[2019-04-12 20:10] lydia-duncan opened #12787 "Handle throwing exported functions"
How should we handle exported functions declared with throws?

- [ ] C uses errno instead of throwing exceptions.  We'd probably want to do a conversion to use that in the context of exported functions that throw
- [ ] What should Fortran interoperability do? (I don't know where to begin)
- [ ] Python has a concept of exception handling.  Ideally, we'd be able to rethrow similar errors in a form t

[2019-04-12 20:18] lydia-duncan commented on #12787
Note: I do not view this as a priority.  I'm mostly tracking the idea because it came up, and my immediate thoughts on what would be involved.

[2019-04-12 20:38] sanket143 commented on #12776
@ben-albrecht Yes.. Actually New lines are getting stripped [here](https://github.com/chapel-lang/chapel/blob/master/modules/packages/TOML.chpl#L1008), and it also it looks like it was not considered in [parseLoop](https://github.com/chapel-lang/chapel/blob/master/modules/packages/TOML.chpl#L157)

[2019-04-12 20:59] dlongnecke-cray commented on #12787
As far as C goes, mapping exceptions to errno (or our own thread local equivalent) makes the most sense to me.

There is also the question of what is generated for user subclassed exceptions. One possibility is to generate an enum over all exception types which may be thrown via exported functions. This would require some AST wizardry.

Right now my RPC protocol looks something like this:

- Socke

[2019-04-12 21:53] lydia-duncan commented on #6020
These tests are actually hard to write, probably not a good first issue after all

[2019-04-13 03:59] vasslitvinov opened #12788 "report [ ]-loop resorting to serial iteration"
The user may want to know when a [ ]-loop in their code resorts to serial computation. In some cases it is OK for the loop to run serially, as long as the user knows about it.

This issue requests generating such an error. It should include source file/line (as usual) as well as an indication of the reason why it resorted to serial.

[2019-04-13 04:08] BryantLam commented on #12782
Because all modern CPUs use two's complement arithmetic, C/C++ signed types effectively preserve their value through sign extension when casted. Here, the relevant cast is from int32 to uint64, which sign extends so that if uint64 was later converted back to signed int64 or intX, it would still be value -1.

[From cppreference](https://en.cppreference.com/w/cpp/language/implicit_conversion#Integra

[2019-04-13 04:21] BryantLam commented on #12788
As an idea, it would make sense to me to have a compiler flag like `--parallelization-report` or `--performance-report` generate a report akin to a vectorization report in C/C++ compilers. It could accept optional "level" integers to only show "executed as serial" diagnostic messages as in this issue here, or higher levels to be more chatty about where all [ ]-loops are parallel or serial, distrib

[2019-04-13 04:38] vasslitvinov opened #12789 "language support for categorical data"
This issue requests language support for "categorical data".

"Categorical data" is somewhat like an enum type. More specifically:

* The set of categories, i.e. values in a collection of categorical data, may not be known at compile time. For example, it can be determined only after all the data has been read in.

* The user would like to treat each category value as a string. For example, comput

[2019-04-13 14:50] ben-albrecht commented on #12657
I don't think a standalone parallel iterator makes sense for `cycle`, but a leader/follower parallel iterator might be useful in cases where zipped order matters, e.g.

[code]

[2019-04-13 20:49] LouisJenkinsCS commented on #12789
If it's not too much to ask, can you provide a code-snippet of what you'd envision that this would look like?

[2019-04-15 13:42] mppf commented on #12782
@BryantLam - thanks for the tip, I see that casting first to `uint(32)` makes this program work the way I want:

[code]

However it seems like something that should be documented somewhere for Chapel. (I created the issue because in the past we've much many such details in the specification).

But, now that I look more carefully, I see that it is documented reasonably well - 9.2.1 Explicit Numeric

[2019-04-15 13:43] #12782 closed

[2019-04-15 16:33] bradcray commented on #12777
It's not entirely clear to me how this would end up working with our current makefile environment.  For example, say that you set CC to `cc` which was an alias for `gcc` but then set CHPL_HOST_COMPILER to `intel` and CHPL_TARGET_COMPILER to `cray-prgenv-cray`.  What should happen?

[2019-04-15 16:43] #12776 closed

[2019-04-15 16:58] lydia-duncan commented on #11921
In talking to the rest of the team, it sounds like the different naming was intentional, to indicate a technical difference in their function. We think the names should be improved, but I think doing so in a meaningful way will be difficult without further context.  As a result, I'm going to close this issue without resolving it in the way that was originally suggested

[2019-04-15 16:58] #11921 closed

[2019-04-15 17:51] bradcray commented on #12788
I agree that this should be opted into via a flag of some sort (the original issue didn't make that clear, though I imagine that's what Vass was imagining?)

[2019-04-15 19:45] npadmana commented on #12743
Dear all -- I've been slowly converting the examples in the GSL documentation into Chapel codes. In this process, I've also been sometimes adding in helper routines, although in large part, I've just stuck to the C API for simplicity.

Since the GSL list of functions is large, I've been leveraging the `extern` block functionality of Chapel to keep the GSL module simple. @mppf  made a number of imp

[2019-04-15 19:53] LouisJenkinsCS commented on #12743
This is nice, but I really would like for an actual wrapper to exist for these kinds of things.

[code]

I think its fine to incrementally wrap this up, rather than do it all at once. I know GSL is large, but it'd _really_ benefit from actual Chapel bindings.

[2019-04-15 19:57] bradcray commented on #12743
My standard question:  Was `c2chapel` unable to handle the GSL header?

[2019-04-15 20:01] npadmana commented on #12743
@bradcray -- the problem is that it isn't a single header, it's ~200 header files all including each other.  I did make some progress with c2chapel, but it required a fair amount of hand-holding to make something clean. And would have been a pain for me to try and maintain.

This version is quite compact and lets me focus on the niceties...

That isn't to say that c2chapel isn't the best approach

[2019-04-15 20:07] npadmana commented on #12743
@LouisJenkinsCS -- I agree; it was just slightly lower priority for me. That being said, the particular API you describe would be pretty easy to do.

I just added in random number distributions, although again with the C API only.

[2019-04-15 20:10] LouisJenkinsCS commented on #12743
I do sincerely appreciate the heroic effort, especially since you managed to get a very nice proof of concept going so far. If possible, can you make a clone on GitHub so that I can collaborate and make my own PRs?

[2019-04-15 20:10] #12392 closed

[2019-04-15 20:23] npadmana commented on #12743
@LouisJenkinsCS --  https://github.com/npadmana/chpl-gsl

Feel free to file PRs/issues; all would be much appreciated. I can try to push over a first draft at the RNG code later.

[2019-04-15 20:23] LouisJenkinsCS commented on #12743
Thanks!

[2019-04-15 20:35] LouisJenkinsCS commented on #12743
@npadmana Made a PR: https://github.com/npadmana/chpl-gsl/pull/2

[2019-04-15 22:16] LouisJenkinsCS commented on #11029
No problem @ronawho :)

[2019-04-15 22:40] bradcray commented on #12370
I still don't see a path forward for this feature request, not due to being complicated to implement so much as not fitting the language philosophy.  You seem to be asking to be able to write a function foo() which returns one of two types based on execution-time information.  Yet, if we can't know what type it is until execution time, we don't know what type to make variable `x` in cases like: `v

[2019-04-15 22:48] bradcray commented on #12372
I think this is as expected given the current initializer design which literally requires fields to be initialized in order using the form `this.myField = ...` before they are referenced in any other way.  While the tuple initialization syntax used here is semantically equivalent to the longer-form rewrite, it technically isn't allowed today (just as other equivalent assignments to the field aren'

[2019-04-15 22:49] lydia-duncan commented on #12370
Thanks for the reminder, I meant to come back and follow up but got distracted

[2019-04-15 22:49] #12370 closed

[2019-04-15 23:27] bradcray commented on #12417
Nobody's said it (though Bryant alluded to it), but I think the reason this takes forever to compile is due to details relating to how the Chapel compiler instantiates tuples as generics.  I don't think that things need to be this way, but given the current implementation approach, it's not surprising to me that they are.

[2019-04-15 23:52] bradcray commented on #12639
In a recent discussion, we decided to leave this as-is.  As I understand it, the thought was that requiring the user to "unwrap" flavored class types and then "rewrap" them was onerous.  It also led to a puzzling  question along the lines of "What is an unwrapped class type?" given that `C` in Chapel code usually means `borrowed C` rather than simply `class C`.

[2019-04-15 23:52] #12639 closed

[2019-04-16 00:01] bradcray commented on #12759
@ben-albrecht : Did you say you were going to try and take a look at this issue?

[2019-04-16 00:02] bradcray commented on #12760
@ben-albrecht / @tjstavenger-pnnl : With Ben's update to the registry, can this issue be closed now?

[2019-04-16 00:28] ronawho commented on #11336
FYI here's a simpler reproducer for this:

[code]

Where `s` is effectively `( .2x * .2x) - 4.0 * ( .1x * .1x)` and with infinite precision that would be `s = 0.0`. We don't have infinite precision, so depending on the instructions being used `s` can be less than 0, which means the sqrt path won't be taken in the original example.

On chapcs without `--fast`, `s` will be 0.0, however with `--fast`

[2019-04-16 00:28] bradcray commented on #12562
@mppf: This seems to be due to an infinite recursion loop between isFieldTypeExprGeneric() and fieldIsGeneric() which you've touched the most recently.  Could you give it a quick look to see if there's an easy fix?

[2019-04-16 01:16] vasslitvinov opened #12800 "require parallel iterators to co-locate with the serial iterator"
Background: The current goals for Chapel 2.0 do not include improvements of our iterator story. Meanwhile we have discussed the idea of requiring the user to declare all flavors of an iterator textually close to each other. For example, if the user wishes to declare a leader and a follower iterators, they must be co-located with the corresponding serial serial iterator.

Proposal: This issue propo

[2019-04-16 01:47] vasslitvinov commented on #12788
Indeed. I updated the issue indicating this.

[2019-04-16 01:50] vasslitvinov commented on #12789
I do not have a proposal at the moment.

Something to consider is [Categoricals in Pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html) .

[2019-04-16 08:53] sanket143 opened #12801 "TOML Parser: date and datetime fieldTag conflict"
I've been adding ``date`` support in TOML Parser and I think the fieldtag used [here](https://github.com/chapel-lang/chapel/blob/master/modules/packages/TOML.chpl#L436) should be ``fieldDateTime`` instead of ``fieldDate`` because it is a ``datetime`` field which is different than ``date``.

[This](https://github.com/chapel-lang/chapel/blob/master/modules/packages/TOML.chpl#L357) and [this](https:/

[2019-04-16 13:10] mppf commented on #11336
I think we should just remove this test from consideration (including in performance runs). Once I learned about this problem, my conclusion was that this benchmark kernel is not useful (in any language).

[2019-04-16 13:16] reuster986 commented on #12789
This is a good start!

See also the [Categorical API reference](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Categorical.html) for ideas. We don't have to do everything that pandas does or the way pandas does it, but their API is a good clue to the needs of the data science community.

Additional considerations:
* How to handle efficient translation between category codes (int

[2019-04-16 14:12] tjstavenger-pnnl commented on #12760
Yes -- if there were a way to somehow test or enforce this across packages, that would be optimal.

[2019-04-16 15:45] LouisJenkinsCS opened #12803 "Implicit Promotion - Parallel only for statically-proven 'pure' functions"
I like the ability to implicitly vectorize functions on vector-like arguments (such as arrays, ranges, domains, etc.), but it would be nice if the compiler would perform this serially rather than in parallel when the function is a non-pure one. Even if the function has synchronization, it likely will not be any faster than serial execution, and worst-case you get undefined behavior.

[code]

[2019-04-16 15:53] LouisJenkinsCS commented on #12803
What if you can force serial promotion to parallel by using square-brackets? `g([A])` can force it to be parallel, which requires the user to _know_ that implicit promotion is occurring.

Also side note: from some feedback from students using the language, the implicit promotion is very confusing to beginners and I got a lot of "How would I even know the compiler was going to do that" kind of disb

[2019-04-16 17:35] bradcray commented on #12803
I understand the motivation for this request, but feel nervous about making Chapel semantics be governed by whether or not a compiler can prove something since one compiler's ability to do so could differ from another's, so am thinking about other ways of minimizing these issues.

I think that the impure case in your example is a variation on a broader concern that could occur in any parallel loop

[2019-04-16 17:56] bradcray opened #12805 "writeThis() for types?"
At present, Chapel types can control how their objects are printed out by defining a `writeThis()` method.  This issue asks whether we should also give them control over how the type itself is printed out by defining a `type writeThis()` method.  As Chapel developers, this would give us a nice hook for sugaring over types like `owned` or `sync` or distributed domains/arrays to make them appear mor

[2019-04-16 18:34] vasslitvinov commented on #12803
If we make the promotion in g(1..10000) explicit, the two cases are:

[code]

The difference is whether the outer variable `state` is accessed within the lexical scope of the forall loop or from somewhere within the closure of the call graph.

When we introduced the "in intent" feature, we explicitly decided to handle the former and not the latter. From the commit message of [r21940](https://githu

[2019-04-16 18:35] benharsh commented on #9593
PR #12797 will enable bulk-transfer for BlockDist by default.