[2020-02-18 19:46] ronawho commented on #14893
qthreads uses hwloc to figure out affinity and pin threads (using hwloc logical indexing/numbering) and I think that's doing the right thing.

I'm fairly confident that we're pinning to distinct cores and not using hyperthreads, especially since disabling pinning/affinity did not improve the situation. Our STREAM triad also match what AMD has published, and I would expect much worse performance if

[2020-02-18 21:32] e-kayrakli commented on #13901
`value`/`values`: Not a big fan. As a string user, it makes me think about integral "values" of codepoints or characters more than the characters themselves.
`element`/`elements`: I don't think it is better than `char`/`chars` even with potential confusion with C's `char` type. But it is more of a personal choice rather than having specific concerns. I can live with this, if there is a general agr

[2020-02-18 22:12] #14893 closed

[2020-02-18 22:27] ronawho commented on #14893
Thanks for your help @PHHargrove and @bonachea! -- I was feeling pretty stuck on this

[2020-02-18 23:09] lydia-duncan commented on #14864
Another thing to ensure works: unprefixed method accesses in secondary methods

[2020-02-19 05:24] vasslitvinov opened #14920 "Can't return conditional expression with types"
The following return statement does not work:
[code]
when the type to be returned is a record or a tuple.

**Test:**
[code]

[2020-02-19 14:27] mppf opened #14923 "missing const checking for array of owned copy-init"
This program should fail to compile

[code]

because the `const Z = Y` does an init-copy from Y which is const. When copying the elements, the RHS will be set to `nil` (because `owned` `=` does that).

The array init-copy should consider the case that the element type has an `init=` / `=` that mutates the RHS.

PR #14887 attempted to fix it but that caused problems with shadow variables with the t

[2020-02-19 14:59] mppf opened #14924 "Array copy initialization"
As a Chapel user, I would like the built-in array types to be efficient when copy-initializing, including when using split-init, `in`, and `out` intents. I would like the array behavior to match the record behavior. This will allow me to understand the language and to create efficient programs.

[2020-02-19 15:02] mppf opened #14925 "arrays default-init for in intent"
See PR #9471. Arrays do not always need to default-init and then assign for `in` intent. A copy initialization form that accepted the runtime type would be better.

[2020-02-19 17:07] e-kayrakli commented on #14920
Some other issues with conditional type expressions: #14279, #14301, #14309, #14317

[2020-02-19 20:53] bradcray commented on #14818
I've opened PR #14928 as a placeholder for resolving this issue, but would appreciate thoughts on whether the proposed error message is sufficiently clear or not.

[2020-02-19 21:14] bradcray opened #14929 "Support direct iteration over heterogeneous tuples"
Traditionally, Chapel has not supported direct iteration over heterogeneous tuples, like so:

[code]

I think one recent reason that we haven't considered supporting this is due to a sense that since `t` would have different types in different iterations, it simply wouldn't make sense (in fact, I argued this on issue #9607, which is strongly related to this one).  However, this argument doesn't re

[2020-02-19 21:15] bradcray commented on #14929
For a time, I'd been thinking this would be trivial to implement by simply writing the param-unrolled version of the loop into the tuple's iterator within ChapelTuple.chpl.  But I failed to anticipate that that doesn't work since iterators have to have a well-defined yield type.  So on further reflection, I think that this transformation will need to be done in the compiler.  If anyone familiar wi

[2020-02-19 21:17] bradcray commented on #9607
I'm closing this issue in favor of #14929.  I think @ben-albrecht and @ian-bertolacci were right on the money above and that I was the one who was too stuck in traditional thinking.  See the new issue for details.

[2020-02-19 21:17] #9607 closed

[2020-02-19 21:20] bradcray commented on #14929
I'll note that I also thought that we should write such cases as:

[code]

for a time, to leverage existing "param loop variables imply unrolling" logic and explanations.  But on reflection, this isn't appropriate / sufficient in all cases since the elements of the tuples may not be `param`.  For example, I think we can and should also support:

[code]

but here `tup`'s elements aren't param value

[2020-02-19 21:37] bradcray commented on #14790
Recapping a bit of what I've said on other issues / emails:

The more I think about `import` designs, the more I'm inclined to go with an approach like this one, though using syntax that's a bit closer to Rust's, where some sample import statements (not intended to necessarily work together in a single program) might look like:

[code]

I'm also advocating that we not support `import M.*;` or `imp

[2020-02-19 21:48] dlongnecke-cray opened #14930 "Should conditional expressions be restricted to booleans?"
Awhile ago, I recall expressing to @bradcray that I was surprised Chapel allowed integers to be used in statements that expect a boolean.

I might be misremembering, but I believe some code in the IO module was what triggered me to first bring it up. The code looked roughly like this:

[code]

Other expressions that evaluate to an integer are also valid, in other conditional constructs:

[code]

C

[2020-02-19 21:52] bradcray commented on #14930
I could be wrong, but think that determining how much code would break might be quite easy: Remove all non-bool `_cond_test()` overloads that accept non-bools from ChapelBase.chpl.

[2020-02-19 22:10] vasslitvinov commented on #14929
Regarding implementation: the AST for a loop looks like this:
[code]

So I propose to modify `preFoldNamed()` in preFold.cpp to recognize a call to _getIterator on a heterogenous tuple and transform the ForLoop into whatever we want it to be, such as `for param i` .

[2020-02-19 22:19] vasslitvinov commented on #14929
I also propose to introduce for-expressions over tuples that produce tuples. Right now we use these workarounds for the lack of this feature:

* A recursive function that builds builds a bigger tuple from a smaller tuple. Besides bulky code, this pattern also repeats the core computation twice. Ex.:
[code]

* Create a default-initialized tuple then fill it in a for-loop over the source tuple. This

[2020-02-19 22:22] bradcray commented on #14929
That seems like it deserves its own issue rather than being glommed onto this one?

[2020-02-19 22:25] vasslitvinov opened #14931 "Support a for-loop expression producing a tuple"
I propose to introduce for-expressions over tuples that produce tuples. This is a spin-off from #14929.

Right now we use these workarounds for the lack of this feature:

* A recursive function that builds builds a bigger tuple from a smaller tuple. Besides bulky code, this pattern also repeats the core computation twice. Ex.:
[code]

* Create a default-initialized tuple then fill it in a for-loop

[2020-02-19 22:25] vasslitvinov commented on #14929
Good point. I created #14931.

[2020-02-19 22:39] bradcray commented on #14931
What would your proposed solution look like?

[2020-02-19 23:10] vasslitvinov commented on #14931
For example:
[code]

[2020-02-19 23:33] bradcray opened #14932 "Clarify location / role of chplconfig files when doing `./configure` && `make install`"
[Filing on behalf of @milisarge who went through a lot of confusion, with me in tow, over this]

As a Chapel programmer, it seems that the current documentation about chplconfig files, particularly with respect to their usage with `./configure` and `make install` is incomplete, incorrect, and/or not as clear as it could be.  Specifically:

* https://chapel-lang.org/docs/usingchapel/building.html#i

[2020-02-19 23:35] bradcray commented on #14932
@ben-albrecht and @mppf: Would one of you take ownership of this, as I think you're most familiar with these features and this documentation?

[2020-02-20 00:06] ben-albrecht commented on #14932
I can help with this issue.

If I understand correctly, it creates the `chplconfig` in the same directory as `configure` (`$CHPL_HOME`). Agree that this documentation could be clearer.

I think this text is still correct ([source](https://github.com/chapel-lang/chapel/blob/master/util/chplenv/overrides.py#L75-L92)). It must be finding the `chplconfig` generated in `$CHPL_HOME` for the `make instal

[2020-02-20 00:09] bradcray commented on #14932
I agree with that part, but the question is what does `make install` do with the chplconfig file that `./configure` creates.  Note that the original $CHPL_HOME is likely to be deleted and should no longer be required after `make install`.  Our impression is that `make install` copies the chplconfig somewhere else.

I don't believe that's the case once `make install` has been run.

[2020-02-20 00:10] dlongnecke-cray commented on #14861
Update!

I'm having trouble casting a `ref SomeClass?` to a `ref SomeClass` and then returning that reference. I'm not even sure if it's possible.

[code]

If I attach `pragma "unsafe"` then the routine will segfault because the result reference never aliases anything (it is NULL).

If this is not possible then it means that `this` for non-nilable classes will have to return a value instead of a r

[2020-02-20 00:14] bradcray commented on #14861
@mppf / @vasslitvinov: Any thoughts?

[2020-02-20 00:46] mppf commented on #14861
It's not possible today. This is related to #14307 and #8489. I don't think it would be easy to do.  (It might make sense longer term, though). Also, my draft PR #14835 contains many Errors changes that are motivated by this issue (in subclass form, anyway).

A similar question is - given a `ref ParentClass` that has dynamic type `ref ChildClass`, can it be explicitly cast and retuned as a `ref Ch

[2020-02-20 00:47] ben-albrecht commented on #14932
Ah, found it in [`main.driver.cpp`](https://github.com/chapel-lang/chapel/blob/master/compiler/main/driver.cpp#L460-L480).  I think not establishing precedence for this check vs. the other locations was an oversight, and the lack of documentation follows that.

[2020-02-20 00:50] dlongnecke-cray commented on #14861
Ok, then. Back do the drawing board!

What I need to figure out is an alternative way to use an associative array of non-nilable to implement `Map`, while preserving the compiler errors for associative arrays in any other context.

[2020-02-20 01:00] mppf commented on #14861
I don't think that `map` should be implemented with associative arrays at all because of issue #8339 - the preferred solution I have to that is to implement associative arrays on top of `map`. I view the current strategy of implementing `Map` with an associative array as a stopgap.

[2020-02-20 01:00] bradcray opened #14934 "Enable deprecation warnings for more IO routines"
On master (chpl version 1.21.0 pre-release (6becb020d6)), when calling `readf()` (which worked with Chapel 1.20), the following confusing error message is printed out:

[code]

To me, this seems less helpful / more confusing than just getting a simple unresolved call error message and then needing to figure out that I'm missing a `use`.  For that reason, I think we should either generate better er

[2020-02-20 01:12] dlongnecke-cray commented on #14861
I view it as a stopgap as well, but w.r.t. to the current release schedule I think it is the only viable strategy short of continuing to ban maps of non-nilable classes.

[2020-02-20 01:13] vasslitvinov commented on #14861
Since we currently do not support non-nilable associative arrays, it is reasonable to not support other resizable data structures with non-nilable elements.

[2020-02-20 01:30] bradcray commented on #14861
@vasslitvinov: The proposal here was that since (a) most operations on `map` take keys and values simultaneously (unlike domains/arrays which handle the two things distinctly) and (b) `map` seems more likely to be used by end-users than associative domains and arrays that if we could get a version of `Map` working with non-nilable classes, that would be valuable for those who wanted to live in a n

[2020-02-20 01:44] dlongnecke-cray commented on #14861
@bradcray, The context for `_getVal` is the following:

- The value type of the map is `shared SomeClass` (some non-nilable class), and the value type of the associative array is `shared SomeClass?`.
- The `map.this` routine, in its current incarnation, returns a _reference_ to a value in the map when given a key
- I am trying to write a routine that, when given a key, will fetch a `ref shared Som

[2020-02-20 03:07] BryantLam commented on #14790
What's the proposed behavior for `import M.this`? Would it be equivalent to `import M`?

[2020-02-20 03:58] vasslitvinov opened #14936 "Disallow rectangular arrays of non-nilable element types?"
One way to address #13602 temporarily is to disallow arrays of non-nilable element types outright. This work was already started in #14846 and also discussed in #14367, where it applied to associative arrays and maps.

This issue is to discuss this for rectangular arrays.

One alternative to this approach is to allow a rectangular array of non-nilable elements when:
* it is initialized when it is

[2020-02-20 04:00] BryantLam commented on #13901
I don't have a strong opinion on the naming. But...

I completely agree. I'm actively against this one.

Agreed. Especially when unfortunately developing a custom strings library in Chapel with a C FFI.

My preference would be `item` or `elem`. I like *consistency* since these are already used by other standard modules. `item` is used by `map.items` and Chapel has historically used `elem`.

That s

[2020-02-20 04:08] BryantLam commented on #13901
Side question. With proposal 4, what are the available ways a user would typically ASCII-print a `bytes` object?
[code]
I assume the last line would be able to make use of this `chars`/`items`/`elems` method.

[2020-02-20 04:21] vasslitvinov commented on #14936
I implemented a blanket error for all arrays of non-nilable element types and got 370+ errors in a paratest with futures. Here are a couple of observations:

* Our distributions were hit -- every time a global descriptor class declares an array of local descriptor classes. This required a fair amount of added `!` checks throughout the distribution code.

  While the amount of added `!` is not too

[2020-02-20 07:39] cassella commented on #14931
Would there be special syntax to opt in to this behavior?  Syntax like the above is currently accepted by the compiler, and results in an array:

`var x = (for i in (1,2,3) do i);`

Does it need to be limited to for expressions over tuples, or could it extend to other for expressions where the compiler knows the iteration count?

e.g. `return (for y in 1..10 do foo(y));`.

[2020-02-20 08:22] vasslitvinov commented on #14931
Good question! If special syntax is introduced in #14929, we can use it here.

Otherwise we may change the behavior of the for-tuple expression to produce a tuple instead of an array. This would fit well with the "shape preservation" principle, i.e. the shape of the for-expression matches the shape of the iterable.

It makes sense to do so if special "make it a tuple" syntax is used. Otherwise "sh

[2020-02-20 11:16] mppf opened #14937 "should returning a reference result of downcast/to non-nil be allowed?"
Consider for example the following program:

[code]

Should this be legal? At first, one might imagine that this is OK, because the returned reference can be updated without creating errors.

However, imagine adding the following two lines:
[code]

Now dereferencing `x` results in a nil dereference counter to the type system.

[2020-02-20 11:21] mppf commented on #14834
Revisiting the original example program:

[code]

Now, imagine that `glob` is updated while this reference exists:

[code]

As a result this functionality would invalidate the type system.

[2020-02-20 11:27] mppf commented on #14861
Earlier I said:

We now have issues #14937 and #14834 about the nilability and subclass downcast cases. However the result is the same - I think both of these features would break the type system and are totally unworkable.

Responding to Brad's earlier comment:

This is what I think we should do. I think we should discuss it over in issue #14474. I think the main open question here is whether or

[2020-02-20 11:32] mppf commented on #8489
The topic of this issue doesn't seem to run into the same problem as #14834. For example:

[code]

[2020-02-20 11:38] mppf commented on #14932
It does:

https://github.com/chapel-lang/chapel/blob/80832f088a652ff79de74e10a37c987073234d63/util/buildRelease/install.sh#L349-L358

For the install-to-a-directory option, I'd imagine that that directory becomes CHPL_HOME and as a result the chplconfig is used... but for the --prefix install option there might be some other logic needed.

What exactly happens here in driver.cpp is not currently c

[2020-02-20 11:49] mppf commented on #14790
@BryantLam - would you want `import M.{x, y, z, this};` to be allowed? This is just trying to correspond to the Rust feature.

Leaving out the `this` from the implementation to start seems fine to me - since one could write `import M.{x, y, z}; import M;` `import M, M.x, M.y, M.z` as you said.

[2020-02-20 11:58] mppf commented on #14936
Regarding array literals of non-nilable class type, I think we shouldn't worry about getting those working this release.

Regarding `list` and `toArray`, I think it would be OK for this to result in an error this release for non-nilable types. Longer-term, I don't think that we should add other variants of toArray or change the return type. With the alternative checking strategy, it will be possib

[2020-02-20 13:49] mppf commented on #14905
I think this is a reasonable goal and I'm comfortable with proceeding along the lines of `import M.N.{x,y,z}` / #14790.

[2020-02-20 15:35] BryantLam commented on #14790
I'd be okay without it. My opinion is that the intent is more clear if it was written as `import M, M.{x, y, z}` anyway.

[2020-02-20 16:15] lydia-duncan commented on #14790
Personally I don't see the need to support `import M.this` - I'd implement `import M.{x, this}`, but the form with only `.this` is just redundant with `import M`.  I don't think anyone would want to write it in practice

[2020-02-20 16:36] cassella commented on #14929
What would the error message look like for invoking something like this on a heterogeneous tuple?

`iter foo(tup: _tuple) { for t in tup do yield t; }`

or

[code]

I think it would be helpful to include in the error at least one pair of indices that result in differing return/yield types.

[2020-02-20 16:36] #13336 closed

[2020-02-20 16:37] mppf opened #14940 "error with promoted new C?()"
The following program generates a compilation error but I would expect it to compile and run:

[code]

[2020-02-20 16:44] mppf opened #14941 "errors with promotion and non-nilable owned"
I would expect both of the following programs to function but the result in errors after PR #14835. They produce different errors.

[code]

[code]

[2020-02-20 16:48] cassella commented on #14931
Would you be able to do a filtering sort of for expression?

[code]

(For param conditionals.)

[2020-02-20 16:58] mppf opened #14942 "problem with returning tuple of non-nilable owned"
PR  #14835 caused the test users/npadmana/twopt/do_smu_soa.chpl to begin failing due to compilation errors. The issue seems hard to turn into a small reproducer.

Associated future test:

test/users/npadmana/twopt/do_smu_soa-error.chpl  (PR  #14835 )

[2020-02-20 17:03] cassella commented on #14931
Since you get an array from initializing from a for expression over arrays, ranges, and arbitrary iterators, it feels surprising for this one kind of for expression to give you something different.  It seems most intuitive to me to require the user to opt in to getting a tuple.  (Especially since this would be a change in behavior for current code, though maybe the language isn't frozen enough for

[2020-02-20 17:04] mppf commented on #14941
When this issue is resolved, workaround changes to test/studies/shootout/chameneos-redux/elliot/chameneosredux-ejr.chpl should be removed.

[2020-02-20 17:04] bradcray commented on #14929
I expect the error would be the same as any other iterator that tried to yield multiple distinct types, e.g.: https://tio.run/##S85ILEjN@f8/syS1SCEtP19DU6GaS0GhMjM1J0XB0BrONNIzRnCUMjKVrLlqubjS8osUMhUy86A6U/KBSsqLgGbl5Glkalr//w8A

I doubt we'll be able to support zippered iteration over heterogeneous tuples, at least in the initial implementation (zippering works by pushing things into a standard i

[2020-02-20 17:11] bradcray commented on #14790
I agree `import M.this;` is redundant.  I only added it at the last minute for orthogonality.  It seems to me that anything you can put within the list using curly brackets should be able to be named as a singleton without the curly brackets as well.  I'm also fine with skipping `this` in the initial draft and adding it later (or never if nobody misses it).

[2020-02-20 17:28] bradcray commented on #14861
A third option is to just not support the `ref` variant for eltTypes for which it doesn't make sense.  This is what I'd do for this release.

A fourth idea would be to look into what Rust does (reportedly, they have a "slot" concept that's returned by such accessors that can be used to lazily insert something into the data structure?)

[2020-02-20 20:21] mppf opened #14945 "missing compilation error for record initializer changing type"
This is a more specific subset of issue #8499.

The following program should fail to compile, but it compiles and runs. (PR #14917 changed its behavior).

[code]

[2020-02-20 20:28] mppf commented on #14945
A classes example that is similar in spirit causes a resolution failure
[code]

[2020-02-20 20:56] mppf commented on #8499
In PR #14917 I am changing the way default variable initialization are handled in the compiler and it's causing the above program to no longer compile.

It seems to me that `var r: R` should not be legal because `R` is a generic type (and it does not have defaults, even). If we were to make it legal, would it introduce an inconsistency with `var r: R = something` ? In this 2nd option, the type `R`

[2020-02-20 21:08] dlongnecke-cray commented on #14937
It would be nice if there would be a way to achieve this (perhaps by using `pragma "unsafe"`) in a context where I can guarantee it is safe.

It should not be legal, but it should be mechanically possible if I forcibly ignore the rules.

Presently, the current code will segfault due to returning a reference to a scoped variable (the new `owned C` as a result of the cast), which is not the meaning

[2020-02-20 22:50] dlongnecke-cray opened #14946 "Tuple element of type int is mutable in some situations, but not in others?"
The following example from CHIP6 compiles:

[code]

And allows me to modify both `a` and `r` by reference within the scope of `test`.

However, if I remove the array `a` from the tuple capture...

[code]

Suddenly I get a compiler error!

[code]

In both cases, I would expect a copy of `i` to be made. Regardless of whether or not the original value is a variable or a literal, I would expect the sa

[2020-02-20 23:01] dlongnecke-cray opened #14947 "What is the default tuple argument intent? What about if an element is captured by const ref?"
## What is the default tuple argument intent?

The `Tuple Argument Behavior` section of CHIP6 says the following:

[code]

How am I supposed to interpret this? Is the default tuple argument intent `const ref`? If so, what does the last paragraph mean?

Since tuples are seemingly the only "record like type" to be able to capture elements by reference, should I interpret this last paragraph to mean

[2020-02-20 23:55] bradcray commented on #14946
That definitely seems odd...  I would guess that the inferred default intent for the tuple is changing based on what the element types are (?).  Yet I also haven't been able to come up with an explicit intent that works...  Tagging @mppf to see if he has any thoughts, due to being the most recent person to work on tuples that I'm aware of.

[2020-02-20 23:58] carcarah opened #14950 "Chpl 1.20 + gcc 8.3.0 -- compilation error"
### Summary of Problem

Hello everyone.

I'm facing problems when trying to compile a chpl program with chpl 1.20 and gcc 8.3.0.

**Compile command:**

`chpl -M modules --permit-unhandled-module-errors --fast --scalar-replacement implementation/fsp_gen.c implementation/simple_bound.c implementation/aux.c implementation/tsp.c main.chpl -o ga.out`

I.e., I'm using C-interoperability. But, even tryin

[2020-02-20 23:59] carcarah commented on #14950
Hello everyone. Please let me know if you need my code for testing. Tiago Carneiro.

[2020-02-21 01:15] bradcray commented on #14930
I gave this a quick try, but quickly ran into problems: I believe due to compiler-generated code relying on this behavior (specifically for initializers).  In the time I spent on it, I wasn't able to track down where the code was being inserted in order to see how hard it would be to add a `!=nil` to it.

[2020-02-21 01:20] dlongnecke-cray commented on #14930
Thanks for giving this a try. I can dig into the compiler when I've got some spare cycles try and find out where it is. Since you mentioned initializers, perhaps @benharsh would know?

[2020-02-21 01:55] mppf commented on #14946
No idea what is going on but I'd bet it's a bug (rather than a big design issue, e.g.)

[2020-02-21 02:05] cassella commented on #14942
This program has the same problem, without the tuple:

[code]

[code]

[2020-02-21 02:11] cassella commented on #14947
FWIW, there are a few other open issues about tuple intents, such as

is tuple default intent always const ref? #9610
fix the default intent for a tuple of ranges, ints #9104
What does passing a tuple by ref intent mean? #10742

[2020-02-21 11:41] ankingcodes opened #14952 "Add `--interactive` option for mason new and mason init"
In #14820 and #14786, a need for an `--interactive` tag has been mentioned for `mason init` and `mason new`. Using the commands, `mason init --interactive` or `mason new --interactive` will start a CLI questionnaire , in which the user will be prompted to input some values for `projectName` , `version`, `author` etc. for their library project. If an user leaves the fields empty, then default value

[2020-02-21 13:40] ronawho opened #14953 "Finalize compareExchange memory orders"
With https://github.com/chapel-lang/chapel/pull/14883 we have implemented a compareExchange that is closer to C/C++ in that `expected` is passed by ref and updated on failure. However, we're missing the version that takes both a `success` and `failure` memory order:

[code]

[code]

We currently only have the single order case (where the failure order is automatically determined.) We should suppor

[2020-02-21 13:41] ronawho commented on #13837
FWIW Rust went with `compare_exchange` and  `compare_exchange_weak`

[2020-02-21 13:51] ronawho commented on #14953
Vote for 2 overloads:

[code]

[2020-02-21 13:51] ronawho commented on #14953
Vote for 1 version (suggestions for `readableOrder` name are welcome):

[code]

[2020-02-21 13:52] mppf commented on #13837
Suppose we did that. Suppose such a user coming from C++  is reading some Chapel code. That Chapel code might use compareExchange (which we are supposing exists only for convenience). In this case there is no benefit to that user to keeping compareExchangeStrong, right? At that point isn't it just a matter of writing something they can find with grep/search in the documentation?

[2020-02-21 13:55] milisarge opened #14954 "Build time differences between chpl and mason"
i did some tests about building a chapel code with using chpl and mason. This link has details -> https://hastebin.com/inayorotil.nginx

is there any not fair comparison? let me know if is there any valid tests for comparison.

[2020-02-21 13:58] ronawho commented on #13837
Vote for just `compareExchange()`

[2020-02-21 13:59] ronawho commented on #13837
Vote for `compareExchange()` and `compareExchangeStrong()`

[2020-02-21 14:04] mppf commented on #14954
hi @milisarge - we like issues to have a benchmark for closing them. In this case I think, you are pointing out that `mason build` is slower than just a `chpl` compile by a significant amount and requesting that somebody investigate the difference and possibly resolve it. If you agree, could you put that in the issue description?

[2020-02-21 14:08] ben-albrecht commented on #14954
Here are the relevant timings from the user hastebin summarized:

| command                 | time (s) |
| -------                 | -------- |
| `mason build`           | 9.76     |
| `chpl`                  | 5.28     |
| `mason build --release` | 14.37    |
| `chpl --fast`           | 7.24     |

I see a smaller difference on my local machine:

| command                 | time (s) |
| -------

[2020-02-21 14:11] ben-albrecht commented on #14954
@milisarge - Could you provide the `printchplenv` with which `mason` was built? `mason` requires `CHPL_REGEXP: re2`, but I see your configuration has `CHPL_REGEXP: none`.

[2020-02-21 14:26] ben-albrecht opened #14955 "Specify brick name in mason {new, init}"
Follow-on to https://github.com/chapel-lang/chapel/issues/7961:

This feature request is to support `mason new --moduleName` to differentiate the directory name and the module name. For example:

[code]

This could also be supported in `mason init`  when that is supported (https://github.com/chapel-lang/chapel/pull/14820). This should generate an error if running `mason init` in project with an ex

[2020-02-21 15:14] milisarge commented on #14954
# ./mason --about
Compilation command: chpl --fast mason.chpl
Chapel compiler version: 1.20.0
Chapel environment:
  CHPL_HOME: /usr/share/chapel/1.20
  CHPL_ATOMICS: cstdlib
  CHPL_AUX_FILESYS: none
  CHPL_COMM: none
  CHPL_COMM_SUBSTRATE: none
  CHPL_COMPILER_SUBDIR: linux64/gnu/x86_64/llvm-none
  CHPL_GASNET_SEGMENT: none
  CHPL_GMP: gmp
  CHPL_GMP_UNIQ_CFG_PATH: linux64-x86_64-native-gnu-none

[2020-02-21 15:20] milisarge commented on #14954
first i built chapel with `export CHPL_TASKS=fifo; ./configure --prefix=/usr && make && make install` then built mason manually using `cd tools/mason; chpl mason.chpl`

[2020-02-21 15:26] milisarge commented on #14954
in mason about info of chapel environment , it says `CHPL_REGEXP: re2`

[2020-02-21 15:30] milisarge commented on #14954
i also did `export CHPL_REGEXP=re2` then re-compiled mason with this chplenv config. but test result are same

[2020-02-21 15:49] ben-albrecht commented on #14952
Before pursuing this implementation, it would be a good idea to sketch out the interactive queries and their order for feedback.

[2020-02-21 16:12] ankingcodes commented on #14952
@ben-albrecht  When an user types `mason init --interactive` or `mason new --interactive` it calls a function which contains the interactive session. The interactive session outputs as follows:
[code]

Other package managers support fields for `author`,`license`, `keywords` etc. Not sure if we should add those here.

[2020-02-21 16:16] ben-albrecht commented on #14952
This looks great to me.

We support an `authors` field, so that should be included.

`license` is a long-standing feature request (should open an issue on that if it does not exist).

[2020-02-21 16:39] ankingcodes commented on #14952
Did I miss out on any fields other than `author` that can be added ?

[2020-02-21 16:42] ben-albrecht commented on #14952
I think that's all we need for the initial `Mason.toml`.

[2020-02-21 16:44] lydia-duncan commented on #11611
I think this issue can be closed, the output today is:
[code]

[2020-02-21 17:26] bradcray commented on #11611
I'd tend to agree with that if @LouisJenkinsCS does.

[2020-02-21 17:31] dlongnecke-cray commented on #14947
Thanks @cassella! I'll look into those.

[2020-02-21 17:36] e-kayrakli commented on #14953
I really don't like "1 version" option. If I don't care too much about optimizing different cases w.r.t order, yet like to use named arguments (I really like them personally and use very liberally) I'd have to write `compareExchange(..., success=memoryOrder.seqCst)`. The argument name "success" doesn't look good to me here. Being able to say "order" would be much more expressive and much less conf

[2020-02-21 17:43] LouisJenkinsCS commented on #11611
Feel free to close this issue, I'm satisfied.

-------- Original message --------
From: Brad Chamberlain <notifications@github.com>
Date: 2/21/20 12:26 PM (GMT-05:00)
To: chapel-lang/chapel <chapel@noreply.github.com>
Cc: Louis Jenkins <louisjenkinscs@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [chapel-lang/chapel] Improve error messages for unresolved operators (#11611)

I'd t

[2020-02-21 17:44] #11611 closed

[2020-02-21 17:53] ronawho commented on #14953
No matter what version we go with a user will still be able to write:

[code]

So I think this is more of a documentation (and argument name) question. Most users will likely not specify a memory order (`a.compareExchange(expected, desired)`), and get seqCst ordering. For users who know enough about memory orders to feel comfortable using them, I would guess they will end up using the 2 argument v

[2020-02-21 18:12] e-kayrakli commented on #13901
There might be some confusion here. A "normal" printout of a bytes object is in ASCII:

[code]

And, you are right to suggest that `%s` is not a valid formatter for `bytes`. You should use binary formatter, instead.

[code]

Neither of these will change with proposal 4. However,

[code]

prints `A`, `B`, `C` today, and it'll print `65`, `66`, `67` after this change. And we'll use `chars` (or whate

[2020-02-21 18:16] e-kayrakli commented on #13901
I think overall we got

- `char`/ `chars`
- `item`/`items`

that have the most support.

@bradcray -- how strongly are you against `item`? Thinking about C interop more made me a bit concerned with `char` as well. If I am handling strings both at Chapel and C in the same application, I'd be confused by two separate meanings of `char`

[2020-02-21 18:27] bradcray commented on #13901
If char(s) is off the table, character(s) is probably what I'd use next, left to my own devices (re-reading my earlier response, I'm seeing that I didn't indicate that I preferred it to the other alternatives we were discussing at the time).  But maybe it's too long for anyone else to take seriously.

I'm also open to item(s) even though it's not what I'd choose.  But I also don't expect to use th

[2020-02-21 18:29] benharsh commented on #14930
I'm not sure off the top of my head. I'd just debug the compiler to find the problematic AST and debug again to find when it's created.

[2020-02-21 18:30] e-kayrakli commented on #14953
I agree that this only matters if you use explicit argument names. But I do that a lot as a stylistic matter :)

I am fine with `success`/`failure`. I see them as advanced-user-oriented arguments (even `order` is, to some extent), so maybe conciseness is better than expressiveness. Similarity with other languages is also good.

[2020-02-21 18:59] bradcray commented on #6711
I'm not sure I understand what you mean here.

[2020-02-21 19:38] mppf commented on #6711
I just meant that the default value should be DefaultRectangular, i.e.

[code]

[2020-02-21 19:43] mppf commented on #13901
I don't think characters(s) is too long. I don't have a real strong opinion here and am OK with it or even with item(s) and even char(s).

I think my biggest hesitation with character(s) is that it might already have meaning to some people - they might be thinking they're getting ASCII characters or UTF-8 codepoints but it doesn't really say anything about the `int` vs `string/bytes` difference wh

[2020-02-21 19:47] bradcray commented on #14693
I think I said this elsewhere, but: I agree that it shouldn't have a default type.  I could imagine it having a default type with deprecation warning for the 1.21 release to help people transition their existing codes that relied on it being string-only.  I'm imagining this could be supported by having a 0-argument initializer that generated the warning and called a 1-argument initializer passing

[2020-02-21 19:51] bradcray commented on #14796
`policy` is where my head went too in thinking of better names (before seeing your proposal).  The repetition won't necessarily be there because a user could (a) not use name-based argument matching or (b) `use` the enum to avoid naming it at the callsite.

I'm not that familiar with these routines, so don't have a strong opinion about whether we should change this or not.  If I were naming it fro

[2020-02-21 19:55] bradcray commented on #14694
The big caveat to my response is that I've hardly ever worked with regular expression libraries in languages, only with regular expressions on command-line utilities.  For me `compile()` has always seemed like a weird term for building a regular expression parser, though I understand it.  For that reason, stylistically, the cast seems more appropriate to me.  But I wouldn't object to deprecating i

[2020-02-21 19:59] bradcray commented on #14554
I'm similarly split on this issue.  `drop` seems more descriptive to me and if I were on a desert island, I'd probably call it `drop`.  Yet not causing angst for Python programmers is also attractive.  Some other options that many would consider lame / coddling would be to support both and either (a) have both do the same thing (some hate duplicates more than me) or (b) having `ignore` generate an

[2020-02-21 20:01] bradcray commented on #14879
Preventing such strings from being printed by default seems reasonable to me.  Having some way to print them may be reasonable, but could also be added later if/when someone requested it without breaking existing code, I believe.

[2020-02-21 20:10] bradcray commented on #13901
Ah, I buy that rationale.  OK, I'm good with items.

[2020-02-21 20:17] Chinmay4400 commented on #12671
I would like to work on this issue...I am getting familiar with Chapel and using LearnChapelInYMinutes for learning.

[2020-02-21 20:22] vasslitvinov commented on #14554
+1 to provide both `ignore` and `drop`, with a warning to redirect from `ignore` to `drop`.

We can do better than Python, right? :)

[2020-02-21 20:24] bradcray commented on #6711
OK, thanks.  In case it's unclear, even if this proposal were implemented, I'm not suggesting that the field be generic, just that the initializer accept non-DR arrays just as in the explicit initializer of the OP.  Here's a full program that demonstrates the difference:

[code]

where I'd expect the output to be:

[code]

(i.e., both fields are DR, neither is Block).  Now that I've written this,

[2020-02-21 20:32] benharsh commented on #13962
Revisiting this topic as we near the 1.21 release...

It seems most are on board with ``g()`` being called. This is implemented on master in the case where the formal is not param and the default expression is not param (as is the case in the motivating example). On master ``g()`` is not called when the default expression is param:

[code]

I think this is more of a bug than a design issue. The co

[2020-02-21 20:40] lydia-duncan commented on #12671
Sounds good to me!  I think what needs to be done is figuring out how to update the LearnXInYMinutes site (which we don't control)

[2020-02-21 20:52] mppf commented on #13962
This is what most people seemed to expect, including Paul in #7880 (or at least that's how I read it). It sounds good to me.

Sure. I actually don't think it'd be that hard to fix, either.

I think we need to update the spec with our decision here - identical signatures needs to include intent, type and existence of default value - but not the default value itself. Other than that, I am not concer

[2020-02-21 21:01] Chinmay4400 commented on #12671
The site LearnXInYMinutes is open source too, I'll open an issue in their github repo or make a pull request, updating the code.

[2020-02-21 22:37] ben-albrecht commented on #14954
Some next steps for this task could be:

- Identify what about @milisarge's configuration causes the larger build time discrepancy
- Identify where the majority of time is spent in `mason build`
- Create a performance test for `mason build` so we can track regressions in the future

[2020-02-21 23:16] bradcray opened #14961 "Locale values should be values, not raw classes"
Today, values of locale type expose the fact that they are represented in our implementation as classes.  I believe that locales ought to effectively have value semantics from the user's perspective, where the implementation is likely to use a record wrapping the current locale class such that they still take advantage of the "unique identity" aspect of classes.

Related issues: #7706, #13526, htt

[2020-02-21 23:20] bradcray commented on #12671
An interesting question would be whether there's any way to have them automatically refer to / pull our current (or better, currently released) version of the file so that there wouldn't be a need to continually try to keep the two files in sync.  This would have the benefit of keeping whatever's on their site consistently tested.

[2020-02-22 00:13] bradcray commented on #14930
Trying something lazy: If I disable the `int` cases but keep the class cases, I only had to change one internal/standard module to get the hellos to compile.  I consider that mildly promising.  Trying a full test run on that version prior to digging further into the class case, just to see how bad it is and how sad I'll be to rewrite cases that relied on `if myInt`.

[2020-02-22 00:21] bradcray commented on #14953
No real preference here.

[2020-02-22 10:41] immadisairaj commented on #10141
I would like to work on this issue. Can I get some tips from where to start with this issue to solve.
I would also like to know if this issue to be done after #9881 or now.

[2020-02-22 17:34] ankingcodes commented on #9846
@ben-albrecht There was a "todo" comment on MasonSearch which required to sort the list of packages on some "best match" metric. Probably, these same constraints can be used to generate a `rank` for the packages. for example, `npm` ranks its packages on the basis of popularity, quality, maintenance. We could do the same for Mason but only on the basis of quality ( presence of README, stability, te

[2020-02-22 21:52] PHHargrove commented on #10450
I promised to

in my testing of PGI compilers on Linux/x86_64.

I am actually about to drop testing of this combination, but wanted to note the "final" state of our testing before I do so.

Currently (and for some time now actually), we see many (perhaps all?) tests failing to compile in a `CHPL_COMM_DEBUG=1` build with errors like the following:
[code]

Additionally, without `CHPL_COMM_DEBUG=1` P

[2020-02-23 00:07] CaptainLazarus opened #14962 "Slight Mistake in Docs for Point.writeThis"
##

Problem
In the docs (both online and offline), specifically in
[Docs > Primer > Procedures](https://chapel-lang.org/docs/primers/procedures.html)

in the **overloading operators** section there is the following code.

![chapelOriginal](https://user-images.githubusercontent.com/35800668/75101034-9188c280-55fc-11ea-9761-d7f1881a57c2.png)

Actually compiling this gives us the following error

![c

[2020-02-23 02:05] ronawho commented on #10141
@immadisairaj the I/O locking code is implemented in the runtime, which is written in C. I would expect resolving this to be a relatively involved and low-level.

#9881 is only thematically related because it's about locking.

The original issue is asking for a hybrid lock, that would be implemented in each tasking layer. An alternative that we've recently used in other code (https://github.com/ch

[2020-02-23 08:02] immadisairaj commented on #14934
I am trying to uncomment [this](https://github.com/chapel-lang/chapel/blob/5c585bbea611842c7f13dc0ff9130977ab6e6b12/modules/internal/LastResortIO.chpl#L221) part of code in LastResortIO.chpl and try to compile a valid chapel and I get an error.

[code]

As the above comment message of the particular code say that it is due to "ChapelIO needing the channel class and having the use of this module at

[2020-02-23 13:28] ankingcodes commented on #7106
I think having the registry on github is good because we can enable CI tests and would make it easier for package moderators to assess a package. However, I did think that Mason should have its own website, where the data regarding the packages can be displayed using the Github API. Also there are other ways to accomplish this.
A website could have functionalities like :

- A list of most popular

[2020-02-23 17:49] Aniket21mathur opened #14963 "domain.ranges tuple index starts from 1, should start from 0?"
While compiling the following code

[code]
the following error is thrown

[code]
Can we have the tuple index to also start from 0? As in other cases (Arrays and range), the standard starting index is 0.

[2020-02-23 18:58] bradcray commented on #14963
Ranges don't have a standard starting index in Chapel, both low and high bounds need to be specified.  The same is true for arrays with declared types, and those that don't have a declared type have started from 1 through Chapel 1.20.  Issue #12988 raises the question of whether Chapel should switch to 0-based indexing for tuples and other cases with implicit indexing (I'm closing this one as a du

[2020-02-23 18:58] #14963 closed

[2020-02-23 19:08] Aniket21mathur commented on #14963
@bradcray thanks for updating. :smile:

[2020-02-23 19:58] Aniket21mathur commented on #14388
@ben-albrecht how we use `Random.shuffle` currently?

I tried something like

[code]
but got this error

[code]
Please help. Thanks!

[2020-02-23 21:21] ty1027 commented on #14962
@CaptainLazarus Did you possibly define a module explicitly and include the code into it? Something like...
[code]
(I stumbled on a similar problem before, so wondering if the reason is the same.)

[2020-02-24 01:51] ben-albrecht commented on #14962
@ty1027 - I suspect you are right. The above code is tested nightly and works because it is in a "prototype module".

@CaptainLazarus - See the [error handling primer](https://chapel-lang.org/docs/master/primers/errorHandling.html#modules) for more info on prototype vs. explicit modules with strict error handling.

[2020-02-24 02:01] ben-albrecht commented on #14388
@Aniket21mathur - what chapel version are you using? Your example compiles and runs for me on the master branch.

[2020-02-24 10:02] russel opened #14966 "Linuxbrew installed Chapel has linkage problem"
I may well be the only person using Linuxbrew (Linuxbrew is Homebrew but targeting Linux rather than OSX and macOS.) to install Chapel…
[code]
installs 1.20.0 exactly as required. I created a Mason build "Hello
World" project.
[code]
However:
[code]
So the problem here is that by default Mason and chpl are assuming dynamic linking but only the static library is being build by the Linuxbrew formula

[2020-02-24 13:35] Aniket21mathur commented on #14388
@ben-albrecht I am also working with the master branch, I build the sources again from master, but still getting the same error.

[2020-02-24 13:57] mppf commented on #14962
After PR  #14360, these writeThis methods should be marked `throws`

[code]

It would be appreciated if you can check if that resolves the issue for you and if so, make a PR against master making the change.

[2020-02-24 14:02] mppf commented on #14966
@russel - in order to allow us to reproduce this, can you tell us the linux OS version you are using (Ubuntu, Debian, ... ?) and also give us a couple of hints about how to install Linuxbrew to the point we can do `brew install chapel` on that OS? Thanks.

[2020-02-24 14:29] ben-albrecht commented on #14388
Which commit on master?

I am using: chpl version 1.21.0 pre-release (6051bbd358)

Is the above snippet the entire program you are compiling? Have you made any modifications to the standard modules anywhere?

You could try doing a fresh checkout and retrying.

[2020-02-24 14:37] mppf commented on #8499
I see 4 different questions here:

### 1. can record default initialization init override type

In default-initialization of a concrete instantiation of a generic record, e.g. `var x: R(int)`, can an initializer override the field type provided, to e.g. to set the field type to `real` ?

[code]

This seems to me to be a type error. The compiler should insist that both types match in such cases. Ot

[2020-02-24 14:48] ben-albrecht commented on #9846
@ankingcodes - That sounds like a great feature. I would suggest opening a new issue to discuss design details further.

[2020-02-24 15:04] ankingcodes opened #14968 ""best match" metric for mason search"
Currently, `mason search` simply displays the list of packages without any ranking system. This would be a bad design in the future, when Chapel users make multiple packages with names that are similar to each other or provide similar functionality. Therefore, we could have a "best match" metric which would rank the packages corresponding to a `mason search`.
Some constraints were listed in #9846

[2020-02-24 15:09] mppf commented on #8065
There is some agreement on A and B.

For C, we will have C1 implemented now and hope to enable also C2 in this release.
We will leave C3/C4 as future work.

[2020-02-24 15:24] ben-albrecht commented on #7106
I think the real goal is to centralize the packages, such that a package author cannot break / remove an existing working version, breaking anyone's code who relies on it, ultimately avoiding problems like the npm left-pad incident. I think we can consider this a separate feature request from where the registry is maintained. I will update the list in the description to reflect that.

The goal to

[2020-02-24 15:32] ben-albrecht commented on #14968
Great idea @ankingcodes.

Here are some design questions to consider:

What is the actual metric to be used? Do each of these checkboxes count as a point, or are they weighted in some way?

One challenge will be how to store and update the metric data automatically. The registry only contains the TOML manifest files, so we will have to embed the metrics about the package contents somewhere in the

[2020-02-24 15:54] ankingcodes commented on #14968
@ben-albrecht Initially, I believe we should give a point for each of the checkboxes. Since, we don't have to assess packages on the basis of popularity right now.

Regarding storing the metric data, I believe we could create another file within the registry which contains the metrics along with the package_name. The `mason search` command could benefit from this too, making it even faster.

Absol

[2020-02-24 16:16] ankingcodes opened #14969 "Website for Mason ?"
From #7106
I think it would be good to have a website for Mason registry from an user point of view. There has also been some discussion regarding getting the Mason registry off of Github, reason being to reduce the burden of users to publish packages. However, having the registry is kind of a safer option for package moderators in the long run.

As a first step to improve this situation, we can c

[2020-02-24 16:18] gbtitus commented on #14953
I agree `successOrder` seems long, but on the other hand just plain `success` seems like it doesn't give enough information about what it is.  Maybe `succOrder` and `failOrder`?  It's worth spending a little effort to get these right, because I suspect the named-argument usage will be the common one, for clarity.  That is, people won't just write `a.compareExchange(expected, desired, memoryOrder.s

[2020-02-24 16:27] ronawho commented on #14953
Rust and C/C++ use `success`/`failure` so the names doesn't really bother me.

For something like:

[code]

the enum name makes it clear that it's a memory order. A user could also write:

[code]

but that still seems pretty clear to me.

[2020-02-24 16:55] ben-albrecht commented on #14968
Yes, I think CI could handle making modifications to the file post-merge. This would prevent any potential merge conflicts as well. Perhaps we could use a TOML format for this file (for consistency-sake), and store

[2020-02-24 17:12] lydia-duncan commented on #13831
I think at this point I can say that we're going to follow the Rust proposal for import statements, replacing `only` list syntax with more Rust-like `.{}` lists to avoid the clarity issue Greg pointed out.  This means that:

- `import M;` will enable `M.x` (aka qualified access to M's symbols)
- `import M.x;` will enable `x` (aka unqualified access to the symbol x defined in M)
- `import M.{x, y};

[2020-02-24 17:12] #13831 closed

[2020-02-24 17:12] lydia-duncan commented on #14790
I think at this point I can say that we're going to follow the Rust proposal for import statements, replacing `only` list syntax with more Rust-like `.{}` lists to avoid the clarity issue Greg pointed out.  This means that:

- `import M;` will enable `M.x` (aka qualified access to M's symbols)
- `import M.x;` will enable `x` (aka unqualified access to the symbol x defined in M)
- `import M.{x, y};

[2020-02-24 17:12] #14790 closed

[2020-02-24 17:13] lydia-duncan commented on #14799
I think at this point I can say that we're going to follow the Rust proposal for import statements, replacing `only` list syntax with more Rust-like `.{}` lists to avoid the clarity issue Greg pointed out.  This means that:

- `import M;` will enable `M.x` (aka qualified access to M's symbols)
- `import M.x;` will enable `x` (aka unqualified access to the symbol x defined in M)
- `import M.{x, y};

[2020-02-24 17:13] #14799 closed

[2020-02-24 17:18] lydia-duncan commented on #14905
I think I can safely say that the answers to this issue are "Yes" and "using either `.` for a single symbol or `.{}` for a list of symbols"

[2020-02-24 17:18] #14905 closed

[2020-02-24 17:21] lydia-duncan commented on #14908
I think I can safely say that we will use both `public` and `private` as keywords on import statements.  I will start with `private` as the default for now, as changing that behavior to public is not a breaking change

[2020-02-24 17:21] #14908 closed

[2020-02-24 18:48] bradcray commented on #13962
I agree with Michael's responses.

[2020-02-24 18:53] bradcray commented on #13962
And to add something that wasn't obvious to me immediately, and may not be to others:  In a case like this:

[code]

I expect that the compiler will evaluate both `f()` and `g()` at compile-time to determine both of the potential `param` values that will be required by the dynamic dispatch, not being sure which will be used.

(It may also be helpful to note that we can't support dynamically dispat

[2020-02-24 19:06] bradcray commented on #14934
Hi @immadisairaj — Thanks for taking a look at this.  I don't think there's any longer any expectation that the attempts to generate warnings for types will or should work.  So I wouldn't put any effort into trying to get that specific overload uncommented (and, I believe, the same for the overloads which try to generate warnings for enums).  @lydia-duncan is the expert here, though and may correc

[2020-02-24 19:47] bradcray commented on #14962
Tagging @dlongnecke-cray since this is an area he's worked in recently.

[2020-02-24 19:49] bradcray commented on #14763
@benharsh: Given your recent fast-follower fix, do you have a sense of whether this is a trivial or heavy lift?

[2020-02-24 19:50] lydia-duncan opened #14971 "How should import statements handle multiple modules in the same statement?"
As of the opening of this issue, `import` statements can only be applied to a single module.  This was due to convenience for the most part (easier to just ban all exprs and only allow identifiers than to allow exprs and add a warning for every unsupported case, especially when the support for them is coming soon), but there is an open question about how this should be enabled.  Here are a couple

[2020-02-24 20:09] RisingGeek commented on #5724
Hi, I am a new contributor. I would like to implement tim sort.

[2020-02-24 20:24] #12723 closed

[2020-02-24 20:30] e-kayrakli commented on #14877
I am currently leaning towards making all those arguments listed in the original post to `x` following @bradcray's suggestion.

[2020-02-24 20:35] benharsh commented on #14763
I don't recall seeing anything specifically about the element type - perhaps some other check is obfuscating that aspect. I doubt it's a large change regardless.

[2020-02-24 20:39] e-kayrakli commented on #14796
On an offline discussion some time ago, @ben-albrecht said he'd prefer `policy` over `errors` but would be fine with `errors` if we don't want to have a breaking change. Overall, he wanted to keep them symmetrical.

Another argument for changing to policy is symmetry (distant) with [`compareExchange`](https://chapel-lang.org/docs/master/builtins/Atomics.html#Atomics.compareExchange) which has an a

[2020-02-24 20:41] dlongnecke-cray commented on #14962
Sounds like there's some doc work to do.

[2020-02-24 20:41] #13335 closed

[2020-02-24 20:44] ronawho commented on #14763
It's the static check that currently rules different eltTypes out since it's doing `leadType == this.type`, and the element type is part of the array type. I think we need a "same type except eltType" check, but I'm not sure what that would look like.

[2020-02-24 20:46] ronawho commented on #13837
This is what's on master with https://github.com/chapel-lang/chapel/pull/14883.

@bradcray you had originally been in favor of having a `compareExchangeStrong()` -- do you still feel that way?

[2020-02-24 20:48] bradcray commented on #13837
Not enough to fight against this tide.  I still find the notion of a param arg on compareExchange() intriguing, but not enough to fight for that either (and it can always be added later if someone wants to argue for it).

[2020-02-24 20:55] bradcray commented on #14763
Where does that check appear in the code?

[2020-02-24 20:55] ronawho commented on #13837
Ok, thanks

Since `compareExchange()` and `compareExchangeWeak()` are on master, and nobody is currently fighting for `compareExchangeStrong()` I'm going to close this.

[2020-02-24 20:55] #13837 closed

[2020-02-24 21:00] ronawho commented on #14763
https://github.com/chapel-lang/chapel/blob/2632825ae76b4ed143d7220066f9738a613de0d5/modules/dists/BlockDist.chpl#L1050-L1053

which is called through:

https://github.com/chapel-lang/chapel/blob/2632825ae76b4ed143d7220066f9738a613de0d5/modules/internal/ChapelIteratorSupport.chpl#L486-L488

[2020-02-24 21:09] lydia-duncan commented on #14934
Brad's analysis is correct.

ChapelIO is the place where internal, essential IO operations that must be in every program go (e.g. `writeln`).  It has a `private use` of the IO module, which allows it to access the `channel` type in these essential functions.  The IO module used to be publicly used, but we decided to stop doing that and stop bringing in so many symbols by default.  To change that b

[2020-02-24 21:29] gbtitus commented on #14953
The fact that in named-argument usage the actual would be `memoryOrder.whatever` value does help, and I haven't been able to come up with alternative formal parameter names that I _really_ like, so it's okay with me if we go with plain old `success` and `failure` for now.  If something better occurs to me I'll raise my hand.  :-)

[2020-02-24 22:16] abhi170599 opened #14973 "Could not coerce unmanged"
Compile time error:
Could not coerce 'unmanaged' to 'unmanaged UlistNode(int(64))?' in initialization
test.chpl:5: Initializer instantiated as: init(type eltType = int(64))

Source Code.

 pragma "no doc"
       class UlistNode{

        type eltType;
        var  data;
        var  numElements : int;
        var  size:int;
        var  next: unmanaged UlistNode(eltType)?;

        proc init(type

[2020-02-24 22:30] #13600 closed

[2020-02-24 22:37] #14953 closed

[2020-02-24 22:39] ronawho commented on #13836
We now have `compareAndSwap` with the old behavior, and `compareExchange` that matches the C/C++ interface (with the exception that we call it `compareExchange` instead of `compareExchangeStrong`). So we have:

[code]

[2020-02-24 22:39] #13836 closed

[2020-02-24 22:42] ronawho commented on #14503
@daviditen I think requiring MPI for HDF5 has introduced a real portability issue for Arkouda. Could we put `hdf5WriteDistributedArray`, `hdf5ReadDistributedArray`, and any support functions that require MPI into a new module that's not included by default?

[2020-02-24 23:09] daviditen commented on #14503
@ronawho I think that is a possibility.

[2020-02-24 23:17] e-kayrakli opened #14974 "Improve error message for non-fully-instantiated types in standard data structures"
Standard data structures should do a better job giving error messages when a
not-fully-instantiated type is used. Currently they propagate the error coming
from their internal implementation.

[code]

gives

[code]

Whereas, `list` gives a more complicated error in the same scenario:
[code]

I think both of these error messages should say something similar to what arrays
are doing `map/list elemen

[2020-02-24 23:18] e-kayrakli commented on #14974
A spin-off from https://github.com/chapel-lang/chapel/issues/14895

[2020-02-24 23:21] bradcray commented on #14973
For others' use, here's the example [transcribed to TIO](https://tio.run/##pVTLbtswELzrK4icZICworTpw4bRU29BLk1ORQ6suLaFUqRAUk3TIN/u7lJsTCkyoqA0IMnc2dnHLFntRQvqcGiM7BSwW22NUiCvav2Tns479phlrRW7RrAzbZg01VlWKeEcu1VovzYSEMFw@YcWGCh/g@912PklLGNSeJH81V3zVUEDGqlXrNY@sbn6D6yGWxp@@xXrdCO02IE8Bs1jpMWXdR@@taZCvtrnaSK8Mtr5Z@ZFzDUsv6/dMuLYZpj6EUD5o/V7uVwSy91z4DEwrWzDzsdmcsZ9eiWmouh9sUw06lrFap7oGb/6HQuVsXJCorSkK

[2020-02-24 23:22] e-kayrakli commented on #14895
Fixing this is probably a 2-part effort:

- Add 0-arg init for `regexp` that gives a deprecation warning: #14693
- Have our data structures do something to detect generic types: #14974

[2020-02-24 23:23] e-kayrakli commented on #14974
Tagging @dlongnecke-cray and @daviditen

[2020-02-24 23:42] dlongnecke-cray commented on #14974
Would something like...

[code]

As is done in `buildArray` in `modules/internal/ChapelArray.chpl` take care of things?

Or perhaps another overload with `isGeneric` in a where clause.

[2020-02-24 23:48] bradcray commented on #14763
To preserve the current approach but relax the element type check, I think we'd just want to replace the first half of that conditional with "am I a BlockArr && are our ranks the same?"  Then I find myself trying to remember whether "am I a BlockArr"? can be written `this:BlockArr != nil` or whether we have to give a fully concrete type for BlockArr (in which case having an `isBlockArr()` utility

[2020-02-25 00:00] e-kayrakli commented on #14974
I don't know about isGenericType myself, but it looks like something that should work.

I am not sure what can the compiler do. A type field in a generic record/class can also be generic, right? So it seems to me that `list` and `map` should say that "hey, I don't like generic types".

[2020-02-25 00:05] dlongnecke-cray commented on #14974
Right, `isGenericType` is what arrays currently use to address this problem. To me, it feels like the initializer should just reject a type parameter if it's not fully instantiated, but there might be a good reason why we don't want to do that.

It just seems kind of ugly to have to have O(n) worth of `compilerErrors` to address the problem, is all.

[2020-02-25 00:34] bradcray commented on #14971
I'm currently in favor of, ultimately, permitting anything that can be specified as distinct import statements:

[code]

to be expressed as one using a comma as a separator:

[code]

Stylistically, I'd take the approach of using a separate line for each distinct module expression to aid with readability in the case that any of the expressions were complicated (e.g., used curly brackets):

[code]

[2020-02-25 01:15] dlongnecke-cray commented on #14930
So it sounds like it's fair to say that _quite_ a bit of module code relies on this idiom...

[2020-02-25 01:23] bradcray commented on #14930
Not necessarily...  One problem in IO.chpl that's used by 892 could cause all of the problems.  I addressed the first tier of int conditionals in module code in about 15 minutes and am running a new test to see what happens.

[2020-02-25 01:24] #14818 closed

[2020-02-25 01:51] bradcray commented on #14930
Down to 217 failures after resolving that first tier of module errors.  And there are still lots of errors stemming from modules (that had probably been masked by the previous ones).

[2020-02-25 03:41] cassella commented on #14942
Even after #14835, and with `--nil-checks`, the `foo(x, x)` variant above still compiles cleanly and results in a run-time error.

As does this simpler case,

[code]

[2020-02-25 03:53] cassella commented on #14941
The second example compiles and runs for me with #14835, at least as of 0a7f2d4

[2020-02-25 13:38] CaptainLazarus commented on #14962
I checked but I ran into a lot of other issues. One of the things is that the parameter I passed through was a Point, which is a record. I don't know how to check if its initialized or not (still searching). The other is that if we do that then we need to catch the throws whenever we use **writeln()** for a Point record, which to me seems very tedious. Any thoughts?

[2020-02-25 13:39] CaptainLazarus commented on #14962
Did with and without module. Same error.

[2020-02-25 15:00] immadisairaj commented on #14934
@lydia-duncan
I have tried changing the method 'readf' in "LastResortIO.chpl" as
[code]
Then the warning is being printed and also the program is being compiled(takes some time to finish compiling after printing warning message).

If I keep the definition as `(IO.channel).readf` then the compiler does not detect the function call itself as in the error message `note: because call is not written as

[2020-02-25 15:42] bradcray commented on #14962
There shouldn't be a way for you to get access to an uninitialized record unless you're within an initializer routine itself.

[2020-02-25 15:47] bradcray commented on #14962
IIRC, a standalone writeln() ought to handle any thrown errors itself (by halting if they occur).  Only a `channel.writeln()` should actually throw the error back up to the user.

To avoid the tedium of putting a try on each channel.writeln(), you could also put one at an outer scope and catch any thrown errors that way.  But for the sake of conversation: how would you propose handling errors in I

[2020-02-25 15:56] bradcray commented on #14934
@immadisairaj: It's correct that the program should continue to compile and run.  The goal of the warning is to let people know that they _ought_ to update their code to include `use IO;` (which should make the warning go away), but not to force them to do so.  If we wanted to force it, we could change `compilerWarning()` to `compilerError()` which would terminate compilation.

[2020-02-25 16:01] CaptainLazarus commented on #14962
Code's given below. @ty1027  was right. Putting it in a module was the problem.
[code]

[2020-02-25 16:12] ben-albrecht commented on #5724
@RisingGeek - Great! See the comment history of this issue and https://github.com/chapel-lang/chapel/pull/5840 for background info / previous efforts.

[2020-02-25 16:14] bradcray commented on #14930
161 failures after fixing the second tier of module errors, all of which look to be in the tests themselves.

[2020-02-25 16:17] CaptainLazarus commented on #14962
@ty1027 was right. Putting in a module was the problem.

The original code.
[code]

[2020-02-25 16:53] lydia-duncan commented on #14934
I agree with Brad!  Sorry for the confusing use of error versus warning in my last response

[2020-02-25 17:03] #14786 closed

[2020-02-25 18:10] dlongnecke-cray commented on #14930
So does that mean it's fair to say that there are _161_ tests that rely on this behavior? I'm not sure how I feel about that number...

[2020-02-25 18:35] benharsh commented on #14973
I think this probably could/should work with the partial instantiation, but that your recommended change is the best way forward for now.

[2020-02-25 18:42] e-kayrakli commented on #14554
Piggy-backing a separate quick question here: This argument is not `param`. Having a deprecation warning at compile time is tricky. I see two options:

- Make it `param`, too. -- I don't see any reason why not, or why a user might wanna change the policy at run time.
- Add no-doc'ed param overloads to capture only param values for deprecation warnings. -- requires no design API change. Arguably, n

[2020-02-25 20:13] e-kayrakli commented on #8499
@mppf -- I completely agree with your opinions for the 4 questions above, maybe except for 2. The case that brought me here is #14895. The relevant part of the issue is to give a deprecation warning for newly-generic `regexp` type when the user does `var r:regexp`. The intent there is to make `string` the default type via a `proc init()` and issue a compiler warning.

There might be similar cases

[2020-02-25 20:17] bradcray commented on #8499
@e-kayrakli: I haven't spent much time thinking about this, so apologies if it's naive.  If the field type were default initialized to string and the default init didn't set it explicitly, but relied on that, would that get you to a working solution?  (then, in the next release, we could remove the 0-arg init and the field initializer?)

[2020-02-25 20:36] e-kayrakli commented on #8499
@bradcray I think that is prevented by something else (bug?, unimplemented feature?)

[code]
compiler wants to call a `init(type t=string)` here. Resulting in `unresolved call 'R.init(t=type string)'` it may be slightly off-topic where we go from here, though.

[2020-02-25 20:38] bradcray commented on #8499
But you'll also need to define the overload that does take a `type t`, right?  That is: https://tio.run/##Vc4xDsMgDIXhnVM8ZYIlBwjqFTpk6YwoSixRQI7VqqpydkqCOnS1vt@2X10JsVYOPvMdMz4KkHcJEFywCVNarGqzwtmDEok2pwF8fhSKgW@OU1N6uGY4Xk40GNvM/h/2tb9cVtrG44h02vDTMXjCbNWLSUJMmscjmvofxtb6BQ

[2020-02-25 20:42] e-kayrakli commented on #8499
Right, then the compiler picks that overload never issuing the warning. For this to help in my case, I'd need the compiler to call the 0-arg init, not the overload that takes a type argument. The overload with the type argument is the new thing we are adding and suggesting that the user should call normally.

[2020-02-25 20:43] bradcray commented on #8499
Ah right, I see.

[2020-02-25 20:46] mppf commented on #8499
This works just fine (on my branch that disables (2))

[code]

I don't think that supporting errors for bad type construction in `init` is good enough reason to keep 2 working the way it does on master now. I still feel this way:

[2020-02-25 21:07] e-kayrakli commented on #8499
@mppf -- This works on master, too. Thanks!

I am still ambivalent towards 2. That approach doesn't feel more hacky then this snippet. But I am fine with it being prohibited.

[2020-02-25 21:16] daviditen opened #14978 "Move map of non-nilable classes implementation into Map module"

[2020-02-25 22:32] daviditen opened #14981 "Spike: Try to address issue #790"
This is a time-box for addressing issue #790.

[2020-02-25 22:33] daviditen commented on #14981
Intended to be internal.

[2020-02-25 22:33] #14981 closed

[2020-02-25 22:34] bradcray commented on #14554
I don't have enough experience with these routines to know whether requiring the arguments to be param is too annoying.  I could imagine that the resulting code clones for a value that doesn't _need_ to be known at compile-time for performance/correctness reasons could be annoying.  So I guess I'd be inclined to leave them non-param (or rather, not to make them param simply for the purposes of get

[2020-02-25 22:36] e-kayrakli commented on #13901
`item`/`items` is now on master. Closing.

[2020-02-25 22:36] #13901 closed

[2020-02-25 22:37] e-kayrakli commented on #14554
Sounds reasonable to me

[2020-02-25 23:19] russel commented on #14966
@mppf I think the Linuxbrew home page is now as follows – Linuxbrew was a fork but has now been integrated into Homebrew, so Linuxbrew is not a separate thing:
[code]
I am using Debian Sid. I believe Linuxbrew should work on Debian, Ubuntu, and Mint in identical fashion – but this is very much a belief statement.

[2020-02-25 23:47] lydia-duncan opened #14984 "Difference in .catfiles handling of files that don't end with a newline depending on platform"
### Summary of Problem
start_test either respects or fails to respect when including a file that doesn't end with a newline.  On linux, the .catfiles results in no newline at the end of the expected output, while on darwin a newline is required.

Looking at start_test, I couldn't easily tell what was causing this.  I kinda suspect it might
be something to do with python's subprocess implementation

[2020-02-26 00:14] ben-albrecht commented on #6758
https://github.com/chapel-lang/chapel/pull/14985 is another case where `mason` broke on master due to lack of `make mason` in Travis CI

[2020-02-26 03:20] immadisairaj commented on #14984
@lydia-duncan Thanks for letting me know that there was an issue in that area `test/chpldoc/compflags/version/`. The tests were passing in linux64 systems. I did not know that even for test files new line is mandatory and fails test in other os. I will see and try to change the test files to have new line at the end.

[2020-02-26 04:17] immadisairaj commented on #14934
@bradcray @lydia-duncan What all methods are likely to give warnings? I suppose even for the `write`, `writef`, `writeln` there should be a warning. If that is the case then we have to remove these methods in "ChapelIO.chpl" file in order to produce warnings.

[2020-02-26 11:13] mppf commented on #14966
So far I've been able to reproduce on a Debian VM. On that system, the master branch and 1.20 compile a "hello world" just fine under quickstart and standard configurations.

I used the homebrew-on-linux instructions but maybe `sudo apt install linuxbrew-wrapper` would work on Ubuntu.

`brew install chapel --build-from-source` worked for me.

I don't know what is wrong but... at a guess, maybe the

[2020-02-26 11:16] mppf commented on #14950
@carcarah - can you tell us the OS version? Sometimes you can get this in `cat /etc/issue` and sometimes you can use `lsb_release -a`. Thanks.

[2020-02-26 12:15] immadisairaj commented on #14984
@lydia-duncan Have changed the test files which has new line at the end.
Can you please check [this](https://github.com/immadisairaj/chapel/commit/b731f8e05da14d7145bbb75cbea459ae7404d703). If this is fine then I'll send a pull request for the same.

[2020-02-26 12:54] carcarah commented on #14950
Sure. `cat /etc/issue` --> Debian GNU/Linux 10 \n \l
and
`lsb_release -a` -->

Distributor ID:	Debian
Description:	Debian GNU/Linux 10 (buster)
Release:	10
Codename:	buster

[2020-02-26 13:01] russel commented on #14966
@mppf I did:
[code]
and then:
[code]
works out of the box. The problem thus comes down to the Homebrew formula not building both the static and dynamic files for the central bottling, at least for the Linux bottle – does it for the macOS bottle?

[2020-02-26 13:33] Rapiz1 opened #14988 "Provide essential `export` examples in quickstart instructions"
I'm new to Chapel and just set up my installation. And I think we may add basic `export` examples of setting up Chapel for beginners.

Here's my experience: I followed the quickstart instructions and try to make the env setting up automatically every time I start a shell. Then I found that simply sourcing `util/setchplenv.fish` will slow down the startup of fish. So I looked into the script and fo

[2020-02-26 13:35] mppf commented on #14966
The homebrew formula just runs `make`  and doing so in the default configuration doesn't build both the static and dynamic files either. Normally this is fine (it just uses whatever the default is) but the issue appears to be the default is different between the linuxbrew build system and the systems we are trying it on.

[2020-02-26 14:14] ankingcodes commented on #14955
@ben-albrecht I think we should stick to `--moduleName` as its purpose is to simply change the module name of the library project. I'm working on it 👍
Also , shouldn't there be an '=' in the command as in `--moduleName=LegalModuleName`

[2020-02-26 14:20] ben-albrecht commented on #14955
I think it should support both. I checked and `mason build --example`, and think that should be extended as well to support both styles as well:

[code]

[2020-02-26 14:25] ankingcodes commented on #14955
@ben-albrecht  oops, that was unintentional, what I meant to ask is that should we support both `--moduleName=foo` and `--moduleName foo` or either of them ?

[2020-02-26 14:28] ben-albrecht opened #14989 "Consistent kwarg-parsing in mason"
For any mason flags that accept a value (what I'm calling a keyword-arg (kwarg)), we should consistently:

1. support `--flag value` style
2. support `--flag=value` style
3. Include the value placeholder in the help output with the format: `--flag <value>`

Examples include:

[code]

[2020-02-26 14:28] ben-albrecht commented on #14955
yes, both. I have opened https://github.com/chapel-lang/chapel/issues/14989 to document the broader inconsistencies in mason.

[2020-02-26 14:30] ankingcodes commented on #14989
@ben-albrecht Since I'm already working on a similar issue, I'll be taking this along with #14955

[2020-02-26 14:30] ben-albrecht opened #14990 "mason update --help does not print help output"
`mason update --help` and `mason update -h`  runs update rather than printing help output.

Similarly, running `mason update -h` outside of a mason package gives this error:

[code]

This is a bug in the `MasonUpdate` argument-parsing.

I suggest refactoring `MasonUpdate.chpl` to use the select-statement style of arg-parsing similar to what is used in `MasonModify.chpl` and `MasonExternal.chpl` wh

[2020-02-26 14:33] ben-albrecht commented on #14989
Thanks @ankingcodes. If possible, it would be best if you were able to separate fixing all mason kwargs (this issue) from adding `--moduleName` in 2 different PRs.

[2020-02-26 14:33] ben-albrecht commented on #14989
Stumbled across https://github.com/chapel-lang/chapel/issues/14990 while testing these out.

[2020-02-26 14:35] ankingcodes commented on #14989
@ben-albrecht Got it !

[2020-02-26 14:42] mppf commented on #13566
I am not sure if we have reached a language design decision on this issue. I had thought we were interpreting `range` as "use the defaults" and `range(?)` as "the generic version". However what is implemented does this depending on context. That might be good and what we want. Or maybe not.

Today, a declaration like this results in the "use defaults" range:
[code]

However if the range is initial

[2020-02-26 16:11] ben-albrecht commented on #14988
One challenge with this is that the `PATH` value will depend on the user's configuration which is computed from `util/chplenv/chpl_bin_subdir.py`.

Other than that, I think the standard `setchplenv.*` functionality could be summarized in documentation as:

[code]

These settings are mentioned in [setting up your environment for chapel](https://chapel-lang.org/docs/master/usingchapel/chplenv.html?h

[2020-02-26 16:15] lydia-duncan commented on #14984
That commit looks awesome, thanks!  I pulled the branch and it runs great on linux and Mac for me

[2020-02-26 16:20] lydia-duncan commented on #14934
Nah, the sorting of ChapelIO versus IO is correct at this point (or at least, I would need evidence it isn't).  Basically, anything in IO.chpl itself that can get a warning generated by LastResortIO should get a warning.

[2020-02-26 16:27] lydia-duncan commented on #14934
Oh, and while I have you on this - any PR enabling these warnings should include a new test of the deprecation warning in test/deprecated/io/.  Definitely feel free to open a PR with a small chunk early to get started and ensure you're on the right track before doing too much work that might need to be changed :)

[2020-02-26 16:33] ben-albrecht opened #14993 "TOML interface and nilability"
With the recent nilability changes in the language, the TOML package has received various organic updates to keep it working and passing testing. However, these updates have led to an inconsistency in the TOML interface: Some methods expect a `Toml?` while other expect a non-nilable `Toml`, and similarly for returns.

This inconsistency results in some confusing and ugly-looking user code when usi

[2020-02-26 16:34] ben-albrecht commented on #14993
This came up in discussion with @benharsh during development of https://github.com/chapel-lang/chapel/pull/14985

[2020-02-26 16:41] immadisairaj commented on #14984
Thanks. I will be sending a PR which fixes this issue.

[2020-02-26 16:56] ankingcodes commented on #14989
@ben-albrecht can we add `mason search --show=packageName` to that list ?

[2020-02-26 16:59] ben-albrecht commented on #14989
`--show` is bool flag for `mason search` still. It requires the search query to return 1 package to work though.

[2020-02-26 17:08] Rapiz1 commented on #14988
I have read this page and it looks good to me. But what I'm focused on is whether we can make  [Quickstart](https://chapel-lang.org/docs/master/usingchapel/QUICKSTART.html#chapel-quickstart-instructions) more user-friendly.

The three lines example is exactly what I propose to put in the quickstart instructions as a more straight forward solution to make Chapel relevant commands available every ti

[2020-02-26 17:49] immadisairaj commented on #14934
When I run the code `write(5);` at the same point and added `compilerWarning` for that method, then the code does not print any warning message.
But if I comment out [this](https://github.com/chapel-lang/chapel/blob/568dca76fcb47342c4facdc22c3c8a1884d6f9e4/modules/internal/ChapelIO.chpl#L835) method, then the warning message prints out twice. I am trying to figure out what the problem is.

Yeah su

[2020-02-26 17:56] lydia-duncan commented on #14934
But if I comment out this method, then the warning message prints out twice. I am trying to figure out what the problem is.

Right - nothing in ChapelIO.chpl should get a warning message.  It's still included by default, using IO isn't necessary.

This is a scoping concept - that definition of write is closer in scope than anything in LastResortIO, so will always be found first.  It's publicly inc

[2020-02-26 18:09] benharsh commented on #13566
I think michael's examples should require ``range(?)`` to work and that the demonstrated behavior is a bug.

[2020-02-26 18:10] BryantLam opened #14995 "error messages: initializing a `void` type instead of `nothing`"
Compiler error message that could use better ergonomics. Low priority.

The following error occurs if you try to create a record with a variable of type `void` instead of `nothing`. I know what it means, but it could be better written to avoid referring to internally defined or compiler-generated function names in the long run.

[code]
[code]
`chpl version 1.21.0 pre-release`

[2020-02-26 18:15] mppf opened #14996 "split-init for out intent and folded param conditional code"
PR  #14917 adds support for split-init for out intent and later split init decisions in function resolution. However certain patterns currently rely on `param`-folding. For example, the following tests behave differently.

[code]

Here is another example, where the analysis of return patterns within the functions differs after param folding has occurred:
[code]

We would like the variants in these

[2020-02-26 18:24] bradcray commented on #13154
I'm feeling nervous about using the parent type for the case when a child type calls into an inherited parent class type method.  Specifically, I'm thinking of a revised version of the example from [Bryant's comment above](https://github.com/chapel-lang/chapel/issues/13154#issuecomment-501130017):

[code]

Here, having the `new owned this();` in `make()` try to construct a Sheep rather than an Ani

[2020-02-26 18:27] bradcray commented on #14930
Right, though they aren't all unique tests.  E.g., some cases are 10 variations on a given benchmark or exercise.  And of course, this is still only the ones that rely on `if int` comparisons.  I haven't yet disabled `if class` cases.

[2020-02-26 18:33] lydia-duncan commented on #14934
I'm also reminded that the pragma "last resort" means that such functions are only considered if no other option is present

[2020-02-26 18:39] e-kayrakli commented on #14988
There is this: https://github.com/chapel-lang/chapel/issues/10367

[2020-02-26 18:47] bradcray commented on #14988
I think that most of the setchplenv.* files print out the settings that they are making as they're running.  If I wanted to automate this setup by putting it into my shell's dotfiles, I'd encourage putting the `export` commands that achieve these same settings into my dotfiles rather than sourcing the script each time.  Maybe the quickstart could suggest this route?  Maybe in this sentence "In par

[2020-02-26 19:16] lydia-duncan commented on #14740
I looked into this, because by all rights the change I've made should fix it.  However, it looks like it does not, even though the defined `=` function is getting considered as a candidate.  I believe this is because the calculation of function resolution's `isMoreVisible` is wrong - if my reading of the code is correct, we give priority first to parent scopes, and then to the furthest away use st

[2020-02-26 20:16] bradcray commented on #14740
We could potentially move the check that looks for assignment overloads on classes from checkResolved() (which presumably only checks those routines that are actually called) to somewhere earlier in resolution (e.g., when looking at all candidates).  The main downside I can think of is that we'd potentially be paying a greater cost if we weren't careful.  For example, once we've cleared an overloa

[2020-02-26 20:25] bradcray commented on #14740
(refining that thought slightly): Or really, we could have this error fire if (a) the actual thing being assigned to is a class and (b) there are any overloads other than the built-in class assignment in the candidate list.  That should be a super-easy check (potentially even easier than the one I implemented) while also being super fast.

[2020-02-26 21:09] bradcray commented on #13566
Reviewing the conversation, I agree with @benharsh.

[2020-02-26 21:26] ty1027 commented on #14962
@CaptainLazarus I think this is something that new users may come across when learning Chapel (like the case of mine and yours). So if possible, could you consider re-posting your original post above (in this thread) to StackOverflow, as a kind of question? (e.g., "why this error occurs?") I expect it would be useful for other people also.
https://stackoverflow.com/questions/tagged/chapel

[2020-02-26 21:57] dlongnecke-cray commented on #14962
Hi @CaptainLazarus, just wanted to reiterate what Michael said earlier here: https://github.com/chapel-lang/chapel/issues/14962#issuecomment-590331402

On `master` today, you should make sure that all your `readThis` and `writeThis` overloads have the `throws` tag. In the future, we might even add a compiler warning letting you know (getting an error from deep within the `modules/standard/IO.chpl`

[2020-02-26 22:55] lydia-duncan commented on #14740
Going to take a look at this after feature freeze in the interest of getting more import functionality in.  I don't think this is super difficult, but it is more than 1 points worth of agile work.  In the meanwhile, the branch I started on is [here](https://github.com/chapel-lang/chapel/compare/master...lydia-duncan:fixIsMoreVisible).

[2020-02-27 01:14] Rapiz1 commented on #14988
See [chplenv.rst](https://chapel-lang.org/docs/master/usingchapel/chplenv.html#readme-chplenv) for a complete description of Chapel’s configuration variables, what they mean, and how they can be set.

What about changing like? @ben-albrecht

[2020-02-27 07:20] milisarge commented on #14932
i want to give some details about my last build, (https://github.com/chapel-lang/chapel/commit/048da34ae3c98d2a1905489b5f1381f1118fdc60). i built with
[code]
and i have two config files, first one is ` /usr/lib/chapel/1.21/runtime/lib/linux64/gnu/x86_64/arch-native/loc-flat/comm-none/tasks-fifo/tmr-generic/unwind-none/mem-jemalloc/atomics-cstdlib/none/re2/fs-none/lib_pic-none/chplconfig` its conte

[2020-02-27 14:14] russel commented on #14966
@mppf Does that imply the Chapel make script is not doing the right default for the platform?

[2020-02-27 14:21] mppf opened #15008 "it is possible to access a global in the code initializing it"
It is possible for an initializer called when creating a global variable to refer to that global variable. The result is access to uninitialized memory, but at least the memory is zero'd by the C backend...

Here is an example with copy-init:

[code]

[code]

Here is another example using virtual dispatch:

[code]

[code]

The problem seems to be avoided in simple cases by the function resolution

[2020-02-27 14:22] mppf commented on #14271
I was recently thinking about whether or not it would make sense to allow split-init on global variables. We could consider allowing split-init on global variables if the candidate assignment immediately followed the variable declaration - with no calls to user functions in between. The advantage to doing this is mainly that simple programs (using module scope/global variables) will be able to exe

[2020-02-27 15:08] mppf commented on #14966
@russel - when the linuxbrew systems create binary "bottles" there are two platforms involved aren't there? One is the platform on which `make` runs (presumably in linuxbrew cloud land somewhere), and the other is the end user system? Do you have some reason to believe that these two platforms are the same? (E.g. same OS version, same compiler, same glibc, ...) ? Obviously they need to be similar

[2020-02-27 15:17] ankingcodes opened #15009 "Improve error message on Mason Run"
Currently, when we run `mason run --example someproject.chpl` , and if that has not been built , we get an error

[code]

This error message should be more comprehensive and should tell the user to build the program first using
`mason build --example someproject.chpl`

[2020-02-27 15:28] ben-albrecht commented on #15009
Here is my suggested wording:

[code]

[2020-02-27 15:31] ben-albrecht commented on #15009
Here is my suggested wording:

[code]

[2020-02-27 16:04] ben-albrecht commented on #14955
I am requesting input from other Chapel developers on naming this flag, which lets the user specify a mason package name that differs from the directory name in `mason new`.

Options include:

1. `mason new foo-bar --moduleName=FooBar`
    -  specific
    -  originally proposed by @bryantlam in the suggestion that led to this feature ([comment](https://github.com/chapel-lang/chapel/issues/7961#iss

[2020-02-27 16:05] ben-albrecht commented on #14955
:+1: for `--moduleName`

[2020-02-27 16:05] ben-albrecht commented on #14955
:+1: for `--name`

[2020-02-27 16:05] ben-albrecht commented on #14955
:+1: to vote for `--projectName`

[2020-02-27 16:44] ben-albrecht commented on #14988
@Rapiz1 - That seems like a reasonable change to me. Would you be interested in opening a PR? We could fine tune wording in review if needed.

While we're at it, here are a few other suggestions / micro-optimizations for this part of the docs:

- Add a code block at the top (or bottom) or [Recommended Settings](https://chapel-lang.org/docs/master/usingchapel/chplenv.html#recommended-settings) that

[2020-02-27 17:12] BryantLam commented on #7961
The alternative I had in mind was to have detection logic for illegal characters and just forbid the project name outright. This would be a way to force a coding or packaging convention such as `mason init NewProject` instead of `new-project`. But that also depends on what https://github.com/chapel-lang/chapel/issues/7417 says is the de facto style.

[2020-02-27 17:15] BryantLam commented on #14955
I don't have a strong opinion, but other options like `--brickName` or `--packageName` could be considered more specific depending on how you define `brick` and/or `package` in the future.

[2020-02-27 17:16] lydia-duncan commented on #14966
Is there any reason to suspect that linuxbrew clients want the default PIC behavior that brew on Macs would provide?  Or is linuxbrew really more about downloading and installing packages in a true-to-the-linux-platform fashion?

If it's really "I want the same experience as a Mac", then I think setting CHPL_LIB_PIC=pic is appropriate.  If it's "I want the same experience for installing as a Mac,

[2020-02-27 17:20] ben-albrecht commented on #7961
This is the behavior as of master today:

[code]

https://github.com/chapel-lang/chapel/issues/14955 lets a user create a package in a different directory name than the package name, but the package name must still be a legal Chapel identifier.

[2020-02-27 17:22] bradcray commented on #15008
It definitely seems like it would be preferable for the compiler to generate errors for such cases if it could.

This seems somewhat related to the circularities that can occur when initializing module-scope variables via helper functions [TIO]( https://tio.run/##S85ILEjN@f@/LLFIocJKITOvRMFWIS0/X0PTmgskVgkTS0osAolxFRTlJ0MUKFRzKSgUpZaUFuUpVCpoKxhac9VC5cGKkeUroPL//wMA), though that case at least res

[2020-02-27 17:27] bradcray commented on #14271
Split-init on module-scope variables seems attractive from an orthogonality perspective ("code local to a function could also be written at module scope").

The one thing that gives me (very slight) pause is that initialization order of module-scope variables already seems slightly complex (in that there are rules about the order in which modules are initialized that most people probably couldn't

[2020-02-27 19:23] lydia-duncan opened #15011 "Replace uses of "chpl__initCopy", "chpl__autoCopy", "chpl__autoDestroy" with astrs"
We have a lot of uses of those explicit strings in the compiler.  We're trying to get better about using astrs instead, so it would be good to create and save them in symbol.cpp where we save astrSassign, etc., and then use the astrs instead of the explicit string in the compiler.

[2020-02-27 19:25] mppf opened #15012 "Should split-init and copy-elision apply to module-scope variables?"
This issue is a spin-off from #14271 ( in particular https://github.com/chapel-lang/chapel/issues/14271#issuecomment-591997457 and https://github.com/chapel-lang/chapel/issues/14271#issuecomment-592079992 )

The question here is whether or not split init and copy elision can apply to module-scope (aka global) variables. In this context, the concern is that both split-init and copy elision create s

[2020-02-27 19:26] mppf commented on #14271
I've created #15012 to discuss split-init and module-scope/global variables.

[2020-02-27 19:29] ankingcodes commented on #14955
@ben-albrecht I think we should proceed with `--name` since it got max votes 👍

[2020-02-27 19:34] mppf opened #15014 "typed array argument with in or out intent does not accept a Block distributed array"
In the following example, a Block-distributed array is passed to an `in` intent arg. The result is compilation error. If the `in` intent is removed, the program compiles.

[code]

This issue is also present with `out` intent arguments.

[2020-02-27 20:06] ben-albrecht commented on #14955
@ankingcodes Sounds good!

[2020-02-27 20:20] bradcray commented on #15011
Ugh, let's just get rid of remaining uses of these routines instead.

[2020-02-27 20:22] #14864 closed

[2020-02-27 20:24] lydia-duncan commented on #14407
Resolved by #15003

[2020-02-27 20:24] #14407 closed

[2020-02-27 20:25] bradcray commented on #15012
In discussing this with Michael, we talked about a few guiding principles in making these decisions that seemed attractive:

* when taking a piece of code from a function or block statement to the module scope (or vice-versa), it'd be nice for it to continue working as similarly and seamlessly as possible rather than requiring changes

* module-scope variables and references to them within procedu

[2020-02-27 20:27] lydia-duncan commented on #14419
Resolved by #15003

[2020-02-27 20:27] #14419 closed

[2020-02-27 20:30] bradcray commented on #15014
For additional context, some time ago, we decided that default rectangular formal argument intents would be considered generic w.r.t. the actual's domain map in order to support a somewhat common case (a formal that wanted to say something about an array's size, but didn't want to prevent other domain maps / distributions from being passed in).  I hadn't realized that the existing support was sens

[2020-02-27 21:02] gbtitus commented on #13475
@dlongnecke-cray I could take this one if you'd like -- my #15013 this morning has directly to do with it.

[2020-02-27 22:11] dlongnecke-cray commented on #13475
Thanks @gbtitus, that'd be great.

[2020-02-27 23:18] #10141 closed

[2020-02-27 23:37] bradcray opened #15020 "Make `--lldb` support equivalent to `--gdb` support"
Historically, the Chapel compiler and its generated executables have supported a `--gdb` flag that would bring the program up in gdb, with a breakpoint set on `gdbShouldBreakHere()` (a routine called by most erroneous exits from the code), and some other helpful gdb aliases defined (at least in the case of the compiler).  This gdb-centrism reflected our Linux-based systems at the time.

At some po

[2020-02-27 23:40] bradcray opened #15021 "Unify `--gdb` and `--lldb` flags into `--gdb`?"
Historically, the Chapel compiler and its generated executables have supported a `--gdb` flag that would bring the program up in gdb, with a breakpoint set on `gdbShouldBreakHere()` (a routine called by most erroneous exits from the code), and some other helpful gdb aliases defined (at least in the case of the compiler).  This gdb-centrism reflected our Linux-based systems at the time.

At some po

[2020-02-27 23:40] bradcray commented on #15020
See also #15021 which I consider to be a logical follow-on to this effort.

[2020-02-28 01:33] bradcray commented on #13154
Following on from a comment Engin made above, the following example reinforces for me that having the non-overridden parent class type method always consider `this` to be the parent class's static type is the right thing to do.

[code]

[2020-02-28 01:55] dlongnecke-cray commented on #13154
If we are aiming for consistency in look and feel with normal methods (as it seems we are, given that we've agreed to use the `override` keyword), then I think the example from @e-kayrakli https://github.com/chapel-lang/chapel/issues/13154#issuecomment-543316582 illustrates why it is important to use the parent type unless overridden.

I think what @bradcray has written above establishes a strong

[2020-02-28 03:03] cassella commented on #14740
Oops.

github doesn't offer me a "reopen" button.

[2020-02-28 08:50] klakho0400 commented on #15009
hey @ankingcodes I would like to work on it

[2020-02-28 09:46] klakho0400 commented on #15009
hey i think there is one more problem in the MasonExample.chpl when i opened it in vscode
after the line 324) const t = example.strip().strip(' " '); all the following lines are shown as a part of a single string

[2020-02-28 13:59] ankingcodes commented on #14969
@ben-albrecht what do you think about this issue ?
Could you ask other developers if they would like this feature ? Since, I'll be making my own project proposal for Gsoc, mostly involving work on `mason registry` and `mason`,  I could also involve this issue in it. I'd love to know what the community thinks about it, also, please mention suggestions, if any.

[2020-02-28 13:59] Rapiz1 commented on #14988
@ben-albrecht Sure. https://github.com/chapel-lang/chapel/pull/15022

[2020-02-28 15:35] ben-albrecht commented on #15009
I would wait to hear back from @ankingcodes to hear if he has started working on this already

after the line 324) const t = example.strip().strip(' " '); all the following lines are shown as a part of a single string

@klakho0400 - That is a syntax highlighting bug. You can file an issue on that if you are able to create a small reproducer. I believe the vs code syntax highlighting originates fro

[2020-02-28 16:18] lydia-duncan commented on #14740
Whoops, thanks for pointing that out!

[2020-02-28 16:57] bradcray commented on #13154
But just to make sure nothing's lost in translation:  If the actual's dynamic type is the child, but its static type is the parent, the type method would call the parent's version of the method (and thus the type of `this` would be the parent) since type method dispatch is based on static typing.

[2020-02-28 17:21] ankingcodes commented on #15009
hello @klakho0400 , thanks for your interest.
@ben-albrecht I had raised this issue when I was working on #14989 , and I had made the change  locally. So, this issue would be covered when PR for #14989 is made and merged.
Since, I haven't made a PR already and if this issue was supposed to be covered in a separate PR, I'd encourage @klakho0400 to go forward with it.

[2020-02-28 18:57] bradcray opened #15024 "Index-neutral programming: indices"
[edited to remove `.lowIdx` and `.highIdx` from the proposal for simplicity.  In the comments, it was argued that such queries can be made from `.indices` when applicable and that this keeps things simpler / more orthogonal; we can always reconsider later if compelling arguments for `.lowIdx` and `.highIdx` come up].

As a Chapel programmer, I'd like to see most standard collection types support t

[2020-02-28 19:07] bradcray commented on #15024
Note that I chose .lowIdx and .highIdx to avoid the potential ambiguity that .low and .high might refer to values rather than indices.  Of course, for ordered collections .indices.low and .indices.high should also work.

[2020-02-28 19:16] e-kayrakli commented on #15024
The concept and the names suggested make sense to me.

As a half-baked idea, I am wondering whether `firstIdx`, `lastIdx` makes things more general instead of low/high. I am imagining (vaguely) a structure where indices can be in a funny order. In that scenario first/last might make more sense as "this is the index of the first element my default iterator would be yielding". It may also have more

[2020-02-28 19:18] dlongnecke-cray commented on #15024
I would prefer `firstIdx` and `lastIdx` instead of lo/hi because we already have `first` and `last` for arrays and `list`, which are both indexible containers.

[2020-02-28 19:29] dlongnecke-cray commented on #13154
That's a fair clarification, yeah. No dynamic dispatch is happening.

[2020-02-28 19:32] mppf commented on #14942
PR #14998 makes classes/delete-free/owned/owned-transfer-from-nonnil-tuple result in an error at compile time but the error message needs some work. The test/users/npadmana/twopt/do_smu_soa-error.chpl error is still unresolved.

[2020-02-28 19:33] ben-albrecht commented on #15024
If `indices` is always a range, we could get away with _only_ supporting that, and having users rely on `indices.low`, `indices.high`, `indices.first`, and `indices.last`.

I don't personally mind the verbosity of this (and may actually prefer it over `lowIdx / highIdx`). More importantly, this puts less on the sequential data structure interfaces.

[2020-02-28 19:36] dlongnecke-cray commented on #15024
I actually really like that idea.

[2020-02-28 20:18] ben-albrecht commented on #14969
It is a good idea, and something we have wanted to do since mason's inception.

I would say this is not a great candidate GSoC project due to containing a lot of user-facing design and infrastructural design (hosting/mechanism for polling registry for updates). That said, you could work on some subset of this as part of GSoC, or just try to drive the design discussion forward in general.

[2020-02-28 20:39] bradcray commented on #15024
I'm open to the proposal to just support `.indices`, particularly since it reduces the amount of work I have to do (though... I've already done it :'( ).  I think the main case where it hurts a bit could be loops over heterogeneous tuples, which would have to be written:

[code]

due to the need to unroll such loops to have their bodies make sense.  But hopefully issue #14929 will simplify that ca

[2020-02-28 21:06] ankingcodes commented on #14969
@ben-albrecht  I did start some digging on this issue. Since, it's safer to keep the registry on Github. I inclined to finding ways to get data from the registry repository using Github API.
For example, making a "GET" api call to
https://api.github.com/repos/chapel-lang/mason-registry/contents/Bricks (click to see result)
gives us the list of packages inside the Bricks directory of registry by `n

[2020-02-28 21:14] ben-albrecht commented on #14969
@ankingcodes - I think we will need to get the package repo from the source field of the manifest files in the registry:

e.g.

[code]

[2020-02-28 21:18] ankingcodes commented on #14969
@ben-albrecht That would make life so easier, but there's a problem:
I tried to get the contents of mason-registry's README using :
https://api.github.com/repos/chapel-lang/mason-registry/readme

As you can see there, the content is encrypted, base64 i think.

[2020-02-28 21:21] ankingcodes commented on #14969
That means, we need to make API calls in the following order :
- Call to mason-registry/Bricks directory for names of packages
- Call to each package's TOML file's contents
- Decryption of content and parsing author and package name
- Call to each package github repo for other details

[2020-02-28 21:29] ben-albrecht commented on #14969
That sounds right. I am not sure I follow your suggestion about restructuring the repository. Decoding the base64 contents to utf-8 and parsing the TOML should work fine.

[2020-02-28 21:37] ankingcodes commented on #14969
@ben-albrecht I just tried to convert contents of README, from base 64 to utf 8, due to some reason, decoding was not perfect and had unnecessary characters.

Making so many api calls and having functions for decoding and parsing, would make the website extremely slow. I was thinking of some kind of cache for the registry.
Do you remember the discussion where I suggested a separate file for keepin

[2020-02-28 21:38] mppf commented on #15024
I feel fine with .indices, .lowIdx, and .highIdx in spirit but would do two things to it specifically:
 * use parens on indices (at least if it has the potential to be an iterator that makes sense to me)
 * spell out indices in the others

That leads to `.indices()` `.lowIndex` and `.highIndex`.

[2020-02-28 21:43] ben-albrecht commented on #14969
Mind pasting the code you tried?

Do you remember the discussion where I suggested a separate file for keeping points for each package during CI to improve the mason search ?
We could add an author name to that file, and that file itself could serve as our cache.

Ah yes, I like that idea. The cache would not necessarily have to be in the GitHub repository either, but we can continue with this app

[2020-02-28 21:50] ankingcodes commented on #14969
I used an online converter https://www.base64decode.org/
Content of README :   https://hastebin.com/ubacuyuxep (in base 64)

I'd think some more on this.

[2020-02-28 21:53] ankingcodes commented on #14969
@ben-albrecht worked for me too !

[2020-02-28 21:54] bradcray opened #15028 "Open interval ranges for convenience: `<..`, `..<`, `<..<`"
As a Chapel programmer, I'd like to see support added for "open interval" ranges that would omit the bound on one or both sides of the range.  The proposal being that:

`3..<6` == 3, 4, 5
`3<..6` == 4, 5, 6
`3<..<6` == 4,5

Note that when counting from 0, `..<` is fairly similar to using `#` with an upper-unbounded range:

`0..<n` == `0..n-1` == `0..#n`

but that for other low bounds it has a diff

[2020-02-28 21:55] ankingcodes commented on #14969
Even if it was a file in Github, we can scrape it using its url (that would be fast). And make an array or map of packages and authors. After that we make the API calls, as usual.

[2020-02-28 21:57] bradcray commented on #15028
This feature also has the benefit of increasing Chapel's emoji-compliance status!  ;)

[2020-02-28 22:00] ben-albrecht commented on #15024
I don't personally see this as a big downside, especially since it is a temporary.

[2020-02-28 22:06] bradcray commented on #15024
I agree; was just pointing out the only hesitation I could come up with.

[2020-02-28 22:11] bradcray commented on #15024
When you say it, this rationale makes sense to me as well, though I think it makes code look regrettably a little uglier.  I.e.:

[code]

rather than:

[code]

maybe I just need to get used to it, though...

[2020-02-28 22:14] bradcray commented on #15024
Oops, I forgot something a bit more crucial:  This doesn't actually work because we don't have `param` ranges (yet), and the bounds of the heterogeneous tuple's param loop has to be params.  So without a `.lowIdx` or equivalent, loops over heterogeneous tuples would have to continue to hard-code a 0 or 1 into their code until #14929 became available.

[2020-02-28 22:27] bradcray commented on #15024
On rethinking this, I'm thinking that all arrays could just return their domain...  I think I was thinking that `.indices` would need to be well-ordered in order to return a domain, but now I can't think why that would be...

[2020-02-28 22:38] ben-albrecht commented on #15024
I feel similarly, but think parens is the right call.

What would we do about the `map` type? Will it have redundant  methods `map.keys()` and `map.indices()`?

[2020-02-28 22:39] mppf commented on #15024
In which case I am again OK with `.indices` and I have a feeling that is what you are going for...

[2020-02-28 22:40] mppf commented on #15024
One could argue that this method/term only makes sense for numeric indices (vs "keys"). Then it might not apply to associative domains/arrays either.

[2020-02-28 22:51] bradcray commented on #15024
Not necessarily, if people prefer the parens.  I was mostly just self-code-reviewing and realizing my mis-thought.

[2020-02-28 22:51] OmarElawady commented on #15020
@bradcray I would like to work on this issue.

I added the `--lldb` flag to set a breakpoint at the `gdbShouldBreakHere` routine and load the executable. The modifications are in this [draft PR](https://github.com/chapel-lang/chapel/pull/15031). Can you please take a look at it?

[2020-02-28 22:56] bradcray commented on #15020
Thanks!  That draft PR looks pretty good to me.  I don't have a clean workspace to check it out and try it at the moment, but does it seem to work for you?  (I _believe_ that if you write a Chapel program like:

[code]

it should hit the gdbShouldBreakHere breakpoint when it gets to that halt()).

[2020-02-28 22:58] bradcray commented on #15020
(You might also look at test/execflags/gdbddash/* to see if it'd make sense to create a variant of this test for the `--lldb` flag).

[2020-02-28 23:40] OmarElawady commented on #15020
I compiled this code with `chpl -g --savec halt -o halt.o halt.chpl` and run `./halt --lldb`, it halted and started a debugging session in lldb as expected.

I tried to run the tests but I get this error `[Error trying to execute 'Samples/Performance/foo.execopts': [Errno 8] Exec format error: '[chapel directory]/chapel/test/Samples/Performance/foo.execopts']`, when I run `start_test Samples/Perfo

[2020-02-28 23:44] bradcray commented on #15020
Does a simple `start_test test/release/examples/hello.chpl` work?  Are you able to jump onto gitter? (which might be a better place to debug this than this issue):  https://gitter.im/chapel-lang/chapel

[2020-02-28 23:46] OmarElawady commented on #15020
Yes, hello.chpl works but foo.chpl doesn't.

Sure.

[2020-02-29 00:14] bradcray commented on #15020
[Offline, we determined that this was due to `.execopts` having picked up execute permissions, likely due to the file system being used]

[2020-02-29 01:33] bradcray commented on #14929
[This](https://github.com/chapel-lang/chapel/issues/14929#issuecomment-588497981) was really helpful, thanks Vass.

[2020-02-29 03:06] bradcray commented on #14929
Have a 95% working solution on PR#15034.

[2020-02-29 06:36] RisingGeek commented on #5724
@ben-albrecht, The main idea of Tim sort would be to divide the array into runs and then sort them using insertion sort and finally merge them by using a function similar to the merge function of merge sort. Am I right?

[2020-02-29 12:13] mppf commented on #15012
I am thinking that option 4 is the best answer. I have several reasons for that which I describe below.

First, we need option 3 or 4 to meet Brad's guiding principles above.

After that, the big difference between 3 and 4 is whether or not the compiler needs to do the analysis of called functions in order to make a determination about split init. In option 4, the compiler still needs to analyze c

[2020-02-29 18:52] russel commented on #14966
@lydia-duncan  @mppf  @ronawho  I'd say that Linux users of Homebrew are looking for the native Linux experience. This would seem to support ensuring both dynamic and static libraries are build, especially the dynamic ones. Crucially though the built Mason executable in the default build (assume dynamic linkage) is not currently compatible with the default library build (static only). Changing the

[2020-03-01 15:23] immadisairaj commented on #14395
I would like to work on this issue. These all are related to documentation right.
What does the `stringStyleExactLen` and `stringStyleWithVariableLength` do? I found them return the same `number`(input to that method) and `-10`.

[2020-03-01 18:42] OmarElawady commented on #15020
I added a test to check that lldb launches but was unable to add other tests to check for process execution with --lldb option because [LLDB doesn't support piped input]
(https://github.com/chapel-lang/chapel/pull/15031#issuecomment-593093458).

[2020-03-02 05:00] damianmoz commented on #15024
Are we talking the lower bound and upper bound of an index here?

[2020-03-02 05:11] damianmoz opened #15043 "Assembler Output of individual code chunks - Desirable / Low Priority"
To debug compiler peculiarities, evaluate how well one's code maps to what the hardware will execute, or to evaluate the deep-down issues in bottlenecks, it is desirable to be able to review the assembler created out of a piece of any language.

At the moment, the closest we get to this is the C-code out of Chapel. It can be read by looking at the code contained in the directory specified with the

[2020-03-02 07:24] cassella commented on #14942
The two cases I posted both produce compilation errors now, as of 009b4dc including #14998.

[2020-03-02 13:42] mppf commented on #7704
An `on` expression is a related feature in some cases.

`on Locales[1] var x = new MyClass();`

is related to

`var x = on Locales[1] do new MyClass()`.

[2020-03-02 14:43] mppf commented on #15024
@damianmoz we might not be using the same terminology but I'm going to try to clarify.

It's not about the index data type so much as about the collection it is addressing.

E.g. for a tuple, right now tuples are indexed starting from 1, but we want to change that to starting from 0 in this release. This issue is about giving programmers a way of writing code for tuples (and strings, bytes, lists,

[2020-03-02 14:46] mppf commented on #15043
Note that `--llvm-print-ir` allows one to inspect the LLVM IR at different optimization stages when using the LLVM backend. While this does not come all the way to machine instructions, it is thematically related and might serve a similar purpose.

[2020-03-02 15:16] ankingcodes commented on #14993
@ben-albrecht I agree, this definitly improves code readability

[2020-03-02 15:35] ben-albrecht opened #15045 "Implement TimSort in Sort module"
Implement [timSort](https://en.wikipedia.org/wiki/Timsort) as another sort option in the Sort module. (Spun off from https://github.com/chapel-lang/chapel/issues/5724)

The PR adding TimSort should include:

- Documentation
- Correctness tests in `test/library/packages/Sort/corrrectness`
- Performance tests in `test/library/packages/Sort/performance`
  - Comparable performance to existing sort rou

[2020-03-02 15:37] ben-albrecht commented on #5724
@RisingGeek - that sounds about right. I have opened https://github.com/chapel-lang/chapel/issues/15045 for further discussion on TimSort implementation details, since this is a meta-issue for improving Sort in general.

[2020-03-02 16:00] ben-albrecht commented on #15028
I like what the syntactic sugar provides, but am wondering if it is worth the added syntactic complexity to ranges, i.e. it is another range operator to learn / could reduce readability (hard to say)

One might also expect the symmetric syntax to work, even though it is far less useful: `1>..>10 == 0..11`

@bradcray - I think you mentioned elsewhere that Swift supports something like this. Do you

[2020-03-02 16:03] #14934 closed

[2020-03-02 16:31] bradcray commented on #15012
I'm cool with proceeding with option 4.

[2020-03-02 16:37] lydia-duncan commented on #15028
We would expect to fail if both `<`/`>` and `#` were used together, e.g. `1..<#10`, right?

[2020-03-02 16:46] bradcray commented on #15028
@ben-albrecht: Swift is the only language I've seen this in, and I haven't seen any evidence that they support lower or both open intervals, only upper (but I haven't looked very hard either).

I don't think supporting `>` makes sense really.  It's not mnemonic, and there's no mathematical correlation whereas closed (our default) and open intervals are well-defined in math.  As a specific example,

[2020-03-02 18:17] lydia-duncan commented on #14395
For `stringStyleExactLen` and `stringStyleWithVariableLength`, I don't know whether it is the documentation or the behavior that needs to change - it seems entirely possible that the documentation was right but the implementation was wrong, but it could be the other way around.  I would ask either in gitter or the chapel-developers mailing list (but you'll want to ask about all of these regardless

[2020-03-02 18:25] bradcray commented on #15024
Just to summarize my current thinking on this issue:  I was swayed by @ben-albrecht's well-received comment proposing that we only support `indices` and require `.low`/`.high`/`.first`/`.last` to be applied to the result of `.indices` rather than creating a short-circuit for it.  This has the benefit of keeping the interface smaller and avoiding the need to make that naming decision.  I also made

[2020-03-02 18:26] BryantLam opened #15048 "Request: select-when with compound when clauses"
Feature Request.

The goal is to reduce code duplication with select-when statements. Is there a way to do something like / is it reasonable to do:

[code]
without resorting to the equivalent if-statement expressions.

[2020-03-02 18:27] bradcray commented on #15024
"Like" this comment to express support for `.indices` (you can also post a follow-up comment rationalizing your vote)

Arguments in favor:
* short and sweet
* for currently planned use-cases (tuples, strings, bytes, arrays, lists), it represents an O(1) operation that returns the indices in closed form (a range or domain), so is arguably "property-like" as opposed to "computation-like"

[2020-03-02 18:30] bradcray commented on #15024
"Like" this comment to express support for `.indices()` (you can also post a follow-up comment rationalizing your vote)

Arguments in favor:
* though `.indices` is field-like for current cases, it's not technically a field, so perhaps `.indices()` is more appropriate
* future implementations of `.indices` on other types may not have an O(1) representation, so may either require computation to crea

[2020-03-02 18:44] bradcray commented on #15048
I'm not finding or recollecting any capability like this, and agree that it's an oversight.

I understand the OP's proposal could be viewed as just a placeholder, but I'd be disinclined to use short-circuiting boolean operators for this purpose, I think.  Thinking out loud about potential alternatives:

commas (advantages: brief; disadvantages: potentially confusing?):

[code]

or adjacent when-cl

[2020-03-02 19:00] BryantLam commented on #15048
Of the three options, I like this one the best.

That said, none of the three variations handle the OR-case; they all only do AND. This is fine if there was a good reason to preclude it, but I can't think of a reason.

[2020-03-02 19:02] bradcray commented on #15048
Oh, you're right that I completely overlooked that.  I'm not understanding... how can `myInt` be both 3 and 4?

I meant to say in my original response, but forgot:  One of the things we very intentionally did in the select statement's original design was to avoid the C behavior of "fall through to the next case unless the user explicitly `break;`s", so something I hope to avoid in any extension to

[2020-03-02 20:06] BryantLam commented on #15048
Oh hah yeah that's a good point too. These should all be OR expressions. That does reasonably limit the choice of syntax.

[2020-03-02 20:24] gbtitus commented on #13475
@dlongnecke-cray I'm testing a fix for this.  Can you tell me, under what conditions (which tests) do/would we use `runtime/etc/Makefile.shared`?  I've run tests and/or configurations that exercise all the other files my changes modify, but I'm not sure I've covered that one.

[2020-03-02 20:46] dlongnecke-cray commented on #13475
We use `Makefile.shared` for shared libraries on Darwin (C or Python, either would do fine).

[2020-03-02 20:51] bradcray commented on #15028
Searching a bit more, I'm finding [this proposal](https://gist.github.com/erica/af92c541a0fb69fce1b7aaf8374a5aa9) which suggested adding `<..` and `<.<` to round out `..<` in Swift.  But there aren't any indications that these gained traction.

I'd definitely agree that the lower- and both-open intervals are less likely to be used in practice than upper-open intervals, but think supporting all thr

[2020-03-02 20:59] gbtitus commented on #13475
So, which test(s) should I run there?

[2020-03-02 21:02] lydia-duncan commented on #13475
test/interop/C or test/interop/python (the latter if you have Python3, numpy and cython installed on your system)

[2020-03-02 21:07] lydia-duncan commented on #13475
Correction, you should run the multilocale subdirectory of the python set, forgot which issue we were looking at

[2020-03-02 21:13] dlongnecke-cray commented on #13475
I think anything in `test/interop/python` or `test/interop/C/multilocale` are good tests to run, you could start with `test/interop/C/multilocale/use_testing.ml-test.c` if you want to run a C test.

[2020-03-02 22:29] e-kayrakli commented on #15028
The proposed syntax is intuitive for sure, and I can learn to live with it. I am not going so far as to say I would use it instead of doing the -1 or +1 "manually". I think my current thought is that it may be more prone to confusion than helpful.

Being able to do things like `a<..<b` would make me think like I could also do `a<=..<=b` which is the same thing as `a..b` and I don't want to read co

[2020-03-02 23:18] milisarge commented on #14932
additionally, when i want to make new building by extracting source code. It still looks to my local installed chapel configuration. For example at me tasks is fifo, then new source also is built with fifo. it should be qthreads because of qthreads comes defaultly as task

[2020-03-03 00:43] milisarge opened #15054 "More advanced configure file for one fell swoop building for Linux distros"
i am struggling about building chapel with multiple configuration for our Linux distribution (Milis Linux). That i see ./configure file just support `--prefix` config for installation destination then python scripts take role for other chpl configs. Also in my readings in chapel documents, many feature in usage with exporting related config and re-making. After some conversations with @bradcray fi

[2020-03-03 01:07] bradcray commented on #12944
I ran into this and was surprised all over by it today.

[2020-03-03 01:11] bradcray commented on #13746
@mppf: I'm not very familiar with the Regexp.chpl module.  While grepping code, I see that the `reMatch` record has a `length` field.  Should this be replaced with a `size` field (and a 0-argument `length` method that gives a deprecation warning?

[2020-03-03 02:08] vasslitvinov commented on #15024
I voted for the no-paren version because it is akin to `.domain` on an array.

[2020-03-03 03:41] milisarge opened #15057 "mpirun path issue"
i am trying to run gasnet with mpi substrate, but my code gives
[code]
i noticed mpirun detection places under
`/usr/lib/chapel/1.21/third-party/gasnet/install/linux64-x86_64-native-gnu-none/substrate-mpi/seg-everything/bin/gasnetrun_mpi`
as
`MPIRUN_CMD="${MPIRUN_CMD:-/bin/mpirun -np %N %C}"`

but my mpirun under /usr/bin and my /bin symlink of /usr/bin. if i use `/usr/bin/mpirun` or just `mpirun`

[2020-03-03 06:56] milisarge commented on #15057
it can help https://github.com/open-mpi/ompi/issues/5613

[2020-03-03 08:52] RisingGeek commented on #5724
I will figure out a way

[2020-03-03 13:46] ben-albrecht commented on #15024
Still undecided here. If it is always a range, I am in favor of `indices`. If it is always an iterator, I am in favor of `indices()`. If it can be either (which it sounds like it can be), I am not sure.

[2020-03-03 14:14] ben-albrecht opened #15058 "First Class Iterators"
This is an issue for tracking design discussions and proposals about first class iterators in Chapel.

There are currently 2 separate proposals for first class iterators (iterator records):

- https://github.com/chapel-lang/chapel/issues/10361
- https://github.com/chapel-lang/chapel/issues/11435

[2020-03-03 14:30] mppf commented on #15054
@milisarge - are you aware of https://github.com/chapel-lang/chapel-packaging ? This has some scripts to build a Debian package (we had an effort in this area but it has been stalled for want of a Debian package reviewer).

[2020-03-03 14:32] mppf commented on #13746
@bradcray - AFAIK yes

[2020-03-03 14:58] mppf commented on #15054
Nevermind, you must be, because of https://github.com/chapel-lang/chapel-packaging/pull/17

[2020-03-03 16:31] ben-albrecht commented on #13786
@BryantLam - https://github.com/chapel-lang/chapel/pull/14037 allows passing tests to run:

[code]

Let me know if you think we can close this issue.

I think a future improvement could be supporting something like the substring matching:

[code]

We could leave this issue open to track that feature request or open a new issue about it (either way works for me).

[2020-03-03 17:03] lydia-duncan commented on #15024
I feel like it would be an easy logical leap to extend this method to include other arguments controlling what is returned, so it would make sense to me to have parentheses in case we follow that route later

[2020-03-03 17:11] bradcray commented on #15024
What kinds of arguments do you have in mind?

[2020-03-03 17:14] lydia-duncan commented on #15024
Dimensional limitations in the case of the array version, maybe an explicit stride?

[2020-03-03 17:16] bradcray commented on #15024
That doesn't feel in the spirit of "tell me what your indices are" to me, particularly since it doesn't extend to any of the 1D cases, which are the main motivator for this query.  Seems like if someone wanted that, they should write something like `myArray.dim(1) by 4`.

[2020-03-03 17:24] bradcray commented on #15043
@damianmoz: I'd expect that with the C back-end, any flag that the C compiler supports to look at generated assembly could be supplied through the Chapel compiler via `--ccflags` to see the assembly.  Does that get you where you want?

In suggesting that, I'm realizing I'm not sure I understand what you mean by "without the rest of the stuff that gets pulled into an executable."

[2020-03-03 17:26] bradcray commented on #15028
@e-kayrakli: I agree that someone might want/wish for these things, but don't feel any need to provide them, personally.

[2020-03-03 17:27] rahulghangas commented on #15045
Can I take this one?

[2020-03-03 17:30] bradcray commented on #15057
@milisarge: Can you show the output of running your Chapel program that uses gasnet/mpi with the `--verbose` flag?

[2020-03-03 17:30] e-kayrakli commented on #15028
To be clear, I don't think we should provide them either. But it makes me think whether we shouldn't even provide `a<..<b`, because they are arguably in the same league.

To be clear 2, I am not actively against this. But don't feel the need that much, and worry a tiny bit about this potential confusion.

[2020-03-03 17:54] ben-albrecht commented on #15045
@rahulghangas - I believe @RisingGeek is planning to work on it (https://github.com/chapel-lang/chapel/issues/5724#issuecomment-590525390).

[2020-03-03 18:37] bradcray commented on #15020
@OmarElawady: Are you able to use an `.execopts` file for your test that contains something like `--source myTest.commands` to ensure that it works?  If I'm understanding correctly, you tried to use `--source myTest.stdin` which had the additional effect of having the test system try to pipe the file into the test.  But if youj call the file of commands something other than that, does it work?

[2020-03-03 18:46] rahulghangas commented on #15045
Cool, thanks for the update

[2020-03-03 19:00] OmarElawady commented on #15020
@bradcray `.execopts` works fine but the problem is that I want to add this option to the lldb debugger not the executable file passing `--source myTest.commands` would produce this error `error: Unexpected flag:  "--source"`, right?
I tried to delete the stdin file from the first test, the test system piped `/dev/null` to the executable which makes lldb sets the breakpoint and exit immediately wi

[2020-03-03 19:05] bradcray commented on #15020
Oh yeah, of course...  Sorry, I wasn't thinking straight.

Let's do the following in the name of expediency:  The gdb test has always been a bit fragile anyway, and the main thing we want to know from this test is whether or not `--lldb` generally works.  So can we write a test in which the default `/dev/null` is piped in, where the .good file shows the expected "start up and immediately exit" out

[2020-03-03 19:20] immadisairaj commented on #14395
From the discussion what happened
- "no doc" `stringStyleExactLen`, `stringStyleWithVariableLength`, `stdinInit`, `stdoutInit`, `stderrInit`.
- document `openplugin`

Tasks to do along with the above mentioned
- remove the depricated `open` method

@lydia-duncan I do have a doubt
do we have to remove `stdinInit` and other methods from deprication in `LastResortIO.chpl` and the corresponding test f

[2020-03-03 19:27] lydia-duncan commented on #14395
This should already have occurred, that's why the box is checked

I don't think there's any harm in leaving them until we decide to no longer provide the deprecation warnings, but I also wouldn't object to removing them either - I'd lean towards just leaving them, personally.  I think the likelihood of them being used by a user is very low, but if someone is using them, that person might as well g

[2020-03-03 19:32] immadisairaj commented on #14395
But I found this method in the module
[code]

Even I prefer it leaving like that.

[2020-03-03 19:35] #13475 closed

[2020-03-03 19:38] OmarElawady commented on #15020
@bradcray I made a [test](https://github.com/OmarElawady/chapel/tree/lldb_in_executables/test/execflags/lldbddash) that makes sure that LLDB launches correctly and quits.

I can check if lldb is installed in the `skipif` file with something like [this](https://github.com/OmarElawady/chapel/blob/lldb_in_executables/test/execflags/lldbddash/SKIPIF)?

I made SKIPIF executable and moved `/usr/bin/lldb

[2020-03-03 19:41] bradcray commented on #15020
Sounds good.  Do you think the PR is ready for a review?  Also, note that you will need to file a CLA prior to it being merged (we are trying to move to a lighter-weight practice, but are not quite there yet).  They are here if you haven't come across that section of the contributing instructions:  https://github.com/chapel-lang/chapel/tree/master/doc/rst/developer/contributorAgreements

[2020-03-03 19:43] lydia-duncan commented on #14395
Ah, that's a different version of open than I was thinking of.  I think that one can be safely removed, sure!

[2020-03-03 19:46] milisarge commented on #15057
here,
`# ./locales -nl2 --verbose`
[code]

[2020-03-03 20:02] bradcray commented on #15057
The README for how GASNet (not developed by our team) configures for mpi is here:

https://github.com/chapel-lang/chapel/blob/master/third-party/gasnet/gasnet-src/mpi-conduit/README

It looks as though you should be able to customize your mpirun command using MPIRUN_CMD?

[2020-03-03 20:12] milisarge commented on #15057
yes i can config mpirun using MPI_RUN, already perl code looks that env var first. Just i wanted to draw attention for showing wrong mpirun path detection, if it is not in your responsibility, so feel free to close the issue. thnks

[2020-03-03 20:50] OmarElawady commented on #15020
@bradcray I marked the PR ready for review. I can't send the CLA today so I'll make sure to email it tomorrow,

[2020-03-03 21:06] abhi170599 opened #15064 "Implement Unrolled Linked Lists module"
an unrolled linked list is a variation on the linked list which stores multiple elements in each node. It can dramatically increase cache performance, while decreasing the memory overhead associated with storing list metadata such as references.

I would like to extend the standard chapel library by adding Unrolled Linked Lists to it.

[2020-03-03 21:30] mppf opened #15065 "lifetime checker does not consider deinitialization order"
Consider the following program, which has a use-after-free error:

[code]

Since the local variables `x` and `y` are deinitialized in reverse initialization order, `y` is deinitialized first and then `x` is deinitialized. But `x` refers to `y` via the borrow so there is a use-after-free.

The lifetime checker does not consider this deinitialization order when making error messages. If it did, it w

[2020-03-03 21:48] BryantLam commented on #13786
Good enough for me right now. I would appreciate the substring-matching feature, though it makes sense to file it as its own issue.

[2020-03-03 21:48] #13786 closed

[2020-03-03 21:51] ben-albrecht opened #15068 "Support substring matching in mason test"
#14037 allows passing multiple tests to `mason test` rather than running all tests within a mason package:

[code]

This feature request is to support substring matching similar to `cargo test`, allowing the previous test command to be run with the following `mason test` commands:

[code]

[2020-03-03 21:51] ben-albrecht commented on #13786
Followed up here: https://github.com/chapel-lang/chapel/issues/15068

[2020-03-03 21:54] ben-albrecht commented on #15064
I think any effort related here should begin as a mason package. Whether or not these implementations should be in the standard library would be a separate discussion later down the road once the package is more mature.

[2020-03-03 22:52] ben-albrecht opened #15070 "Internal error for Reflection.canResolve on arrays of different size"
### Summary of Problem

Calling `Reflection.canResolve()` on an array of unequal sizes causes an internal error.

### Steps to Reproduce

**Source Code:**

[code]

**Compile command:**

[code]

### Configuration Information

- Output of `chpl --version`: chpl version 1.21.0 pre-release (b8892c8f97)

[2020-03-03 22:58] #14833 closed

[2020-03-04 01:07] dlongnecke-cray commented on #15024
I voted for `.indices`.

I see that "O(1)ness" as an important constraint. For everything else, there's an iterator...

[2020-03-04 01:15] e-kayrakli commented on #15024
I read this multiple times without a clear decision, but I am mildly leaning towards, and voted for `indices()`. The arguments that I can make about this:

- It is more future-proof.
  - I don't think such an interface should limit itself to constant-time operations
- I don't mind typing `()`

[2020-03-04 04:03] bradcray commented on #13746
@mppf: One other question:  Do you think that `file.length()` should be turned into `file.size` for consistency with other types?

[2020-03-04 04:05] bradcray commented on #15024
Keep in mind that (without caching the result), `string.size` is not an O(1) operation either, yet has no parens.  I.e., I don't think there's anything that mandates that paren-less functions that are querying properties that could be stored as a field be O(1); it just makes it an easier choice when they are.

[2020-03-04 06:00] DmiitriyJarosh commented on #6329
Hello, my name is Dmitrii. I am 3d year student of Saint-Petersburg State University in Russia. Implementing git2 sound really great for me. Is it still able to be taken as a project? Can it be a part of GSOC program?
Can you recommend me something to start with this topic?

[2020-03-04 10:29] ronawho commented on #15024
I voted for `.indices`, but I don't have a strong preference between the two.

I also found myself wondering if `.domain` is a good term for this. I _think_ it's accurate (from the spec: "A domain is a first-class representation of an index set") but I'm not sure that I'd want to pay the performance overheads of our domains (heap allocation, reference counting)

[2020-03-04 11:25] rajshekhar7 commented on #15068
@ben-albrecht I would like to work on this issue.

[2020-03-04 12:51] klakho0400 commented on #15009
@ankingcodes I have raised a PR for the same

[2020-03-04 13:46] mppf commented on #13746
@bradcray - I'm open to it, but the file size can change at any time (by other processes) whereas something like a string length will only change if you have a race condition. The counter-argument to that is that it's not necessarily useful to make that distinction in method names.

Another detail is that `file.length()` will generally make a system call and so is less property-like in terms of pe

[2020-03-04 13:55] mppf commented on #15024
@ronawho - that's an intriguing idea. If we imagine for a moment that we had a different type for 1-D non-strided and anonymous domains... well that could just be the range type, right?

Separately though I think part of the proposal is that `.indices` return a `range` and if the type system distinguishes between `domain` and `range` and considers them different types, then I'm not sure I'd want t

[2020-03-04 14:44] ben-albrecht commented on #4951
Here is a data point for when this Travis feature could have saved us some testing noise: https://github.com/chapel-lang/chapel/pull/15074

[2020-03-04 15:34] ankingcodes opened #15076 "Support git submodules for mason"
Supporting `git submodules` would mean adding an existing github repository as a dependency in our current Chapel library project. This would allow users to use a chapel library project which is not necessarily a part of Mason registry. I have a proposal for this feature :
- Improve MasonModify to support commands such as `mason add <specific_giturl>`
- It would check the `Mason.toml` file at that

[2020-03-04 15:58] ben-albrecht commented on #15076
@ankingcodes - is there precedent for this feature in other package managers?

This is possible today, but requires the user to:

(1) create a local registry
(2) add that github repo to their local registry as a package
(3) include that local registry in their `MASON_REGISTRY` env

I would personally like to see this workflow optimized to require minimal commands from a user. With that in mind, I

[2020-03-04 16:01] ben-albrecht opened #15077 "UnitTest: Support default number of locales for a test suite"
Allow a user to specify a default number of locales for a test suite in the UnitTest interface.

I am not sure how that should look in the interface yet, so am leaving this as a design issue until that is settled.

[2020-03-04 16:02] ankingcodes commented on #15076
@ben-albrecht yes, Dlang's DUB had a very similar issue sometime ago, where they discussed a similar approach to which I mentioned. I'm not sure if they have added that feature yet.

[2020-03-04 16:03] ben-albrecht opened #15078 "UnitTest: Support default compiler/exec flags outside of mason packages"
Currently, `UnitTest` only supports changing default compiler / exec flags via a mason package. However, many projects may want to use this feature outside of a mason package.

I am not sure how this will be specified yet, so am leaving this as an open design issue until then.

[2020-03-04 16:04] ankingcodes commented on #15076
Also, npm currently supports such a feature, which works in a similar fashion

[2020-03-04 16:12] ben-albrecht commented on #15076
@ankingcodes - OK, thanks. Would this provide any functionality beyond adding the repository to a local registry as described above (assuming this process was streamlined)?

[2020-03-04 16:17] ben-albrecht commented on #6329
Hi @DmiitriyJarosh --

Yes.

I think so, if you can identify someone to mentor the project (see https://chapel-lang.org/gsoc/faq.html for info on proposing an original project).

I would suggest creating a separate issue for implementing a `git2` Chapel interface, where further discussion about design and implementation can take place. Check out these guidelines for opening a design issue: [Contri

[2020-03-04 16:18] bradcray commented on #13746
Sizes of arrays and ranges can change over time as well (as can the sizes of specific string or bytes variables, if they are reassigned), right?

[2020-03-04 16:19] ankingcodes commented on #15076
@ben-albrecht  I believe no. This issue would optimize the workflow you mentioned above, would update the dependencies table of  Mason.toml file, added to that would be the version checking. All that in a single command `mason add <git_url>`.

[2020-03-04 16:19] ben-albrecht commented on #15068
@rajshekhar7 - OK thanks!

[2020-03-04 16:24] vasslitvinov commented on #15024
BTW there is also `.shape`

We could define `.shape` or `.indices` to be somewhat like `.domain`:
* more general: apply to arrays as well as ranges and tuples and iterators (when available, proposed in #10359)
* more economical: instead of a bull-blown domain, produce a tuple of ranges

Right now `.shape` returns a tuple of integers, indicating the number of elements in each dimension a la NumPy's

[2020-03-04 16:31] ben-albrecht commented on #15024
My indecision was based on the assumption that `indices` could sometimes be an iterator rather than always a range. However, reading back through the comments, I have not seen a concrete example of this.

Assuming that `indices` will only apply to ordered data structures with numeric indices, are there cases where `indices` must be an iterator rather than a range?

[2020-03-04 16:33] ben-albrecht commented on #15076
Alright. My preference is still to streamline the process in https://github.com/chapel-lang/chapel/issues/15076#issuecomment-594624541 over introducing a new mechanism of projects having dependencies. Managing dependencies is already a complicated process, so I strongly favor simplicity when possible.

[2020-03-04 16:34] vasslitvinov commented on #15024
If we apply it to an associative domain/array over integers, it would be an iterator.

[2020-03-04 16:38] ben-albrecht commented on #15024
Would associative domain/arrays over integers support `indices` though? It would be strange for associative arrays and domains to support an `indices` method depending on the domain `idxType`.

[2020-03-04 16:40] bradcray commented on #15024
@ronawho: My thinking was similar, but the opposite:  That maybe we could retire the somewhat funny `.domain` query on arrays (funny in that it relies on a reserved keyword as a method name) in favor of `.indices` over time (or now, if there was support).  `.indices` has the benefit of being a more user-approachable concept while also not suggesting that we need to create domains for types that do

[2020-03-04 16:45] ankingcodes commented on #15076
@ben-albrecht  Cool ! optimizing the process in [comment](https://github.com/chapel-lang/chapel/issues/15076#issuecomment-594624541) would be a good starting point.
Do you have any ideas ?

[2020-03-04 16:47] ankingcodes commented on #14990
I'd work on this 👍

[2020-03-04 16:48] ben-albrecht commented on #15076
It's an open design question. I have some rough ideas that may help us get started.

Would you like to open an issue for the overall goal and we can brainstorm some ideas in that issue over time?

[2020-03-04 16:50] ben-albrecht commented on #14990
@ankingcodes - thanks!

[2020-03-04 16:52] ben-albrecht commented on #14990
@ankingcodes - I would suggest refactoring `MasonUpdate` to use the select-statement style of arg-parsing similar to what I suggested in #14997 while fixing this.

[2020-03-04 16:53] ankingcodes commented on #14990
@ben-albrecht cool! Let's update this issue's heading and description ?

[2020-03-04 16:54] ben-albrecht commented on #14990
@ankingcodes - sounds good.

[2020-03-04 16:57] gbtitus commented on #15024
I voted for `indices()` because in an ideal start-from-scratch world I would want this to be the single best way to ask for the indices of a 1D sequence type.  It would be applicable to tuples, strings, bytes, lists, arrays, and domains.  It would take an optional param rank (default 1) and it would always return a range.  `D.dim()` where `D` was a domain would go away and its uses would be replac

[2020-03-04 17:05] ankingcodes opened #15079 "Streamline creating local registries in Mason"
From #15076
Currently, to use a library project, which are not intended for distribution(not available on mason registry), we require :
(1) create a local registry
(2) add that github repo to their local registry as a package
(3) include that local registry in their MASON_REGISTRY env

This issue aims to streamline the process, so that it requires a minimal number of commands from an user.

[2020-03-04 17:07] bradcray commented on #15020
Resolved by #15031.

[2020-03-04 17:08] bradcray commented on #15020
(I'm closing this because AFAIK, `--lldb` support on the compiler itself is pretty much on par with `--gdb` support; but if I'm wrong about that and it's lacking some feature, let me know and we can reopen this).

[2020-03-04 17:14] mppf commented on #13746
Yes, but not due to activity outside of the Chapel program.

[2020-03-04 17:18] bradcray commented on #15024
@gbtitus: I'm not clear on what the role of the optional param rank argument is in your proposal:  What would my3DArr.indices(rank=2) do?  What would my2DSparseArr(rank=2) do?

I don't see anything about the current proposal that would prevent you from writing this same code, simply without the parens.

[2020-03-04 17:39] bradcray commented on #15024
Maybe I missed a proposal somewhere along the way.  In my proposal and branch, `.indices` on an array always returns its domain, even if it's 1D.

[2020-03-04 17:41] bradcray commented on #13746
Ah, I see.  I'd mentally substituted `tasks` for `processes` mistakenly.  This doesn't particularly give me pause.  You?

[2020-03-04 17:41] mppf commented on #15024
Oh, sorry I misunderstood. You were saying we'd simply deprecate `.domain` but that `.indices` would do literally the same thing for arrays (i.e. return a domain). That sounds reasonable to me, although I don't have a strong feeling about it either way.

[2020-03-04 17:43] mppf commented on #13746
Like I said - I'm open to it. I was just bring up some considerations. I'd be fine either way.

[2020-03-04 17:44] bradcray commented on #15024
Right.  I'm not proposing that in this issue, but I think it would make sense in that it would remove functionality that's about to become accessible in two ways (`.domain` and `.indices`) while also removing the weirdness of supporting a method call that's a reserved word (and one that a user can't define themselves, at least without knowing the hidden secrets of our implementation).  And if we w

[2020-03-04 17:48] ben-albrecht commented on #15024
Something bothers me about a paren-less method (`x.indices`) returning an iterator. Are there many other instances of this in the standard library?

Also, I wonder if will present a challenge with FCF/FCI (#15058) support, where a user would like to capture the callable iterator. If we used parens, they could do this by omitting the parens:

[code]

If we decide `indices` always return a range or

[2020-03-04 17:52] gbtitus commented on #15024
@bradcray The parens are so you can do:

[code]

I was worried about the fact that in the current proposal, for an array `indices` (with or without parens) returns a domain, not a range, and what that might imply about one's ability to write the same code no matter what kind of sequence type was involved.

[2020-03-04 17:55] bradcray commented on #15024
I think the first thing we need before being too bothered by this concern is for someone to come up with a compelling case of a type that would want `.indices` to return an iterator (or what I've been saying: have it be implemented as an iterator).

[I apologize if I opened up this Pandora's box myself by mistakenly stating that it would need to be an iterator in the cases of sparse or associative

[2020-03-04 18:00] vasslitvinov opened #15080 "(array)! to be compatible with array-typed formals"
Currently this code:
[code]

does not work because `targetLocales!` is a promoted expression and is not accepted for a formal of an array type.

We want to allow that, analogously to this case that works today:
[code]

[2020-03-04 18:14] bradcray commented on #15024
The problem I see with this approach is that the indices of a multidimensional collection aren't always representable as the cross product of per-dimension index ranges, sparse arrays being a key example.  It also has the downside of injecting numbering ("are dimensions 0-based or 1-based?") into an interface that's being designed to avoid the need for such numbering in many cases.

You're obvious

[2020-03-04 18:50] gbtitus commented on #15024
and

Points taken, and I guess for the latter one would just have to go through `x.domain.dims()` to get to the dimensions, so `indices` or `indices()` wouldn't be involved anyway.

I've changed my vote now, because this query seems more data-like than computation-like to me.

[2020-03-04 18:53] ben-albrecht commented on #15024
OK. I think that clears things up for me.

To summarize: The current design is that `indices` will always be a `domain` or `range` (unless someone proposes a case for otherwise), therefore I am voting in favor of `.indices`.

[2020-03-04 19:30] ben-albrecht commented on #15079
I think a good first step to this would be to document the _exact_ commands a user needs to run in order to complete steps 1-3. From there, we can identify steps that can be combined into existing or new `mason` commands.

[2020-03-04 19:32] ben-albrecht commented on #15076
@ankingcodes - I am tempted to close this issue for now, and we can re-open if we see an opportunity with this feature that can not be achieved in  #15079 -- what do you think?

[2020-03-04 19:38] ankingcodes commented on #15076
I'm okay with that 👍

[2020-03-04 19:38] #15076 closed

[2020-03-04 20:11] ankingcodes commented on #15079
@ben-albrecht
The set of commands are as follows:
1. Create a local registry
[code]
2. Add github repo to local registry. Suppose we have a repo called `newProject`
[code]
3. Include that local registry in `MASON_REGISTRY` env
[code]

[2020-03-04 20:15] ankingcodes commented on #15079
A new/existing command with a flag to use existing / create a local registry could be created to perform this. If user chooses to create a local registry, we perform 1 and 3 along with 2, else we perform only 2. What do you think ?

[2020-03-04 20:19] ben-albrecht commented on #15079
@ankingcodes - can you provide a copy/paste-able working example of the commands? I thought the registry had some additional constraints, like having a `bricks` directory and being a git repo.

[2020-03-04 20:28] ben-albrecht commented on #15079
I agree. I think automating registry creation is definitely part of the solution.

One idea is for  `mason publish` to take a flag to specify it is creating a new registry, e.g.

[code]

This tackles 1 & 2.

I don't know how we can automate 3, since no mason command can modify the user's environment. Perhaps the creation of a new registry can emit a message with the suggested command (for bash, at

[2020-03-04 20:30] ankingcodes commented on #15079
@ben-albrecht
Create local registry
[code]
Add local registry path to MASON_REGISTRY env
[code]
Create new mason project to add to local registry
[code]

[2020-03-04 20:33] ankingcodes commented on #15079
@ben-albrecht I agree to your solution. Setting the env variable should be left to the user.

[2020-03-04 20:36] ankingcodes commented on #15079
Let's finalize on the flag. Should it be `-c` or `--create-registry` ?

[2020-03-04 20:41] ben-albrecht commented on #15079
I would be in favor of both, one short-hand for the other, similar to `-h, --help` or `-V, --version`.

I think it would be good practice to get input on this feature idea from another developer or 2 before pursuing this effort.

[2020-03-04 20:43] ankingcodes commented on #15079
Let's start a vote 😄

[2020-03-04 20:44] ankingcodes commented on #15079
Hit 👍 for `-c`

[2020-03-04 20:44] ankingcodes commented on #15079
Hit 👍 for `--create-registry`

[2020-03-04 20:44] ankingcodes commented on #15079
Hit 👍 for both `-c` and `--create-registry`

[2020-03-04 20:55] ben-albrecht commented on #15079
I like your quick adoption to the voting system :)

I mostly meant for another developer to look at the overall proposal and say whether or not it sounds reasonable and/or point out any issues / other open design questions we may have missed.

[2020-03-04 20:57] ankingcodes commented on #15079
Haha ! Let's vote and give useful suggestions 👍

[2020-03-04 20:58] ben-albrecht commented on #15079
Pinging a random sample of people who have worked on or helped design mason features before:
@Spartee @krishnadey30 @benharsh  @lydia-duncan

Looking for 1 or 2 opinions on the idea of a `mason publish --create-registry` flag whenever 1 or 2 of you gets a chance. Summarized as follows:

We are trying to streamline the process of making a local mason package available in a local registry for other

[2020-03-04 21:20] ben-albrecht commented on #15079
What should `mason publish <remote-registry> -c` do?

I suspect it should produce an error message. Does anyone think otherwise?

[2020-03-04 21:50] e-kayrakli commented on #8435
After #15081, `.getSize()` should probably be deprecated and turned into `.size`

[2020-03-05 02:02] bradcray commented on #15024
Thanks to everyone for stepping up to vote and for caucusing.  Based on the votes and discussion, let's go with paren-less `.indices` (it may not have felt like it, but I was pretty on the fence when I posted the voting options, and the discussion definitely helped me make up my mind as well).

[2020-03-05 12:47] mppf commented on #14183
@bradcray @lydia-duncan - what needs to be done to close this issue?

[2020-03-05 13:46] mppf commented on #15012
I don't think either 3 or 4 is reasonable for copy elision of public module-scope variables.

Suppose we have module `M`:
[code]

Now suppose we have code in another module using M:
[code]

If the copy elision is not allowed because of this access of `x`, then we have a situation where another module is affecting the behavior in M which isn't good (and might create "hijacking" situations).

If the

[2020-03-05 14:33] EL-SHREIF commented on #13137
Why this issue is still Open not Closed?

[2020-03-05 14:36] krishnadey30 commented on #13137
I think @rahulghangas is working on it.

[2020-03-05 14:45] mppf commented on #13114
This approach isn't possible due to virtual method dispatch.

[2020-03-05 14:52] ben-albrecht opened #15089 "Compiler error/warning about throwing iterators"
Currently, non-inlined iterators cannot throw (https://github.com/chapel-lang/chapel/issues/7134). Inlining of iterators depends on optimizations `--inline-iterators` and `--optimize-loop-iterators`. As a result, a user's program can be correct *with* optimizations, but fail to compile *without* optimizations, which seems really bad. For example:

[code]

[code]

This is a feature request to emit

[2020-03-05 15:19] rahulghangas commented on #5036
@daviditen  should I open a new PR since the old one has been stagnant for a while?

[2020-03-05 16:17] daviditen commented on #5036
@rahulghangas Yes, sounds good. Thanks!

[2020-03-05 17:04] bradcray commented on #14183
IIRC, currently `use` statements in internal modules are still public.  I didn't want to close this one until all `use` statements are treated uniformly.  Unfortunately, the entanglement in internal modules made making their `use` statements private non-trivial last I tried (the approach I took was to manually convert `use` statements into `private use` as much as possible; then when all were `pri

[2020-03-05 17:06] mppf commented on #14183
But since this issue is about changing the default, couldn't we make the internal module use statements explicitly `public` if they aren't currently `private`? Anyway there is not a rush on it, I was just wondering if it was done.

[2020-03-05 17:08] bradcray commented on #13137
@EL-SHREIF: Because (as far as I know) a PR has not been merged that addresses it.  But as @krishnadey30 indicates, my understanding is that @rahulghangas is working on it.

[2020-03-05 17:12] bradcray commented on #14183
Yes, I suppose so.  I guess I just found that unsatisfying and didn't expect the issue to linger this long.  Maybe put another way, I'd be happier if all the internal modules only relied on private uses.  I wouldn't object to taking the approach you propose, though (just don't have the cycles to do it myself right now, and it's not particularly user-facing, so it's not near the top of my list for

[2020-03-05 17:21] raktim2015 commented on #11489
@ben-albrecht May I know the progress regarding the shlex implementation? If no one is currently working on this as a GSoC project, I can look into it.

[2020-03-05 17:23] ben-albrecht commented on #11489
I am not aware of any applicants for this project, though it's likely that multiple people will end up applying to the same project :)

[2020-03-05 17:56] raktim2015 commented on #11489
@ben-albrecht Unfortunately, it is hard to predict the progress as GSoC aspirants usually don't share much. :(  Still, I am starting to work on this and hope things don't get repeated. :)

[2020-03-05 18:10] lydia-duncan commented on #13137
It looks like Rahul opened a PR (#15063) on it but didn't ping anyone to review

[2020-03-05 18:10] lydia-duncan commented on #13137
Dunno if that means the PR is ready for review or not

[2020-03-05 18:36] vasslitvinov opened #15094 "Disallow arrays with nonnilable elements and non-constant domains"
This is a spin-off from a discussion sparkled by https://github.com/chapel-lang/chapel/issues/13602#issuecomment-541802380 .

This code is unsound because resizing the array's domain allocates `nil` elements:
[code]

This issue proposes to allow arrays with nonnilable elements only over constant domains, including domain literals. This was suggested in https://github.com/chapel-lang/chapel/issues/

[2020-03-05 18:41] raktim2015 opened #15095 "[Design] Add findAll() procedure to module String.chpl"
Hello,
I would like to add a procedure `findAll()` which can find all occurrences of a needle within a target string. Implementing such procedure naively using `find()` is costly. The algorithm used here uses prefix function and KMP search which brings down the complexity to O(n) where n = length of target string.

Procedure header :-
`inline proc findAll(needle: string, region: range(?) = 1:byteI

[2020-03-05 19:26] rahulghangas commented on #13137
I've been meaning to add tests but didn't get around to it for quite a while. Closed the old one because the changes were on my master branch. Recently created a new PR with a separate branch, which is still a draft until tests get added

[2020-03-05 20:07] vasslitvinov commented on #14300
Naming proposal: `owned.create(arg)`

`create` seems to be the leading choice for factory methods in #14291 .

@bradcray OK with you?

[2020-03-05 20:13] #15008 closed

[2020-03-05 20:54] bradcray opened #15097 "Convert spec routines in `..code-block::` format to `..function::` format"
When the spec was converted from latex to rst format, it seems that any function definitions in the were converted to `..code-block::` format.  Yet, experimenting, if we make them use the `..function::` format (as with the `chpldoc` output for routines in module files), the rendering is more consistent across different documentation files.  This issue suggests that we should make a sweep of the sp

[2020-03-05 21:01] bradcray commented on #14142
When I said "this will be really easy", I meant "it should be a really easy compiler change."  Turns out it's even easier than I was guessing (such that even a performance-tuning programmer could've pulled it of... :D ).  See PR #15098

Paul, I feel sortof intrigued by and sortof scared by your suggestion, so did not tackle it here, and am not enough of a champion to fork it off into its own featu

[2020-03-05 22:33] milisarge commented on #15054
@mppf https://github.com/chapel-lang/chapel-packaging repo is active and PRs are evaluated?

[2020-03-05 23:08] #14142 closed

[2020-03-05 23:11] bradcray opened #15102 "Should enums support `.indices` and indexing?"
Internally, Chapel uses a dense indexing scheme for enum symbols that is used to store and track them.  Conversions between the indices and enum symbols and back again have been supported by undocumented routines and are useful when doing things like I/O or using implementing ranges of enums.  This issue asks whether these indices should be exposed more directly to users as well.  For example, ima

[2020-03-05 23:14] bradcray opened #15103 "Retire `.domain` in favor of `.indices`?"
With the introduction of a `.indices` query that can be applied to various collection types including arrays, should we retire the `.domain` query on an array in favor of `.indices`?

Arguments in favor:
* `.indices` is a bit more of a natural / common English term
* it would remove a special case in the parser in which a keyword is accepted as a method name (yet one that a user couldn't define th

[2020-03-05 23:21] #15024 closed

[2020-03-05 23:57] ronawho commented on #15102
Supporting direct indexing feels like it could get weird for enums with values. If you have something like:

[code]

what would you expect `day[1]` to be? (if you define it as dense 0-based indexing then tuesday, but I'm not sure what I would expect without looking at the docs)

---

For just `color.indices` I _think_ I would expect that to return an enum range and be `red..blue` instead of `0..2`

[2020-03-06 00:31] ben-albrecht commented on #15097
@bradcray - would you consider this [easy/straightforward]?

[2020-03-06 00:39] bradcray commented on #15097
I considered giving it that tag, but then hesitated slightly because I think any changes to the spec should be done with care and didn't want anyone to rush through it haphazardly.  With that caveat, I'd be fine with applying the tag to it.

[2020-03-06 01:08] mppf commented on #15054
@milisarge - yes it would probable be me or @ben-albrecht to review and merge it but right now we are in a crunch for the next Chapel release so please be patient

[2020-03-06 01:10] bradcray commented on #15102
That's an interesting proposal, thanks for pointing it out.

I know what I'd expect it to be :), but I take your point that it could be confusing.

[2020-03-06 01:32] #14915 closed

[2020-03-06 02:20] #14693 closed

[2020-03-06 02:20] #14895 closed

[2020-03-06 03:42] #14877 closed

[2020-03-06 06:37] Rapiz1 opened #15108 "Incorrect .rst rendering in docs"
In [this doc](https://chapel-lang.org/docs/master/primers/classes.html):

- - -
![image](https://user-images.githubusercontent.com/20105061/76058408-55b80a80-5fb7-11ea-8abc-fc56ce2579d8.png)
I think this intend an unordered list like this:
* use the borrow after whatever it is borrowed from goes out of scope
* use the borrow after the instance is deleted (for example if own is assigned to)
- - -

[2020-03-06 06:49] Rapiz1 commented on #15108
The first problem seems to be caused by rendering:
https://github.com/chapel-lang/chapel/blob/eab0615591f9f40cbf495d5db1e50e43492a14f4/test/release/examples/primers/classes.chpl#L119-L124
This grammar is correct but `*` is not considered as unordered-list by the renderer.

[2020-03-06 06:53] Rapiz1 commented on #15095
As far as I am considered, it will be convenient if we can have this procedure.

[2020-03-06 07:06] Rapiz1 commented on #15095
As you mentioned, using `find()` to implement this procedure is costly. But the reason why it's costly is that `find()` itself is now implemented by brute force. If it can be improved, then a `find_all` will be easy to implement. So I think you can start from here:
https://github.com/chapel-lang/chapel/blob/eab0615591f9f40cbf495d5db1e50e43492a14f4/modules/internal/String.chpl#L1455-L1461

[2020-03-06 07:28] raktim2015 commented on #15095
@Rapiz1 Hi. Thanks for your response. For finding single occurrence of the needle, the implementation of find will take O(n). I have implemented an efficient version of findAll using KMP search (the performance is plotted in blue line). Please take a look at the gist link for source code.

[2020-03-06 07:54] raktim2015 commented on #15095
@Rapiz1 I will start implementing Boyer-Moore-Horspool as it is better than KMP search for pattern of longer length. But for finding single occurrence of a needle, I think the current implementation is better as there is no pre-computation and will perform faster consuming less space. Moreover, `find()` returns a single index but `findAll()` need to take care of more than one. Please suggest how c

[2020-03-06 08:29] Rapiz1 commented on #15095
The time complexity of the brute-force string matching, which currently applied, is O(NM), where N,M are respectively the lengths of target and pattern. Consider the target `aaaaaa...aaa` and the pattern `aaaaaa....b`. Finding a single occurrence can also be very slow now.

As for integrate `findAll()` within `_search_helper()`, maybe we can change the param `count` to some enum to represent inten

[2020-03-06 08:40] raktim2015 commented on #15095
@Rapiz1 Thanks a lot! I will try to implement in the following fashion. I will get back to you soon.

[2020-03-06 08:43] Rapiz1 commented on #15095
You are welcome. I am just trying to be helpful : )

[2020-03-06 12:51] Rapiz1 opened #15110 "The introduction to testing in docs of Mason is outdated"
Here in [Testing your package](https://chapel-lang.org/docs/tools/mason/mason.html#testing-your-package) presents an example:
[code]
But this won't work with the current version. I tried adding the example above and got this:
[code]
The solution is in [UnitTest](https://chapel-lang.org/docs/modules/packages/UnitTest.html#module-UnitTest). Previous example seems to be using the old grammar.

I thin

[2020-03-06 13:22] raktim2015 commented on #15095
@Rapiz1 What should be the return type of search_helper if we were to integrate `find()`, `findAll()`, `rfind()` and `count()` together?

[2020-03-06 13:26] Rapiz1 commented on #15095
@raktim2015 I think a tuple including an int and an array can be used. If the array is not needed, just leave it empty. But I'm not sure if it is elegant. Maybe there is another way to do it.

[2020-03-06 13:35] raktim2015 commented on #15095
@Rapiz1 How about returning only an array from the `_search_helper()` function? We can return what is needed based on from which function I am invoking the `_search_helper()`. For example :-
Using `search helper()`  in `count()` will return `array[0]` which stores only the count of the elements.
`rfind()` will return `array[array.size - 1]` etc

[2020-03-06 13:36] Rapiz1 commented on #15095
@raktim2015 Sounds great :+1:

[2020-03-06 13:49] raktim2015 commented on #15095
@Rapiz1
`inline proc _search_helper(funct="find", needle: string, region: range(?), param count: bool, param fromLeft: bool = true)`
This could be the function parameters where `funct` will take the operation to be performed. I believe there will be very less interference with the original functionality and almost no changes needed.

[2020-03-06 14:55] ben-albrecht commented on #15097
Agreed. If you think the process is mostly mechanical and if it's not tied to the upcoming release, I'd encourage adding the tag. Otherwise, seems fine to leave off. I'll leave it up to your judgement.

[2020-03-06 15:05] ankingcodes commented on #15079
@ben-albrecht I agree with you to produce an error.

[2020-03-06 15:50] ben-albrecht commented on #15110
Thanks @Rapiz1 - would you be interested in opening a PR with the following?

1. A fix for the docs
2. An added test with the exact test from the docs (to help us identify if the test case from the docs breaks in the future)

[2020-03-06 15:50] ben-albrecht commented on #15108
Thanks @Rapiz1! Are you interested in contributing a fix?

[2020-03-06 15:54] ben-albrecht commented on #15095
@raktim2015 - is there precedent for a library string method like this in other language standard libraries?

[2020-03-06 15:56] ben-albrecht commented on #15079
@ankingcodes - As a heads up, feature freeze is on Monday and core developers are busy wrapping up things for the 1.21 release. As a result, others probably won't have a chance to look at this design and we will not be able to merge an implementation until after the 1.21 code freeze period.

[2020-03-06 15:58] ankingcodes commented on #15079
@ben-albrecht How long do freeze periods last ?

[2020-03-06 16:01] Rapiz1 commented on #15108
@ben-albrecht Sure. The first problem is easy to fix and I can immediately open a PR. As for the second problem, I think further investigation into `chpldoc` is needed and I will give it a shot.

[2020-03-06 16:02] ben-albrecht commented on #15079
The master branch will be unfrozen sometime between 3/16 and 3/26

[2020-03-06 16:17] raktim2015 commented on #15095
@ben-albrecht I have to check for other languages. As far as C++ is concerned, iterator and generic templates does the work. C++ uses optional parameters to deal with similar issues. For example, in case of sort `sort(arr,arr+n)` is for non-decreasing sort and `sort(arr,arr+n, greater <type>())` for decreasing.
I think it's better to make necessary changes in internal structure only after deciding

[2020-03-06 16:21] vasslitvinov opened #15114 "Revisit chpldocs for 'owned' and 'shared'"
The chpldocs for `owned` and `shared` treats them as records, ex. by documenting individual initializers. This needs to be brought up to date with the language, which treats them as either annotations on class types or, when one of these keywords is used on its own, generic class types.

[2020-03-06 16:24] ben-albrecht commented on #15095
@raktim2015 - To clarify, I'm asking if other language standard libraries provide a string method similar to `findAll()`. If so, posting links to their documentation and/or snippet examples of them could help us determine:

1) If this something we want to add to Chapel standard library
2) What the interface should look like in Chapel standard library

[2020-03-06 16:28] Rapiz1 commented on #15110
@ben-albrecht Sure. Sorry if I'm being naive, where can I start from to add a test for the docs?

[2020-03-06 16:30] ben-albrecht commented on #15110
I would put it in `test/library/packages/UnitTest/docs/`.

See here for docs on test system:

https://github.com/chapel-lang/chapel/blob/master/doc/rst/developer/bestPractices/TestSystem.rst#creating-a-simple-test

See other tests in `test/library/packages/UnitTest/` for examples to start from.

[2020-03-06 16:31] Rapiz1 commented on #15110
Thanks. I will look into it soon.

[2020-03-06 16:52] raktim2015 commented on #15095
@ben-albrecht Sorry for misinterpreting. It is present in Boost C++ library.
https://www.boost.org/doc/libs/1_55_0/boost/algorithm/searching/knuth_morris_pratt.hpp

[2020-03-06 17:05] ben-albrecht commented on #15110
Actually, this may make more sense to put into`test/mason/mason-test/docs`

[2020-03-06 17:19] ben-albrecht commented on #8724
I feel pretty confident that we can close this issue. @buddha314  can speak up if he disagrees.

[2020-03-06 17:19] #8724 closed

[2020-03-06 18:31] mppf opened #15116 "problems with memory management of barriers"
After PR #15041, there are failures in test/parallel/taskPar/elliot/barrier/array-of-barriers.chpl due to errors in the memory management of barriers. Memory management for barriers started in PR #4945.

Here is an example that changed behavior after PR #15041:

[code]

the new barrier is now deinited immediately after the assignment statement. The array stores a Barrier with `isowned=false`, whic

[2020-03-06 18:47] itachiuchiha69 commented on #10755
Hello, I am a new contributor, is it still an open issue ?

[2020-03-06 18:50] mppf opened #15117 "Memory error with Future if result is never retrieved"
The following program shows memory errors with valgrind:

[code]

These errors go away if the `--doGet=true` argument is passed.

Why is this happening? The `async` call creates a future and returns it. The future destructor doesn't wait for the task and cleans up the memory. Then, the task finishes and tries to store the result in the future's state.

Associated Future Test:

test/library/package

[2020-03-06 18:54] bradcray commented on #10755
@itachiuchiha69: good question.  Checking the source, it seems the two arrays that caused me to open this issue are gone, and checking the logs, it appears that @cassella may have made a fix.  Paul, do you think this issue can be closed, or is there more to do here?

[2020-03-06 19:09] krishnadey30 commented on #15110
Thanks for pointing this out. I saw it earlier but forgot about it.

[2020-03-06 19:11] cassella commented on #10755
The "full copy of the array per recursion" was addressed by #12480 last March (which is already linked to this issue.)  I made a change a few months ago to make one full copy of the size-`N` array instead of `n` arrays of size `N/n` at each level of recursion.  I'm not aware of any other space efficiency problems.

[2020-03-06 19:29] bradcray commented on #10755
OK, let's call this one good then.  Thanks for your inquiry and interest, @itachiuchiha69!

[2020-03-06 19:29] #10755 closed

[2020-03-06 20:40] #15117 closed

[2020-03-06 21:20] mppf commented on #15012
Note to self: I need to close this issue (after PR #15113) and make a new issue specifically about copy elision and global variables.

[2020-03-06 21:23] dlongnecke-cray commented on #13154
In the current stage of my implementation, type methods can override and they can also have `param` or `type` return types.

Just to clarify...Are we OK with letting type methods have param/type return types, but not regular methods?

If we are, then it would seem reasonable to let _all_ methods with param/type return types be overrideable. Otherwise we will have warnings for normal methods (akin

[2020-03-06 21:28] mppf commented on #13154
Seems reasonable to me - as you said

but there might be some surprise there I havn't thought of.

[2020-03-06 21:41] bradcray commented on #13154
I agree that this would be reasonable, though it should be clearly documented that because they are evaluated at compile-time, the dispatch will be based solely on the static type of the variable, not its dynamic type.

[2020-03-06 22:27] #14300 closed

[2020-03-06 22:59] BryantLam opened #15126 "error messages: Compiler shouldn't report internally generated functions"
Related #14995

The compiler creates internal functions. Sometimes, these functions are in the error path of a compile-time error. The compiler should avoid reporting these internally generated functions and instead report a practical error message.

[2020-03-06 23:24] BryantLam opened #15127 "slurm-* launcher is calculating an incorrect default value for CHPL_LAUNCHER_CORES_PER_LOCALE"
Related #5095

Chapel 1.20.0 on Cray XC, comm=ugni, launcher=slurm-srun

`CHPL_LAUNCHER_CORES_PER_LOCALE` isn't set explicitly and is undefined. I think that running a Chapel program like `./app -nl <any number of locales>` is causing this launcher error
[code]
because the launcher is likely calculating an incorrect default value.

This is hard to debug as an error message.

On my system, `sinfo`

[2020-03-06 23:31] bradcray commented on #15127
@gbtitus , @ronawho : Is this behavior familiar to either of you?

[2020-03-06 23:59] BryantLam opened #15128 "Resolution rules are confusing"
Chapel 1.20.0.

[code]
[TIO ↑](https://tio.run/##S85ILEjN@f@/oCg/WSGpKD87Nc9QQ1OhmktBoSyxSKFCwVYhPy/Vmqv2/38A) versus [TIO ↓](https://tio.run/##S85ILEjN@f@/oCg/WSGpKD87Nc9QQ1OhmktBoSyxSKFCwVYhPy/VmquWiwusJDcxMw8kX/v/PwA)
[code]
both yield the same error message:
[code]

However, when you wrap it in a module, that error now goes away.
[code]
[code]
[TIO ↑](https://tio.run/##S85ILEjN@f8/Nz@lNCdVwVGh

[2020-03-07 00:01] BryantLam commented on #15128
OP is a specific case of the resolution rules being confusing. There's probably other instances that I'm trying to recall...

[2020-03-07 00:06] bradcray commented on #15128
Hi @BryantLam: Did something above get mis-transcribed or dropped?  It looks like there's supposed to be a code sample that doesn't generate an error, but all three shown here seem to (and it looks like you think they all do, which is what I'm seeing with 1.20 as well).

[2020-03-07 00:08] BryantLam commented on #15128
(Added it in.)

[2020-03-07 00:17] ronawho commented on #15127
We gather the cores per locale from sinfo. We grab the first value in `sinfo --exact --format=%c --sort=+=#c --noheader --responding`, which should give us the least number of cores per node. We usually have the opposite problem where we're not asking slurm for enough cores. @BryantLam can you send the output of that sinfo command?

[2020-03-07 00:20] bradcray commented on #15128
This is an accurate description of what's going on.

I think we agree here.  Recall that we made a big push on this a year or so back, but then other things took priority before that effort successfully wrapped up:

https://github.com/chapel-lang/chapel/issues/10276
https://github.com/chapel-lang/chapel/issues/11182
https://github.com/chapel-lang/chapel/issues/11271

I'd be inclined to call this a

[2020-03-07 00:24] BryantLam commented on #15127
@ronawho -- That `sinfo` command reports "64"

[2020-03-07 01:14] ronawho commented on #15127
slurm "CPU"s are typically hardware threads / hyperthreads -- https://slurm.schedmd.com/faq.html#cpu_count. We try to ask slurm for the whole node and then we choose which parts of it we want to use (running without hyperthreads by default)

It sounds like hyperthreading is disabled on this system, but sinfo doesn't reflect that?

I think in the past we've tried to set `--cpus-per-task=<num_physic

[2020-03-07 01:25] ronawho commented on #15127
I'll take a look through some of the slurm docs to see if there's a programmatic way to check if hyperthreading has been disabled.

[2020-03-07 01:34] BryantLam commented on #15127
This is likely true. Do you know how I would verify hyperthreading was disabled on the system?

[2020-03-07 01:39] BryantLam commented on #15128
Yep! Looks like it is a duplicate.

[2020-03-07 01:39] #15128 closed

[2020-03-07 01:40] ronawho commented on #15127
`scontrol show node | grep ThreadsPerCore` would be my current guess. But if sinfo is still showing 2 threads, I'm assuming that will show 2 as well.

Something in slurm must know that hyperthreads are disabled though since the submission with `--cpus-per-task=64` failed.

[2020-03-07 16:10] Aniket21mathur commented on #14571
I did some workaround and came across the following functions

1) Python - datetime.now().time() returns a time object with (hours, minutes, seconds)
`datetime.time(21, 34, 51, 343376)`

2)Javascript - We have a single function that gives us both time and date.
[code]

[2020-03-07 16:40] Aniket21mathur commented on #14388
@ben-albrecht

I am working @ https://github.com/chapel-lang/chapel/commit/2c9530a7a6bf0b67c28de2d5155749b497450374

Yes, this is the entire program.

Does that matter if I do a fresh checkout and `make` again?

thanks!

[2020-03-07 17:29] Aniket21mathur commented on #14388
@ben-albrecht seems like I figured it out, I was working in a directory in which I put all my test examples. In that directory, I made a file named `Random.chpl` , which had some code. So on running on the above code, it seems to import Random from the present directory which is the Random.chpl file I made, deleting that file fixed the problem. :smile:

[2020-03-07 18:57] Aniket21mathur commented on #14388
@ben-albrecht I would like to work on this. Thanks!

[2020-03-08 04:49] cassella opened #15136 "internal error from `var a = nil;`"
### Steps to Reproduce

**Source Code:**

[code]

[code]

or without developer mode,

[code]

**Associated Future Test(s):**

None yet

### Configuration Information

[code]

[2020-03-08 07:57] Rapiz1 commented on #12671
@Chinmay4400 It has been a while and would you mind I continue this?

[2020-03-08 08:03] Rapiz1 commented on #12671
Because LearnXInYMinutes uses markdown while we use .chpl and .rst to build up docs, it seems hard to keep that up to date all the time. I will suggest adding a timestamp on the LearnXInYMinutes version and a link refering to our official page.

[2020-03-08 10:18] Rapiz1 commented on #6029
I have got familiar with the test system of Chapel and opened a PR for adding tests for the flag `--author` https://github.com/chapel-lang/chapel/pull/15137 : )

[2020-03-08 13:55] mppf opened #15139 "union copy initialization problem with --baseline"
When compiled with `--baseline`, the below program should print out 1 but instead prints out another value (probably referring to stack trash):

[code]

[2020-03-08 19:45] Aniket21mathur commented on #14865
@ben-albrecht @bradcrayI have some questions please clarify -

- We have a `prob` argument passed to `_choice` that must be array, should we also change that argument type to domain?

- Going through the implementation of `_choice` I see that first we are generating a reindexed reference `A`  from 1..size,

`ref A = arr.reindex(1..arr.size);`

then randomly selecting elements from `A` and returnin

[2020-03-09 02:44] Rapiz1 commented on #14952
@ankingcodes Since it's two weeks ago, I would like to ask that are you interested in implementing it or have been already working on it? I could also help : )

[2020-03-09 05:00] ankingcodes commented on #14952
@Rapiz1 Thanks for your interest ! This issue is part of my GSoC proposal, so you can consider it assigned to me.

[2020-03-09 14:17] ben-albrecht commented on #14571
@Aniket21mathur - A few comments/questions:

- This issue is about the [`Time`](https://chapel-lang.org/docs/master/modules/standard/Time.html) module rather than the [`DateTime`](https://chapel-lang.org/docs/master/modules/standard/DateTime.html) module, so comparisons to other languages should reflect that.
- Are all time functions returning time since Unix epoch?
- Do any time functions include

[2020-03-09 14:40] ben-albrecht commented on #15103
All of the motivations behind this resonate with me, but I am currently undecided. It seems like a heavy breaking change for a small benefit. I also find `.domain` returning the array domain to be elegant and intuitive.

[2020-03-09 14:42] #14395 closed

[2020-03-09 14:45] #15110 closed

[2020-03-09 15:01] Rapiz1 commented on #5939
@ben-albrecht Can I take on this?

[2020-03-09 15:04] ben-albrecht commented on #5939
@Rapiz1 - That would be great.

[2020-03-09 15:30] gbtitus commented on #15127
@BryantLam can you confirm that this `scontrol` command does indeed show 2 threads per core on the system in question?

[2020-03-09 15:38] Aniket21mathur commented on #14571
There are some of the time modules that return the current date, along with the time. For example in Go:-

[code]
returns something like

`2012-10-31 15:50:13.793654 +0000 UTC`

Not all, some like `time.time()` in Python returns time since Unix epoch.

Yes, the `time.Now()` in Go as described above, also `time.timezone` in python returns the offset in seconds of the local time zone from UTC.

Swif

[2020-03-09 15:41] gbtitus commented on #15103
I voted against. I like that the name of the method that gives me an array's domain is `domain`.  I don't mind the redundancy that's come along with the addition of `indices`.  And I don't mind the special case in the parser because parsers often have special cases, although admittedly that's easy for me to say because I don't work on the parser!

[2020-03-09 15:43] BryantLam commented on #15127
`scontrol show node | grep ThreadsPerCore` reports "2"

[2020-03-09 16:00] Aniket21mathur commented on #11068
@ben-albrecht Can I work on this?

[2020-03-09 16:01] gbtitus commented on #15127
What does `srun lstopo` show?  And also (just for confirmation, but more complicated) what does `srun $(which srun | sed 's,/bin/srun,/sbin/slurmd,') -C` show?  (This is asking the slurm compute node daemon what its actual hardware configuration is, but that daemon is in a place not normally in `PATH`, thus the complication.)

[2020-03-09 16:08] rapiz1 opened #15142 "Add an overload of String.split to return array"
It can be useful to have an overload of `String.split` to return a list instead of an iterator. e.g. when dealing with tables we want to random access values of items.
BTW, I thought that a list could be initialized from an iterator but it couldn't. I think this can also be very useful.

[2020-03-09 16:08] DmiitriyJarosh opened #15143 "Design and implement git2 Chapel interface"
Chapel hasn't implementation of `git2` interface now. This issue is needed to design new interface.

[2020-03-09 16:09] DmiitriyJarosh commented on #6329
I created issue #15143 for design discussion

[2020-03-09 16:14] bradcray commented on #15142
It is possible to use `String.split` to generate an array (as mentioned in your issue title).  I'm less certain about a list.  See [this example](https://tio.run/##S85ILEjN@f@/LLFIwVHBVkEpI1OhJCO1KFWhKLEgs8pQUUmvuCAns0RDSUFJ05qrvCizJDUnT8NRr6SyINWquKQoMy9d0/r/fwA) which demonstrates it.

[2020-03-09 16:15] ben-albrecht commented on #15142
In addition to @bradcray's suggestion, there is a feature request to explicitly convert an iterator to an array inline here: https://github.com/chapel-lang/chapel/issues/14364

Also there is a feature request for iterator-to-list assignment: https://github.com/chapel-lang/chapel/issues/14497

[2020-03-09 16:34] Rapiz1 commented on #15142
Oh, why we can use the return value of `String.split` as an array? How does this work?
I didn't see anything about converting an iterator into an array in [primers/iterator](https://chapel-lang.org/docs/primers/iterators.html).
Have I missed something and how can I find the docs?

[2020-03-09 16:36] bradcray commented on #15142
Somewhat confusingly, and perhaps unfortunately, when an iterator is captured into an untyped variable, that variable is automatically treated as an array.  There have been arguments made that perhaps it should remain an unevaluated iterator.  This is an aspect of the language that I would not be surprised if it changed in the future, but it's where we are today.

[2020-03-09 16:41] Rapiz1 commented on #15142
Well...That's really hard for a beginner like me to foresee until someone explains...
What can we do about it? Add examples in docs? Or just leave it there?

[2020-03-09 16:43] e-kayrakli commented on #15103
I am currently against this but waiting a bit more before I vote, because the arguments listed above make good sense to reject hastily.

I am against, because arrays have domains which are somewhat a bigger concept than having just indices. And as Ben mentioned, we'd lose some elegance if we are not able to query the domain of an array using `.domain`.

A slightly less important concern is that wh

[2020-03-09 16:44] ben-albrecht commented on #15142
Adding an example for this to the iterator primer isn't a bad idea...

I think this is something that will improve as we add support for first class iterators (https://github.com/chapel-lang/chapel/issues/15058)

[2020-03-09 17:10] lydia-duncan commented on #12671
Well, the hope is that there will be less backwards compatibility breaking changes going forward

[2020-03-09 17:13] bradcray commented on #12671
I'm thinking less about breaking changes, and more about making the lesson better over time.  I think there's plenty of room to improve it, but if improving it requires jumping through a lot of hoops, it'll raise barriers to doing so (I've avoided improving it for that reason).

[2020-03-09 17:23] ronawho commented on #15103
I originally voted in favor of this, but just removed my vote, since what Greg and Engin said resonated with me. Not sure where I stand now.

[2020-03-09 17:54] muv1 commented on #12453
@ghenriks is correct - some recent builds here:

https://github.com/mstorsjo/llvm-mingw

[2020-03-09 18:01] Rapiz1 commented on #5939
@ben-albrecht I have finish a primitive version [here](https://github.com/Rapiz1/chapel-envVariables/blob/master/src/EnvVariables.chpl). However, I have encountered some questions.
[code]
1. How should this be implemented since setting and getting envs should be calling functions? A way I can think of is that use a record and overload `this` to allow reading envs. But how can we modify envs in thi

[2020-03-09 18:04] Rapiz1 commented on #15095
@raktim2015 What about helping with improving `_search_helper`? It's brute-force now.

[2020-03-09 18:57] #14554 closed

[2020-03-09 18:57] #14796 closed

[2020-03-09 19:08] #14962 closed

[2020-03-09 19:48] ben-albrecht commented on #14865
Hi @Aniket21mathur -

I think that should still be an array, since each value is associated with a probability.

Yes, this is to handle cases where a user passes in an array with a different domain, e.g. `{2..size+1}` or `{0..#size}`.

Your example creates an associative array which does not have dimensions, hence the error.
See docs on [`domain.dim`](https://chapel-lang.org/docs/master/builtins/C

[2020-03-09 19:59] ben-albrecht commented on #11068
@Aniket21mathur - I'm going to peel the easy sticker off of this one since it is primarily a design/consensus question for the core dev team. Once we get around to discussing and it is agreed upon, I'll put the label back on.

[2020-03-09 20:10] ben-albrecht commented on #5939
I imagine this would be something that gets populated at the top-level of the module.

I am not completely sure how this should be accomplished, or what it should look like. Maybe as a first pass, you can make a `getEnv()` variant that accepts and returns param (compile-time) values:

[code]

[2020-03-09 20:56] mppf commented on #14930
I think that `if x then` should work for `bool` and also for nilable classes (indicating not nil).

It definitely shouldn't work for `real`, `imag`, or `complex`.

It doesn't bother me personally if it works for `int` and `uint`.

I think we should also consider if `if myString then` should be the same as `if myString != "" then`. I don't know if that's the case now, but many scripting languages d

[2020-03-09 21:17] dlongnecke-cray commented on #14930
While the thought of `if x then` for nilable classes seems appealing, if we are going to make an exception for classes instead of writing `if x != nil then` we might as well make principled exceptions for as many primitive types as we can (such as `string`, as Michael brings up), in a way that makes sense for each specific type.

Stylistically, I'm starting to think that Chapel should lean towards

[2020-03-09 22:11] #13746 closed

[2020-03-09 22:24] bradcray commented on #15102
Thinking about this for another day, I have a few thoughts:

* I'm not convinced `.indices` is the most accurate description of what `red..blue` is.  For example, for a tuple `(1, 2, 3)`, the indices are `0..2` and the values are arguably `1..3`.  Similarly for a string `"hi"`, the indices are `0..1` and the values are arguably "h", "i".  For an enum, my intuition is that `red..blue` is more about

[2020-03-09 22:28] daviditen opened #15146 "Split init with conditional that returns fails"
This code always either initializes `b` or returns without using it, so should be OK.

[code]
[code]

Oddly, if the last `else return;` part is removed it compiles without complaint. That could end up using `b` without initializing it if `msg` is neither "true" nor "false".

[code]

[2020-03-09 22:38] BryantLam commented on #15127
Both are as expected. `lstopo -s` and `slurmd -C` on the compute node show 2 PUs or ThreadsPerCore.

The system has this environment variable being set: [`SLURM_HINT=nomultithread`](https://slurm.schedmd.com/mc_support.html#srun_hints). I don't have a good intuition for handling this case in the slurm launcher.

[2020-03-09 23:02] bradcray commented on #15103
It's hard for me to decide whether I think the reluctance to remove `.domain` is because we're just not used to `.indices` yet, or whether it's because it's a bad idea.

One of the ways I'm thinking about this is to think about what kind of style we want to promote (given that, now, we literally have to make the decision about which of the two forms to highlight in our examples, codes, and docs).

[2020-03-09 23:16] gbtitus commented on #15127
Ah, that's what's doing it.  Thanks!  We're discussing solutions.

[2020-03-09 23:41] ben-albrecht commented on #15103
This seems like a reasonable decision. We have had `indices` on master for less than a week. I think I could make a much more informed decision after getting used to using `indices` in my own code and observing which style I naturally gravitate towards.

[2020-03-09 23:56] e-kayrakli opened #15148 "Forwarding does not work with promotion"
I think we should be able to use forwarding within promoted expressions. The
code below doesn't compile today:

[code]
I expect the last line to compile and have the same behaviour as the first
`writeln` call.

[2020-03-10 00:20] e-kayrakli commented on #7706
As part of #15149, we should make a decision on this.

By looking at the conversation here, it looked to me like `Locales[0]` is the better choice than `here`. I don't think arguments for it are very strong or anything, but I can't think of any argument for `here`. And I agree that it probably will not matter as long as it is something not ridiculous.

And I am not sure whether there is any other

[2020-03-10 00:27] e-kayrakli commented on #13526
#15149 will make `locale` a record-wrapped type. As of now that PR adds a special value `nilLocale` that replaces the default value of the argument `addOn=nil:locale`. With that PR, we can introduce something like `anywhere` or `wherever`.

OTOH, I don't see this as part of the language stability effort. It is more of an advanced and somewhat obscure part of sparse domain interface, which itself i

[2020-03-10 00:38] bradcray commented on #7706
I feel OK with either option, personally, and re-reading this issue consider my arguments in favor of `Locales[0]` as being as much devil's advocate / trying to understand both sides as anything.  In truth I feel right on the fence; neither option is obviously preferable to me.  `Locales[0]` might have the slight benefit of being the most trivial / least surprising / most like our other default va

[2020-03-10 00:40] bradcray commented on #13526
I would agree that it feels slightly late in the game to wrestle too much with sentinel locale values at this point and that anything we put in should be thought of as subject to change.  I'm open to tucking whatever sentinel values we need to keep things working on master for the time being if they come with that caveat and aren't advertised too broadly until they get more discussion and attentio

[2020-03-10 01:56] ronawho commented on #15127
@BryantLam could you see if this commit works for you -- https://github.com/ronawho/chapel/commit/90c303d3312694f9d2d5bfd9f146993ef4723ff7

(I was able to reproduce your error message by manually setting `SLURM_HINT=nomultithread` and `CHPL_LAUNCHER_CORES_PER_LOCALE`, but it's harder for me to test the default calculation since we don't have access to homogenous slurm systems (internal machines te

[2020-03-10 02:41] vasslitvinov commented on #15094
Here is a challenge:
[code]

We do not know whether the actual for `D` is modifiable. So to be honest with ourselves we would disallow calling this on an array of non-nilables.

So far I am seeing this only on arrays of locales.

@bradcray @mppf @benharsh  suggestions?

[2020-03-10 03:19] yujqiao opened #15152 "`mason doc` should respect authors field in Mason.toml"
spins off https://github.com/chapel-lang/chapel/pull/15137#issuecomment-596859912

Currently, `mason doc` will not print `authors` from `Mason.toml` on the pages where it should be. It will just leave it blank ( and with an unnecessary comma. I opened https://github.com/chapel-lang/chapel/pull/15151 for this )

![image](https://user-images.githubusercontent.com/20105061/76276341-8900df00-62c0-11ea

[2020-03-10 03:58] Rapiz1 commented on #5939
Sorry, I don't understand what you mean. Do you mean that it's read-only for users and should only be changed by `setEnv`?

I guess one can't *run* the code when compiling the code? This seems something that the compiler should be concerned about so I will just leave it. What do you think?

[2020-03-10 04:57] ankingcodes commented on #9846
@ben-albrecht  Could we perform these checks on a TOML file submitted in the PR for mason registry ?

[2020-03-10 04:57] ankingcodes commented on #13345
@ben-albrecht Which command should be modified to add the error message ?

[2020-03-10 08:14] egeOzpinar commented on #6329
Can I work on JSON encode/decoder? Is it available?

[2020-03-10 08:28] intractabilis opened #15155 "Building chpl compiler fails if the OS locale is not English"
### Summary of Problem
If you are building chapel from the source code (release/1.20 branch git snapshot) in Linux with different from English locale, the compilation fails with the following errors:

[code]

Obviously some of the code generators added some symbols not from English locale to one of the files. Setting `LANGUAGE=en:en` and `LANG=en_US.UTF-8` and rebuilding fixes the problem.

### St