[2021-02-13 04:08] vasslitvinov commented on #17160
This did not reproduce on my machine, given that my unistd.h does not use the write_only attribute.

I am puzzled how this error can result from recent commits, though.The code for getCwd has not changed in years, the last mod to files.cpp was two weeks ago, the only recent change to Makefile.gnu affecting gcc10 was `-Wsuggest-override` .

To resolve this failure, anyhow, the easiest probably is t

[2021-02-13 04:18] cassella commented on #17160
All I can think of is that what changed recently was I updated my laptop, and got a new glibc with the attribute.

I'm working on a PR to change `getCwd()` to explicitly `malloc()` a buffer and pass it to `getenv()` instead of relying on `getenv()` doing the allocation.

[2021-02-13 04:21] vasslitvinov commented on #17160
Cool, thank you Paul. sys_getcwd already does malloc, how about relying on that instead?

[2021-02-13 05:08] cassella opened #17163 "chpldoc doesn't format range by and align clauses correctly"
### Steps to Reproduce

**Source Code:**

[code]

**Compile command:**

`chpldoc --save-sphinx docs --no-html rangeByAlign.doc.chpl`

`cat docs/source/modules/rangeByAlign.doc.rst`

[code]

**Associated Future Test(s):**

[`test/chpldoc/globals/rangeByAlign.doc.chpl`](
https://github.com/chapel-lang/chapel/blob/master/test/chpldoc/globals/rangeByAlign.doc.chpl
) #17164

### Configuration Informati

[2021-02-13 06:35] vasslitvinov commented on #17132
Good point about ordinal indexing. Now I don't like it any more.

[2021-02-15 04:41] prashanth018 commented on #17136
I raised a [PR](https://github.com/chapel-lang/chapel/pull/17168) for this issue. It would be good if one of you shared your insights. Changes to choiceTestMultiDimensionalSupport.chpl file is not complete yet. I'm currently writing a utility file for tests. I'll be pushing these changes once the changes to random.chpl are confirmed. Thanks :)

[2021-02-15 04:45] prashanth018 commented on #17136
I'll start working on the `N-1` dimension sampling that @ben-albrecht has suggested.

[2021-02-16 13:38] mppf commented on #17089
Right, that nbody example is pretty strange (and something I added to the test when adding owned/shared/etc).

I think the argument for allowing copy elision with different RHS sides is probably something more along the lines of - say you have two lists/arrays/etc with a difference in type that does not affect storage. For example maybe they have a different value for a `param locking`. In that ca

[2021-02-16 14:24] mppf opened #17170 "Infinitely summing 0.1 gives error"
From https://chapel.discourse.group/t/infinitely-summing-0-1-gives-error/3490 by nelsonluisdias

[2021-02-16 16:17] mppf opened #17172 "Should errors in function signatures cause errors or failure to find a candidate?"
Suppose we have some overloaded functions along these lines:

[code]

Here I mean for `computeType` to stand in for any sort of type construction expression (along the lines of `R(int)` or `owned MyClass`).

What happens if we call `f` for a type where `computeType` is not available?

[code]

Today we get a compilation error along these lines:
[code]

Should this be an error? Or, should  the `f` w

[2021-02-16 17:59] #17170 closed

[2021-02-16 20:13] bradcray commented on #17172
My intuition would be to keep the error, for fear of sweeping something under the rug if `f`'s author thought they had implemented a `computeType()` signature that worked for all types, but turned out to be mistaken.  But in saying that, I don't want to brush aside C++'s experience too quickly.

My second thought is that I'd be more comfortable if there was a way to opt into a "skip this candidate

[2021-02-16 22:09] lydia-duncan commented on #16992
Cycling back, here are what I think the major questions that should be resolved (and where I think we currently stand).  My hope is that this comment is a good entrance point into the discussion.

1. Should operator methods be forwarded?
  - It seems like we think they should
2. For operator methods that return an instance of the type, should the forwarded version return an instance of the forward

[2021-02-16 22:28] bradcray commented on #16992
I feel pretty strongly that this shouldn't be automatic.  At least, it would feel weird to me for operators to do something automatic here, but for other methods that might return the type not to (where today, they don't).

[2021-02-17 03:03] cassella commented on #14226
The original program runs for me with `-nl 2`, after I update it for language changes.  (`s/borrowed locale?/locale/
s/y.loc/y!.loc/g`)

@mppf's simplified program runs for me with `-nl 2` with the same `r2` output whether or not the `r1` section is uncommented, after updating for language changes (`s/buff[1]/buff[0]/` for zero-indexed arrays):

[code]

[2021-02-17 03:07] cassella commented on #14185
The original program now compiles and produces the same output no matter the order of the last two statements in `main()` (after marking `writeThis()` as a throwing function).

[2021-02-17 06:56] dlongnecke-cray commented on #16172
Hi @vasslitvinov, w.r.t. to `moveToValue` vs `moveToReturn`, my stance is that `moveToReturn` describes the contents of the function, but not really what the function is doing.

I like to use the "verb test" to check.

If we try to use `moveToReturn` as a verb, e.g. by using it like this:

[code]

I need not return `result` or capture `moveToReturn` into a `var`/`const` at all.

[code]

When you r

[2021-02-17 12:49] mppf commented on #17172
Well, AFAIK, at least we can change it away from that in the future without breaking programs.

This argument seems much less strong for me in the type construction case since we don't really think of `AtomicT(T)` as a function call in the language. At the same time, `AtomicT(T)` is something we'd expect one could replace with a call to a function returning a type.

I didn't express this reason ye

[2021-02-17 13:13] mppf opened #17176 "sync variables and owned/shared"
https://chapel-lang.org/docs/language/spec/task-parallelism-and-synchronization.html#synchronization-variables

says

After this was written, we developed the idea that "class types" includes `owned` and `shared`. Do we intend for these to be the element type in `sync` or `shared` ?

Meanwhile, there are confusing error messages when using `sync owned` and `sync shared` :

[code]

So the next step

[2021-02-17 13:16] mppf opened #17177 "Should sync string be supported?"
This program compiles and runs today

[code]

Should it? If it should, we should add testing for it. If not, we need to update https://github.com/chapel-lang/chapel/blob/fc00057e01d274d9cf6f63aec9db95f299feea5b/modules/internal/ChapelSyncvar.chpl#L71-L80

[2021-02-17 13:18] mppf commented on #14226
Then I think the next step is to add a test (or two) to make sure it continues to work in the future. Then we can close the issue.

[2021-02-17 13:19] mppf commented on #14185
I think this is due to changes @vasslitvinov made. @vasslitvinov - could you add two tests to make sure that the program above has the same behavior if the last two statements are swapped and then close this issue if everything looks OK?

[2021-02-17 13:22] mppf commented on #16172
FWIW I also like `moveToValue` better than `moveToReturn`.

[2021-02-17 14:10] king-11 opened #17178 "Tail call optimization"
The current implementation of quicksort is not tail optimized which can help in reducing the call stack size by removing one of the recursive calls made at the end of function ```quicksortimpl```.

[2021-02-17 17:38] mppf opened #17179 "Is writeln supposed to return bool?"
I was surprised to learn that `writeln()` (from ChapelIO.chpl) does not return anything:

https://github.com/chapel-lang/chapel/blob/fc00057e01d274d9cf6f63aec9db95f299feea5b/modules/standard/ChapelIO.chpl#L841-L843

I was expecting it to return `bool` (where it would return `false` for whatever reason `channel.writeln()` from IO.chpl can return `false`):

https://github.com/chapel-lang/chapel/blob

[2021-02-17 21:28] bradcray commented on #17178
@king-11: It's not clear to me:  In this issue are you proposing a general-purpose compiler optimization to do tail call elimination, or a manual rewrite of quicksort to avoid the recursive call?

[2021-02-17 23:14] vasslitvinov commented on #17134
Given that `import M.C;` brings along all of C's methods, it should also bring its type methods. So the two versions in OP should behave the same.

[2021-02-17 23:48] bradcray commented on #17176
Good question / this had escaped me.  My instinct is that a synchronized unmanaged or borrow variable could make sense since those are represented as raw pointers.  Whereas synchronized shared or owned seem... weird and/or hard to reason about.  At the very least, I think it would be reasonable to initially only support synchronized unmanaged and borrowed.

[2021-02-17 23:50] bradcray commented on #17177
It surprises me a little that we support sync strings today, but I'm also failing to come up with a reason that we shouldn't (given that they're not modifiable in-place) or that it wouldn't make sense.

If we decide to continue to support it, we should also add support for sync bytes.

[2021-02-17 23:53] #15593 closed

[2021-02-18 01:15] cassella commented on #13131
An `UnrolledLinkedLists` packages module was added in #16244.

[2021-02-18 01:18] cassella commented on #15064
An `UnrolledLinkedList` packages module was added by #16244.

[2021-02-18 01:28] cassella commented on #7071
Is this satisfied by `module/packages/ProtobufProtocolSupport.chpl`, added in #16105?

[2021-02-18 01:38] bradcray commented on #13131
Thanks for connecting the dots here, Paul.  Closing this.

[2021-02-18 01:38] #13131 closed

[2021-02-18 01:38] bradcray commented on #15064
Thanks Paul.

[2021-02-18 01:38] #15064 closed

[2021-02-18 01:43] cassella commented on #8302
I'd add to that list being able to specify a multival option, e.g `gcc -DFOO=bar -D BAZ=SPLAT`, or `sed -f scriptfile1 -f scriptfile2`

[2021-02-18 02:32] king-11 commented on #17178
🤔 My proposal was to look out for all the tail optimization that we can manually have for the time being in implemented algorithms

[2021-02-18 04:34] cassella commented on #13271
@LouisJenkinsCS I think the split init feature addresses all the use cases you have here.  If I'm reading them right, the ability to declare the variable uninitialized outside the block, initialize it inside, and then naturally have it persist after the block is what you wanted in all the examples.

[2021-02-18 04:59] cassella commented on #5036
Did #15109 fully implement the request here?

[2021-02-18 12:39] mppf commented on #17177
strings are modifiable in place with `+=`

on #17176 it sounded like you were leaning away from `sync shared` because `shared` doesn't fit in one pointer-sized value. Wouldn't the same apply to `string` ?

[2021-02-18 13:19] mppf commented on #8470
I think that https://github.com/chapel-lang/chapel/pull/15279 resolves this issue - the top-level packages need to have unique names but a mason package can include submodules in different files. Closing.

[2021-02-18 13:19] #8470 closed

[2021-02-18 13:44] mppf opened #17182 "adding checksumming to mason"
It would be good for mason to have the ability to verify checksums of projects to make sure that all of the data has been downloaded correctly, has not been corrupted, and has not been tampered with.

This project includes multiple components:

 * add capability to compute the checksum for a mason package and automatically update the .toml file with it
 * add capability to store a checksum for a m

[2021-02-18 16:07] daviditen commented on #5036
Yes, I think so. Thanks!

[2021-02-18 16:07] #5036 closed

[2021-02-18 16:25] lydia-duncan commented on #7071
I think so, but I'll wait to close until Brian or Nick weigh in

[2021-02-18 17:16] bradcray commented on #17177
[warning: lots of thinking out loud follows]

I was thinking more about the fact that you can't do something like `mystring[3] = "h";`—that strings only support all-or-nothing modifications.  Even `+=` to me is logically like `mystring = mystring + "suffix";` which is to say, logically, a complete re-assignment of the string that happens to share a prefix.  If we optimize that by realloc-ing it an

[2021-02-18 17:22] bradcray commented on #16992
Either order here seems OK to me.

[2021-02-18 17:58] mppf opened #17184 "overriden method can return unmanaged subclass but not owned subclass"
It appears that, in an overriden method, we can return a subclass:

[code]

However the equivalent program not using `unmanaged` but rather `owned` does not compile:

[code]

It seems like we intend to support covariant return types but have not correctly handled the case when they are owned/shared.

[2021-02-18 19:37] daviditen opened #17185 "Intermittent segfault in Cron llvm testing"
### Summary of Problem
The test:
test/studies/dedup/dedup-externblock.chpl

Segfaults in the "Cron llvm" configuration approximately 1/1000 times it is executed. I verified that it fails in this intermittent way at least as far back as 2/1/2021.

### Steps to Reproduce

**Source Code:**
test/studies/dedup/dedup-externblock.chpl

**Compile command:**
chpl --cc-warnings --llvm dedup-externblock.chpl

[2021-02-18 21:14] leekillough opened #17187 "Which method to use for compiling regular expressions in Chapel"
1. Free procedure in module `Regexp` (current method)
    `use Regexp;`
    `var re = compile("/a/");`

2. `init` method on `regexp`
      `use Regexp;`
      `var re = new regexp("/a/");`

3. `type` method on `regexp`
     `use Regexp;`
     `var re = regexp.compile("/a/");`

[2021-02-18 21:22] mppf opened #17188 "problem with varargs and following arguments"
Consider this program:

[code]

I am expecting that this program compile and run. When there is a varargs formal of variable length, I am expecting it to consume all remaining arguments (regardless of type) unless they are named arguments.

In contrast, when the varargs has fixed type, I would expect an ambiguity error, as in:

[code]

[2021-02-18 21:27] bradcray commented on #17188
I know we've had cases similar to this that have worked before (and, I expect, still work now).  I.e., is this specific to having the two overloads, or having the following argument share the type of the actuals, or ...?

[2021-02-18 21:29] buddha314 commented on #7071
I probably won't have a chance to test it, so if the Chapel team is confident, I believe them.

[2021-02-18 21:31] mppf commented on #17188
The compiler seems to get tripped up only when the types match in both cases. I'm running into some test failing because with the out intent changes the `named` argument is more willing to accept more actual arguments.

[2021-02-18 21:32] mppf commented on #17188
yes - it is specific to having 2 overloads and having the following argument share the type of the actuals (or be generic).

[2021-02-18 21:36] mppf commented on #17188
I'm running into this in PR #16990 with test/types/records/ferguson/tuples/const1.chpl. I think I will future-ize that test for now to allow fixing this to be a separate effort, since it's arguably an existing issue.

[2021-02-18 21:43] daviditen commented on #17135
Yes, but until that happens I think we can disable it here.

[2021-02-18 21:51] #7071 closed

[2021-02-19 00:39] bradcray commented on #17187
With the caveat that I am not a big user of regex[p] in general (so am not necessarily the persona we're optimizing for...)

I find the `new regexp("/a/")` form pretty refreshing in that it seems to say very clearly and in a self-documenting manner what's going on.  I understand that one of the challenges with supporting it is that our initializers can't currently throw, and we'd want/need them to

[2021-02-19 00:41] bradcray commented on #17188
Thanks for the additional info, that works for me.

[2021-02-19 00:49] bradcray commented on #17135
Should/could #17133 be doing this check as part of its "if there is a system LLVM" check?

That is, if users did have a system LLVM installed, and it was sufficiently old that we couldn't use it, shouldn't we choose not to use it, possibly suggesting that they upgrade their system LLVM or switch to another CHPL_LLVM setting?  (or is that what we're already doing and it's why the checks are failing

[2021-02-19 02:25] vasslitvinov opened #17195 "What can be passed to a `const ref` formal argument?"
Reference: [argument intents in the spec](https://chapel-lang.org/docs/master/language/spec/procedures.html#the-const-ref-intent)

Consider a function that has a const ref formal, ex.
[code]

What kinds of expressions of the type `SomeType` can we use as an actual argument to `f` ?

Variables, including formals, record fields, etc., whether `var` or `const`, can.

We also some time ago started all

[2021-02-19 16:59] mppf opened #17196 "problem with split-init and ref vs. value tuples"
Sometimes, split init does not work when the RHS is a ref tuple in one case and a value tuple in another case. For example, the below program fails to compile with an error about split initialization using multiple types:

[code]

[2021-02-19 17:54] mppf opened #17198 "type query for out formals to change the flow of type inference"
As @vasslitvinov proposed in https://github.com/chapel-lang/chapel/issues/16582#issuecomment-772146817 , we are thinking of allowing one to opt-in to type inference from the call site for `out` intent formals by providing a type query expression.

PR #16990 adds a compilation error for this case, so changing it should be a non-breaking change.

Note that whenever this is implemented, we will proba

[2021-02-19 18:30] mppf opened #17199 "should `new R(arg)` be able to run a `proc init=` ?"
Today we have several data structures in the modules that implement both `proc init(rhs: rhsType)` and `proc init=(rhs: rhsType)` for a variety of `rhsType` types. For example, there are these two functions implementing initialization of a `list` from a `range` :

https://github.com/chapel-lang/chapel/blob/4ebb0e3455b60fcf64a05782a12377ff0bfff298/modules/standard/List.chpl#L250

https://github.com

[2021-02-19 18:30] mppf commented on #16732
I've created issue #17199 for this question specifically.

[2021-02-19 18:39] mppf opened #17200 "Should the compiler be able to infer implied operations?"
This issue is a spin-off from issue #15838.

We have an idea that conversions between types come in 4 levels and a programmer should be able to access any of these 4 levels, but the higher levels imply the lower ones.

 * level 4 (implicit conversion) implies 3,2,1 (assign, initialize, cast)
 * level 3 (assign) implies 2,1 (initialize, cast)
 * level 2 (initialize) implies 1 (cast)
 * level 1 (cas

[2021-02-19 18:40] mppf commented on #15838
PR #17092 implements A1 and is merged.

In the future we might decide to relax this constraint. Issue #17200 asks about doing more automatic inference in this case.

[2021-02-19 18:40] #15838 closed

[2021-02-19 19:42] bradcray opened #17201 "Array / Domain `_instance` fields as records rather than classes?"
This issue asks a question that we've mused about for some time, but never really tackled head-on that I can think of:  What would it take to support an array (or domain) implementation where the `_instance` field in an array would be represented using a `record` rather than a `class`?  The reason for doing so would be to avoid the indirection required to go from the array record to the class that

[2021-02-19 19:43] bradcray commented on #17201
This came up in the @chapel-lang/perf-team meeting this week.

[2021-02-19 19:48] bradcray opened #17202 "What would it take to rewrite default rectangular arrays to use `c_ptr` rather than `_ddata`"
The `_ddata` class was introduced early in the project before we had good support for C-level pointers within the language/libraries as a roundabout way to get a pointer to a buffer of memory.  This issue asks what it would take to replace that `_ddata` field with a `c_ptr` in default rectangular arrays, since it's always a pointer to local memory.  An obvious challenge is that we're relying on Ch

[2021-02-19 19:49] bradcray commented on #17202
This also came up in this week's @chapel-lang/perf-team meeting this week, and is something I've been interested in having us explore for some time.  It's somewhat related to issue #16797, #16169, and probably others.

[2021-02-19 19:57] bradcray opened #17203 "How close is Chapel to having a mix-in like feature for records?"
In 2016, we were debating the value or liability of having record inheritance in Chapel and ended up deciding that we should not support it, but should look into some sort of "mix-in" (or "mixin") capability instead as a means of sharing common capabilities across records and reducing code duplication.  While thinking about this idea last night for the first time in awhile, I found myself wonderin

[2021-02-19 20:11] bradcray commented on #17200
My overarching philosophy on this question is that it would be nice for the compiler to help with such cases if it felt sufficiently like a "no brainer".  Where I think the criteria for no-brainer are: (1) there isn't any significant overhead or downside introduced via the compiler-provided rewrite; (2) it doesn't increase the confusion for the type author or user; (3) it helps relieve pain on the

[2021-02-19 20:13] bradcray commented on #17198
I continue to find this idea intriguing.  Thanks for capturing it in its own issue.

[2021-02-19 20:21] mppf commented on #17201
For arrays I think this is an interesting language challenge.

For domains I am a bit more worried that it might not be possible because of the array-domain relationship where arrays refer to domains but do not "own" them on their own.

[2021-02-19 20:23] bradcray commented on #17132
I'd like to advocate more forcefully for maintaining the status quo here.  I think that it's possible to write cases of range or domain slicing that look ridiculous or confusing or uninspiring, like `1..10[2..11]` or `{1..n, 1..n}[2..n-1, 0..n+1]` but I think cases like `myRange[3..]` ("give me all indices in myRange starting from `3`") or `My2Ddomain[i..i, ..]` ("give me the `i`th row of my 2D do

[2021-02-19 20:28] bradcray commented on #17201
That's an interesting point and challenge.  You're making me realize that non-const domains also refer to their arrays (so that they can resize them when reallocated), and that if the array were a pure record, this would similarly be more challenging to do?

[2021-02-19 20:34] mppf commented on #17201
Yes, good point.

I think an alternative way to view this change is - could we create an optimization that changed the certain array declarations to do this? Maybe it is a kind of heap-to-stack transformation. (There I think the challenges have to do with things like passing the optimized representation in place of the regular one). Along those lines, we could imagine caching some important fields

[2021-02-19 20:38] bradcray opened #17205 "Feature request (CG): A way to compose interfaces"
In thinking about using Chapel's interfaces to describe arrays, I realize that I think of arrays as having a number of reasonably independent properties that I might want to tease into distinct interfaces such as "indexable", "iteratable", "sliceable", "rank changeable", etc. where a full-blown array would support all of these things.  However, for a given library routine I might only want to asse

[2021-02-19 20:39] bradcray commented on #17205
(there may be a plan for this in the CHIPs or someone's head, but Vass didn't think we had an issue for it, and it was on my mind, so I wanted to capture it while I'm emptying my head of issues this afternoon).

[2021-02-19 22:54] daviditen commented on #17185
Dropping the `--llvm` argument so we use the C backend also segfaults. The segfault is happening deep in the OpenSSL library starting from the `SHA1` call in the test. If I change the main `forall` loop into a `for` loop it appears to always work. It seems we have a problem with calling SHA1 in parallel.

https://www.openssl.org/docs/man1.0.2/man3/threads.html

I don't think we've done anything to

[2021-02-19 23:14] bradcray commented on #17185
Nice sleuthing!  Tagging @mppf on this as the author of the test in case he didn't end up subscribing of his own accord.

[2021-02-19 23:31] mppf commented on #17185
I think this is actually the same problem as #11366 but the steps to fix it are different. (Here, modify the test; on the other issue, modify the Crypto module).

[2021-02-19 23:33] e-kayrakli commented on #17201
Is this something where having `ref` fields can help?

My not-so-deep thought on this is that we can think of potential compiler optimizations that can help with this case and potentially some other more general cases where aggregate types encapsulate others. Having such an optimization could also help the perennial "privatized field in a non-privatized type" issue.

[2021-02-19 23:53] bradcray commented on #17201
Thinking more about Michael's comments, array views are another case that rely on being able to refer to the classes.

I had the same thought, but I'm not sure they do.  They _might_ help an array refer to its domain (in that it's a singleton and invariant once the array is set up I think), but for domains to store a mutating collection of array references... it seems like references don't really

[2021-02-20 06:16] king-11 commented on #17178
@bradcray any updates on this, 😅 I think with tail optimization by manual rewrite can we also try changing recursive algorithms to non-recursive ones as that will certainly boost the performance ?

[2021-02-20 15:34] zhihuidu opened #17214 "Set"
### Summary of Problem

What behavior did you observe when encountering this issue?
When I use set to keep the frontier vertices in  breadth first search (BFS) algorithm, for a special line graph, the program with 2 locales will break down. However, When I use Domain or DistBag to keep the vertices, no errors happen.

The  delaunay benchmark will cause the same error too.
https://sparse.tamu.edu/D

[2021-02-22 04:55] leekillough opened #17216 "Add fullmatch method to regexp"
Python 3.4 adds `fullmatch` to its `re` module.

`fullmatch` or `fullMatch` should be added to the Chapel `regexp`, supplementing `search` and `match`.

Chapel and its RE2 interface already has support for specifying no anchor, a beginning anchor, or a beginning and ending anchor.

[2021-02-22 14:14] mppf commented on #16732
PR #17146 implements the change settled on here, so closing this issue.

[2021-02-22 14:14] #16732 closed

[2021-02-22 16:52] lydia-duncan opened #17218 "Operator methods and promotion do not play nicely"
### Summary of Problem
Operator methods cause an internal compiler error when used in a promoted setting.

### Steps to Reproduce

**Source Code:**

[code]

**Compile command:**
`chpl foo.chpl`

**Associated Future Test(s):**
[`test/functions/operatorOverloads/operatorMethods/promotedCall.chpl`](https://github.com/chapel-lang/chapel/blob/master/test/functions/operatorOverloads/operatorMethods/prom

[2021-02-22 17:14] leekillough opened #17219 "Should there be regexp literals"
Should Chapel support a regexp literal?

Should the syntax be something like `r"a|b$"`, with special handling of regexp metacharacters?

Should trailing options be allowed, such as `r"a|b$"i` to indicate case-insensitivity?

Should this literal be compiled at program startup and kept around indefinitely, instead of compiled on-demand and kept in a finite-sized cache?

[2021-02-22 17:28] bradcray commented on #17178
@king-11 : I'm not aware of this being a significant problem in practice, but I think it would be fine to explore (e.g., see what the rewrite looks like; see what the impact on performance turns out to be).  Which implementation of quicksort are you looking at?

[2021-02-22 17:32] bradcray commented on #17214
@dlongnecke-cray : Tagging you on this as the original Set author.  I'm not sure what your bug/code freeze week looks like, but it'd be interesting to know if you can reproduce this / see an easy fix.  (I was able to reproduce it in an early version of the code, but didn't dig into it enough to determine the cause).

[2021-02-22 17:33] bradcray commented on #17214
(PS — If you don't have time to take it on, maybe we could find someone else to pick it up).

[2021-02-22 17:36] e-kayrakli commented on #17201
That's right. And I agree that it is a bit of an unknown.

Arguably a different way could be creating ref temps for some fields, without moving arounds fields (as that's what inlining sounds like). It is different because, the guts of the array would still be a class and act like it. It may be too different than what this issue proposes.

[2021-02-22 17:41] bradcray commented on #17201
I guess it wasn't stated in the OP (I'll edit it), but a motivation of the proposal was to remove indirections.  Inserting `ref` fields would re-introduce those derefs, right?

[2021-02-22 17:44] mppf commented on #16582
The design questions are resolved and PR #16990 implements the change so I am closing this issue. We have issue  #17198 for the remaining work of implementing type inference from the call site for cases like `proc f(out arg: ?T)`.

[2021-02-22 17:44] #16582 closed

[2021-02-22 17:53] leekillough opened #17220 "Should Regexp be a standard module or a package?"
Should `Regexp` module be a standard module as it is today, or should it be a package?

Should it be bound to the RE2 library, or should other regular expression libraries be allowed?

Is there a certain common denominator set of regular expression features which should be supported, such as Basic or Extended POSIX regular expressions, Perl-Compatible Regular Expressions (with many variants, such

[2021-02-22 18:04] mppf commented on #5245
@bradcray given that we now effectively print the callstack on error by default (at least for generic code) do you think it is reasonable to close this issue?

[2021-02-22 18:06] bradcray commented on #5245
It seems like it could still be a useful feature for non-generic code?  (I stand by the "good first issue" label, and every time I see this, I'm tempted to dive in and try it myself.  But probably not during feature freeze week...).

[2021-02-22 18:20] bradcray commented on #17220
My opinion here isn't strong, but here's what it is:

* I think that many programmers consider regex matching to be a fairly core feature of a language, so would be inclined to have an official/standard Regex capability within Chapel, just as a "batteries included" type of feature.

* If we support a standard Regex capability, as in the previous bullet, I don't think that should preclude the intro

[2021-02-22 18:39] prashanth018 commented on #17136
@lydia-duncan I'm planning to handle `N-1` sampling suggested by ben in a separate PR, if that is fine? Also, could you please review the changes? Thanks :)

[2021-02-22 18:40] bradcray commented on #17160
@cassella/@vasslitvinv: I haven't looked into this issue particularly deeply.  Does this seem like something we should be sure to fix before the release?  (i.e., should we prioritize getting Paul's PR reviewed and merged?)

[2021-02-22 19:00] bradcray opened #17221 "Make default task intents for associative domains depend on their parSafe setting?"
Issue #15593 centers around the following code, which did not compile because domains like `d` are passed into parallel regions by `const ref` intent by default.

[code]

However, adding a `with (ref d)` to the loop seems a bit silly given that associative domains are created with `parSafe=true` by default, suggesting that this loop isn't inherently race-y (which is what the default task intents a

[2021-02-22 19:02] bradcray commented on #15593
Hi @octonion : Thanks again for reporting this.  Fixing it led to other related clean-ups in our const-checking as well.  The behavior of the program you submitted is now:

[code]

where the fix is to override the default `const` intent when `d` crosses into a parallel region using a `with` clause on the loop:

[code]

I think that, arguably, using `const` intents for such shadow variables is a po

[2021-02-22 19:04] leekillough opened #17222 "Should the Regexp module and regexp record be renamed Regex and regex, respectively?"
`Regexp` and `regexp` are less common spellings than `Regex` and `regex`, and are harder to pronounce.

Here are some examples of regular expressions in several languages:

| Language | Module / Package / Header | Regexp Class / Record | Match Class / Record |
| :-- | :-- | :-- | :-- |
| Chapel | `Regexp` | `regexp` | `reMatch` |
| C++11 | `<regex>` | `std::regex` | `std::match_results` |
| Python

[2021-02-22 19:06] bradcray commented on #17222
I find `Regex` much more straightforward to type / think about / pronounce than `Regexp` and am in favor of this change, barring a compelling argument for why `Regexp` is preferable.

[2021-02-22 19:13] lydia-duncan commented on #17136
I was expecting someone more familiar with the code to review the change

[2021-02-22 19:28] mppf commented on #16576
I'm closing this issue based on my understanding that we have reached agreement that the answer to the question

is "no" .

We can allow such calls exactly in the case when implicit conversions are requested between the types (#16729 being one proposal to do so).

[2021-02-22 19:28] #16576 closed

[2021-02-22 19:32] lydia-duncan commented on #17136
@ben-albrecht - would you mind looking at it?

[2021-02-22 19:34] ben-albrecht commented on #17136
I am a good person to look at it, but I won't get a chance to look until later this week (hopefully).

[2021-02-22 20:23] daviditen commented on #17135
The `util/chplenv/chpl_llvm.py` script looks for a system LLVM that matches the version listed in `third-party/llvm/LLVM_VERSION`. It appears that the failing checks in #17133 are finding a system llvm at version 11, but it is broken and missing expected headers.

[2021-02-22 20:27] bradcray commented on #17135
Got it, thanks for the clarification.  So to circumvent this, we'd need to do something like:
* try to compile a sample program with LLVM
* see that it fails, and fall back to something else if it does
?

[2021-02-22 20:39] daviditen commented on #17135
Yes, we could do something like that. The sample program should ideally look a lot like our LLVM backend.

[2021-02-22 20:56] leekillough opened #17224 "Should Regexp module type reMatch be renamed match or something else?"
A `reMatch`  represents the result of a `search` or `match` on a `regexp`.

The name `reMatch` is misleading, and may make it sound like it re-matches the regular expression, which it is simply the type returned from the `search` and `match` operations.

The name `match` or `Match` could be used. If names beginning with uppercase are reserved for modules, then it should probably be `match`, unless

[2021-02-22 21:16] mppf commented on #16732
I made issue #17200 to ask about Q1 (where for now it is an error if the cast is not provided).

[2021-02-22 21:18] mppf commented on #17200
thanks @bradcray . I'm just noting here that @bradcray and @lydia-duncan  expressed support for automatically using `init=` to implement cast in one of the issues this is a spin-off from - https://github.com/chapel-lang/chapel/issues/16732#issuecomment-729281311 - https://github.com/chapel-lang/chapel/issues/16732#issuecomment-729812521 .

[2021-02-22 21:20] lydia-duncan commented on #17187
My ranking is 1, 3, 2, but I don't feel super strongly about it and suspect this preference is more from familiarity than anything else.

[2021-02-22 21:25] lydia-duncan commented on #17224
It looks like this issue missed the regexMatch and regMatch suggestions from the meeting

[2021-02-22 21:25] lydia-duncan commented on #17224
I personally prefer regexMatch over just match, and definitely think we should change it from reMatch

[2021-02-22 21:26] mppf opened #17225 "tertiary initializers"
Should Chapel allow one to create an `init` or `init=` in a different module from the one defining the type? If so, are there special constraints or features required for such initializers? Additionally, should it be possible to create custom `init=` functions for non-record non-class types (e.g. `int`) ?

One issue is that in a tertiary initializer, it will not necessarily be possible to initiali

[2021-02-22 21:27] mppf commented on #17225
Over in https://github.com/chapel-lang/chapel/issues/16732#issuecomment-731310236 @bradcray said this:

[2021-02-22 21:27] mppf commented on #16732
I've created issue #17225 to discuss tertiary initializers (and things like `int.init=`).

[2021-02-22 21:28] bradcray commented on #17224
* If it remains a record type, my preference would be to keep it an initial-lowercase identifier for consistency with other record type names; if it became a class (which we should only do if we thought that was better in some way), calling it `Match` would be OK with me
* I think it was suggested (by @e-kayrakli I think?) that `match` feels like a very reasonable identifier for a user to want to

[2021-02-22 21:29] mppf commented on #15806
PR #17092 makes the exact case here a more explicit error. If we wanted to support it in the future I think we would need to have a way to write a tertiary `init=` - see #17225.

I am wondering if it would be reasonable to close this issue and to note on #17225 that it would be useful to enable this case to be expressed, somehow.

[2021-02-22 21:49] prashanth018 commented on #17136
Thanks @lydia-duncan @ben-albrecht

[2021-02-22 22:07] leekillough opened #17226 "Should tertiary methods be defined for regex?"
Should tertiary methods be defined for `regexp`?

| Method                                                       | Description                            |
| :---                                                           | :---                                   |
| `proc string.search(needle: string, ignorecase=false):reMatch` | Search for needle regexp in string     |
| `proc bytes.search(needle:

[2021-02-22 22:40] bradcray commented on #17225
I generally feel inclined to support them for orthogonality, unless someone comes up with an argument I haven't heard for why it's an inherently bad idea.

I think so, as your excerpt from me in the previous comment indicates

While there are some comments on this issue about what the implication of `private` means on a field, that feels to me like something that hasn't received a lot of discussio

[2021-02-22 22:54] lydia-duncan commented on #17226
I think we should keep the tertiary methods

[2021-02-22 23:00] mppf commented on #17225
I think you are saying - it may not be necessary to settle what `private` means on a field? I don't think we need to know that in order to make progress on this issue. (But I wouldn't object to figuring out private fields separately first anyway because they have been a long time coming). In particular, I can't think of a `private` design for fields that is both useful for encapsulation/informatio

[2021-02-22 23:00] lydia-duncan commented on #17225
The main thing that worries me about tertiary initializers is their interactions with default initializers - if the type had not defined any primary or secondary initializers, it will generate a default initializer and it can be confusing for a default initializer to be generated when there are other initializers available.

I also worry about the interaction with how we declare a type for a parti

[2021-02-22 23:03] mppf commented on #17225
IMO if the type author has not created any initializers, then their public API includes the compiler-generated one. As a result a tertiary initializer would invoke that compiler-generated initializer. I think we'd have to be careful with visibility (the tertiary initializer shouldn't hide the compiler-generated one in that case) but other than that don't see a particular problem here.

I'm not qui

[2021-02-22 23:04] mppf commented on #17225
Would the strategy I'm describing be a technically breaking change, if today, a tertiary initializer disables the generation of the compiler-generated-default one?

[2021-02-22 23:10] bradcray commented on #17226
@lydia-duncan: Can you say more about why?

I understand that the tertiary methods don't add new power relative to the more general methods, but how much convenience do they add?  Could someone supply an example of a code snippet comparing code with the tertiary methods vs. without?

Engin's point the other day about `"Bradford".search("Brad")` looking a lot like a substring find method rather tha

[2021-02-22 23:13] bradcray commented on #17225
No, sorry, I was actually trying to say "it may not be necessary to be able to access the private fields if I could call other initializers," similar to what you said here:

[2021-02-22 23:16] bradcray commented on #17225
I think Lydia's point is a good one:

In that, today, the presence of a user-defined initializer shadows the compiler-generated initializer.  So I think Michael's point here:

Is arguably problematic in that it makes the rules different for tertiary initializers vs. others.

One potential solution is not to permit tertiary initializers in the event that the type's module doesn't define any primary

[2021-02-22 23:22] e-kayrakli commented on #15806
I will check the user code where this issue came from. I think that part of the code was changed, so it may be moot there, but I am not certain.

As for closing the issue, I don't have a strong preference. If we keep it open, it will be more visible, if a user bumps into it. Though, that may not be enough to keep it open. I can leave the call to you @mppf and/or @bradcray

[2021-02-22 23:25] lydia-duncan commented on #17225
Yes, it would break any code that relied on the default one that happened to also be included in the program, including code from other modules.  We could maybe do something where modules that use the module with the tertiary method can't call it but that seems real scary to me

[2021-02-22 23:29] lydia-duncan commented on #17226
It's more I'm not convinced there's a problem with having them so why take the effort to remove them?  They seem useful.  I think the burden of proof should be more on why they should be removed.

[2021-02-22 23:40] #16172 closed

[2021-02-22 23:40] bradcray commented on #15806
I'm fine with whatever you guys decide.

[2021-02-22 23:46] bradcray commented on #17226
For me, it's the point I attributed to Engin above.  Nothing about the calls make it obvious that it's regex-related.  And maybe what convenience they provide is minimal compared to the alternatives (which is why I've been curious to see a comparison of the two approaches).

[2021-02-23 01:24] dlongnecke-cray commented on #17214
Hi, I could take on a point or two to look into this, but I suspect my first goal would be to find a simpler reproducer.

[2021-02-23 01:25] bradcray commented on #17214
I agree that that's the right first step, and don't think it would be too hard to divorce the algorithm in question from Arkouda.

[2021-02-23 01:37] zhihuidu commented on #17214
It seems that two cases can trigger the error: (1) many times of set assignments/add  will be done (the line graph case); (2) many vertices will be added to the set (the delaunay case).  Please let me know if you need more information.

[2021-02-23 01:41] bradcray commented on #17214
Yeah, rather than boiling the code down to a reproducer, it might be worth just creating some stress tests that push hard on set operations in parallel (assuming we don't already have them; if we do, it may be possible to determine the differences between them and the algorithms here by inspection).

[2021-02-23 01:49] dlongnecke-cray commented on #17214
What is the error? Is it a runtime error? A race condition?

[2021-02-23 01:51] bradcray commented on #17214
Segfault-ish.  See: https://gitter.im/ArkoudaProject/community?at=601c9400063b6c68d53d3913

[2021-02-23 01:51] bradcray commented on #17214
(Also, note that this is in a multi-locale setting;  @zhihuidu, have you tried running your algorithms with a single locale to see if the problem persists or goes away?)

[2021-02-23 02:01] zhihuidu commented on #17214
*** Caught a fatal signal (proc 0): SIGSEGV(11)
NOTICE: Before reporting bugs, run with GASNET_BACKTRACE=1 in the environment to generate a backtrace.
NOTICE: We recommend linking the debug version of GASNet to assist you in resolving this application issue.
Segmentation fault
@bradcray I just run it again with a single locale, no error

[2021-02-23 02:03] zhihuidu commented on #17214
This is the erro information with 4 locales.
current locale=LOCALE0 has elements ={}
current locale=LOCALE2 has elements ={}
current locale=LOCALE3 has elements ={}
current locale=LOCALE1 has elements ={475}
SetCurF= {475} SetNextF={476} level 477 numCurf=1
*** Caught a fatal signal (proc 0): SIGSEGV(11)
NOTICE: Before reporting bugs, run with GASNET_BACKTRACE=1 in the environment to generate a ba

[2021-02-23 02:05] dlongnecke-cray commented on #17214
Thanks, I'll start by writing a comm stress test for `set`.

[2021-02-23 02:07] zhihuidu commented on #17214
This is the error if I use 3 locales.

current locale=LOCALE0 has elements ={}
current locale=LOCALE2 has elements ={}
current locale=LOCALE1 has elements ={557}
SetCurF= {557} SetNextF={558} level 559 numCurf=1
*** Caught a fatal signal (proc 0): SIGSEGV(11)
NOTICE: Before reporting bugs, run with GASNET_BACKTRACE=1 in the environment to generate a backtrace.
NOTICE: We recommend linking the debu

[2021-02-23 05:00] vasslitvinov opened #17227 "CG: when to require explicit return type for a required function"
Main issue: #8629

In an interface declaration, when is it OK to omit the return type of a required function? Should a generic return type be regulated by the same rules as an omitted return type?

For example:
[code]

The current answers to the above, implemented in #17213, are:
* fun1 is OK, the return type is assumed to be `void`
* fun2 is OK, assuming `void` return type and provided that the b

[2021-02-23 06:36] bradcray commented on #17195
I've never felt super-confident that we've been doing the right thing by permitting what you're calling value expressions (which I tend to think of more as a compiler-generated `const`s) to be passed to `const ref` intents; but I do think the "it may be slightly odd, but it's definitely convenient" might be my quote, which sums up about how I feel about it.  Note that we do permit user-defined `co

[2021-02-23 08:16] bradcray commented on #13271
Thanks for pointing this out Paul.  Here's a rewrite of the OP's code that works thanks to @mppf's split initialization:

[code]

I agree that we can call this done (at least until someone comes up with some different patterns that are compelling but don't work).

[2021-02-23 11:24] prashanth018 commented on #17182
This feature seems fascinating! Can I start working on this? Thanks :)

[2021-02-23 13:28] mppf commented on #13271
@bradcray - do you know if we have a test doing that in the test system? If not we should add one, as part of wrapping up this issue.

[2021-02-23 13:32] mppf commented on #17182
@prashanth018 - if you do not already know this - this task is one of the Google Summer of Code projects - https://chapel-lang.org/gsoc/ideas.html . If you are planning to apply to that program it would be reasonable to experiment a bit with this task as part of creating an application. But if not, it's probably better to pick up a different project until we know which GSoC projects we are accepti

[2021-02-23 14:38] prashanth018 commented on #17182
@mppf Yes, I would like to experiment with this feature.

Is there an existing module which calculates the checksum given a file? I see this can't be achieved using SHA256Implementation.chpl

[2021-02-23 14:41] mppf commented on #17182
@prashanth018 - a good way to start experimenting it would be to do the exercise here: https://github.com/chapel-lang/chapel/tree/master/test/exercises/duplicates/forStudents which uses that module.

[2021-02-23 16:10] lydia-duncan commented on #17226
That seems easily solved by renaming rather than removing.  Is the functionality not valuable?  I can see "maybe this isn't valuable enough to discuss a new name" but it seems like there's a pretty obvious change (add Regex or regex to the name) so I would argue that adding a deprecation warning and remembering to eventually remove the function is more time consuming.

[2021-02-23 16:16] lydia-duncan commented on #17227
I would be okay with permitting generic return types for interface functions, but it would be okay with me to start by disallowing it until we're more confident in the implementation or until requested.

[2021-02-23 17:17] ronawho opened #17234 "canResolve does not work for submodules"
I want to check if a function in a submodule is available, but canResolve is not resolving the call.

[code]

Here `MainModule.myproc()` is called, but I was expecting `SubModule.myproc()` to be used

---

This is motivated by wanting to use `memoryUsed()` in a way that's compatible with 1.23 and 1.24, and `memoryUsed` was moved into a submodule during this release. e.g. I want to do something lik

[2021-02-23 17:17] ronawho opened #17235 "canResolve does not work for private functions"
`canResolve` fails to find private functions.

[code]

This currently hits the compiler error instead of resolving privateProc. Removing `private` allows this it compile.

[2021-02-23 17:20] lydia-duncan commented on #17235
I think that's because `canResolve` is not generic enough?  I would expect it to use the point of instantiation to resolve this function if it were sufficiently generic

[2021-02-23 18:59] daviditen commented on #17135
https://github.com/chapel-lang/chapel/pull/17238 sets `CHPL_LLVM=none` in this CI testing until we get `system` working.

[2021-02-23 19:16] daviditen commented on #17135
#17238 is merged. Opened https://github.com/Cray/chapel-private/issues/1778 to look more into why CHPL_LLVM=system is detected but not working.

[2021-02-23 19:16] #17135 closed

[2021-02-23 20:25] #17073 closed

[2021-02-23 20:43] bradcray commented on #17073
Thanks for fixing this, @dlongnecke-cray!  @npadmana, let us know if you get the chance to kick the tires.

[2021-02-23 21:03] mppf opened #17241 "core dump when passing a slice to a generic inout formal"
The compiler is creating code that seg-faults at runtime when passing a slice to a generic inout formal.

### Steps to Reproduce

**Source Code:**

[code]

In 1.22, the program runs cleanly under valgrind and prints:

[code]

In 1.23, the program segfaults.

The issue started with 8ef988d2fbf01dc865f0be921e19d1f66f2e363e / PR #16143 and was not resolved in PR #16180.

**Associated Future Test(s):*

[2021-02-23 23:26] #17160 closed

[2021-02-24 01:34] leekillough commented on #17216
There is the start of an implementation (in code comments) in #17209 .

Do we consistently use `camelCase` starting with lowercase for methods, in which case we should use `fullMatch`, or do we allow multi-word names without camelCase, such as `fullmatch`? In Python, it's called `fullmatch`.

[2021-02-24 01:38] bradcray commented on #17216
We try to be fairly consistent about using camelCase, where the argument for an exception would be that the two/multiple words are sufficiently compound / technical / hyphenated / thought of as one word to warrant being thought of as one.  Given that rule of thumb, I'd say that `fullMatch` makes more sense for Chapel than `fullmatch`.

[2021-02-24 03:39] leekillough commented on #17195
I think `param` should be passable as `const ref`, but not as `ref`. I think we agree.

[2021-02-24 04:49] Yudhishthira1406 commented on #16766
@e-kayrakli I would like to work on this issue.
Thanks!

[2021-02-24 12:50] mppf commented on #16554
PR #17231 adjusts the implementation for `inout` to only consider the `in` part for whether a function is a candidate according to the choice of Option 2 for `out`. Note that the slice example from this issue does not run correctly though, due to a bug that is present in 1.23 and described in issue #17241.

[2021-02-24 12:50] #16554 closed

[2021-02-24 13:08] mppf commented on #17177
In the long term, I think it's reasonable for `sync myRecordType` to work and that would imply `sync string` as well as `sync owned` work in terms of what the implementation does.

However in the meantime since these operations are almost completely untested and we are aiming for stability I think we should disable them. I've created PR #17248 to disable them for now and plan to proceed with that

[2021-02-24 16:56] prashanth018 commented on #17182
@mppf I have gone through https://github.com/chapel-lang/chapel/tree/master/test/exercises/duplicates/forStudents and it was a wonderful resource! Before starting on the implementation of the current story, to compute hash of a complete project I was thinking I could compute the hash of hashes of each file and store it in .toml and use this as a reference to know if any file in the project has bee

[2021-02-24 19:01] mppf commented on #17182
hi @prashanth018 - I don't really see why hashing hashes is better than just hashing all of the files but it is certainly fine to give it a try.

[2021-02-24 19:10] prashanth018 commented on #17182
In the feature description, `add capability to store a checksum for a mason package in its toml file` I assumed we need to store a single 256 bit hash in the toml? So this can be achieved by hashing all the files and then finding a single hash of all these hashes. Let me know if I didn't understood it right.

[2021-02-24 19:15] Yudhishthira1406 commented on #11439
@ben-albrecht, I would like to work on this.

I want to discuss how to implement this as I have 1 or 2 approaches in mind, if all others agree.

[2021-02-24 19:24] mppf commented on #7648
This works for me now
[code]

and as a result I'm closing this issue.

However, the earlier example using `push_back` should arguably now correspond to code using `list`. And that doesn't work directly - see issue TODO.

[2021-02-24 19:25] mppf opened #17252 "should string.join accept a list?"
It seems like string.join should work directly with a list of strings, somehow.
This is a spin-off of #7648 and related to #7662.

[code]

Should `string.join` directly handle lists? Or should the general overload for iterator records be generalized to anything that can be iterated over with `these` somehow?

[2021-02-24 19:26] #7648 closed

[2021-02-24 19:45] e-kayrakli commented on #17252
Should `string.join` accept a set? A heap?

A general overload would be great. I think that an `iteratorRecord` argument can do that, but I am not certain.

If there are big obstacles there, I don't see it as the end of the world to add overloads for the standard data structures that make sense - all, except map, I suspect.

[2021-02-24 19:56] leekillough commented on #14396
I like the idea of using `pragma "deprecated"` right before the declaration of a symbol to be marked as deprecated.

If `pragma` can support multiple arguments, a custom message could be optionally passed, as in:
[code]
(https://github.com/chapel-lang/chapel/issues/17224)

If multiple `pragma` arguments are not supported, and it's not simple to add them, then we could look for the case-insensitive

[2021-02-24 20:07] mstrout commented on #14396
@lydia-duncan I put your suggestion on my list of things to discuss during our process deep dive.

[2021-02-24 20:28] bradcray commented on #14396
@mstrout: This feels to me less like a process question and more of a priorities / technical discussion topic (where the distinction to me is that priorities are about "What should we do?" and process more about "How should we do it?").

[2021-02-24 21:02] mppf commented on #17198
Note - when implementing this - be careful because the compiler implements partially generic arguments with type querios

[code]

[2021-02-24 21:06] mppf opened #17254 "Update Types.chpl to have isNothing in addition to isNothingType"
Most of the functions in Types.chpl have variants along the lines of `isRecord()` that work for both types and values.

However we have `isNothingType` but not `isNothingValue` or `isNothing`.

I find `isNothingValue` a bit strange but would at least expect Types.chpl to include `isNothing`.

[2021-02-24 21:06] mppf commented on #17254
@daviditen - do you know of a reason we don't have `isNothing` today?

[2021-02-24 21:09] mppf opened #17255 "can we extend comparisons to none to allow other types?"
Consider this example, which I wrote without really thinking about it when updating something else:

[code]

It results in a type error because we can't compare `none` and `int`.

However since `none` is the only value of the type `nothing`, it seems to me that any value of any type other than `nothing` (note 1) should compare as not equal.

note 1: any type other than `nothing` or potentially `dt

[2021-02-24 21:19] mppf commented on #17182
@prashanth018 - yes we need to compute a single hash but we could do that by hashing all of the data in all of the files, together with the filenames, in sorted order, in one go. The hash-of-hash things is an alternative.

[2021-02-24 21:39] bradcray commented on #17255
I'm not categorically opposed to this, but trying to understand where we'd draw the line.  For example, we could define a catch-all cross-type overload of `==` like:

[code]

but don't (currently at least).  Is there something that makes supporting cross-type comparisons with `none` more compelling than for other types?

[2021-02-24 21:43] daviditen commented on #17254
No I don't. I think it should be fine to add it.

[2021-02-24 21:46] bradcray commented on #17234
I agree that a feature like this would be useful, but am not surprised that it doesn't work today.  My interpretation of canResolve() as it's defined today is that it takes only a function name, not a more general expression that you might want to type into the code and call.  E.g., I don't think `myObject.foo()` would resolve either which is why there's a method variation that takes the object as

[2021-02-24 21:47] bradcray commented on #17241
The role of slices in this issue catches my attention.  Let me know if it's something that would benefit from my help.

[2021-02-24 22:05] mppf opened #17257 "control reaches end of function that returns a value in incomplete try/catch in throwing function"
### Summary of Problem
I created a function that returns from a catch block when catching one error type but throws. Since the catch block is not complete, I was expecting the error to be propagated out of the function, if it occurs, and in that event the function does not return normally. However, the compiler gives an error `control reaches end of function that returns a value`.

### Steps to Re

[2021-02-24 22:09] bradcray commented on #13271
Not sure.  I've added the code from my last comment in #17258.

[2021-02-24 22:11] mppf opened #17259 "const checking error with list.first and list.last"
### Summary of Problem
I'm seeing a surprising const checking error when calling `.first` or `last` on a `const ref` `list`:

### Steps to Reproduce

**Source Code:**

[code]

**Associated Future Test(s):**

none yet

[2021-02-24 22:11] bradcray commented on #13271
Oops, maybe I spoke too soon, though.  It doesn't seem to work with `CHPL_COMM!=none`.  @cassella, I'm guessing you didn't try this either?

My guess as to what's going on is that split initialization works for compound statements and that `local` blocks get converted into compound statements for `--local` compilations.  But that split initialization has never been taught about `local` blocks when

[2021-02-24 22:23] mppf commented on #17252
@e-kayrakli - there is already an `iteratorRecord` argument - that is why `" ".join(mylist.these())` works. It seems to me that we might want to allow passing something "iterable" to an `iteratorRecord` argument in addition to the iterator itself.

[2021-02-24 22:24] mppf commented on #17252
See https://github.com/chapel-lang/chapel/blob/5ff7aa3d0e786ed3a4c500d73b7d8f8a1d09bd4b/modules/internal/String.chpl#L1066-L1068

[2021-02-24 22:30] mppf commented on #17255
Yeah. It only has one value - so it's not particularly useful to talk about `==` on it unless it can compare across types.

I don't think we have to do this or anything, it's just something I assumed would work and then did not. Sometimes that leads to an interesting language design improvement. I didn't see or recall discussion of it before.

It came up when I was using a `none` value as a placeh

[2021-02-24 22:37] e-kayrakli commented on #17252
Ooops, thanks for reminding me of that.

[2021-02-24 22:43] mppf commented on #13271
Yeah, it sounds likely. I don't think it'd be hard to extend it to local blocks.

[2021-02-24 23:04] mppf commented on #17177
In the spec, https://chapel-lang.org/docs/master/language/spec/task-parallelism-and-synchronization.html#synchronization-variables

(where Primitive Types includes `string`)

The fact that the spec says that `sync string` should work gives me some pause, but if we are trying to not support things that have "more than a single logical value" as `sync` / `single` then IMO that rules out `shared` as

[2021-02-24 23:06] bradcray commented on #13271
I think you're right and that I just have.

[2021-02-25 00:03] vasslitvinov opened #17262 "CG: semantics of 'implements' with a class"
Main issue: #8629

If `C` is a class and IFC is an interface, what does it mean to declare that C implements IFC?
[code]

For example:
* each of `owned C`, `shared C`, `borrowed C`, `unmanaged C` implement IFC
* the above, plus their nilable counterparts
* only `borrowed C`
* disallowed, the user must specify memory management explicitly

[2021-02-25 00:45] bradcray commented on #17262
Given that we don't define fields and methods on specific flavors of a class C, but on the class overall, I'd expect it to be bullet two:

Are there cases where it makes sense to associate it with only some flavors of the class?  I'm having trouble imagining one.

[2021-02-25 04:19] cassella commented on #13271
@bradcray Well, I didn't try that either because I didn't try it at all.  I just looked at all the cases in the issue and thought that wanting a variable initialized inside a block to be visible outside the block was more or less the motivating case for split init, and so assumed it'd work.

[2021-02-25 05:09] cassella opened #17264 "Can't create array over int(8) domain with more than 127 elements"
### Summary of Problem

**Source Code:**

[code]

[code]

I added a `writeln(size)` to `ChapelBase.chpl`, which reports `-128`.

It works if hi is `0x7d`, reporting a size of `127`.

**Associated Future Test(s):**

None yet.

### Configuration Information

[code]

[2021-02-25 07:06] damianmoz commented on #17132
.... I too would like to advocate strongly for maintaining the status quo here.

Also, has anybody given any consideration to my long ago suggested use of A[i **..** j **::** s] as a more concise alternative of A[i  **..** j **by** s].  The mods to the compiler are trivial. Then again, there have been strided slices i **:** j **:** s since at least the late 70s in fringe languages and (with that s

[2021-02-25 12:52] king-11 commented on #17178
@bradcray the write up is changing the procedure changes the ```quickSortImpl ```
its something like this

[code]

[2021-02-25 12:53] king-11 commented on #17178
this will reduce the auxiliary space needed for recursive calls in the case of ```hi-lo < 300```
for the forall loop I haven't applied the implementation but we can think about the memory vs time conditions that will change here what will be your suggestion ?

[2021-02-25 17:34] #17156 closed

[2021-02-25 17:35] e-kayrakli commented on #17201
I was thinking more like:

[code]

which would avoid going through `_instance` for fields of that that's used often.

---

This field inlining discussion got me thinking, though... Should/could that be a user-driven feature?

[code]

would bring everything in `_instance`, into the `_array` type.

[2021-02-25 18:17] bradcray commented on #17264
Thanks for filing this, Paul.  I hit this recently as well (but apparently didn't file an issue for it?).  Potentially obvious, but I believe the core issue is that we tend to use `idxType` to store/compute on sizes, in part because I think the `.size` query on arrays tends to return `idxType` currently.  We've recently been talking about changing `.size` queries to always return `int` by default,

[2021-02-25 18:20] bradcray commented on #17132
For context, @damianmoz is referring to issue #15906 here.

[2021-02-25 18:36] bradcray commented on #17201
Ah, I see.  But wouldn't we need the integer offset and multiplication fields as well, in order to make this work?

It seems to me that this could lead to major challenges about how methods defined on `_instance` would be implemented, particularly in the presence of dynamic dispatch.  It seems fairly terrifying to me.

[2021-02-25 18:49] mppf commented on #17259
I think `first` and `last` just need the same return intent overloading that `proc ref this() ref` / `proc const ref this() const ref` use.

[2021-02-25 19:14] king-11 commented on #17178
![Screenshot_20210225_234216](https://user-images.githubusercontent.com/52061363/109204533-79c5ba80-77cb-11eb-8eb3-aab8944c4d84.png)

script used
[code]

I got on average better results in terms of time with tail optimization but am not able aware as to how I can check memory optimization any help on that will help.

[2021-02-25 19:23] e-kayrakli commented on #17201
Right right. I omitted them for brevity. Basically store refs to *some* fields of _instance.

Yeah, I see that it can be too challenging to implement.

[2021-02-25 19:36] leekillough commented on #17187
My preference is for 2 except that we can't throw errors in `init()` right now. The `new regexp()` makes it sound like an expensive operation, like you're allocating something.

My second choice is 3, since it requires `regex[p].compile()` instead of just `compile()`, and I prefer long qualified names to refer to types instead of modules.

If we stick with 1, is there a way to prevent `compile()`

[2021-02-25 19:41] leekillough commented on #17226
I think we should should add a `regex_` prefix to these methods if we keep them. I agree with Brad and Engin that nothing in `"Bradford".search("Brad")` indicates it's a regex search. `"Bradford".regex_search("Brad")` would be more clear. I don't mind having to go through the deprecation process.

[2021-02-25 20:04] leekillough commented on #17222
What is the process for renaming modules or types?

With types we cannot mark them as deprecated right now ( https://github.com/chapel-lang/chapel/issues/14396 ), but we can use type aliases to keep the old name around, as in:
[code]

Is there a way to mark a module as an alias of another module, or to export all symbols in one module inside another? Because I don't think this will work:
[code]
Al

[2021-02-25 20:10] e-kayrakli commented on #12325
https://github.com/chapel-lang/chapel/pull/17212 resolved this to an extent by removing the `chpl__iterLF` tuple from the equation. But that PR didn't go all the way removing tuples for zip clauses, so there are still some cases that this issue persists. https://github.com/Cray/chapel-private/issues/1784 has list of cases where we still have tuples for zip clauses, and I believe fixing those will

[2021-02-25 20:21] mppf commented on #17241
In 1.22, the formal is a ref to a slice array, and the formal-tmp is a DR array.
But now, the formal-tmp (at the call site) is a DR array but the formal in f is a slice array. We need to arrange for the formal to be a DR array.

[2021-02-25 20:28] bradcray commented on #17222
Others are probably more experienced here than I am, but to get a quick response out:  To deprecate a module, I'd probably just do a code clone and then add a `compilerWarning()` to the old module's top-level statement list that refers to the new module.

To deprecate a type, I believe you can create a paren-less type function that returns the new type and generates a deprecation warning:

[code]

[2021-02-25 20:29] leekillough commented on #17220
I think that unless we use POSIX regular expressions, we are going to bound to the syntax and features of whichever library we choose, and will be locked into supporting them. I don't think we can simply "import" an RE package and have it work with a universal interface and syntax in Chapel.

POSIX extended regular expressions are only slightly "extended" from POSIX basic regular expressions, by s

[2021-02-25 20:47] lydia-duncan commented on #17222
Probably not an identical case, but I added deprecation warnings for the IO module when we made it no longer included by default.  Here's the PR that removed those (which I found faster than the one that added them): https://github.com/chapel-lang/chapel/pull/15500

[2021-02-25 20:58] leekillough commented on #17222
Could you use `config` variables to do something like preprocessing, ala:
[code]
Could some config variable be used to create the two modules from the same source?

[2021-02-25 21:01] bradcray opened #17272 "Local blocks thwart copy elision"
In https://github.com/chapel-lang/chapel/pull/17258#pullrequestreview-598571497, @mppf points out that copy elision is currently thwarted by local blocks (for `--no-local` compilations) in a way that compound statements are not, and that the two should be treated more similarly.  The following test exhibits this:

[code]

The action here is to update the compiler's copy elision analysis to treat l

[2021-02-25 21:02] #13271 closed

[2021-02-25 21:05] bradcray commented on #17222
Chapel doesn't have textual substitution as part of the pre-processor.  But if you want to avoid the code clone, I believe that you should be able to re-export a module's symbols by doing:

[code]

[2021-02-25 21:23] dlongnecke-cray commented on #17214
Initial observation...

[code]

I consistently get a segfault on `-nl 12` or higher.

Bug on resize? Let's see...

[2021-02-25 21:34] vasslitvinov opened #17273 "CG: how to ensure consistent implementation of an interface for a data structure?"
Main issue: #8629 &nbsp; &nbsp;  related: #10802  &nbsp; &nbsp; inspired by https://youtu.be/LIYkT3p5gTs?t=1068

If a data structure is created with one implementation of an interface, how to ensure it is always used with that implementation rather than with some other implementation?

Here is an example where this is violated:
[code]

[2021-02-25 21:40] leekillough commented on #17222
Thanks; that's much better than cloning code.

[2021-02-25 22:10] leekillough opened #17274 "Regular expression flags/options need to be handled by readThis() and writeThis() methods"
Right now the regular expression flags/options are not reproduced when using the `readThis()` and `writeThis()` methods.

[2021-02-25 22:41] lydia-duncan commented on #17218
Turns out that fixing this case ended up being pretty straight-forward, but a variant I made (calling a standalone operator from a method on a type that happens to define that operator as a method) encounters a slightly more complicated issue.  Still have plenty of time to work on this, though

[2021-02-25 22:49] zhihuidu commented on #17214
how about you replace
for loc in Locales do on loc
with
coforall loc in Locales
so we can check what happens when add in parallel?

[2021-02-25 23:41] zhihuidu commented on #17214
use Set;
use Random;
proc test2() {
  writeln('T2');
  var st = new set(int,parSafe = true);

  var R = new owned RandomStream(int, 1);
  coforall loc in Locales  with (ref st){
    on loc {
        coforall i in 0..(R.getNext())% 100     with (ref st) {
            st.add(here.id*R.getNext());
        }
    }
  }

  writeln(st);
}
test1();
test2();
@dlongnecke-cray Based on your test code test1()

[2021-02-25 23:55] zhihuidu commented on #17214
proc test2() {
  writeln('T2');
  var st = new set(int,parSafe = true);

  var R = new owned RandomStream(int, 1);
  coforall loc in Locales  with (ref st){
    on loc {
        coforall i in 0..max((R.getNext())% 10,5)     with (ref st) {
            st.add((here.id+1)*(R.getNext()%100));
            writeln("My locale=",here.id," i=",i, "  set=",st);
        }
    }
  }

  writeln(st);
}

node67

[2021-02-26 01:54] leekillough opened #17275 "Compiler segfault when catch filter type is returned from a function"
### Summary of Problem

Compiler segfault when catch filter type is returned from a function

It does not matter if the function has parentheses or not.

### Steps to reproduce

**Source Code:**

[code]

**Compile command:**

[code]

**Execution command:**

[code]

[code]

`catchStmt` is `nullptr`.

**Associated Future Test(s):**

n/a

### Configuration Information

Trunk

[2021-02-26 02:29] leekillough commented on #17275
This bug was discovered when testing `Regexp` name migration:
[code]

[code]

[code]

[2021-02-26 03:48] zhihuidu commented on #17214
login-1-56 examples >: ./set -nl 16
T1
{(c = {x = 5}), (c = {x = 0}), (c = {x = 2}), (c = {x = 13}), (c = {x = 7}), (c = {x = 11}), (c = {x = 15}), (c = {x = 9}), (c = {x = 6}), (c = {x = 1}), (c = {x = 8}), (c = {x = 3}), (c = {x = 14}), (c = {x = 12}), (c = {x = 10}), (c = {x = 4})}
T2
the up bound =14
My locale=0 i=1 add 62  set={-6, 28, 62}
My locale=0 i=12 add -6  set={-6, 28, -75, 62}
My loc

[2021-02-26 03:51] zhihuidu commented on #17214
proc test2() {
  writeln('T2');
  var st = new set(int,parSafe = true);

  var R = new owned RandomStream(int, here.id);
  coforall loc in Locales  with (ref st){
    on loc {
        var num=max((R.getNext())% 30,5);
        writeln("the up bound =", num);
        coforall i in 0..num     with (ref st) {
            var x=(here.id+1)*(R.getNext()%100);
            st.add(x);
            writeln("

[2021-02-26 08:49] souris-dev opened #17277 "Method for asserting Errors"
The current `UnitTest` library in Chapel does not have any function to assert the throwing of errors (to check which error is thrown) presently.

This is a feature request to have a function called `assertError()` or `assertThrows()` that can take in a function as the first argument, and the class type (an error class type) as the second argument. It checks whether the function given as an argumen

[2021-02-26 10:41] souris-dev opened #17278 "Support for C unions by c2chapel"
Currently, the `c2chapel` tool does not recognize a C union while converting definitions in C headers to Chapel extern definitions.
On experimentation, it was found that C unions can indeed be treated in a similar way as C structs are treated while working with C interoperability.

Hence, this code, where the C union is treated as a struct (example given by @bradcray) runs as expected:

**File**:

[2021-02-26 10:42] souris-dev commented on #17278
This seems fairly implementable to me, so I'm currently giving it a try. Will open a PR when finished.

[2021-02-26 13:57] mppf commented on #16193
I don't think it's really possible to atomically clone a sync variable with the functions we have. We have to get the full/empty state and also the value at the same time. I think we'd need to add something to qthreads to get that to work.

[2021-02-26 17:01] lydia-duncan commented on #17277
I think that would be useful but maybe only when you have a certain condition?  Like, I think something like "if this argument is passed or this condition is met, the function should throw this error" is more useful than "this function has made an instance of that Error type at some point in the body but hasn't necessarily thrown it" or "I see `throw new SomeError` in the body but that block of co

[2021-02-26 17:02] lydia-duncan commented on #17277
Attn: @krishnadey30 for opinions :)

[2021-02-26 17:19] lydia-duncan commented on #17218
I had a break through on the other test case.  Running a paratest with both fixes has shown 90 failures so there's some adjustments that need to be made

[2021-02-26 19:06] bradcray commented on #17278
Great, thanks @souris-dev!  If you run into challenges, let us know and we'll try to find someone to help.

[2021-02-26 19:41] mppf commented on #17272
I've created PR #17285 to fix this but it still needs testing.

[2021-02-26 19:42] dlongnecke-cray commented on #17214
@bradcray So adding an `on` block to `set.add()` will fix the issue, but it causes an extra copy to be made every time something is added to a set.

The same issue exists for `map` as well.

In order to fix this, we would have to support: https://github.com/chapel-lang/chapel/issues/15808

Alternatively, for the time being we could either:

- Just introduce the extra copy
- Add a halt that suggest

[2021-02-26 19:52] bradcray commented on #17214
Does adding the `on` cause the copy to always happen, or to happen only when the `Set` is remote?  If "always", would putting the on-clause into an "if local ... else handle the remote case..." conditional get rid of the copy for the local case?  (i.e., would the copy happen locally to the else-clause, or would it happen always because the compiler would have to be conservative about the condition

[2021-02-26 20:07] mppf commented on #17214
@dlongnecke-cray - can't we use the https://chapel-lang.org/docs/master/modules/standard/Memory/Initialization.html#Initialization.moveInitialize and friends to do this? I think the problem in issue #15808 is just that we probably want the library author to have to opt in to it. And Memory.Initialization allows that today, doesn't it?

[2021-02-26 21:26] dlongnecke-cray commented on #17214
I tried your suggestion and rewrote `_addElem` to make use of `moveToValue`:

[code]

But I still see an `init=` call occurring for the actual of the `_htb.fillSlot()` call.

[2021-02-26 23:24] bradcray commented on #17178
@king-11: Looks intriguing...  I don't know that there's a good/easy way to check the memory utilization, or that it's a major concern: Chapel tasks typically have space pre-allocated for their callstacks, so usually it's a matter of whether we exceed the callstack or not rather than an opportunity to save memory.  But let me tag @ronawho and @gbtitus here, who know our runtime best, to see whethe

[2021-02-26 23:53] bradcray commented on #14226
As part of my weekly inbox cleaning, I'm filing these.

[2021-02-27 01:27] bradcray commented on #14185
I needed a study break after a long week, so put this together here:  https://github.com/chapel-lang/chapel/pull/17292

[2021-02-27 14:07] 12mohaned commented on #17254
I pulled an open request [here](https://github.com/chapel-lang/chapel/pull/17286).

[2021-02-27 14:33] king-11 commented on #17178
@bradcray yeah I was thinking about changing the testing program to run 100 quicksorts sequentially and then printing out the average. And you it be alright if I setup a draft PR so that others can also provide ideas if necessary ?

[2021-02-28 12:16] souris-dev opened #17294 "Docs for interoperability should include C unions"
While reading up on support for C unions for C interoperability in Chapel, I found that the docs at https://chapel-lang.org/docs/language/spec/interoperability.html mention how C structs are to be treated, but do not mention anything about how C unions should be treated.
On experimentation, it was found that they can be treated the same way as C structs (by declaring an `extern record` for the C u

[2021-02-28 13:06] souris-dev commented on #17277
@lydia-duncan I agree with the part about having something like what you described (if a certain condition is met/certain argument is passed, assert if the given type of error is thrown) would be quite useful.

As I see it, what we probably want essentially is to assert if that passed function throws the given error type when it is run with the provided conditions - just having a `throw new SomeEr

[2021-03-01 01:33] leekillough commented on #17203
In C++11 there are inline namespaces which inject all of their symbols into the enclosing namespace.

We could have something like:
[code]

[2021-03-01 02:12] leekillough commented on #17081
[Link to paper](https://greenlab.di.uminho.pt/wp-content/uploads/2017/10/sleFinal.pdf), published in 2017

[Website on study](https://sites.google.com/view/energy-efficiency-languages)

[Related publications](https://greenlab.di.uminho.pt/publications/)

[2021-03-01 14:58] #17241 closed

[2021-03-01 16:41] gbtitus commented on #17178
@bradcray is right -- our task stacks are fixed-size. Depending on architecture and your Chapel configuration, however, sometimes the memory pages they reside on have to exist even if they're not used and sometimes they don't. At least in the latter case, eliminating tail recursion could actually result in fewer memory pages being touched. There are a lot of details involved, but certainly I would

[2021-03-01 17:27] bradcray commented on #17178
Opening draft PRs with intriguing code changes is never a problem, thanks for checking.

[2021-03-01 17:32] bradcray commented on #17294
@souris-dev: This sounds good to me.

[2021-03-01 20:02] #16971 closed

[2021-03-01 20:29] mppf commented on #9881
When looking at PR #17287 I realized that there are actually many different ways to use a `sync bool` as a lock. I'd probably expect that "full" means the lock is taken, like this:

[code]

However, I've also seen code that considers "empty" to mean the lock is taken, like this:

[code]

Unfortunately, if these 2 conventions are mixed, the result is lots of errors in locking.

[2021-03-01 20:38] #17163 closed

[2021-03-01 21:07] piyush0411 commented on #7750
Hi @mppf Sir
I wanted to know if this issue is still not resolved. I would like to work on this issue. Can you please give me some pointers on how to start with this?
Thanks!

[2021-03-01 22:17] bradcray opened #17306 "Should CHPL_REGEXP be called CHPL_RE2?"
This is somewhat related to issue #17220 and also to #17222: Assuming that our Regex module continues to be a standard (rather than package) module and based on RE2, should we should consider changing the `CHPL_REGEXP` environment variable to `CHPL_RE2` and the values to be `bundled` vs. `none`, to be more similar to other third-party packages we rely upon?  The current `CHPL_REGEXP` variable with

[2021-03-01 22:19] bradcray commented on #17306
I think @vasslitvinov asked a question which either proposed this idea or suggested it to me (not sure which).  Tagging @leekillough on this since he's been running with these topics and had already started looking into making CHPL_REGEXP into CHPL_REGEX.

[2021-03-01 22:42] #16766 closed

[2021-03-01 22:55] #17272 closed

[2021-03-01 23:05] bradcray commented on #14185
This is resolved due to Vass's POI changes (in the last release, I believe?)

[2021-03-01 23:05] #14185 closed

[2021-03-01 23:15] lydia-duncan commented on #17306
I'd prefer having it be `CHPL_REGEX` rather than `CHPL_RE2`, and I think doing so makes it more obvious to the user that they need it when using the module.  If we're going to rename the environment variable, I'd rather it be kept in line with the module name unless we plan on having the Regex module call out to different implementations under the covers (and in that case I'd prefer it to affect t

[2021-03-01 23:28] bradcray commented on #17306
For the sake of argument:

Variables that take multiple settings, some of which correspond to third-party packages:

* CHPL_COMM=none, gasnet, ofi, ugni
* CHPL_TASKS=fifo, qthreads (and in the past, massivethreads, nanox)
* CHPL_MEM=cstdlib, jemalloc

Variables that take bundled vs. none settings, some of which correspond to third-party packages:
* CHPL_GMP=none, system, bundled
* CHPL_HWLOC=none,

[2021-03-01 23:37] lydia-duncan commented on #17306
I would argue that the difference is that regular expressions are a more commonly known language feature than any of the other options

[2021-03-01 23:41] dlongnecke-cray opened #17307 "Copy elision does not occur for variables declared in some if-blocks"
### Summary of Problem

Copy elision does not seem to occur for variables declared inside an `if` block when they are passed to an in-intent function within the scope of the block (and this is their last use).

### Steps to Reproduce

**Source Code:**

[code]

Output:

[code]

[2021-03-01 23:43] dlongnecke-cray commented on #17214
I made https://github.com/chapel-lang/chapel/issues/17307 to capture the copy elision problems I'm experiencing.

[2021-03-01 23:45] mppf commented on #17307
It looks like a bug to me

[2021-03-01 23:47] bradcray commented on #17306
What does that matter, though?  (given that most users will never have a need to set the variable).

[2021-03-01 23:49] vasslitvinov commented on #17306
To me:
* CHPL_REGEX means "which implementation is used for the [standard] Regex feature"
* CHPL_RE2 means "which implementation is used to the RE2 package" [which may or may not relate to the Regex feature]

[2021-03-01 23:53] bradcray commented on #17306
@vasslitvinov: I agree with you (but am not sure whether you're agreeing with me or not).  If we expected to support (or be able to support) multiple Regex implementations for the standard Regex feature/module, then I agree it should be CHPL_REGEX.  But I believe our implementation is fairly hard-coded to RE2 and that the nature of regex libraries each having their own syntax would make it hard to

[2021-03-01 23:58] vasslitvinov commented on #17306
If we indeed tie the Regex module to RE2, then I can see that CHPL_RE2 makes more sense. CHPL_REGEX would be a binary flag (none or re2) vs. CHPL_RE2 could have more possible values.

[2021-03-02 16:32] lydia-duncan commented on #17306
Of these, only GMP is also a module.  And GMP matches its module name.  We seem to think that Regex is a better name for the module than RE2 despite the fact that it is fairly tied to the RE2 implementation (which I agree with).  My position is based on the argument that Regex is a better name for the module and the argument that consistency is beneficial.  It seems we disagree on *what* it should

[2021-03-02 17:46] #17218 closed

[2021-03-02 17:52] mppf commented on #16193
I think it'd be reasonable to close this issue but we should probably create specific issues for some of the future work listed in PR #17287 and link those from here.

[2021-03-02 18:06] bradcray commented on #17306
I agree with that.

That doesn't carry a lot of weight with me, in part because GMP isn't a module that we'd encourage most users to use in practice.  At this point it's more like the underlying (non-Chapeltastic) implementation strategy for the "BigInt" module, in much the same way that RE2 is the underlying implementation of Regex.  The difference is that we chose to expose the low-level GMP int

[2021-03-02 18:36] lydia-duncan commented on #17306
A user starts with the quickstart settings (which explicitly sets `CHPL_REGEXP=none` today) as a way of getting up and running with Chapel.  They're experimenting, they're playing around - they haven't gotten to the phase where they feel like turning everything on yet and using the normal setchplenv script.  Maybe they're looking at libraries to see what they can do, maybe they just have a toy reg

[2021-03-02 19:19] e-kayrakli commented on #16841
A somewhat related case that I bumped into today (which I think is more obvious that we should support?):

[code]

[2021-03-02 19:36] bradcray commented on #16841
I'd agree we should probably be more consistent about `new C()` and conditional expressions that happen to generate `new C()` expressions.  I'm not sure which decision we should make about them, though.  Is there value in creating something and dropping it on the floor?  (where, at times at least, we've given the compiler permission to reclaim the object immediately after its creation since it's s

[2021-03-02 19:40] mppf commented on #16841
If we make `new C();` no longer a valid statement maybe we don't have to fix the memory leaks it causes :)

[2021-03-02 20:04] vasslitvinov opened #17317 "Lifetime of a 'const' borrow variable to ignore the variable's scope?"
This issue proposes that given:
[code]
the lifetime checker ignores the lexical scope of `b`, using only the scope of `RHS` as b's scope when reasoning about uses of `b`.

For example:
[code]
currently produces an error because the lifetime of `b`, and therefore of `b.next`, is considered to be the then-block of the if-statement, and so is shorter than the lifetime of `curr`. However, this restric

[2021-03-02 20:05] e-kayrakli commented on #16841
(Actually I can't remember if we already fixed those).

I have a fix in the works :)

[2021-03-02 20:10] bradcray commented on #16841
Reminding myself of the conversation to-date, I'd be more inclined to make `new C()` an illegal standalone statement than to permit conditional expressions to be standalone statements.

[2021-03-02 20:52] leekillough commented on #17306
I prefer `CHPL_REGEX` instead of `CHPL_RE2`.

But whatever we change `CHPL_REGEXP` to, it looks like there will be a lot of difficulty changing it if we want to preserve backward-compatibility, which is why `CHPL_REGEXP` was not changed in #17276.

[2021-03-02 21:28] mppf commented on #5884
I just noticed this again with targetLocales.

[2021-03-02 22:18] dlongnecke-cray commented on #17307
Assuming that I'm testing `test1`:

[code]

I think the problem might be that copies are never elided from the `else` block, see `compiler/passes/splitInit.cpp`:

[code]

When running over `test1`, I can see that the `ifMap` has a valid copy elision point in it, but it is never migrated up into the parent map because the `while` loop never runs.

Can we adjust the logic of this loop so it runs eve

[2021-03-02 23:44] stonea opened #17319 "Internal error: list of lists passed to proc"
### Summary of Problem
I'm getting the following "internal error" message when compiling a program that calls into a procedure taking a list of lists of ints as an argument.

[code]

### Steps to Reproduce

**Source Code:**

[code]

**Compile command:**
`chpl bug.chpl`

### Configuration Information

I cloned the Chapel repos a couple weeks ago and compiled it locally on my machine. I'm running it

[2021-03-02 23:51] e-kayrakli commented on #17319
While any error that shows as you report is a bug that we need to fix in the compiler, I think the code in the sample is erroneous and the compiler should report an understandable error.

This line

[code]

should be

[code]

where the argument you pass to `new list` must be another type, whereas `new list(int)` as you pass is a value.

[2021-03-03 01:24] bradcray commented on #17319
Thanks for the quick analysis, Engin.  Do you have a grasp on what a more generalized title for this issue should be?  (e.g., "passing value where type expected causes internal error" seems in the right ballpark, but maybe still too broad?  Unless it's truly that bad.

[2021-03-03 12:55] tushargoyl123 commented on #6026
hi
can i work on this issue
I am new here Can you please guide me through...

[2021-03-03 13:08] mppf opened #17323 "internal error when defining a secondary initializer on missing type"
### Summary of Problem
We see an internal error with the below code but it should rather be a user-facing one.

### Steps to Reproduce

**Source Code:**

[code]

[code]

**Associated Future Test(s):**

none yet

[2021-03-03 13:09] mppf commented on #17323
Noting that the internal error is the same one as in #15718.

[2021-03-03 13:37] mppf commented on #17225
I wanted to understand what the current situation is so I created this test case. The result wasn't quite what I expected.

[code]

The output is
[code]

Meaning:
 * the tertiary `init` didn't prevent the generation of the compiler-generated `init`; the tertiary `init` and the compiler generated one are applying according to visibility
 * the tertiary `==` did prevent the generation of the compile

[2021-03-03 13:53] mppf opened #17324 "programming mode in which communication is decorated?"
The way that Chapel has implicit communication between locales can be a benefit and a hazard. It is a benefit because code can be more easily adjusted (say, changing the distribution). It is a hazard because when reviewing the code in a performance-critical sections it is not always easy to see where communication occurs.

One answer to seeing where communication occurs is to have tooling (countin

[2021-03-03 14:56] mppf commented on #7750
hi @piyush0411 - the task here is to do some experiments to understand if a significant portion of the resolution time in compilation is taking place in `evaluateWhereClause`. I'd outline specific steps like this:

 * get started with Chapel so you can compile and run programs
 * compile a test program with `--print-passes` to see the timing information - e.g. `chpl --print-passes examples/hello.c

[2021-03-03 16:32] lydia-duncan commented on #6026
Hello!  This is a design issue so part of taking on this effort is gathering opinions on what the right course of action should be.  Since we're coming up on a release, folks probably won't have time right away, but you're certainly welcome to start the conversation :)

What are your thoughts on the idea?

[2021-03-03 16:33] lydia-duncan commented on #17323
That's very disappointing, but hopefully an easy fix?

[2021-03-03 16:58] bradcray opened #17325 "Cast operator methods get confusing error about number of formals"
### Summary of Problem

Attempting to make use of the new cast operator support in combination with the new operator method capability, I wrote the following program:

[code]

which generates the following error message:

[code]

which is confusing since it does have two formals.  Moving the cast operator to a standalone operator (rather than a method) solves the problem, but prevents the cast fro

[2021-03-03 17:01] bradcray commented on #17325
@lydia-duncan: In case you're not already aware of this case...

[2021-03-03 17:11] bradcray opened #17326 "Compiler-generated initializers for `sync t` fields should accept `t`"
As part of the effort to deprecate implicit reads/writes of sync variables, initialization of sync variables using other sync also becomes a bit more explicit.  That is, where before one could write:

[code]

Now, the second line requires being written as `var t = s.readFE();` or some other variant, to make the user's intent w.r.t. the full/empty state explicit.  Meanwhile, initializing a variable

[2021-03-03 17:25] e-kayrakli commented on #17324
While being aware that there has been plans to remove `local` statements from the language, personally, I see value in this (I am also not that vocal about removing `local`). I see such statements as a good fit for the multiresolution philosophy, where power-users can use these for preventing performance backslides. `local`/`unlocal` can be thought of as the same level of granularity as explicit c

[2021-03-03 17:32] lydia-duncan commented on #17325
I was not aware of it.  I wonder if it is because technically the function now has four formals (due to the inserted method token and "this" arguments)

[2021-03-03 17:36] bradcray commented on #17325
Could be, though wouldn't that apply to all operator methods?  (or do we not check argument counts for other operator methods?)

[2021-03-03 17:49] lydia-duncan commented on #17325
I don't think we do, but I could be wrong.

[2021-03-03 18:03] vijaya-bhargavi commented on #17317
Hey @vasslitvinov I'm new to chapel and trying to understand your issue.Can you please be little more elaborate on what you are trying to say?
Thank you

[2021-03-03 18:10] dlongnecke-cray commented on #17307
I have a fix for this that I am testing here: https://github.com/chapel-lang/chapel/pull/17321/

[2021-03-03 18:25] #16939 closed

[2021-03-03 19:08] #11101 closed

[2021-03-03 19:08] #15613 closed

[2021-03-03 21:26] mstrout opened #17327 "Propose not supporting first and last methods on sparse domains"
Currently for domains, D.first and D.last, will return the first and last index in a domain respectively based on the order the indices/coordinates are stored in.  This means for a CSR or CSC sparse ordering in LayoutCS, it will return the index/coordinate for the first non-zero in the index array.

The main question is whether we should continue to support this for sparse domains.  If we decide n

[2021-03-03 21:58] bradcray commented on #16841
@e-kayrakli : Asking the question in a different way:  Are there cases that use a standalone `new C();` in a test in compelling ways?

[2021-03-03 22:49] vasslitvinov commented on #17317
Hello and welcome @vijaya-bhargavi !

The current lifetime checker produces an error upon "Assigning a Borrow to something with Longer Scope" as specified in the Lifetime Checker technote: https://chapel-lang.org/docs/master/technotes/lifetimeChecking.html#assigning-a-borrow-to-something-with-longer-scope

My proposal is to not issue this error when this something is a `const`.

Lifetime checking

[2021-03-03 22:53] vasslitvinov commented on #17317
Thinking some more about this, here are some cases when this can be tricky:

* `b` is a `const ref`
* `b` is a part of some data structure (record, array, etc.)

Meanwhile we can apply this proposal only when `b` is a `const` variable, and so `RHS` is its initializing expression.

[2021-03-03 22:59] e-kayrakli commented on #16841
There were only two tests that were bumping into the memleak with `new C`, and neither was realistic tests.

[2021-03-03 23:02] #16925 closed

[2021-03-04 00:26] vasslitvinov commented on #17327
I like the proposal of `.naturalOrder()` iterators.  I consider this-iterators producing a predefined order as "least surprising" behavior, having the user opt-in to the "natural" order". To me this parallels `high`/`low` on ranges returning aligned bounds.

W.r.t. `.first`/`.last`, one route is to define them as compilation errors to avoid confusion. while letting each domain map provide more-spe

[2021-03-04 01:37] mstrout opened #17333 "Design question: Should the serial loop order over a rectangular domain reflect the storage order?"
@bradcray quotes:
“Should a for loop on a dense 2D domain/array always iterate over the indices/elements in the same order (“to make the science of a code independent of the data structure order”), or should a domain map be able to define its own order (“for efficiency”) such that a RMO array would return in RMO, a CMO array in CMO, and an array using tiled memory or a space-filling curve would re

[2021-03-04 04:15] souris-dev commented on #17278
@bradcray I opened a PR a few days back (I wasn't sure if I should be mentioning it here separately, thanks for letting me know about this), would appreciate feedback! Thanks!

[2021-03-04 04:47] cassella opened #17336 "Should chpldoc emit spaces around binary operators?"
Should chpldoc emit spaces around binary operators?  This came up in
#17169, but was deferred to this new issue for discussion.

The three types of approaches are the current behavior (never emit
spaces), the simple alternative (always emit spaces), and various
flavors of sometimes emit spaces.

The test added in that issue has a variety of expressions.  The
no-spaces output:

[code]

Spaces every

[2021-03-04 05:02] cassella commented on #17336
I initially didn't like how spaces-everywhere looks, but it's growing on me.

Though a few cases still feel "off":

1. Exponentiation.
2. In the `make docs` output, the change from `x: real(w/2)` to `x: real(w / 2)`.
3. In the `make docs` output, the change from `x: 1*__mpz_type` to `x: 1 * __mpz_struct`
4. In the `make docs` output, the change from a function argument default value `foo(x, y = si

[2021-03-04 05:10] cassella opened #17337 "The spec lists unary & as an overridable operator, and doesn't list (binary) align or #"
`doc/rst/language/spec/procedures.rst` has a table of operators that may be overridden:

[code]
Should the unary `&` be on that list?  Though I can define an `operator &(x: int)`, I can't invoke it either as prefix or postfix.

The table lists `by`, but not `align`.  I can define an `operator align(x: int, y: int)` and invoke it using infix notation.  Likewise `#`.  Are these intended to be overri

[2021-03-04 05:17] #17307 closed

[2021-03-04 08:23] king-11 commented on #16922
@leekillough I would like to work on this issue if no one else is currently. It will help if you can provide more details as to what needs to be implemented

[2021-03-04 08:43] king-11 commented on #16767
@e-kayrakli I would like to work on this issue is no one else is currently working on it .

[2021-03-04 11:04] piyush0411 commented on #11417
Hi @lydia-duncan Mam
I have started working on this issue and made a pull request #17338
Kindly have a look and review the changes made.

[2021-03-04 14:38] mppf commented on #17337
I thought that `&&` and `||` were also overrideable but I haven't checked.

[2021-03-04 16:09] lydia-duncan commented on #17336
I think I agree on exponentiation and tuple types.  I'm on the fence about case 4 - I think it makes sense in the argument context to keep the line as small as possible but I also won't lose sleep if we decide that special casing it is too much effort

[2021-03-04 16:16] gbtitus commented on #17336
Personally I like spaces around binary operators nearly always.  I'll admit to occasionally writing things like the following, though, to reflect more than two levels of precedence where the alternative would be parentheses which seem overly intrusive:

[code]

Extending things to the unary operators, for me things get a little more complicated in that although I normally don't put a space between

[2021-03-04 16:52] mstrout opened #17339 "compiler bug when use incorrect syntax for anonymous domains (e.g., {0..4},{1..2})"
### Summary of Problem

I used the wrong syntax to specify an anonymous domain and got the following error at compile time:
[code]

### Steps to Reproduce

**Source Code:**

[code]

**Compile command:**

```chpl sparse-matmatmult.chpl```

**Execution command:**

```./sparse-matmatmult```

**Associated Future Test(s):**

I am not aware of any tests in the Chapel's test system that demonstrates this

[2021-03-04 17:15] bradcray commented on #17336
Potentially obvious, but I think the ideal would be to preserve the spacing that the original code used (in saying that, I realize we don't preserve that information well enough to be able to do that presently).  In my code, I like using spaces in some places, not in others, and it's very stylistic / personal / hard to quantify (and I'm probably inconsistent, much as I am with English grammar, pun

[2021-03-04 17:34] bradcray commented on #17337
It wouldn't completely surprise me if the short-circuiting operators (`&&` and `||`) were not user-overloadable since it's challenging to write a user-level routine that lazily evaluates its second operand (and/or unclear whether that lazy behavior should extend to user-defined overloads of these operators or not).

Since Chapel doesn't support unary-`&` (right?), it's not surprising to me that yo

[2021-03-04 17:45] e-kayrakli commented on #17339
Can we have an actual list in a `sparse subdomain` clause? I think this should be the fix:

[code]

[2021-03-04 17:47] e-kayrakli commented on #17339
Also, ideally, we can give a more meaningful error message, but the way we create `chpl__buildSparseDomainRuntimeType` call there makes me think it is a bit more work to get that right.

[2021-03-04 17:52] bradcray commented on #17339
@e-kayrakli : I can't think of a case where we do permit an empty or multi-term list in a sparse subdomain declaration.  I think if this passes testing, it's a step forward (I'd started taking a look at this from the place where the error is occurring to try and understand what the mis-assumption was, but didn't get very far before seeing your comment here).

[2021-03-04 18:00] e-kayrakli commented on #17339
OK. I'll try to get testing this soon.

Yeah, I tried that first and saw that we end up with a dotExpr on an actual list, that doesn't make much sense and gets blown up in an unrelated point in compilation. Which made me think that that direction is a bigger bite than I'd like at this point.

[2021-03-04 18:54] #12092 closed

[2021-03-04 23:17] #12511 closed

[2021-03-04 23:41] leekillough commented on #16922
`strptime()` needs to be totally reimplemented to support parsing the `%f` format. Right now Chapel's `strptime()` is based on C's `strptime()`, which does not support `%f`. In #16384 it was easy to handle `%f`, since we only had perform in-place expansion of `%f` and pass the rest of the formatting to C `strftime()`. In `strptime()`, all of the formatting parsing has to be reimplemented, because

[2021-03-04 23:45] bradcray commented on #16922
@leekillough : I think you know this due to your work on #16384: Is the Python implementation of `strptime()` open-source, and could it be used as a model for Chapel's implementation?

[2021-03-04 23:53] leekillough commented on #16922
[Link to the Python source code](https://github.com/python/cpython/blob/63298930fb531ba2bb4f23bc3b915dbf1e17e9e1/Lib/_strptime.py) is in the OP.

It is fairly complex regular expression pattern matching, which probably wouldn't run very fast on Chapel as things sound now. We also have to deal with `string` vs `byte`, Unicode, etc.

IANAL, so I don't know whether the [license](https://github.com/py

[2021-03-04 23:57] bradcray commented on #16922
D'oh!  So it is, sorry about that.

[2021-03-05 00:38] vasslitvinov commented on #17336
My taste is to use spaces, however I agree that ideally they shouldn't be printed at least in cases 1-3 listed by cassella in https://github.com/chapel-lang/chapel/issues/17336#issuecomment-790293035 and also in exponentiation.

[2021-03-05 00:44] #12736 closed

[2021-03-05 01:12] #17339 closed

[2021-03-05 07:24] cassella commented on #17337
It turns out `&&` and `||` can not be overridden -- parse error writing `operator &&(` or `operator ||(`.

I'll open a PR bringing the spec into alignment with the compiler.

[2021-03-05 12:12] 12mohaned commented on #17179
I believe the only case `channel.writeln()` would return false is to try to write on a read-only channel, else it would return true, I suspect it is an easy fix, It will test further and push changes.

[2021-03-05 14:05] mppf commented on #17179
@12mohaned - it should throw in that case. It should only be returning `false` when the file reaches end of file and nothing is read.

[2021-03-05 15:35] king-11 commented on #16767
I had a basic implementation of ```replaceDirname``` and ```replaceBasename``` ready but for ```replaceExt``` I was using ```splitExt``` but am getting an undefined call to function 🤔 not able to proceed further because of it.

[2021-03-05 15:58] #17337 closed

[2021-03-05 17:33] e-kayrakli commented on #16767
Hi @king-11 -- Thanks for the effort! Few things to note:

- We are in the process of getting our next release out the door, so it is a bit busy for the developers these days.
- I would like to get more consensus from other developers, too, before adding this to the Path module. Though, I don't see too much controversy here (having a thumbs-up from @lydia-duncan is a good sign :) ). There might be

[2021-03-05 17:45] king-11 commented on #16767
Yes I have update my branch with master
[code]
I am getting this error even though I checked the ```Path``` Module and ```splitExt``` is present in it synced with master.
```error: Bad identifier, no known 'splitExt' defined in 'Path'```

[2021-03-05 17:51] #17325 closed

[2021-03-05 18:03] lydia-duncan commented on #16767
Does your $CHPL_HOME match the repository where you pulled in the new changes to master?

[2021-03-05 18:03] lydia-duncan commented on #16767
At least one of the versions you wrote in your comment is covered by a test in the testing system, so I think this is likely to be a configuration issue on your end.

[2021-03-05 18:14] king-11 commented on #16767
@lydia-duncan I will try configuring my Chapel again and let you know with the implementation might have messed up the config I guess 😅

[2021-03-05 18:49] king-11 commented on #16767
Got It working after a bit of cleanup I had a doubt about ```replaceExt``` shall we raise an error in absence of file/extension in the original Path because for the other two functions we can just join the paths as said by @e-kayrakli and replace or add the new dirname/basename

[2021-03-05 19:08] e-kayrakli commented on #16767
As I have alluded to in the OP, we might want to have `withExt` instead of `replaceExt` to make any behavior around those edge cases cleaner:

As you suggest we might want to have `replace*` but in case the relevant part doesn't exist throw.

There's also a solution in between these two: name the functions `replace*`, but make them add the relevant part if it doesn't exist.

[2021-03-05 19:17] king-11 commented on #16767
So in the case of ```replaceDirname``` and  ```replaceBasename``` we can add the relevant part if it doesn't exist or replace it if it does and in case of ```replaceExt``` in absence of a basename we throw but if we have a basename then we either add the ext or replace.

I will start on this implementation any changes that you might want to suggest @e-kayrakli @lydia-duncan .

[2021-03-05 19:45] e-kayrakli commented on #16767
I haven't really considered the case with `replaceExt("/foo/bar/", "txt")` where there's no basename. What you suggested makes sense to me but it requires more discussion, that I doubt will happen today because of the release crunch, as I mentioned :) I'm planning to follow up on those details some time next week.

[2021-03-05 19:48] king-11 commented on #16767
😁 sure got the point I will be patient and till then work on other semantics

[2021-03-05 22:36] leekillough commented on #7524
@buddha314, @mppf: Does this issue need to be left open, or does `list` mentioned by @benharsh on SO resolve it?

[2021-03-05 23:51] e-kayrakli opened #17359 "Postfix-! on loop indices or iterables"
It would be nice to get non-nilable items from an iterable that yields nilables.

[code]

where, today you can achieve the same thing with something like:

[code]

[2021-03-05 23:58] bradcray commented on #17359
That's an attractive pattern, though it seems as though it may be somewhat challenging to implement?  (thinking out loud:  Would we have `!` when applied to an array return an array view with a different element type?  Would we support a `!` iterator family for arrays that forwarded to the normal iterators?)

[2021-03-06 00:20] #17214 closed

[2021-03-06 00:27] bradcray commented on #17306
So to make sure I'm not missing anything: it's not as though they'll have any troubles setting the variable or determining that they need to set it, it's just that the name doesn't match the module which might cause them to puzzle over it.

I'm not sure I completely buy that the variable name is going to be the thing that causes them to think about this.  The first sentence of the Regex[p] module'

[2021-03-06 01:16] e-kayrakli opened #17362 "`use ... only BaseClass` prevents resolution of base's fields on unmanaged instances of a child type"
If you have a `BaseClass` on its own file:

[code]

and a `ChildClass` that inherits it from a different file, but limits the `use`
statement to have `only BaseClass`:

[code]

unmanaged instances of the `ChildClass` cannot resolve the field inherited from
the `BaseClass`.

It works if:

- the instances are owned or shared
- the file is `use`d as a whole
- you use Chapel 1.23.0 (I am using bb2a777

[2021-03-06 01:19] dlongnecke-cray commented on #17214
Hi @zhihuidu, #17346 should hopefully have fixed your issue. If it has not, feel free to open this issue back up and ping me.

[2021-03-06 01:31] #17294 closed

[2021-03-06 03:36] cassella commented on #17336
"Just as the user wrote it" is particularly appealing (to me) for precedence in boolean expressions e.g. `a&&b || c&&d`.  But it will be particularly tricky -- not just needing the spacing information, but also whether the user had any (semantically) unnecessary parentheses.  Plus, "as written" often includes extra spaces to line things up with e.g. the variable defined on the previous line.  And

[2021-03-06 08:28] cassella commented on #17336
Those tuple types are not actually easy to handle, since in `type t = 1*__mpz_struct` we don't have `printingType` set.  That seems to be set only for something like the type part of `var x: 1 * __mpz_struct`.

Happily, what's actually written in `GMP.chpl` is

[code]
so we meet the "spacing that the original code used" standard there.

(In retrospect, it's clear we didn't have `printingType` set

[2021-03-06 12:19] zhihuidu commented on #17214
@dlongnecke-cray thanks and the latest version can run the test successfully.

[2021-03-06 13:41] vijaya-bhargavi commented on #17317
Sure! I'll try and get back to this after I'm reasonably comfortable in dealing with lifetime checkers :)

[2021-03-07 03:24] cassella commented on #17336
Another consequence is a change to chpldoc's representation of complex numbers `0.0+1.0i` -> `0.0 + 1.0i`

[2021-03-07 06:09] vijaya-bhargavi commented on #17179
stdout.writeln returns bool. So does it mean that the writeln function should return the output of stdout.writeln?

[2021-03-07 06:44] shubhamkmr04 commented on #17362
The following issue is not appearing in my local. Can you please check the attached files or did I do something wrong?
![Screenshot from 2021-03-07 12-10-41](https://user-images.githubusercontent.com/50761978/110231562-7a362200-7f3e-11eb-8246-4013f547a649.png)
![Screenshot from 2021-03-07 12-10-43](https://user-images.githubusercontent.com/50761978/110231567-7bffe580-7f3e-11eb-9196-45e8d765e351.pn

[2021-03-08 05:41] shubhamkmr04 commented on #17336
@cassella I am a new contributor. I have read the above messages. Can I help with something in this issue?

[2021-03-08 06:28] vasslitvinov opened #17368 "A confusing error "cannot assign" for a 'ref' task-private variable"
The following code:
[code]

produces an error `cannot assign to const variable` on the line `myRef = 2;`.

This is probably caused by the fact that `outerVar` itself is passed by default intent and so cannot have non-const refs to it. Even if so, the error should point to that directly, rather than waiting for an assignment.

If the assignment is not there, the error does point to the with-clause.

[2021-03-08 07:18] cassella commented on #17336
Hi @shubhamkmr04, thanks for the interest!  I've got a PR for it almost ready though.

[2021-03-08 15:16] mppf commented on #7524
@leekillough - it should remain open. Actually it worked at one point to use `list` but we renamed that to `LinkedList` and then created a new `list` module which does not support JSON I/O.

I would expect this to work if the issue were fixed:

[code]

I'm sure we have an issue somewhere about how the I/O system needs to be better factored, so that something like I/O format (JSON or TOML or whatev

[2021-03-08 15:35] mppf commented on #17179
@vijaya-bhargavi - yes, that is what I would expect.

[2021-03-08 19:13] lydia-duncan commented on #17362
Huh, that's weird.  I wouldn't expect unmanaged to fail if the other cases work.  Weird.  I'll add this to my todo list.

[2021-03-08 19:24] e-kayrakli commented on #17362
I confirm that my code in the OP works on 1.23. I updated the post.

@shubhamkmr04 -- note that you also have some differences from the code that I have posted above (can see an `import`, a module level variable in `BaseModule`). While I can't say how they can change the behavior, but by definition bugs are generally weird edge cases, and small changes can impact the behavior unexpectedly.

[2021-03-08 19:33] bradcray opened #17375 "Extend support for `extern` unions to LLVM back-end"
It seems that the ability to interact with `extern` C union types in Chapel that @souris-dev documented in PR #17310 doesn't currently work with the LLVM back-end, which isn't completely surprising.  This issue is to capture that difference in behavior, where the goal would be to have the `test/extern/unions` directory work with either back-end (currently, it's skipped for `--llvm` compilations).

[2021-03-09 09:30] prashanth018 commented on #17182
Hi @mppf, Sorry I have gotten busy with my academics. I have raised a [Pull Request](https://github.com/chapel-lang/chapel/pull/17380/) for the issue. For now I have only introduced a checksum field in the toml file which is created when we execute `mason new package`. I wanted you to look at the changes and let me know if its good to go ahead with the rest of the changes.

Currently I'm working o

[2021-03-09 16:38] shubhamkmr04 commented on #17362
Yes @lydia-duncan , I am using the 1.23 release.

[2021-03-09 16:43] shubhamkmr04 commented on #17362
@e-kayrakli My code is giving the same output after not using an import

[2021-03-09 18:30] lydia-duncan opened #17383 "Implement support for interfaces in chpldoc"
Involves:
- updating the Chapel sphinx domain to recognize the keyword and output it appropriately into the documentation (similar to how classes and records are handled, but with a little more nuance).
- updating the ast node handling in the docs pass to output the keyword
- adding chpldoc tests of interfaces and implements clauses
- other things?

[2021-03-09 18:41] 12mohaned commented on #17179
There is something, I believe should be further investigated or I do not understand Its design rationale enough, the docs state that

But when I tried writing to the same file with different channels, only the first channel write to file succeed, so it is either I do not understand the design rationale behind channels or there is a problem, I used the below code to test my findings.

`var myWritin

[2021-03-09 18:50] mppf commented on #17179
@12mohaned - your two channels are writing to the same region of the file. The docs you quoted is really about supporting parallel access to different regions in the same file. It can be hard to write some of those with systems that use a "seek" call to set the file position.

[2021-03-09 19:16] 12mohaned commented on #17179
Okay, I got it but do I have to specify the location?, for example, explicitly stating where I wish to write to (end of the file or the beginning) or it is automatically specified based on the current empty positions.

[2021-03-09 19:24] bradcray opened #17385 "online man page renders double-dash (`--`) options using n-dash"
It seems that the process which converts our man page into an HTML page converts `--` options into an n-dash, a la LaTeX.  This seems potentially very confusing since it looks to a reader like the flags are single-dash flags.  For example:

<img width="678" alt="Screen Shot 2021-03-09 at 11 23 02 AM" src="https://user-images.githubusercontent.com/7536222/110525827-e85b2000-80c9-11eb-8972-6c4d4b702

[2021-03-09 19:24] bradcray commented on #17385
I'm half tempted to put easy / good first issue on here because I suspect that the fix will be something fiddly, but reasonably straightforward and independent of the majority of our code base.  But I also am not sure I know enough to lead it effectively.

[2021-03-09 21:24] prashanth018 commented on #17182
Hi @mppf, below are few questions and suggestions I have to proceed ahead. Would you mind sharing your thoughts? :)
1) I was of the opinion that we can add a flag driven functionality to compute the checksums whenever we run `mason update`?
2) After running `mason update`, if the dependencies are updated, then there would be a change in the package's checksum. In such a case what should be the act

[2021-03-09 21:31] mppf commented on #17182
I think we have to think about `mason` use cases to decide where to put the checking of the checksums. It could be in `mason update` but it could also be in `mason build`.

I would expect that the package would have its updated checksum in its updated toml file and `mason update` does not need to modify any toml files for checksums.

I would expect adding a helper to update the checksum would be n

[2021-03-09 22:29] bradcray opened #17386 "What determines the color of keywords in chpldoc output?"
In chpldoc output (created by sphinx / pygments), some Chapel reserved words are green while others are blue.  For example, see: https://chapel-lang.org/docs/1.24/language/spec/lexical-structure.html#keywords

<img width="450" alt="Screen Shot 2021-03-09 at 2 27 32 PM" src="https://user-images.githubusercontent.com/7536222/110546658-a2ab5100-80e3-11eb-8e96-818bb9b47788.png">

What causes this choi

[2021-03-09 23:17] bradcray opened #17387 "`make docs` breaks when a document is removed?"
In #17360, the Assert module was removed, and this seemed to break the `make docs` build until a user manually removed the built `Assert` module's `build/.../Assert.rst` file.  We believe that this is a result of adding support for incremental `make docs` in PR #16835.  Presumably for this to be correct, pre-existing `.rst` files should be removed if their corresponding source file no longer exist

[2021-03-10 16:22] vijaya-bhargavi commented on #17259
#17389 https://github.com/chapel-lang/chapel/pull/17389
Please do review the changes.

[2021-03-10 17:08] king-11 commented on #16922
@leekillough I looked a python's implementation it does look very complex a right now looking to implement similar in C haven't worked with ```strptime``` before so will probably take a day or two for me to understand to get a raw implementation working

[2021-03-10 17:15] king-11 commented on #17252
@mppf if no one is working on it I would like to take up this issue if design decisions have been made

[2021-03-10 17:18] king-11 commented on #16552
@ben-albrecht if the issue is still available I would like to work on it

[2021-03-10 17:41] ben-albrecht commented on #11439
I think the implementation for this is fairly straightforward, e.g.

[code]

The big thing is that we need other core developers to agree to the design before pursuing it. To move this forward, someone should make a post to chapel developers discourse requesting input, as instructed here: https://github.com/chapel-lang/chapel/blob/master/doc/rst/developer/bestPractices/ContributorInfo.rst#design

[2021-03-10 17:47] ben-albrecht commented on #16552
@gaurav-singh1998 && @king-11 - no one is working on this to my knowledge. I expect the changes to involve:

- Adding `+` and `-` operators for datetime objects
- Adding documentation for these operators
- Adding tests for these operations (think about edge cases / tricky scenarios that might open more design questions)

[2021-03-10 18:07] mppf commented on #17252
@king-11 - I think we are still working on the design question.

[2021-03-10 19:31] king-11 commented on #16552
@ben-albrecht I didn't get the example that you mentioned although to me it seemed like we are looking for adding functional abstraction as well, should it also be included ?

[2021-03-10 19:40] king-11 commented on #16552
Also I guess the ```-``` operator has already been implemented for the ```datetime``` objects [link](https://github.com/chapel-lang/chapel/blob/1108202e645de1bcbfe7d3a5130799d5c01c8ad8/modules/standard/DateTime.chpl#L1351) So is there any change in that or is it just ```+``` operator with similar operation providing the timedelta 🤔  or should it be something else ?

[2021-03-10 21:39] mppf opened #17390 "CG: how to handle return intent overloading?"
main issue: #8629 &nbsp; &nbsp;  abstract intents: [spec](https://chapel-lang.org/docs/master/language/spec/procedures.html#return-intent-overloads)

When return intent overloading is used, a function call will resolve to a different function depending on how the result is used (in particular - if it is set or not). How will constrained generics interact with this feature? Do constrained generic i

[2021-03-10 22:31] prashanth018 commented on #17182
Have added the functionality to update the package's toml with the latest checksum after running the `mason update`. Below is the flow.
1) Strip off the hash value from the toml file & save the file. Store the stripped off hash in a variable.
2) Create the lock file from the toml (The lock file will not have the hash).
3) Compute the hash of all the files.
4) Update the toml.
5) Compare the old ha

[2021-03-11 05:54] Yudhishthira1406 commented on #11439
@e-kayrakli I did a bit of google search and found that.

- Python has `__contains__()` and Java has `contains()` methods.
- An empty string is a universal substring. I cross-checked it with the python's `__contains()__`  function.

[2021-03-11 05:57] Yudhishthira1406 commented on #15621
@ben-albrecht I would like to implement `pinv` function using `svd`
Thanks

[2021-03-11 06:49] damianmoz commented on #15621
Am I oversimplifying this:
[code]
where V^t = transpore(V) and
[code]
Moore-Penrose says where A+ is the generalized inverse of A or pinv(A):
[code]
Plug (1) into (2) and you have
[code]
and then messing with that you get
[code]
If you premultiply both sides by the inverse of S and then premultiply by sides by V, you get
[code]
and postmultiplying by first V and then S^(-1) and then U^t you eventu

[2021-03-11 07:47] Yudhishthira1406 commented on #15621
@damianmoz Yep that's right

There is a small typo here. It should be U^t` instead of U.
Thanks

[2021-03-11 08:14] damianmoz commented on #15621
Yes. You are right. Sorry. It was the end of a long day.

[2021-03-11 11:42] shubhamkmr04 commented on #17385
@bradcray I would like to work on the issue. I have installed Chapel in my local but I can't figure out how can I open the Chapel's official website in my localhost. Can you guide me through it?

[2021-03-11 12:41] ben-albrecht commented on #15621
@Yudhishthira1406 - that works for me, thanks for the heads up

[2021-03-11 14:34] king-11 commented on #16922
@leekillough the current ```tm``` won't be able to store microseconds returned from the new c function so what shall we do abt it? what I thought the implementation could be we call a new C function which parses ```%f``` for us into a structure and we can then pass the same structure to C's ```strptime```

[2021-03-11 15:47] king-11 commented on #16767
@e-kayrakli I have created a Draft PR can you please provide the design changes needed whenever you get time so I can change it to PR for Review.

[2021-03-11 17:04] ben-albrecht commented on #16552
@king-11 - That's true. I haven't thought about this feature in a while and am now wondering if this feature request is outdated or misguided.

Ultimately, I think https://github.com/chapel-lang/chapel/issues/16733 is more important / helpful in allowing us to deprecate the datetime-ish features in the `Time` module.

I am tempted to close this feature request. @daviditen - do you agree, or am I m

[2021-03-11 17:06] ben-albrecht commented on #16733
Assuming buy-in from core devs on the design, this could be considered a good first issue or easy/straightforward. I've pointed @king-11 here, so they may take a shot at it if they are interested.

[2021-03-11 17:08] king-11 commented on #16733
@ben-albrecht Yeah I will start working on this issue

[2021-03-11 17:11] ben-albrecht commented on #16733
@king-11 - Sounds great. As a pointer, there are several uses of unix epoch time within the DateTime module already, so this task should mostly be a matter of building a clean interface (as described in the issue) to that functionality.

[2021-03-11 17:13] ben-albrecht commented on #16733
I'll also ping @daviditen (DateTime module author), in case he has any suggestions or if questions come up that he is better equipped to answer than myself.

[2021-03-11 19:34] daviditen commented on #16552
I think the idea was to have a `proc -(lhs: datetime, rhs: date)` where the fields that don't exist in the `date` are treated as zeros.

And also add other combinations of the `date`, `time`, and `datetime` types as they make sense.

[2021-03-11 19:57] bradcray commented on #17385
@shubhamkmr04 : If I'm understanding your question, once you have a working installation of Chapel, you should be able to do: `make docs` and then point your web browser at `$CHPL_HOME/doc/html/usingchapel/man.html` to see the web-rendered man page (which should look something like this:  https://chapel-lang.org/docs/usingchapel/man.html).  For example, on my Mac, I can just do:

[code]

If you're

[2021-03-11 19:59] bradcray commented on #17385
[for those subscribed to this issue: I've made an edit to the OP to note something that I hadn't thought of in the original statement of it which is that we need to ensure that the solution continues to render properly from the command-line's `man chpl` perspective as well].

[2021-03-11 22:07] leekillough commented on #17306
I think `CHPL_REGEX` sounds better, even if we change its allowed values to be either `none` or `bundled`, if we want to de-emphasize the RE2 implementation, and allow the `bundled` option to change to something else later.

`CHPL_REGEX=bundled` means "I want the bundled Regex implementation, whatever that's based on."

`CHPL_RE2` emphasizes that it's based on RE2, and we have the choice of either

[2021-03-11 23:41] bradcray commented on #8692
@mppf: Do you have any sense as to whether this is an inherently challenging task, or one that just fell between the cracks because errors and initializers were coming online around the same time?  (or maybe there are tricky semantic issues that we hadn't figured out?)  I'm wondering about this w.r.t. the discussion we were having about `new regex()` and wondering whether this would be something t

[2021-03-11 23:57] leekillough commented on #17187
Issues related to # 2 not being able to throw from initializers:

https://github.com/chapel-lang/chapel/issues/6145

https://github.com/chapel-lang/chapel/issues/8692

[2021-03-12 00:13] dlongnecke-cray commented on #17306
I voted for `CHPL_RE2 = bundled | none`. That seems consistent with what we do for other third-party packages (`GMP`, `HWLOC`, `LLVM` all come to mind) where each is a specific software entity and not a general feature.

We could imagine a world where setting `CHPL_RE2=none` causes us to default to an implementation of regex written entirely in Chapel code. Viewed from that lens, that we depend on

[2021-03-12 05:20] leekillough commented on #16922
Unfortunately:
* We need to parse the source string according to the format sequentially from the beginning of the source string, so we have to write our own parser to parse all of the formats in C's `strptime()` in order to find the position in the source string where `%f` would be expected and parsed. We cannot know where in the source string to parse `%f` without scanning the source string and

[2021-03-12 06:23] leekillough commented on #16922
See [here](https://cgit.freebsd.org/src/tree/lib/libc/stdtime/strptime.c?h=stable/13), [here](http://cvsweb.netbsd.org/bsdweb.cgi/src/lib/libc/time/strptime.c?annotate=1.63&only_with_tag=HEAD) and [here](https://github.com/openbsd/src/blob/master/lib/libc/time/strptime.c).

I would clone one of those `strptime.c` files, rename `strptime()` to `chpl_strptime()`, add the `unsigned long* us` paramete

[2021-03-12 06:40] leekillough commented on #16922
To choose the `strptime.c` that you will use, read the license language carefully. Look for any excess stuff like handling esoteric architectures which we never will need to support, or copyright strings injected into the binary. Try to choose one with the least restrictions, the least esoteric cases handled, and the least fluff (like binary copyright messages).

By that criteria, my choice would

[2021-03-12 12:28] mppf commented on #8692
@bradcray - I think the issue does an OK job of explaining the challenges. We just need to make sure to de-initialize the fields in the event the initializer `throws`. This will involve modifying the initializer to track this information. I am not quite sure what is needed for `postinit` and the solution there probably just depends on the current AST patterns we make for `postinit`.

Both - it's m

[2021-03-12 12:47] mppf commented on #17306
I agree with @leekillough's [comment above](https://github.com/chapel-lang/chapel/issues/17306#issuecomment-797082304). In particular I like `CHPL_REGEX=bundled` because while we use RE2, it's not possible for somebody to provide their own RE2 (since we have custom patches to it). E.g. `CHPL_RE2=system` does not make sense. Additionally I definitely do not think of RE2 as fundamental to regular ex

[2021-03-12 15:11] shubhamkmr04 commented on #17385
@bradcray I am currently using the 1.23 release. I am getting some error on the "make docs" command. I have asked it on gitter. I would try to solve this issue as soon as I resolve the error.

[2021-03-12 16:58] bradcray commented on #17306
To me, this seems contrary to the notion of stabilizing our standard libraries.  If we use something other than re2 to implement them, the regular expression syntax is likely to change, isn't it?  Unless you're suggesting that in the future we have a different implementation than re2 that happens to implement the identical regex syntax as re2.  (Is that likely?)

Imagining that it is for a moment,

[2021-03-12 17:14] bradcray commented on #17385
@shubhamkmr04: Since any code contributions you make for this project will require a PR against the development branch (`master`), I'd suggest cloning that branch and working from there rather than the 1.23 release.  Starting from an official release is a good way to get familiar with Chapel, but once you're ready to do some coding, it only really makes sense to start from the current development

[2021-03-12 17:53] mppf commented on #17306
Not necessarily. We can convert regular expression strings to handle minor differences. As I understand it, RE2 is relatively restricted in terms of what it supports, so I don't think we'll run into features we cannot express in another library's syntax. I would expect the minor differences to mostly come up with things like `\s` and the names of character classes.

But, I am also uncertain to wha

[2021-03-12 18:11] lydia-duncan commented on #17003
One thing that occurred to me recently that could pose some problems: `except` lists that exclude all symbols in the module are currently implemented using `*` because we couldn't list operators in `except` and `only` lists.  What should happen with `*` when we enable operators as proposed in this issue?

Options I'm thinking of currently (open to addition options as well):
- Stop supporting `exce

[2021-03-12 20:56] bradcray commented on #17003
I don't think I understood your point at first, but now think I do:  I think it's that it would be ambiguous whether `*` would represent "the name of an operator" vs. "the wildcard character"?  I.e., does:

[code]

mean:

* bring in all symbols other than the `*` operator?
* bring in no symbols?

I'd be inclined to stop supporting `except *;` in its current form and interpret `*` as the operator (

[2021-03-13 00:12] bradcray commented on #17306
That argument suggests the :+1: approach to me then, rather than the :rocket: approach:  A CHPL_REGEX variable that says what underlying technology is used to implement the Regex module (e.g., re2, pcre, etc.) and then, in the event that re2 is selected, a CHPL_RE2 variable saying where to find the implementation, as we do with other high-level technologies that have multiple implementations (CHPL

[2021-03-13 01:11] bradcray commented on #17225
I agree with this.

What I'd like to see here is:

* for the lack of a primary/secondary init (causing the compiler-generated init) to prevent the definition of a tertiary init
* for the lack of a primary/secondary == to cause the compiler to generate a == operator which would then be ambiguous w.r.t. the tertiary one.

Here's my quick take on Michael's stricter proposal:

I like this theme, thoug

[2021-03-13 01:24] bradcray commented on #17324
If we were to go this route, rather than `unlocal` blocks, I'd propose `local (true/false)` blocks, similar to what I believe we support for `serial` blocks?

To recap, I think the main reason we've wanted to get away from local blocks has been because they are fairly challenging to define precise semantics for.  For example, given:

[code]

How should the `local` block interact with the fact that

[2021-03-13 01:42] bradcray commented on #7530
In some spare moments this week, I got a draft of the previous comment's proposal mostly working with little effort.  As expected, it is a bit like pulling on a loose sweater thread, though, rippling pretty deep into the array code.

[2021-03-13 14:36] Venkatavaradan-R commented on #16701
This issue seems to have been fixed. I think it should be closed.
@lydia-duncan

[2021-03-13 16:36] Venkatavaradan-R commented on #17383
I'd like to work on this!
Currently going through some material getting acquainted with sphinx and rst.
Is there any documentation specific to the chapel project that I should be aware of? Any help appreciated!

[2021-03-13 17:15] tmacd8 commented on #16701
When I view web page:  `https://chapel-lang.org/docs/builtins/String.html?highlight=strip#String.string.strip` I still see the problem ('trn' instead of '\t\r\n') using browsers firefox, chrome, and brave on Ubuntu 20.04.2 and Windows 10.

[2021-03-13 17:22] Venkatavaradan-R commented on #16701
Hmm, weird.
The latest doc renders of the master branch show that it has been fixed.

I compiled and ran `make docs` on my system and the docs generated don't have this issue.
Screenshot:
![Screenshot from 2021-03-13 22-51-13](https://user-images.githubusercontent.com/44594675/111038399-a83fc880-844e-11eb-9337-401b73404f85.png)

It looks like it's not been pushed to wherever the websites actually

[2021-03-13 17:54] Venkatavaradan-R commented on #17385
Found the culprit!

Sphinx has a configuration option called `html_use_smartypants` that causes this behavior. It's been set to False in [doc/rst/conf.py](https://github.com/chapel-lang/chapel/blob/master/doc/rst/conf.py) line 195.

The problem was being caused because `html_use_smartypants` is now deprecated and has been replaced with `smartquotes` hence making that one change in the file fixes t

[2021-03-13 18:00] shubhamkmr04 commented on #17385
Hey @Venkatavaradan-R, I was working on this issue. I have already got my PR ready

[2021-03-13 18:07] Venkatavaradan-R commented on #17385
That's fine by me, I'm not making a PR. I was just trying to help out :)

[2021-03-14 10:10] shubhamkmr04 commented on #17385
![Screenshot from 2021-03-14 15-36-54](https://user-images.githubusercontent.com/50761978/111064691-71fc5a80-84db-11eb-9a7b-b03b9a301c89.png)
@bradcray  Can you help me with this? Why am I not able to create pull request?

[2021-03-14 14:32] king-11 commented on #16922
@leekillough I was trying to do changes as you provided in the OP but am having issues with the header files which am not able to resolve ```#include <sys/localedef.h>``` can you help a bit here I asked in gitter channel too 😓

[2021-03-14 17:19] Venkatavaradan-R commented on #17386
Hi @bradcray

I had a quick look into this and this is what I have found so far:
sphinx uses pygments for its syntax highlighting as you mentioned.

The pygments library has an in-built lexer for all the libraries they support, of which chapel is one. This is where the different keywords get grouped (as usual in the lexing process). The lexer can be found [here](https://github.com/pygments/pygment

[2021-03-14 17:23] vijaya-bhargavi commented on #17259
May I know if anything is wrong with this?

[2021-03-14 21:50] prashanth018 commented on #17182
Have added the functionality to MasonBuild and MasonRun to update the package's toml with the latest checksum (commands: `mason build` and `mason run --build`)
Have added the flag `--no-checksum` which can be provided as a command line argument to MasonNew, MasonUpdate, MasonBuild, MasonRun, MasonTest, MasonExample to disable the computation of mason checksum. To be specific when we run `mason new

[2021-03-14 22:07] prashanth018 commented on #17136
Hey @ben-albrecht, would you mind taking a look at the changes if you find time? Thanks :)

[2021-03-15 02:17] zhihuidu opened #17401 "set intersection"
I declair three sets A,B,C as follows
var A= new set(int,parSafe = true);
var B= new set(int,parSafe = true);
var C= new set(int,parSafe = true);

When I do set intersection

C=A&B;

the compiler will give the following compiling errors.
$CHPL_HOME/modules/standard/Set.chpl:198: In method 'init=':
$CHPL_HOME/modules/standard/Set.chpl:200: error: Cannot replace an instantiated param field with anot

[2021-03-15 13:44] mppf commented on #17225
@bradcray - I think we're agreeing more than disagreeing here.

Maybe  that is settled, then. We will see if anybody else objects.

That would be fine with me but as you said we might not be able to do that easily in the current compiler.

Regarding

vs

I wasn't really trying to disagree with your proposal so much as think about extending it. I think that with my "Note 1" these ideas are not so d

[2021-03-15 13:50] mppf commented on #17324
I don't have a real strong preference here. I forgot to say it in the issue description but I created this issue because it tries to address a criticism of the language and is something I had thought about several years ago but we didn't really discuss. I mainly wanted there to be some place to discuss the idea.

Using things like `A.localAccess[i]` does help with writing optimized code but it doe

[2021-03-15 14:31] zhihuidu commented on #17401
@dlongnecke-cray

[2021-03-15 15:36] leekillough commented on #16922
Sometimes these files like `strptime.c` are part of a larger library with its own paths to headers, independent of any standard ANSI C/C++ headers. You should replace these library-specific header paths with standard headers.

You can try to remove the `#include` and see if the file still compiles. For something named `localdef.h` I would try adding `#include <stddef.h>`, especially if the undefin

[2021-03-15 15:52] bradcray commented on #16701
I agree that this has been fixed, thanks for pointing it out @Venkatavaradan-R .  I believe that the difference between what you're seeing is that @tmacd8 is referring to the documentation from the last release: https://chapel-lang.org/docs/builtins/String.html#String.string.strip   Whereas the docs for the development branch and upcoming release are fixed:  https://chapel-lang.org/docs/1.24/built

[2021-03-15 15:52] #16701 closed

[2021-03-15 16:07] bradcray commented on #17401
@zhihuidu : This looks like a bug on our part.  I'm able to reproduce it but not explain it.  Question for @mppf: It appears that we're using `init=` on line 7 (`C = A&B;`), but since `C` is initialized at its declaration point, I wouldn't expect this.  Do you see why it would be?

[2021-03-15 16:17] lydia-duncan commented on #17003
Yeah, that's exactly what I meant.  So `use Mod only;` would be the only way for use statements to enable just qualified access?  That doesn't seem like a bad thing to me.  I'll run it by the rest of the team before doing so.  Would we want `except *;` to just not be possible for a release cycle to make sure folks get the deprecation warning?  Or would switching the meaning and giving a warning be

[2021-03-15 16:22] leekillough commented on #17306
I definitely prefer :+1: to :heart:, because :heart: limits us to RE2 or nothing.

In decreasing order of preference:

:rocket:
:tada:
:+1:
:heart:

[2021-03-15 16:25] bradcray commented on #17003
That's my thinking.  OR `import Mod;`

That would probably be the best thing to do, though I'd love for someone to convince me that it's not necessary...

[2021-03-15 16:26] mppf commented on #17401
It looks to me like it is a problem with this:

https://github.com/chapel-lang/chapel/blob/ad2226bb0a9d9c91821752a81f665067f9de6112/modules/standard/Set.chpl#L643-L644

Here, because `parSafe=false` by default, this function always returns a `parSafe=false` set, by converting from `result`. But, what was the point of computing the type `set(t, (a.parSafe || b.parSafe))` if we were not going to ret

[2021-03-15 16:29] bradcray commented on #17306
I don't think that's right, because we could do :heart: now and add the CHPL_REGEX variable later if/when we had a second package we wanted to support (which would essentially take us to :+1:).  This is the reason I prefer :heart: : it's simpler than :+1: (one variable rather than two), seems most similar to what we do in other cases, and seems most future-proof since it permits us to switch to :+

[2021-03-15 16:30] mppf commented on #17401
I created PR #17403 with the change - I expect to get to finishing it after the release freeze.

[2021-03-15 16:33] #17385 closed

[2021-03-15 16:49] leekillough commented on #17306
But locking ourselves to RE2 seems to be a step backward rather than forward, even if we can do :+1: later.

[2021-03-15 17:02] dlongnecke-cray commented on #17401
Good catch with the return type not matching the result type. Clearly didn't think that one through, thanks!

[2021-03-15 17:03] bradcray commented on #17306
We're not locked to RE2 by taking the :heart: approach:  If we later choose to also (or instead) accept `CHPL_REGEX=pcre` (say), the `CHPL_RE2` variable would simply be ignored in that case (much as `CHPL_JEMALLOC` is if `CHPL_MEM` isn't set to `jemalloc`).  And presumably at that time, a new `CHPL_PCRE` variable would be checked to see which version of PCRE to use.

[2021-03-15 17:14] bradcray commented on #17386
@Venkatavaradan-R : Thanks for looking into this.  I'm still missing something, though:  In the lexer you point to, it appears to me that `cobegin` and `coforall` are defined within the same category; so that's why it was unclear to me why they would be rendered as different colors.  Is that clear to you?

[2021-03-15 17:35] lydia-duncan commented on #17383
Oh cool!  [This](https://chapel-lang.org/docs/latest/tools/chpldoc/chpldoc.html) is more from the feature side of things but may still be useful to you.  Definitely let me know if you have any questions

[2021-03-15 17:40] bradcray commented on #17401
Thanks Michael!

Ah, so was I misdiagnosing by thinking that the `init=` was complaining about `C` when it was actually referring to a variable inside the function?  (I was admittedly going fast trying to get through the weekend's email accumulation).

Are there potentially other cases like this lurking that additional testing would reveal?  E.g., searching the file, I'm seeing other cases that ha

[2021-03-15 17:51] dlongnecke-cray commented on #17401
Probably. I can go ahead and write some more tests/cleanup other operators in conjunction with the PR from @mppf.

[2021-03-15 17:59] leekillough commented on #17306
❤️ CHPL_RE2 has RE2 in the name, and hence locks us to RE2.

[2021-03-15 18:05] bradcray commented on #17306
It would lock our "which version of RE2 should be used by this build of Chapel?" variable (`CHPL_RE2`) to RE2, but it wouldn't lock our "What underlying regex technology should be used to implement the Regex module?" variable (`CHPL_REGEX`) to RE2.  This is analogous to how `CHPL_MEM` says how memory should be implemented, and if `jemalloc` is chosen as the option, `CHPL_JEMALLOC` says where to fi

[2021-03-15 18:18] Venkatavaradan-R commented on #17386
Oh, I didn't notice that... looks like I'm still missing something here.
I'll do some more digging and get back to you.

[2021-03-15 18:22] lydia-duncan commented on #17225
That's definitely something I'd like to do.

But I also think the danger of a type author defining one of these methods that conflicts with a tertiary one comes with the territory - tertiary initializers feel supplemental to me, so if their functionality (or completely different functionality with the same arguments) is added later, that's something that will need to be dealt with by the author of

[2021-03-15 19:48] e-kayrakli commented on #17386
I don't think the issue is the pygments lexer. You can run `pygmentize -s -l chapel` and type keywords and see how they are highlighted differently (assuming your terminal supports color output). It is not the most foolproof way, but there you can see that `cobegin` and `coforall` are highlighted the same, whereas `int` is highlighted differently.

I thought it maybe something special we do in sph

[2021-03-15 19:59] bradcray commented on #17386
Oh, interesting...  And I'm seeing that if I leaf through the spec itself, all keywords seem to be rendered green consistently.  So the issue seems somehow specific to the keywords list itself.  Ah, here's my guess:  The lexer expects keywords like `class` to be followed by the identifier being declared and will color the declared identifier a different color; so since `cobegin` happens to follow

[2021-03-15 20:19] mppf commented on #17401
@dlongnecke-cray - if you want to grab the changes in #17403 & build on it please feel free to open your own PR and we can close mine.

[2021-03-15 20:51] piyush0411 commented on #7750
Hi @mppf
I added the timing code as you suggested. The code is like this:
[code]
I had to add the timing code inside the function `evaluateWhereClause` else it was not compiling.
Then I ran the same command you mentioned in the comment, the output of which is :
[code]
The `evaluateWhereClause` runs for around `4.81049 s`, indicated by the `Elapsed Time` variable. However, I am not receiving the `r

[2021-03-15 21:26] mppf commented on #7750
hi @piyush0411 - `evaulateWhereClause` should only run during the `resolve` pass, which takes 3s according to the listing you showed. So it does not make sense that `evaluateWhereClause` runs for 4.8 seconds. I would expect that you would need to put your `auto start = std::chrono::high_resolution_clock::now();` into the function body and have a separate global that accumulates the time spent with

[2021-03-15 21:27] mppf commented on #7750
also https://en.cppreference.com/w/cpp/chrono/high_resolution_clock seems to indicate we should be using `std::chrono::steady_clock` for duration measurements rather than `std::chrono::high_resolution_clock`.

[2021-03-15 21:44] Venkatavaradan-R commented on #17386
I played around with the [lexical-structure.rst](https://github.com/chapel-lang/chapel/blob/master/doc/rst/language/spec/lexical-structure.rst) file a bit and the problem is definitely what you've mentioned:

I thought of a quick fix, which is to use a separate code block for each keyword which fixes the problem, but isn't easy on the eyes or very efficient:
![Screenshot from 2021-03-16 03-05-27](

[2021-03-15 21:54] lydia-duncan commented on #17386
We could maybe just make it a code block without specifying a language or specifying txt or something and that would cause none of them to get highlighted (which I think would be better?)

[2021-03-15 21:55] bradcray commented on #17386
Thanks for wrestling with this @Venkatavaradan-R!  I'd hoped that your quick solution was only not easy on the developer's eyes who was editing the .rst, but I agree that the rendered output isn't very nice.

If your approach doesn't work, two other things we could consider:

* turn off the highlighting of the identifier that follows `class` and friends.  I don't know how important this is for the

[2021-03-15 23:06] ronawho commented on #9166
This will be improved by https://github.com/chapel-lang/chapel/pull/17405, which parallelizes the heap fault in. Running a no-op program on an XC with 128 GB of memory before that PR:

[code]

And with that PR:

[code]

[2021-03-15 23:12] bradcray opened #17406 "Errors within internal modules don't result in `--print-callstack-on-error` callstacks?"
When we generate a compiler error in an internal operator overload, it doesn't seem to result in a callstack that includes the internal module function calls even in `--devel` mode (it's not surprising that it wouldn't in `--no-devel` / default mode, as we try to paper over internal module errors, often unsuccessfully).  Unfortunately, because this is specific to internal modules, it (a) only affe

[2021-03-15 23:23] bradcray commented on #17406
Wait wait wait...

[2021-03-15 23:49] bradcray commented on #17406
I was sprinting too fast to reproduce this in a standalone program and messed up.  The error seems specific to the operator being called from an internal module (or, at least, a non-user module).  Unfortunately, this makes it harder to create a reproducer for since it requires modifying an internal module...

[2021-03-16 00:29] bradcray commented on #17406
I verified that this behavior was specific to internal, not standard, modules, and updated the OP with instructions to reproduce.  Sorry for those who got a completely broken version of this issue in their inboxes.  I've been meaning to capture this for a week now, and didn't take as much time to get my test right as I should've before opening it.

[2021-03-16 14:43] king-11 commented on #16922
@leekillough I am done with the implementation I used the NetBSD version.

If you can tell me how to include the C File in the build process and in which dir to commit it so that will do the job.

[2021-03-16 15:08] lydia-duncan commented on #17406
If you wanted to add a test to the testing system of this, test/modules/paths/checkNestedModule.chpl or checkReexported*.chpl in the same directory would be a good template iirc

[2021-03-16 15:54] bradcray commented on #17406
Ooh, sneaky!

[2021-03-16 16:13] piyush0411 commented on #7750
@mppf
I wanted to know how this `evaulateWhereClause` works.
If a call is made to this function, does the whole of the `generics.cpp` file is compiled, or only this function. Because if the latter happens, then we might need to initialize the global at the instance of the call to this function, and not in the `generics.cpp` file.

Also if only the function is executed, then we can use the timing c

[2021-03-16 16:53] mppf commented on #7750
I don't think it's possible in C++ to compile just one function out of a .cpp file.

I'd recommend making a global variable to measure the total duration and another global variable to measure how many invocations of `evaluateWhereClause` we are in. You could also use `static` local variables for these. Then, when the number of invocations indicates the current invocation is the only one, we can a

[2021-03-16 17:05] e-kayrakli commented on #17386
Ah good catch!

Then I think the ideal solution is fixing sphinxcontrib-chapeldomain. It looks like we do that special casing here:

https://github.com/chapel-lang/sphinxcontrib-chapeldomain/blob/master/sphinxcontrib/chapeldomain/__init__.py#L271-L276

we can either (similar to what Brad is suggesting above):

1. check if the class "name" is another keyword, and if so stop special casing here (but

[2021-03-16 17:26] king-11 commented on #8758
@bradcray I would like to take up this issue are there any new insight that you can provide me what I understood is

- from #12770 we should move up throwing error to parsing
- the limit depends upon os we are using which can be dynamically verified as well as we can have a static value

[2021-03-16 17:35] bradcray commented on #8757
@rchinmay : As we wrap up the spring release, I wanted to ping on this again to see whether you have a branch that I could look at to understand your last question?

[2021-03-16 17:44] bradcray commented on #8758
@king-11 : Moving the error to parse-time matches my thinking.  As far as what to use for a limit...  This is an area where I'd be inclined to do some research (what limits do most practically used OSes set in practice?) and then set it to something that feels like a conservative choice based on that.  As I mentioned on #12770, I don't think there's a strong need to support super-long filenames ne

[2021-03-16 18:42] dlongnecke-cray opened #17410 "Could Chapel support tuple or range config vars?"
As a Chapel user, I would love for the language to support the use of tuple or range `config` variables (or constants). While writing a test, I found myself expressing the low/high bounds for loops in the following way:

[code]

I was surprised (after some thought, much less so) to get a compiler error pointing inside internal modules instead:

[code]

My hope was that the tuple destructuring woul

[2021-03-16 19:21] piyush0411 commented on #7750
@mppf
Will this code be fine?
[code]
These are clock variables I have initialized at the beginning of the file.
The `evaluateWhereClause` looks like:
[code]
I have written another function to print the time elapsed and the number of calls for the function.
These changes are done in the `generics.cpp` file. The compilation is successful but I am not able to print the values for these variables. Ple

[2021-03-16 19:32] mppf commented on #7750
[code]

You shouldn't need global variables for start/end; just for the duration.

Within `evaluateWhereClause` you'll need to refactor it so that it has just one return path, so you can more easily handle the cleanup. Once you do that, I'm expecting it to have this pseudocode:

[code]

Then, you can print out the timing in code you add here: https://github.com/chapel-lang/chapel/blob/f53d87e17a56

[2021-03-16 20:28] bradcray commented on #17410
Making the error message better would be simple, and mostly requires distinguishing supported from non-supported cases in https://github.com/chapel-lang/chapel/blob/master/modules/internal/ChapelBase.chpl#L1332-L1353

Supporting other types ought to be as easy as adding casts from strings to those types, I believe?  (where maybe the only tricky question would be whether we want casts from strings

[2021-03-16 20:31] dlongnecke-cray commented on #17410
Yeah I think I should have written "Should" instead of "could", my bad.

[2021-03-16 20:43] bradcray commented on #17410
Generally speaking, my philosophy would be to make configs as general-purpose as possible (so "yes it should" barring major challenges that I'm not currently anticipating).

[2021-03-16 21:29] #17336 closed

[2021-03-16 21:50] piyush0411 commented on #7750
I tried the following approach.
[code]
The variable `elapsed` is incremented every time the function is called and it is a global variable.
The reason behind this approach is that even if the function is called recursively, we increment `elapsed` for that specific call only.
I compiled this but I am getting elapsed time as `0.0s`.
I think that the line `countCalls--` isn't getting executed. The va

[2021-03-17 00:07] mppf commented on #7750
That's right, because of the `return false` and `return true` before it.

[2021-03-17 01:52] Venkatavaradan-R commented on #17386
Hi mentors!
Sorry about the delay, I've got my midterm tests going on so I was a bit caught studying for that.

I've tried out a bunch of stuff and here are the results:

1.

I tried changing the [sphinxcontib-chapeldomain init file](https://github.com/chapel-lang/sphinxcontrib-chapeldomain/blob/master/sphinxcontrib/chapeldomain/__init__.py) and modified it to empty `return` whenever `name` is a k

[2021-03-17 05:35] king-11 commented on #16552
@daviditen those methods have already been implemented for the ```datetime```, ```date``` and ```timedelta``` objects so I believe the work on this issue is already completed.

[2021-03-17 08:57] piyush0411 commented on #7750
I guess I have received some expected results.
The code I have written is as follows:
[code]
The corresponding output is
[code]

[2021-03-17 15:00] cassella opened #17414 "chpldoc formats `typeexpr` differently for `type t = typeexpr` and `var x: typeexpr`"
chpldoc formats `typeexpr` differently for `type t = typeexpr` and `var x: typeexpr` for some `typeexpr`s.  This is because `printingType` is false for the former, but true for the latter.  This results in

[code]

being formatted

[code]

I think the type expressions in the `type` lines should be formatted the same as the ones in the `var`  lines.

_Originally posted by @cassella in https://githu

[2021-03-17 15:04] e-kayrakli commented on #17386
FWIW, my vote is to make it a text block with no highlighting.

[2021-03-17 15:09] lydia-duncan commented on #17386
Yeah, any other solution would be a lot more work for a special case that I don't think normal users of chpldoc would encounter

[2021-03-17 16:32] bradcray commented on #17386
I agree, thanks for investigating @Venkatavaradan-R!

[2021-03-17 19:04] rchinmay commented on #8757
@bradcray Thanks for informing about the spring release. I had lost the progress of the changes made as I had not made a separate branch for it, neither committed the changes to any branch. I will rework on it on the areas that I had problem implementing with, and I will tag you after linking the branch here.
Thanks,
R. Chinmay.

[2021-03-17 19:31] daviditen commented on #16552
@king-11 the original comment in this issue was asking for the ability to do:
[code]

That is, a mixed type subtraction between a `datetime` and a `date`. That is not currently defined.

[2021-03-17 20:55] Venkatavaradan-R commented on #17386
Awesome!

My pleasure. I quite enjoy this! :smile:

[2021-03-18 00:23] #17386 closed

[2021-03-18 07:47] souris-dev opened #17426 "Support for anonymous C unions/structs in c2chapel"
Currently, `c2chapel` only recognizes C structs in a header file for automatic generation of extern definitions.
PR https://github.com/chapel-lang/chapel/pull/17284 adds support for C unions in a header file and for anonymous C unions/structs (although for now, the changes in the PR just skip the fields in the anonymous union/struct so that `c2chapel` doesn't error out).

This issue exists to docu

[2021-03-18 07:49] souris-dev commented on #17426
This is something that doesn't seem to difficult to implement, so I'll probably try to implement this pretty soon in a different PR.

[2021-03-18 09:49] sourabhsingh282 commented on #17081
hello guys I was going through your discussion and I have read all the cpp version of sieve but regarding the fact that version 3 i could say more efficient but it further can improve i dont know chapel language so i dont able to understand  where it precisely need improvement though i am looking into it after getting basic idea ill tell you  but for the cpp vesion[3](https://github.com/greensoftw

[2021-03-18 12:32] rajpratyush commented on #17057
@lydia-duncan hi can I take up this issue

[2021-03-18 12:33] rajpratyush commented on #13036
Can I take up this issue if it is not yet stale?

[2021-03-18 12:36] rajpratyush commented on #16679
@bradcray I think  all the files and details that describe how to contribute to this project should be collected and collectively made as a developer guide including getting started and how to contribute and we should have a contributing .md in repo which tells developers on ways to contribute to this.

[2021-03-18 16:32] lydia-duncan commented on #17057
Sure!  I don't expect it to be easy to resolve, so definitely feel free to ask questions!

[2021-03-18 16:43] lydia-duncan opened #17427 "chpldoc handling of `proc ref foo` looks off"
### Summary of Problem
Take a look at [makeIndexBuffer](https://chapel-lang.org/docs/master/builtins/ChapelArray.html#ChapelArray.makeIndexBuffer) and the function declared above it.  The add function isn't linkable and the declaration is bolded and formatted differently than makeIndexBuffer.
![Screenshot_2021-03-18 Domain and Array Operations — Chapel Documentation 1 25](https://user-images.githu

[2021-03-18 16:46] lydia-duncan commented on #13036
I don't think it's stale, but I think taking on this issue would involve some discussion and may be best suited when done with strong help from someone that is very familiar with our arrays and domains (I have reasonable knowledge here, but I'd prefer someone on the core team with more knowledge stepped in - maybe ask for assistance in the Chapel Gitter channel?).  It may help to go through and fo

[2021-03-18 18:35] bradcray opened #17428 "Reconsider third-party packages w.r.t. homebrew formula"
In [the PR](https://github.com/Homebrew/homebrew-core/pull/73417) updating our homebrew formula for today's 1.24 release, @carlocab rightfully [pointed out](https://github.com/Homebrew/homebrew-core/pull/73417#issuecomment-802145849) that rather than bundling all of the third-party packages as we do, it would be preferable to rely on homebrew versions of these packages, when available*.  Looking a

[2021-03-18 18:56] dlongnecke-cray commented on #16780
Another vote for writing paratest in Chapel!

[2021-03-18 18:59] Venkatavaradan-R commented on #17383
Hi @lydia-duncan

I've been getting acquainted with the [chpldoc](https://chapel-lang.org/docs/latest/tools/chpldoc/chpldoc.html) and the [sphinxcontrib-chapeldomain](https://sphinxcontrib-chapeldomain.readthedocs.io/en/latest/reference.html) codebase.

Could you point me to where I can find how the classes and records are handled? I'm assuming it is somewhere [here](https://github.com/chapel-lang

[2021-03-18 19:00] gbtitus commented on #17428
Using a homebrew package would essentially be using a 'system' install of whatever the package is, with all the associated advantages and disadvantages.

[2021-03-18 19:19] bradcray commented on #17428
More than that, I imagine the homebrew formula itself would flag the error (rather than relying on the Chapel build process to do so) or even specify a particular version as a dependency.  In that sense, I think it's similar to the `module` definitions on Cray systems.

Overall, this is very similar to what we were asked to do in our attempt to create a Debian package for Chapel, with the differen

[2021-03-18 19:29] carlocab commented on #17428
I'm willing to try to look into adding to homebrew/core the dependencies that you need that are currently absent. Which ones are those? I know qthreads is one, but presumably there are others.

[2021-03-18 19:49] king-11 commented on #16552
@daviditen now I got it 😅 sorry for not keenly observing the ```date``` in your comment. So now will be having 2 more combinations i.e. ```date - datetime``` & ```time - datetime``` and the alternates of these two I will start working on this is there something else you did like to add to that ?

[2021-03-18 19:51] bradcray commented on #17428
@carlocab : Thanks for that offer.  Let me get today's release a little further out of the door, and then I'll do a quick survey of the third-party packages and my impressions of their status w.r.t. the homebrew formula.

[2021-03-18 20:04] lydia-duncan opened #17429 "Using operator methods instead of standalone operator functions may thwart out intent optimizations?"
### Summary of Problem
When trying to adjust the following program to use an operator method instead of an operator function, the output generated by the program greatly increased.

Here is the output for the simplified program when the operator is defined as a standalone function:
[code]

And here is the increased output when the operator is defined as a method:
[code]

### Steps to Reproduce

He

[2021-03-18 20:31] lydia-duncan commented on #17429
I'll probably make a futurized version of one of those with the method output, but I'm not doing that right now

[2021-03-18 21:18] daviditen commented on #16552
I think we would always want the `datetime` to be the LHS of the subtraction. @ben-albrecht is there anything else you were wanting with this issue?

[2021-03-18 21:22] rchinmay commented on #16604
@ben-albrecht @mppf I tried to work on this issue. Here are some of the things that I found:

- Though
[code]

does not work and produces compilation error,
[code]
works well. So, I think the compilation error generated is not because the lambda expressions without braces are not supported, but it is because of the missing semi-colon. I think this syntax is fine, though usage of double-semicolon i

[2021-03-18 21:49] bradcray commented on #17428
I need to correct myself here.  In talking to @ronawho (who is essentially our third-party guru), he pointed out something that had been lost on me before:  that his understanding of the Homebrew philosophy is that it doesn't generally support dependencies on specific versions of packages because it doesn't tend to support multiple versions of most packages, except in special cases for big deals l

[2021-03-18 21:49] carlocab commented on #17428
I've opened https://github.com/Homebrew/homebrew-core/pull/73445 to add qthreads to homebrew/core. Not sure if you need it to link with hwloc, but the library seemed non-functional when I tried to get it to use hwloc.

[2021-03-18 22:14] bradcray commented on #17428
I didn't get a chance to confer with @ronawho until you'd started into this, but he expressed pessimism about Chapel's ability to use a pre-built version of Qthreads because of the configuration options and choices we throw at it to build it the way that works best for our purposes.  His take on using a qthreads within homebrew was that we'd essentially need to have a `qthreads-for-chapel` package

[2021-03-18 22:20] carlocab commented on #17428
How extensive are these options? As long as they're not outrageous (i.e. you're not passing 20 flags and need patches that will never be upstreamed), they can probably be enabled in the qthreads formula. (That said, it's failing on CI despite my having built and tested it locally, so this discussion may be moot.)

[2021-03-18 22:46] bradcray commented on #17428
I expect that they probably could be enabled in the formula, but that this relates back to the notion of "is it a qthreads formula, or a qthreads-for-chapel formula?"  That is, would someone else wanting to use qthreads want to configure it completely differently, undermining the benefit of a shared package?

And, there are a lot of flags we pass to configure, though I'm unsure how many are requir

[2021-03-18 22:49] carlocab commented on #17428
Hmmm, I see. Perhaps it would be fine for chapel to keep using the bundled qthreads; it is a pretty lightweight library anyway. We can circle back to this after working on the rest of your dependencies.

[2021-03-18 23:29] bradcray commented on #17428
I've added a run-down of our third-party packages in the OP (though I also have some questions that I'll need others to help with, so will refine the entries as I learn more.  I'm re-tagging people I mentioned in the OP here because I'm never sure whether notifications are sent for edits after the original post:  @ronawho, @mppf, @daviditen, @ben-albrecht, @lydia-duncan).

Here's my quick summary

[2021-03-18 23:45] ben-albrecht commented on #17428
I don't think any action is required here. While this lives in `third-party/`, it's not really bundling any third-party code into the repository. Rather, it's specifying python packages in a requirements file (`chpldoc-requirements.txt`), and using pip to install those packages in a local virtualenv upon building `chpldoc`.

[2021-03-18 23:48] bradcray commented on #17428
Thanks Ben — I obviously didn't look closely enough to see that.  Based on that description, I wonder whether we should/could put these requirements files in a different location, but that's a different conversation.  I'll update the OP and my summary based on this.

[2021-03-19 13:08] mppf commented on #16604
@rchinmay - that is interesting. I wonder if we would have to include `return` as a kind of expression available in a  one-expression lambda instead of as a statement.

[2021-03-19 13:26] mppf commented on #17428
The description above for what to do for 1.24 sounds fine to me in general. I think it would be nice if we could keep qthreads and jemalloc in the homebrew configuration (to keep the homebrew version performant) but if that is not possible in a relatively short time period then it's reasonable to drop them in this release.

I would expect that we could update our code to work with a variety of hwl

[2021-03-19 13:31] mppf commented on #16326
at least this is now how the Makefiles are set up. We have things like `Makefile.include-none` in that directory. I suppose I have been thinking of third-party/llvm as managing the LLVM dependency, in whatever form it comes.

Anyway, in terms of generated files related to the LLVM dependency, I would expect they can be stored in build/ . I think I had put it in third-party/llvm/install so that the

[2021-03-19 15:59] bradcray commented on #16604
Good analysis @rchinmay!  My own intuition here would be to require the curly brackets for defining lambdas to avoid confusion.  Would that be too off-putting for people coming to Chapel from other languages with lambdas?

(FWIW, I've always found our exception regarding curly brackets and "return-only" functions to be a bit odd as well, though we've used it enough that I've always been reluctant

[2021-03-19 16:14] bradcray commented on #17428
Thanks Michael.

I don't see any challenge here, in that this is what we're doing today.  So the only challenge is continuing to get the blessing of homebrew's maintainers to keep bundling these packages.

I think you're correct, and I use this enabled all the time on my Mac, and had noticed that we don't enable it for homebrew.  I think we should fork this off to its own issue since it isn't dire

[2021-03-19 16:35] carlocab commented on #17428
Does Homebrew LLVM work on newer versions of macOS? If they do, we can make the dependency conditional on a new enough version of macOS (plus we're probably dropping Mojave support later this year).

I think a reasonable summary of the current policy is: use a Homebrew dependency where you can; if it's broken with the Homebrew version you can use a bundled version, but we would like to see some ef

[2021-03-19 17:07] ayuagrawal opened #17435 "[Website] "Chapel by Example: Image Processing" link is broken"
Please visit the https://chapel-lang.org/learning-read.html, click on "I like to read."
Link under "I'd like to read an example-oriented introduction to Chapel." is Try [Chapel by Example: Image Processing](http://www.primordand.com/chapel_by_ex.html) by Greg Kreider (PMVS). But this is redirecting to wrong page. Currect page should be http://primachvis.com/html/imgproc_chapel.html. It may also go

[2021-03-19 18:15] bradcray commented on #17435
@ayuagrawal : Thanks for pointing this out, which obviously escaped me.  You've also made me curious what it would take to upgrade the code to work with Chapel again; I suspect it would not be terribly painful and that the authors just wasn't sufficiently motivated to do it.  Could be a fun spare-time activity...

[2021-03-19 18:16] piyush0411 commented on #7750
@mppf
What do you think about the above results?

[2021-03-19 18:20] mppf commented on #7750
I thought you would only do `elapsed += end - start;` at the top-most recursive call

[2021-03-19 18:35] piyush0411 commented on #7750
Initially I also thought of this. But I think our clock variables `start` and `end` will be reinitialized at every call. So I added them separately during each call. I hope I am able to explain you my approach.

[2021-03-19 18:40] bradcray opened #17436 "Update code from "Chapel by Example: Image Processing" to work again"
[Chapel by Example: Image Processing](http://primachvis.com/html/imgproc_chapel.html) was an impressive domain-specific introduction to Chapel written by Greg Kreider at PVMS.  The code has not been maintained w.r.t. recent [breaking changes](https://chapel-lang.org/docs/language/evolution.html) in Chapel.  What effort would be required to bring the code base up-to-date with the current release of

[2021-03-19 18:40] bradcray commented on #17435
@ayuagrawal : I believe I've fixed the broken links now, and have fired off the question about upgrading the code to Chapel 1.24 as its own issue in https://github.com/chapel-lang/chapel/issues/17436.  Thanks again for reporting this.

[2021-03-19 18:40] #17435 closed

[2021-03-19 18:54] lydia-duncan commented on #17383
You'll probably use something [this](https://github.com/chapel-lang/sphinxcontrib-chapeldomain/blob/master/sphinxcontrib/chapeldomain/__init__.py#L459) from that file as part of your implementation, and make a version of [this](https://github.com/chapel-lang/sphinxcontrib-chapeldomain/blob/master/sphinxcontrib/chapeldomain/__init__.py#L520) for interfaces.  I think other changes will be best found

[2021-03-19 19:34] piyush0411 commented on #7750
@mppf
I tried the way you suggested, doing `elapsed += end - start;` at the top-most recursive call.
[code]
The time elapsed comes out to be `0.182234 s` and the `resolve` time was `2.728 seconds`.
I might have got confused in the recursive calls. Kindly have a look to the results.

[2021-03-19 19:41] dlongnecke-cray opened #17438 "Support param folding of use and import statements"
As a Chapel user, I want support for param folding of use and import
statements so that I can write code that is sensitive to the
movement/renaming of modules like the following:

[code]

Today, trying to compile this code yields:

[code]

I ran into this problem recently while trying to adjust Arkouda to
silence deprecation warnings in `Memory` that were introduced
for `1.24`.

[code]

However th

[2021-03-19 19:58] mppf commented on #7750
hi @piyush0411 - sounds like the time in evaluating where clauses is around 1/10th of the resolution time. Thanks for helping us to investigate.

[2021-03-19 20:04] lydia-duncan commented on #17438
Implementation details: I'm pretty sure this is because param folding happens after we've determined use and import statements for a block (because those need to be known at scope resolution time for use during that pass)

[2021-03-19 20:04] lydia-duncan commented on #17438
I dunno how reasonable it would be to tackle before compiler 2.0

[2021-03-19 20:05] king-11 commented on #16552
@daviditen I also found a missing feature which should be needed if we are to move forward with mixed operators. Currently ```date.today()``` doesn't consider the localtime while ```datetime.today``` does which can be an issue is someone tries out

```(datetime.now() - date.today()).total_seconds()```

[2021-03-19 20:09] bradcray commented on #17438
I understand and agree with the desire here, but I think we'd want to find another way to express it since `use` and `import` statements only apply to the current lexical scope.  At least, if I had this feature, I think I'd want it to apply to the code block that follows the version check, not just the then/else clauses of the version check itself.  So my head goes to something more like:

[code]

[2021-03-19 20:09] king-11 opened #17439 "date and datetime compatibility"
after moving forward with the implementations of issue #16552 will probably need to ensure that both date and datetime use similar time zone information. For example

- ```date.today()``` doesn't consider localtime while ```datetime.today()``` does which can be an issue in operation involving the date and datetime.

I haven't yet checked which other functions will need to take into context localti

[2021-03-19 20:12] mppf commented on #7750
I'm closing this issue because the question has been answered - the where clauses aren't currently a big performance issue for "Hello World" at least.

[2021-03-19 20:12] #7750 closed

[2021-03-19 20:13] bradcray commented on #17438
(several times over the project's history, we've discussed the concept of a parse-time conditional—or scope-less conditional—to handle cases similar to this.  For example, the conditional definition of a procedure:

[code]

where today, this similarly wouldn't work because the procedure is local to the then clause.  So in a sense, this could be considered to the cpp `#if` concept.  The assumption

[2021-03-19 20:19] dlongnecke-cray commented on #17438
This form doesn't bother me that much/look that hideous to me. And it seems like the machinery required to implement that would be such that we could do both (the version requested by the OP and this same-scope version). Though that's just a relatively uninformed guess on my part.

We could also compact the syntax to something like:

[code]

Which I think is reasonable even if different from norma

[2021-03-19 20:51] bradcray commented on #13036
@rajpratyush : Though I'd love to snap my fingers and see this fixed, I'd suggest not getting entangled in this particular issue.  I think it's going to take a lot of work from the core team to get done, is already on our roadmap to try and get to in the next 6-12 months, and I think trying to work on it externally would be challenging.  I appreciate the offer to help, but I think this issue would

[2021-03-19 22:32] piyush0411 commented on #17414
Also, can you please direct me to the files that need to be changed, I mean the ones where these two types - `type` and `var` are defined. I went through the codebase but couldn't find the right ones.

Thanks :)

[2021-03-19 22:56] bradcray commented on #17438
Another approach would be:

[code]

I think the problem in either case then gets to the point Lydia made (and that I alluded to when saying "the types of things you could make the conditional depend on would be significantly limited relative to the general param-time machinery").  Specifically, things like `chplVersion` and `createVersion` and `<=` between them are general symbols and expressions

[2021-03-19 23:22] dlongnecke-cray commented on #17438
Note that this isn't blocking anymore, I found a (albeit ugly) workaround here: https://github.com/mhmerrill/arkouda/compare/master...dlongnecke-cray:fix-memory-memused

With that said, I do wonder if this is something that we should wait to tackle until compiler 2.0 (as Lydia says above). I imagine changing the order of the passes / and or flattening `scopeResolve` and `resolve` into a single pas

[2021-03-19 23:29] bradcray opened #17440 "Ubuntu build giving conftest errors during qthreads build"
When upgrading the Computer Language Benchmarks Game website to use Chapel 1.24.0, [Isaac reported](https://salsa.debian.org/benchmarksgame-team/benchmarksgame/-/issues/426#note_232709) that he received errors of the form:

[code]

when building.  This did not seem to affect the result (in that he was still able to compile and run Chapel programs), but is a bit disconcerting all the same.

[2021-03-20 00:29] bradcray opened #17441 "Implement a parallel Chapel pidigits implementation"
Chapel once held the land-speed record for the Computer Language Benchmarks game for [pidigits](https://benchmarksgame-team.pages.debian.net/benchmarksgame/performance/pidigits.html), but has recently fallen behind other implementations.  It seems that the current best entry, written in C++, is parallel given its CPU load (100% 100% 98% 100%).  This raises the question: What would a port of this a

[2021-03-20 00:29] bradcray commented on #17441
(I labeled this as a good first issue, though that probably only applies to someone who is familiar with C++ and parallel programming...)

[2021-03-20 01:09] bradcray commented on #17438
Here's a potential challenge in doing that:  As the language is defined today, `use` and `import` statements affect the entire lexical scope in which they're defined, regardless of order.  That is, a `use` that followed your `use Foo;` can introduce symbols that statements that appear before it can refer to.  So with those semantics, we could run into potential issues since the `if ...` clause on

[2021-03-20 06:20] ayuagrawal commented on #17435
Thank @bradcray for updating link.

At some point chapel community may also want to open source website code.

[2021-03-20 15:59] gbtitus commented on #17440
`conftest` is the name the GNU `configure` script (of the `autoconf` toolset) uses for the teensy programs it builds to determine whether a given feature or capability exists and/or works on the system. Those programs are always deleted after the decision they contributed to is made, so that's not surprising. We could probably learn a lot more from the `config.log` file that should have been left

[2021-03-20 17:06] bradcray commented on #17435
I made a push to open-source the website over the past few months, but the challenge is that it is larger than a free GitHub repository permits.

[2021-03-20 20:09] rchinmay commented on #16604
@mppf, I think including the case of return-only expression in lambda declaration in the parser to allow use of return as an expression and not a statement, would resolve this issue, where return only takes a variable, or a constant. But I don't think that would work when the value to be returned is a statement by itself, like ``return a+b;`` or ``return if a>b then a else b;`` then avoiding the s

[2021-03-20 20:22] lkmeta commented on #17439
I think that they both use the same time zone and there is no issue according to this. They both use `timeSinceEpoch = getTimeOfDay(); ` ([1st one](https://github.com/chapel-lang/chapel/blob/1108202e645de1bcbfe7d3a5130799d5c01c8ad8/modules/standard/DateTime.chpl#L286) and [2nd one](https://github.com/chapel-lang/chapel/blob/1108202e645de1bcbfe7d3a5130799d5c01c8ad8/modules/standard/DateTime.chpl#L9

[2021-03-20 22:11] king-11 commented on #17439
@lkmeta if you check the ```datetime.now``` function it used ```getlocaltime``` while ```date.today``` doesn't that's where the difference lies. And if you are on the gutter channel I also posted the results of running program over there.

[2021-03-21 01:42] damianmoz commented on #17081
I long ago improved that C++, and then transliterated that to Chapel. None of my performance figures used the source to which you referred so you might be wasting your time. Also, that paper is working of refererences which arte 5 years old so it all a bit moot.

[2021-03-22 13:40] mppf commented on #16604
I think it would be possible to adjust the parser to terminate all expressions on a `;`. However I don't see that as necessarily an improvement in the language.

While the double-semicolon strategy does work today, I think I'd favor instead adjusting the parser to only allow lambdas with curly braces, as @bradcray suggested [above](https://github.com/chapel-lang/chapel/issues/16604#issuecomment-80

[2021-03-22 15:34] lydia-duncan commented on #17414
I suspect only in certain cases.  You'll want to do an analysis of when printingType is set to each value and what the impact of that is.  I suspect it is still the right choice in many of the calls but that there is probably someplace where we should determine which is used via an if statement.

`type` and `var` symbols are both defined as VarSymbols in the AST, which are defined in compiler/incl

[2021-03-22 17:41] mppf opened #17447 "which AST traversal strategy is more efficient in the compiler?"
Within the compiler, does AST traversal style matter for performance? I was wondering about this since currently the compiler uses 3 different general strategies and I wanted to know if there is some reason that these all need to be supported in the future.

I know of 4 traversal strategies currently available:
 1. use a subclass of `AstVisitorTraverse` / `AstVisitor`
 2. use `for_exprs_postorder`

[2021-03-22 17:41] mppf commented on #17447
I'm closing this issue because I only created it to record some experiments somewhere.

[2021-03-22 17:41] #17447 closed

[2021-03-22 21:58] bradcray commented on #17440
I've been mailed a copy of the `config.log` file, and am guessing that this might be the problematic portion:

[code]

seems like the core dump could result in the reported pop-up in ubuntu, and meanwhile the script had gone on to the next conftest step, erasing the binary for the current one resulting in the "not installed anymore" message?

[2021-03-22 22:22] gbtitus commented on #17440
Interesting. The point of that `configure` check is apparently to determine whether the system has a FreeBSD-like or Linux-like definition of `qsort_r()`. The gcc warning and the segfault are certainly what you'd expect for the one quoted in the code (which matches the FreeBSD decl) on a Linux system. Personally I think I would have written that test to catch the `SIGSEGV` and exit synchronously b

[2021-03-22 22:42] vasslitvinov commented on #17127
While there... The chpldoc for `interior` is incorrect in saying "Return a range with ``offset`` elements ..." Instead `interior` offsets the bound by ``offset``. So the chpldoc needs to be adjusted.

[2021-03-23 03:20] tt-leader commented on #17110
Hi, Lydia, I would like to work on this issue, and I have talked about my ideas on [Gitter GSoC channel](https://gitter.im/chapel-lang/chapel-summer-of-code)

[2021-03-23 03:45] leekillough commented on #16922
Sorry for the delay. There is a `runtime/` subdirectory with `include` and `src` subdirectories, and it can go in there (you probably only need a `.c` file, not a `.h` file). You can update the Makefile in there to add the compiled `.o` to the runtime library. The datetime module file needs to declare the `chpl_strptime` function in Chapel using C-like syntax.

[2021-03-23 03:51] leekillough commented on #16922
I can walk you through it and help you add unit tests if they don't exist already.

[2021-03-23 12:59] mppf commented on #17131
I like the idea @damianmoz suggested to talk about "simple" and "not simple" ranges rather than "not stridable" and "stridable" ones. Not sure how we can fit that in to the further idea of range bounded-ness.

[2021-03-23 14:05] mppf commented on #6698
These documents have some interesting discussion of part-of-speech naming (noun vs verb etc):
 https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/CodingGuidelines/Articles/NamingMethods.html
 https://swift.org/documentation/api-design-guidelines/

[2021-03-23 15:58] janciesko commented on #17440
Thanks for reporting this. Is this behavior a showstopper in your opinion and worth to change?

[2021-03-23 16:51] bradcray commented on #17440
@janciesko : I think it's awkward for users to get a pop-up dialog* reporting that something has failed during their build process, so yeah, I think it's worth changing/improving to avoid the segfault.  Since it doesn't seem to break the build in any way, I don't know that I'd call it a showstopper, though.  Just regrettable and preferable to avoid if there's an easy fix.

`*` = I didn't say so in

[2021-03-23 17:14] Venkatavaradan-R commented on #17383
Hi Lydia!
Thanks for the links to the code, It helped quite a bit.

After a lot of time spent (mostly) understanding what's happening in sphinxcontrib-chpldomain, I think I've understood what exactly needs to be done.

the chpldomain needs to be updated in order to be able to output documentation for interfaces of [this](https://sphinxcontrib-chapeldomain.readthedocs.io/en/latest/reference.html#in

[2021-03-23 17:27] #17216 closed

[2021-03-23 17:27] #17222 closed

[2021-03-23 17:59] lydia-duncan commented on #17383
Partially!  We definitely will want to be able to reference the interfaces that have been defined and used, probably by making a `:implements:` tag that can be attached to a record or class definition like how the `:arg:` and `:return:` tags are available for functions and by making a `:interface:` role like [classes and records](https://sphinxcontrib-chapeldomain.readthedocs.io/en/latest/referenc

[2021-03-23 19:09] piyush0411 commented on #17414
@lydia-duncan - How are the different `expr` classes like `DefExpr`, `SymExpr` etc are defined in the `expr.cpp` files? Could you point me to some documentation for this.

[2021-03-23 19:29] bradcray commented on #7530
I've quietly been running with this as a background task, so assigned myself.

[2021-03-23 19:41] lydia-duncan commented on #17414
Generally in our compiler, if the declaration isn't in the file itself, you can find it in a similarly named header file in the `compiler/include` directory

[2021-03-23 20:44] rchinmay commented on #8757
@bradcray
[BRANCH LINK](https://github.com/rchinmay/chapel/tree/Replace-FILENAME_MAX-in-compiler)
Sorry for the delayed response. I have implemented the part which was producing the problem. I will work on other parts of the issue, once this problem is resolved. I will brief about the problem here. I have only changed all the occurrences of ``executableFilename`` in ``compiler/`` in the branch I h

[2021-03-23 23:11] e-kayrakli commented on #15921
OrderedSet was added with #16124, OrderedMap was added with https://github.com/chapel-lang/chapel/pull/16271.

[2021-03-23 23:11] #15921 closed

[2021-03-23 23:42] piyush0411 commented on #17414
Could you please tell me what the input file should look like for the changes I have made?
If I run the command `make docs`, I am encountering the following error.
[code]
Could you please see to this?

[2021-03-24 03:58] vasslitvinov commented on #17262
Observe that having `C implements IFC;` include both nilable and non-nilable versions may entail code duplication. For example, in this code:
[code]
the implements-statement would not be correct because `f()` is not implemented for nilable variants of C.

To fix  this error:

* either it is on the user to provide two versions of `f()`, one for `arg: C` and the other for `arg: C?`, or
* it is enoug

[2021-03-24 04:14] vasslitvinov commented on #17262
I came across this interesting scenario in U.Col tests. Imagine some code containing this:
[code]

which works fine on owned classes. Then, we want to generalize it into a constrained generic for any type that has lessThan:

[code]

Now we cannot call `minFn` on two owned C :(
[code]

because this call instantiates `minFn` for T = `owned C`. However, `LessThan` is not implemented for `owned C`. So

[2021-03-24 04:19] vasslitvinov commented on #17262
It would make sense to preserve the standard meaning of `C` in the context of implements-statements. Since `C` is generic over memory management and not over nilability, make `C implement IFC` be so generic too, and not include nilable flavors of `C`.

If the user wants to implement IFC only for a given memory management, they can declare that already without us needing to do anything special, ex.

[2021-03-24 06:05] cassella commented on #8757
Hmm.  I think in order to have the Chapel `process_arg()` code be able to store into a C++ string, it needs to  know it's operating on a string.  As you've found you can't just write into memory to extend it.

Updating all the `type=='P'` options to change their `char*` buffers to strings would be a pretty big effort.  Another option would be to add a new `type` representing C++ strings that knows

[2021-03-24 07:17] leekillough commented on #16922
@king-11: if you push your branch to your repo, I will look and it and quickly come up with a solution which I will submit as a PR to your PR. That's probably quicker than walking you through the steps, although I can walk through the changes after they are done.

[2021-03-24 07:31] king-11 commented on #16922
@leekillough I will push by changes to branch soon found some issues which am currently resolving that's why the delay.

[2021-03-24 10:56] damianmoz opened #17454 "New Range Methods to Yield Index-Neutral Sub-Ranges"
I am thinking of recommending something like the following
[code]
I am loathe to use these names because other methods are nouns and verbs. The above are prepositions. But they seem natural.

With methods like the above, and a two dimensional array say **a[?aD]** and some ranges defined as
[code]
If **a** was defined as **a[1..m, 1..n] mathematical indices, a **for** loop which operates on everyth

[2021-03-24 11:00] damianmoz commented on #17454
If the above really should be associated with another issue, please move it. But it needs the **Index-Neutral** issue highlighted.

Also, if the **stridable** method eventually gets a better name such as might be mooted by #17131, the above will reflect this.

[2021-03-24 17:41] king-11 commented on #16733
@ben-albrecht is there something wrong with the PR I made 😓  ?

[2021-03-24 17:44] king-11 commented on #16552
@daviditen if there is something wrong in the PR can you please tell 😓 ?

[2021-03-24 17:47] king-11 commented on #16767
@e-kayrakli any further updates on this 😓 hope am not being impatient.

[2021-03-24 17:47] Venkatavaradan-R commented on #17383
To Dos:
- [ ] Interface Definition (Generic definition like [this](https://sphinxcontrib-chapeldomain.readthedocs.io/en/latest/reference.html#directive-chpl:class). Find it [here](https://github.com/chapel-lang/sphinxcontrib-chapeldomain/blob/master/docs/reference.rst) on line 133. Updates need to be made [here](https://github.com/chapel-lang/sphinxcontrib-chapeldomain/blob/master/sphinxcontrib/ch

[2021-03-24 17:53] Venkatavaradan-R commented on #17383
So when a definition is made in the [references.rst](https://github.com/chapel-lang/sphinxcontrib-chapeldomain/blob/master/docs/reference.rst) file, for example, the class directive on line 133, and the necessary changes are made [here](https://github.com/chapel-lang/sphinxcontrib-chapeldomain/blob/master/sphinxcontrib/chapeldomain/__init__.py#L529) and [here](https://github.com/chapel-lang/sphinx

[2021-03-24 18:01] lydia-duncan commented on #17383
I believe so, but to be absolutely clear, I would expect you to have to write `:interface:MyInterfaceName` to refer to the interface named `MyInterfaceName`.

Those are very good TODOs - the last one will need to be merged once the rest are merged into the Sphinx domain repository and a new release is pushed (which I control and won't require as much pomp as the chapel-lang/chapel repository does)

[2021-03-24 18:32] e-kayrakli commented on #16767
@king-11 -- thanks for reminding me this.

In the OP I proposed we add the following:

- `replaceDirname(path, newDirname)` (or `replaceDirName`: see https://github.com/chapel-lang/chapel/issues/16764)
- `replaceBasename(path, newBasename)` (or `replaceBaseName`: see https://github.com/chapel-lang/chapel/issues/16764)
- `replaceExt(path, newExt)` (see https://github.com/chapel-lang/chapel/issues/1

[2021-03-24 18:37] king-11 commented on #16767
@e-kayrakli for the ```replaceBasename``` and ```replaceDirname``` I did implement the functions work as you suggested. Regarding the ```replaceExt``` should it throw an error if the extension is something like ```.txt```.

[2021-03-24 18:39] Venkatavaradan-R commented on #17383
I see!
I've seen this kind of logic being applied [here](https://sphinxcontrib-chapeldomain.readthedocs.io/en/latest/reference.html#cross-reference-contents), but I'm unable to pinpoint where this logic is defined. Could you help me with that? I can see that the logic for `Info Fields Lists` or `tags` has been implemented [here](https://github.com/chapel-lang/sphinxcontrib-chapeldomain/blob/master

[2021-03-24 18:44] e-kayrakli commented on #16767
I think that should also work fine and replace the extension as expected. I updated my detailed proposal above. (See question 3)

[2021-03-24 19:05] mppf commented on #16767
@e-kayrakli I'm happy with the proposal above with one exception

I am a bit worried about `replace` because it makes it sound like it modifies the path in-place (rather than returning a new string). On the other hand, we already have `string.replace` which works this way.

[2021-03-24 19:38] e-kayrakli commented on #16767
I haven't thought about it and it is a good point. I personally think following the precedence of `string.replace` is the right direction for this design even if it might be somewhat misleading.